openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: transaction api spec
  title: Transaction API
  version: 0.0.4
servers:
  - url: https://api.mastercard.com/transaction-api
    description: Production server
  - url: https://sandbox.api.mastercard.com/transaction-api
    description: Sandbox server
tags:
  - description: Transaction Api Endpoints
    name: TransactionApi
paths:
  /actuator/health:
    get:
      description: Process the health check
      operationId: TransactionApi_actuatorHealth
      parameters:
        - in: header
          name: x-mc-correlation-id
          schema:
            type: string
          description: Unique Correlation ID of the request
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: A successful response.
      summary: Health check
      tags:
        - TransactionApi
  /cain-authorisation-requests:
    post:
      description: Process the authorisation requests
      operationId: TransactionApi_processAuthorisationRequest
      parameters:
        - in: header
          name: x-mc-correlation-id
          schema:
            type: string
          description: Unique Correlation ID of the request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/initiationAuthorisationInitiationV02'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseAuthorisationResponseV02'
          description: A successful response.
      summary: Authorisation request
      tags:
        - TransactionApi
  /cain-financial-advices:
    post:
      description: Process the financial advice requests
      operationId: TransactionApi_processFinancialAdviceRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/initiationFinancialInitiationV02'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFinancialResponseV02'
          description: A successful response.
      summary: financial advice request
      tags:
        - TransactionApi
  /cain-financial-requests:
    post:
      description: Process the financial requests
      operationId: TransactionApi_processFinancialRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/initiationFinancialInitiationV02'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseFinancialResponseV02'
          description: A successful response.
      summary: financial request
      tags:
        - TransactionApi
  /cain-inquiry-requests:
    post:
      description: Process the inquiries request
      operationId: TransactionApi_processInquriyRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/initiationInquiryInitiationV01'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseInquiryResponseV01'
          description: A successful response.
      summary: Inquiry request
      tags:
        - TransactionApi
  /cain-reversal-requests:
    post:
      description: Process the reversal requests
      operationId: TransactionApi_processReversalRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/initiationReversalInitiationV02'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseReversalResponseV02'
          description: A successful response.
      summary: Reversal request
      tags:
        - TransactionApi
components:
  schemas:
    authorisationresponseAdditionalRiskData1:
      description: Additional risk data associated with the transaction.
      example:
        val: val
        tp: tp
      properties:
        tp:
          description: Identification of the additional risk data type related to
            the transaction.
          type: string
        val:
          description: Data value of the additional risk data associated with the
            transaction.
          type: string
      type: object
    financialinitiationBatchManagementInformation1:
      description: Elements of identification of a batch management transaction.
      properties:
        btchId:
          title: Identification of the batch to which the message belongs.  ISO 8583:2003
            bit 69-2
          type: string
        msgSeqNb:
          title: Sequence number of the message inside the batch.  ISO 8583:87/93
            bit 71 ISO 8583:2003 bit 68-2
          type: string
      type: object
    financialinitiationUnitOfMeasure1Code:
      default: UNIT_OF_MEASURE1_CODE_UNSPECIFIED
      description: |-
        Unit of measure of the item purchased.

         - UNIT_OF_MEASURE1_CODE_UNSPECIFIED: Default
         - UNIT_OF_MEASURE1_CODE_ACRE: Unit of measure equal to 4, 840 square yards.
         - UNIT_OF_MEASURE1_CODE_ARES: Unit of measure equal to a 100 square meters.
         - UNIT_OF_MEASURE1_CODE_CELI: Unit of volume that is equal to one hundredth of a litre.
         - UNIT_OF_MEASURE1_CODE_CMET: Unit of measure that is equal to one hundredth of a metre.
         - UNIT_OF_MEASURE1_CODE_FOOT: Unit of length equal to 1/3 yard.
         - UNIT_OF_MEASURE1_CODE_GBGA: Unit of volume that is equal to 8 pints.
         - UNIT_OF_MEASURE1_CODE_GBOU: Unit of weight equal to a sixteenth of a pound.
         - UNIT_OF_MEASURE1_CODE_GBPI: Unit of volume that is equal to 568 cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_GBQA: Unit of volume that is equal to 2 pints.
         - UNIT_OF_MEASURE1_CODE_GRAM: Unit of measure that is equal to a 1, 000th of a kilo.
         - UNIT_OF_MEASURE1_CODE_HECT: Unit of measure that is equal to 10, 000 square meters.
         - UNIT_OF_MEASURE1_CODE_INCH: Measure of length equal to 2.54 cm.
         - UNIT_OF_MEASURE1_CODE_KILO: Basic unit of mass in the SI system, 1000 grams.
         - UNIT_OF_MEASURE1_CODE_KMET: Unit of measure that is equal to 1, 000 meters.
         - UNIT_OF_MEASURE1_CODE_LITR: Unit of volume that is equal to a thousand cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_METR: Unit of length in the metric system, equal to 39.37 inches.
         - UNIT_OF_MEASURE1_CODE_MILE: Unit of length equal to 1, 760 yards.
         - UNIT_OF_MEASURE1_CODE_MILI: Unit of volume that is equal to one thousandth of a litre.
         - UNIT_OF_MEASURE1_CODE_MMET: Unit of measure that is a thousandth of one metre.
         - UNIT_OF_MEASURE1_CODE_PIEC: Standard length of cloth, wallpaper, as an item for sale or amount of a substance.
         - UNIT_OF_MEASURE1_CODE_PUND: Unit of weight equal to 0.454 kilograms.
         - UNIT_OF_MEASURE1_CODE_SCMT: Measure of a surface, one centimetre by one centimetre.
         - UNIT_OF_MEASURE1_CODE_SMET: Measure of a surface, one metre by one metre.
         - UNIT_OF_MEASURE1_CODE_SMIL: Measure of a surface, one millimetre by one millimetre.
         - UNIT_OF_MEASURE1_CODE_SQFO: Measure of a surface, one foot by one foot.
         - UNIT_OF_MEASURE1_CODE_SQIN: Measure of a surface, one inch by one inch.
         - UNIT_OF_MEASURE1_CODE_SQKI: Measure of a surface, one kilometre by one kilometre.
         - UNIT_OF_MEASURE1_CODE_SQMI: Measure of a surface, one mile by one mile.
         - UNIT_OF_MEASURE1_CODE_SQYA: Measure of a surface, one yard by one yard.
         - UNIT_OF_MEASURE1_CODE_TONS: Measure of weight, in Britain 2240lb (long ton)and in the US 2000lb (short ton).
         - UNIT_OF_MEASURE1_CODE_USGA: Unit of volume that is equal to 8 pints.
         - UNIT_OF_MEASURE1_CODE_USOU: Unit of weight equal to a sixteenth of a pound.
         - UNIT_OF_MEASURE1_CODE_USPI: Unit of volume that is equal to 473 cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_USQA: Unit of volume that is equal to 2 pints.
         - UNIT_OF_MEASURE1_CODE_YARD: Unit of length equal to 3 feet or 0.9144 metre.
      enum:
        - UNIT_OF_MEASURE1_CODE_UNSPECIFIED
        - UNIT_OF_MEASURE1_CODE_ACRE
        - UNIT_OF_MEASURE1_CODE_ARES
        - UNIT_OF_MEASURE1_CODE_CELI
        - UNIT_OF_MEASURE1_CODE_CMET
        - UNIT_OF_MEASURE1_CODE_FOOT
        - UNIT_OF_MEASURE1_CODE_GBGA
        - UNIT_OF_MEASURE1_CODE_GBOU
        - UNIT_OF_MEASURE1_CODE_GBPI
        - UNIT_OF_MEASURE1_CODE_GBQA
        - UNIT_OF_MEASURE1_CODE_GRAM
        - UNIT_OF_MEASURE1_CODE_HECT
        - UNIT_OF_MEASURE1_CODE_INCH
        - UNIT_OF_MEASURE1_CODE_KILO
        - UNIT_OF_MEASURE1_CODE_KMET
        - UNIT_OF_MEASURE1_CODE_LITR
        - UNIT_OF_MEASURE1_CODE_METR
        - UNIT_OF_MEASURE1_CODE_MILE
        - UNIT_OF_MEASURE1_CODE_MILI
        - UNIT_OF_MEASURE1_CODE_MMET
        - UNIT_OF_MEASURE1_CODE_PIEC
        - UNIT_OF_MEASURE1_CODE_PUND
        - UNIT_OF_MEASURE1_CODE_SCMT
        - UNIT_OF_MEASURE1_CODE_SMET
        - UNIT_OF_MEASURE1_CODE_SMIL
        - UNIT_OF_MEASURE1_CODE_SQFO
        - UNIT_OF_MEASURE1_CODE_SQIN
        - UNIT_OF_MEASURE1_CODE_SQKI
        - UNIT_OF_MEASURE1_CODE_SQMI
        - UNIT_OF_MEASURE1_CODE_SQYA
        - UNIT_OF_MEASURE1_CODE_TONS
        - UNIT_OF_MEASURE1_CODE_USGA
        - UNIT_OF_MEASURE1_CODE_USOU
        - UNIT_OF_MEASURE1_CODE_USPI
        - UNIT_OF_MEASURE1_CODE_USQA
        - UNIT_OF_MEASURE1_CODE_YARD
      type: string
    financialresponseBatchManagementInformation1:
      description: Elements of identification of a batch management transaction.
      example:
        msgSeqNb: msgSeqNb
        btchId: btchId
      properties:
        btchId:
          title: Identification of the batch to which the message belongs.  ISO 8583:2003
            bit 69-2
          type: string
        msgSeqNb:
          title: Sequence number of the message inside the batch.  ISO 8583:87/93
            bit 71 ISO 8583:2003 bit 68-2
          type: string
      type: object
    financialresponseUnitOfMeasure1Code:
      default: UNIT_OF_MEASURE1_CODE_UNSPECIFIED
      description: |-
        Unit of measure of the item purchased.

         - UNIT_OF_MEASURE1_CODE_UNSPECIFIED: Default
         - UNIT_OF_MEASURE1_CODE_ACRE: Unit of measure equal to 4, 840 square yards.
         - UNIT_OF_MEASURE1_CODE_ARES: Unit of measure equal to a 100 square meters.
         - UNIT_OF_MEASURE1_CODE_CELI: Unit of volume that is equal to one hundredth of a litre.
         - UNIT_OF_MEASURE1_CODE_CMET: Unit of measure that is equal to one hundredth of a metre.
         - UNIT_OF_MEASURE1_CODE_FOOT: Unit of length equal to 1/3 yard.
         - UNIT_OF_MEASURE1_CODE_GBGA: Unit of volume that is equal to 8 pints.
         - UNIT_OF_MEASURE1_CODE_GBOU: Unit of weight equal to a sixteenth of a pound.
         - UNIT_OF_MEASURE1_CODE_GBPI: Unit of volume that is equal to 568 cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_GBQA: Unit of volume that is equal to 2 pints.
         - UNIT_OF_MEASURE1_CODE_GRAM: Unit of measure that is equal to a 1, 000th of a kilo.
         - UNIT_OF_MEASURE1_CODE_HECT: Unit of measure that is equal to 10, 000 square meters.
         - UNIT_OF_MEASURE1_CODE_INCH: Measure of length equal to 2.54 cm.
         - UNIT_OF_MEASURE1_CODE_KILO: Basic unit of mass in the SI system, 1000 grams.
         - UNIT_OF_MEASURE1_CODE_KMET: Unit of measure that is equal to 1, 000 meters.
         - UNIT_OF_MEASURE1_CODE_LITR: Unit of volume that is equal to a thousand cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_METR: Unit of length in the metric system, equal to 39.37 inches.
         - UNIT_OF_MEASURE1_CODE_MILE: Unit of length equal to 1, 760 yards.
         - UNIT_OF_MEASURE1_CODE_MILI: Unit of volume that is equal to one thousandth of a litre.
         - UNIT_OF_MEASURE1_CODE_MMET: Unit of measure that is a thousandth of one metre.
         - UNIT_OF_MEASURE1_CODE_PIEC: Standard length of cloth, wallpaper, as an item for sale or amount of a substance.
         - UNIT_OF_MEASURE1_CODE_PUND: Unit of weight equal to 0.454 kilograms.
         - UNIT_OF_MEASURE1_CODE_SCMT: Measure of a surface, one centimetre by one centimetre.
         - UNIT_OF_MEASURE1_CODE_SMET: Measure of a surface, one metre by one metre.
         - UNIT_OF_MEASURE1_CODE_SMIL: Measure of a surface, one millimetre by one millimetre.
         - UNIT_OF_MEASURE1_CODE_SQFO: Measure of a surface, one foot by one foot.
         - UNIT_OF_MEASURE1_CODE_SQIN: Measure of a surface, one inch by one inch.
         - UNIT_OF_MEASURE1_CODE_SQKI: Measure of a surface, one kilometre by one kilometre.
         - UNIT_OF_MEASURE1_CODE_SQMI: Measure of a surface, one mile by one mile.
         - UNIT_OF_MEASURE1_CODE_SQYA: Measure of a surface, one yard by one yard.
         - UNIT_OF_MEASURE1_CODE_TONS: Measure of weight, in Britain 2240lb (long ton)and in the US 2000lb (short ton).
         - UNIT_OF_MEASURE1_CODE_USGA: Unit of volume that is equal to 8 pints.
         - UNIT_OF_MEASURE1_CODE_USOU: Unit of weight equal to a sixteenth of a pound.
         - UNIT_OF_MEASURE1_CODE_USPI: Unit of volume that is equal to 473 cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_USQA: Unit of volume that is equal to 2 pints.
         - UNIT_OF_MEASURE1_CODE_YARD: Unit of length equal to 3 feet or 0.9144 metre.
      enum:
        - UNIT_OF_MEASURE1_CODE_UNSPECIFIED
        - UNIT_OF_MEASURE1_CODE_ACRE
        - UNIT_OF_MEASURE1_CODE_ARES
        - UNIT_OF_MEASURE1_CODE_CELI
        - UNIT_OF_MEASURE1_CODE_CMET
        - UNIT_OF_MEASURE1_CODE_FOOT
        - UNIT_OF_MEASURE1_CODE_GBGA
        - UNIT_OF_MEASURE1_CODE_GBOU
        - UNIT_OF_MEASURE1_CODE_GBPI
        - UNIT_OF_MEASURE1_CODE_GBQA
        - UNIT_OF_MEASURE1_CODE_GRAM
        - UNIT_OF_MEASURE1_CODE_HECT
        - UNIT_OF_MEASURE1_CODE_INCH
        - UNIT_OF_MEASURE1_CODE_KILO
        - UNIT_OF_MEASURE1_CODE_KMET
        - UNIT_OF_MEASURE1_CODE_LITR
        - UNIT_OF_MEASURE1_CODE_METR
        - UNIT_OF_MEASURE1_CODE_MILE
        - UNIT_OF_MEASURE1_CODE_MILI
        - UNIT_OF_MEASURE1_CODE_MMET
        - UNIT_OF_MEASURE1_CODE_PIEC
        - UNIT_OF_MEASURE1_CODE_PUND
        - UNIT_OF_MEASURE1_CODE_SCMT
        - UNIT_OF_MEASURE1_CODE_SMET
        - UNIT_OF_MEASURE1_CODE_SMIL
        - UNIT_OF_MEASURE1_CODE_SQFO
        - UNIT_OF_MEASURE1_CODE_SQIN
        - UNIT_OF_MEASURE1_CODE_SQKI
        - UNIT_OF_MEASURE1_CODE_SQMI
        - UNIT_OF_MEASURE1_CODE_SQYA
        - UNIT_OF_MEASURE1_CODE_TONS
        - UNIT_OF_MEASURE1_CODE_USGA
        - UNIT_OF_MEASURE1_CODE_USOU
        - UNIT_OF_MEASURE1_CODE_USPI
        - UNIT_OF_MEASURE1_CODE_USQA
        - UNIT_OF_MEASURE1_CODE_YARD
      type: string
    initiationAction9:
      description: Set of actions to be performed.
      properties:
        dstn:
          $ref: '#/components/schemas/initiationPartyType20Code'
        actnTp:
          $ref: '#/components/schemas/initiationActionType11Code'
        othrActnTp:
          description: Other action type to be performed.
          type: string
        actnInf:
          description: Additional information to the type of action to be performed
            (for example, channel to be used for additional verification or authentication).
          type: string
      type: object
    initiationActionDestination1Code:
      default: ACTION_DESTINATION1_CODE_UNSPECIFIED
      description: |-
        Destination of action to be performed.

         - ACTION_DESTINATION1_CODE_UNSPECIFIED: Default
         - ACTION_DESTINATION1_CODE_FILE: Data file
         - ACTION_DESTINATION1_CODE_MOBL: Mobile telephone
         - ACTION_DESTINATION1_CODE_OTHN: Other type of destination for action defined at national level.
         - ACTION_DESTINATION1_CODE_OTHP: Other type of destination for action defined at private level.
         - ACTION_DESTINATION1_CODE_PECR: Personal computer.
         - ACTION_DESTINATION1_CODE_POFS: Point of sale terminal.
      enum:
        - ACTION_DESTINATION1_CODE_UNSPECIFIED
        - ACTION_DESTINATION1_CODE_FILE
        - ACTION_DESTINATION1_CODE_MOBL
        - ACTION_DESTINATION1_CODE_OTHN
        - ACTION_DESTINATION1_CODE_OTHP
        - ACTION_DESTINATION1_CODE_PECR
        - ACTION_DESTINATION1_CODE_POFS
      type: string
    initiationActionType10Code:
      default: ACTION_TYPE10_CODE_UNSPECIFIED
      description: |-
        Type of additional action to be performed.

         - ACTION_TYPE10_CODE_UNSPECIFIED: Default
         - ACTION_TYPE10_CODE_ACTV: Activate device or service.
         - ACTION_TYPE10_CODE_DEAC: Deactivate device or service.
         - ACTION_TYPE10_CODE_DISP: Message to display, print or log.
         - ACTION_TYPE10_CODE_FUPD: Update a data file.
         - ACTION_TYPE10_CODE_PRNT: Print a message.
         - ACTION_TYPE10_CODE_SNDM: Send a message.
      enum:
        - ACTION_TYPE10_CODE_UNSPECIFIED
        - ACTION_TYPE10_CODE_ACTV
        - ACTION_TYPE10_CODE_DEAC
        - ACTION_TYPE10_CODE_DISP
        - ACTION_TYPE10_CODE_FUPD
        - ACTION_TYPE10_CODE_PRNT
        - ACTION_TYPE10_CODE_SNDM
      type: string
    initiationActionType11Code:
      default: ACTION_TYPE11_CODE_UNSPECIFIED
      description: |-
        Action associated with a result.

         - ACTION_TYPE11_CODE_UNSPECIFIED: Default
         - ACTION_TYPE11_CODE_CHDV: Additional verification of cardholder required.
         - ACTION_TYPE11_CODE_CNAS: Card acceptor to call acquirer's security department.
         - ACTION_TYPE11_CODE_CNIS: Refer to card issuer's special conditions.
         - ACTION_TYPE11_CODE_CNTA: Contact acquirer.
         - ACTION_TYPE11_CODE_CNTI: Contact card issuer.
         - ACTION_TYPE11_CODE_CPTR: Capture the card.
         - ACTION_TYPE11_CODE_OTHN: Other action defined at national level.
         - ACTION_TYPE11_CODE_OTHP: Other action defined at private level
         - ACTION_TYPE11_CODE_SIGN: Signature required.
         - ACTION_TYPE11_CODE_TRCK: Track provided in the response must be updated on the card.
         - ACTION_TYPE11_CODE_TRXR: Transaction to be re-entered.
         - ACTION_TYPE11_CODE_VIPM: Manage account as a VIP one.
      enum:
        - ACTION_TYPE11_CODE_UNSPECIFIED
        - ACTION_TYPE11_CODE_CHDV
        - ACTION_TYPE11_CODE_CNAS
        - ACTION_TYPE11_CODE_CNIS
        - ACTION_TYPE11_CODE_CNTA
        - ACTION_TYPE11_CODE_CNTI
        - ACTION_TYPE11_CODE_CPTR
        - ACTION_TYPE11_CODE_OTHN
        - ACTION_TYPE11_CODE_OTHP
        - ACTION_TYPE11_CODE_SIGN
        - ACTION_TYPE11_CODE_TRCK
        - ACTION_TYPE11_CODE_TRXR
        - ACTION_TYPE11_CODE_VIPM
      type: string
    initiationAddendumData1:
      description: Component contains data structures applicable to certain merchant
        verticals that require industry-specific data within transaction messages.
      properties:
        purchsIdrTp:
          $ref: '#/components/schemas/initiationPurchaseIdentifierType1Code'
        othrPurchsIdrTp:
          description: Used when Purchase Identifier Type is Other National or Other
            Private.
          type: string
        purchsIdr:
          description: Contains a value identifying Invoice Data or Purchase Request
            Data.
          type: string
        addtlAccptrData:
          $ref: '#/components/schemas/initiationAdditionalAcceptorData1'
        fleet:
          $ref: '#/components/schemas/initiationFleetData2'
        pssngrTrnsprt:
          $ref: '#/components/schemas/initiationPassengerTransport1'
        telecomSvcs:
          $ref: '#/components/schemas/initiationTelecomServices1'
        instlmt:
          $ref: '#/components/schemas/initiationInstalment3'
        addtlData:
          description: Contains additional data for the addendum.
          items:
            $ref: '#/components/schemas/msgfinancialinitiationAdditionalData1'
          type: array
      type: object
    initiationAddendumTaxType1Code:
      default: ADDENDUM_TAX_TYPE1_CODE_UNSPECIFIED
      description: |-
        Specifies the specific type of tax applicable to a transaction.

         - ADDENDUM_TAX_TYPE1_CODE_UNSPECIFIED: Default
         - ADDENDUM_TAX_TYPE1_CODE_ALMI: Tax is an alternative minimum tax.
         - ADDENDUM_TAX_TYPE1_CODE_ASNT: Assessment
         - ADDENDUM_TAX_TYPE1_CODE_BPTX: Tax imposed on non-American Indian businesses for the privilege of conducting business on an American Indian Reservation
         - ADDENDUM_TAX_TYPE1_CODE_CITX: Service tax imposed by a city
         - ADDENDUM_TAX_TYPE1_CODE_COAX: Tax that is levied on goods and services purchased by customers, and is added to the retail price.
         - ADDENDUM_TAX_TYPE1_CODE_CORT: Levied by a county government against the periodic fee paid by a customer in return for the right to use the property of another party.
         - ADDENDUM_TAX_TYPE1_CODE_COTX: Service tax levied by a county
         - ADDENDUM_TAX_TYPE1_CODE_COUN: Tax is a country, national, or federal tax usually levied by the custodian.
         - ADDENDUM_TAX_TYPE1_CODE_CPST: Service tax imposed by a County or Parish
         - ADDENDUM_TAX_TYPE1_CODE_CRTX: Levied by a city government against the periodic fee paid by a customer in return for the right to use the property of another party.
         - ADDENDUM_TAX_TYPE1_CODE_CSTX: Sales tax imposed by a city
         - ADDENDUM_TAX_TYPE1_CODE_CTAX: Direct reduction of an individual's tax liability.
         - ADDENDUM_TAX_TYPE1_CODE_CUST: Tax levied on imports or exports by a country's customs authority.
         - ADDENDUM_TAX_TYPE1_CODE_DLTX: Default Labour Tax
         - ADDENDUM_TAX_TYPE1_CODE_DUTY: A tax levied on goods that typically though not exclusively transit across a geographic border.
         - ADDENDUM_TAX_TYPE1_CODE_EMET: Usage tax levied to recover the cost of telephone emergency assistance service (for example, 112, 911, 999).
         - ADDENDUM_TAX_TYPE1_CODE_EMIT: Tax levied by a city to recover the cost of providing telephone emergency assistance service (for example, 112, 911, 999).
         - ADDENDUM_TAX_TYPE1_CODE_EMRT: Tax levied to recover the cost of providing telephone emergency assistance service (for example,112, 911, 999).
         - ADDENDUM_TAX_TYPE1_CODE_EMST: Tax levied by a state to recover the cost of providing telephone emergency assistance service (for example, 112, 911, 999).
         - ADDENDUM_TAX_TYPE1_CODE_EMUT: Tax levied by a county to recover the cost of providing telephone emergency assistance service (for example, 112, 911, 999).
         - ADDENDUM_TAX_TYPE1_CODE_ENTX: Tax applied to the utility and petroleum industries.
         - ADDENDUM_TAX_TYPE1_CODE_ENVT: Tax levied on activities which are considered to have negative impacts on an environment.
         - ADDENDUM_TAX_TYPE1_CODE_EQTX: Equipment Tax
         - ADDENDUM_TAX_TYPE1_CODE_EQUL: Part of an investor's subscription amount that is held by the fund in order to pay incentive / performance fees at the end of the fiscal year.
         - ADDENDUM_TAX_TYPE1_CODE_ESET: Tax levied by a state to recover the cost of providing enhanced telephone emergency assistance services (for example, 112, 911, 999) such as automatic call identification.
         - ADDENDUM_TAX_TYPE1_CODE_EUTR: Tax withheld at source in the framework of the European Directive on taxation of savings in the form of interest payments.
         - ADDENDUM_TAX_TYPE1_CODE_EXEC: Executing broker's commission amount.
         - ADDENDUM_TAX_TYPE1_CODE_FETX: Usage tax levied by federal (US and Canadian) government.
         - ADDENDUM_TAX_TYPE1_CODE_FEXT: Excise tax levied by a federal government.
         - ADDENDUM_TAX_TYPE1_CODE_FICA: USA Federal Insurance Contributions Act tax.
         - ADDENDUM_TAX_TYPE1_CODE_FIMT: USA Federal Insurance Contributions Act tax levied to assist in the funding of Medicare.
         - ADDENDUM_TAX_TYPE1_CODE_FLST: Federal tax levied in the USA to fund the clean-up activities associated with leaking underground storage tanks.
         - ADDENDUM_TAX_TYPE1_CODE_FNST: Federal or National Sales Tax.
         - ADDENDUM_TAX_TYPE1_CODE_FRTX: Tax levied by a municipality, on certain types of businesses for the right to exist as a legal entity and conduct business in a particular jurisdiction.
         - ADDENDUM_TAX_TYPE1_CODE_FSFT: USA federal tax levied on certain types of businesses to provide funding for cleanup of hazardous waste sites.
         - ADDENDUM_TAX_TYPE1_CODE_FSST: USA Federal Insurance Contributions Act tax levied to assist in the funding of social security.
         - ADDENDUM_TAX_TYPE1_CODE_FSTX: Fuel Spill Tax.
         - ADDENDUM_TAX_TYPE1_CODE_FUVT: Value Added Tax calculated at the full tax rate.
         - ADDENDUM_TAX_TYPE1_CODE_FVAT: Federal Value-Added Tax (GST).
         - ADDENDUM_TAX_TYPE1_CODE_FVTS: Federal Value-Added Tax (GST) on Services
         - ADDENDUM_TAX_TYPE1_CODE_GCAT: Goods and Services Tax - Canadian value-added tax.
         - ADDENDUM_TAX_TYPE1_CODE_GIFT: Tax that is levied on assets given to individuals prior to the death of the donor. Gift tax is designed to ensure the integrity of the inheritance tax, preventing the pre-death transfer of wealth.
         - ADDENDUM_TAX_TYPE1_CODE_GRTX: Gross Receipts Tax.
         - ADDENDUM_TAX_TYPE1_CODE_HATX: Tax assessed to assist the handicapped.
         - ADDENDUM_TAX_TYPE1_CODE_HSTX: Harmonized Sales Tax (HST).
         - ADDENDUM_TAX_TYPE1_CODE_HVAT: Value Added Tax calculated at the half tax rate.
         - ADDENDUM_TAX_TYPE1_CODE_HWTX: Tax levied on entities that produce, store, treat, transport or otherwise manage hazardous wastes and materials.
         - ADDENDUM_TAX_TYPE1_CODE_INHT: Tax that is payable at the time of death on any items (money or otherwise), where ownership changes either upon death or within a legally specified number of years before death.
         - ADDENDUM_TAX_TYPE1_CODE_INPO: Tax levied on the sum of all earnings/revenues accrued since the last dividend distribution.
         - ADDENDUM_TAX_TYPE1_CODE_KAPA: Tax is on a capital gain (realised and unrealised), that is, the profit that is gained from the sale of a financial instrument.
         - ADDENDUM_TAX_TYPE1_CODE_LEVY: Tax levied on a payment.
         - ADDENDUM_TAX_TYPE1_CODE_LITX: Tax levied by a government agency for the granting of a license to conduct an activity, such as driving a car, operating a business, selling liquor, hunting, or practicing certain vocations.
         - ADDENDUM_TAX_TYPE1_CODE_LOCL: Service tax levied by a local government or taxation agency. Not a sales tax.
         - ADDENDUM_TAX_TYPE1_CODE_LOCO: Local broker's commission amount.
         - ADDENDUM_TAX_TYPE1_CODE_LSTX: All applicable sales taxes levied by taxing authorities below the state level. Used only for sales tax.
         - ADDENDUM_TAX_TYPE1_CODE_LTTX: Labour by Trade Tax
         - ADDENDUM_TAX_TYPE1_CODE_LUTX: Ad valorem tax levied on products or services that are deemed to be non-essential or unneeded.
         - ADDENDUM_TAX_TYPE1_CODE_MATX: Material Tax
         - ADDENDUM_TAX_TYPE1_CODE_METX: Metropolitan Transit Tax
         - ADDENDUM_TAX_TYPE1_CODE_MITX: Minimum Tax
         - ADDENDUM_TAX_TYPE1_CODE_MUDE: Mutually Defined
         - ADDENDUM_TAX_TYPE1_CODE_MUTX: Service tax imposed by a municipality.
         - ADDENDUM_TAX_TYPE1_CODE_NATI: Tax is a national tax.
         - ADDENDUM_TAX_TYPE1_CODE_NKAP: Tax recovery is due to capital loss.
         - ADDENDUM_TAX_TYPE1_CODE_OCTX: Tax levied for the privelage of occupying space for home or rental for a fixed period of time, as determined by a taxing authority.
         - ADDENDUM_TAX_TYPE1_CODE_OPTX: Type of gross receipts tax imposed for the privilege of carrying on a business, trade or profession.
         - ADDENDUM_TAX_TYPE1_CODE_OTHN: Other national use defined value
         - ADDENDUM_TAX_TYPE1_CODE_OTHP: Other private use defined value
         - ADDENDUM_TAX_TYPE1_CODE_OTHR: Other type of tax not elsewhere classified.
         - ADDENDUM_TAX_TYPE1_CODE_OTTX: Other taxes
         - ADDENDUM_TAX_TYPE1_CODE_PHET: Canadian tax levied to fund public care and education.
         - ADDENDUM_TAX_TYPE1_CODE_POTX: Post-threshold Tax
         - ADDENDUM_TAX_TYPE1_CODE_PPTX: Ad valorem property tax levied on real or personal property by local government units such as counties, municipalities, school districts, and special taxing districts.
         - ADDENDUM_TAX_TYPE1_CODE_PROV: Provincial tax
         - ADDENDUM_TAX_TYPE1_CODE_PRTX: Pre-threshold tax
         - ADDENDUM_TAX_TYPE1_CODE_PSTX: Tax levied on products and services
         - ADDENDUM_TAX_TYPE1_CODE_QUST: Quebec Sales Tax (QST)
         - ADDENDUM_TAX_TYPE1_CODE_RCSB: Room Country Subdivision1
         - ADDENDUM_TAX_TYPE1_CODE_RCSD: Room Country Subdivision2
         - ADDENDUM_TAX_TYPE1_CODE_ROCI: Room City
         - ADDENDUM_TAX_TYPE1_CODE_ROTX: Room Tax
         - ADDENDUM_TAX_TYPE1_CODE_ROVI: Room Visitor
         - ADDENDUM_TAX_TYPE1_CODE_RVAT: Room VAT
         - ADDENDUM_TAX_TYPE1_CODE_SAUT: Tax levied for the use of equipment and service provided
         - ADDENDUM_TAX_TYPE1_CODE_SCTX: Tax levied by taxing authority for schools
         - ADDENDUM_TAX_TYPE1_CODE_SETX: Usage tax imposed by state or provincial government authorities.
         - ADDENDUM_TAX_TYPE1_CODE_SLST: State and Local Sales Tax
         - ADDENDUM_TAX_TYPE1_CODE_SLTX: State and local tax levies, exclusive of state and local sales tax.
         - ADDENDUM_TAX_TYPE1_CODE_SPFT: State or Provincial Fuel Tax
         - ADDENDUM_TAX_TYPE1_CODE_SPTG: State or Provincial Tax on Goods
         - ADDENDUM_TAX_TYPE1_CODE_SPTS: State or Provincial tax on services
         - ADDENDUM_TAX_TYPE1_CODE_SPTX: Secondary Percentage Tax
         - ADDENDUM_TAX_TYPE1_CODE_SRTX: Tax levied by a state government against a periodic fee paid by a customer in return for the right to use the property of another party.
         - ADDENDUM_TAX_TYPE1_CODE_SSTX: State Sales Tax
         - ADDENDUM_TAX_TYPE1_CODE_STAM: Tax levied on certain types of documents and transactions.
         - ADDENDUM_TAX_TYPE1_CODE_STAT: State tax.
         - ADDENDUM_TAX_TYPE1_CODE_STEX: Tax levied by a stock exchange.
         - ADDENDUM_TAX_TYPE1_CODE_STPT: Sales tax levied by a State or Province that excludes sales or excise taxes.
         - ADDENDUM_TAX_TYPE1_CODE_STSL: State Tax on Specific Labour
         - ADDENDUM_TAX_TYPE1_CODE_STTA: Stadium Tax
         - ADDENDUM_TAX_TYPE1_CODE_SUTX: Surtax
         - ADDENDUM_TAX_TYPE1_CODE_TDDT: Excise tax levied to recover the cost of providing Telecommunications Device for the Deaf (TDD) Equipment.
         - ADDENDUM_TAX_TYPE1_CODE_TELT: Tax levied on telecommunications companies for the right to provide services. May be a usage or excise tax.
         - ADDENDUM_TAX_TYPE1_CODE_THTX: Threshold Tax
         - ADDENDUM_TAX_TYPE1_CODE_TOTL: Total of all applicable taxes
         - ADDENDUM_TAX_TYPE1_CODE_TRAN: Tax levied on a transfer.
         - ADDENDUM_TAX_TYPE1_CODE_TRAX: Tax levied on a transaction.
         - ADDENDUM_TAX_TYPE1_CODE_UNSP: Unspecified tax type
         - ADDENDUM_TAX_TYPE1_CODE_UUTX: Tax levied on consumers by a city or county for the use of natural gas.
         - ADDENDUM_TAX_TYPE1_CODE_VATA: Value added tax
         - ADDENDUM_TAX_TYPE1_CODE_VATB: Tax for which a zero rate applies.
         - ADDENDUM_TAX_TYPE1_CODE_WESV: Well Service
         - ADDENDUM_TAX_TYPE1_CODE_WITF: Rate at which the income will be withheld by the jurisdiction in which the income was originally paid, for which relief at source and/or reclaim may be possible.
         - ADDENDUM_TAX_TYPE1_CODE_WITH: Income tax withheld or deducted from the amount due to the recipient, and paid to the government by the payer rather than the recipient. May apply to salaries, interest, and other types of proceeds.
         - ADDENDUM_TAX_TYPE1_CODE_WITL: Rate at which the income will be withheld by the jurisdiction in which the account owner is located, for which relief at source and/or reclaim may be possible.
         - ADDENDUM_TAX_TYPE1_CODE_WTAX: Tax levied only when the value of assets or categories of assets owned by an entity are above a given limit as defined by the tax authority. Wealth tax is not linked to income.
      enum:
        - ADDENDUM_TAX_TYPE1_CODE_UNSPECIFIED
        - ADDENDUM_TAX_TYPE1_CODE_ALMI
        - ADDENDUM_TAX_TYPE1_CODE_ASNT
        - ADDENDUM_TAX_TYPE1_CODE_BPTX
        - ADDENDUM_TAX_TYPE1_CODE_CITX
        - ADDENDUM_TAX_TYPE1_CODE_COAX
        - ADDENDUM_TAX_TYPE1_CODE_CORT
        - ADDENDUM_TAX_TYPE1_CODE_COTX
        - ADDENDUM_TAX_TYPE1_CODE_COUN
        - ADDENDUM_TAX_TYPE1_CODE_CPST
        - ADDENDUM_TAX_TYPE1_CODE_CRTX
        - ADDENDUM_TAX_TYPE1_CODE_CSTX
        - ADDENDUM_TAX_TYPE1_CODE_CTAX
        - ADDENDUM_TAX_TYPE1_CODE_CUST
        - ADDENDUM_TAX_TYPE1_CODE_DLTX
        - ADDENDUM_TAX_TYPE1_CODE_DUTY
        - ADDENDUM_TAX_TYPE1_CODE_EMET
        - ADDENDUM_TAX_TYPE1_CODE_EMIT
        - ADDENDUM_TAX_TYPE1_CODE_EMRT
        - ADDENDUM_TAX_TYPE1_CODE_EMST
        - ADDENDUM_TAX_TYPE1_CODE_EMUT
        - ADDENDUM_TAX_TYPE1_CODE_ENTX
        - ADDENDUM_TAX_TYPE1_CODE_ENVT
        - ADDENDUM_TAX_TYPE1_CODE_EQTX
        - ADDENDUM_TAX_TYPE1_CODE_EQUL
        - ADDENDUM_TAX_TYPE1_CODE_ESET
        - ADDENDUM_TAX_TYPE1_CODE_EUTR
        - ADDENDUM_TAX_TYPE1_CODE_EXEC
        - ADDENDUM_TAX_TYPE1_CODE_FETX
        - ADDENDUM_TAX_TYPE1_CODE_FEXT
        - ADDENDUM_TAX_TYPE1_CODE_FICA
        - ADDENDUM_TAX_TYPE1_CODE_FIMT
        - ADDENDUM_TAX_TYPE1_CODE_FLST
        - ADDENDUM_TAX_TYPE1_CODE_FNST
        - ADDENDUM_TAX_TYPE1_CODE_FRTX
        - ADDENDUM_TAX_TYPE1_CODE_FSFT
        - ADDENDUM_TAX_TYPE1_CODE_FSST
        - ADDENDUM_TAX_TYPE1_CODE_FSTX
        - ADDENDUM_TAX_TYPE1_CODE_FUVT
        - ADDENDUM_TAX_TYPE1_CODE_FVAT
        - ADDENDUM_TAX_TYPE1_CODE_FVTS
        - ADDENDUM_TAX_TYPE1_CODE_GCAT
        - ADDENDUM_TAX_TYPE1_CODE_GIFT
        - ADDENDUM_TAX_TYPE1_CODE_GRTX
        - ADDENDUM_TAX_TYPE1_CODE_HATX
        - ADDENDUM_TAX_TYPE1_CODE_HSTX
        - ADDENDUM_TAX_TYPE1_CODE_HVAT
        - ADDENDUM_TAX_TYPE1_CODE_HWTX
        - ADDENDUM_TAX_TYPE1_CODE_INHT
        - ADDENDUM_TAX_TYPE1_CODE_INPO
        - ADDENDUM_TAX_TYPE1_CODE_KAPA
        - ADDENDUM_TAX_TYPE1_CODE_LEVY
        - ADDENDUM_TAX_TYPE1_CODE_LITX
        - ADDENDUM_TAX_TYPE1_CODE_LOCL
        - ADDENDUM_TAX_TYPE1_CODE_LOCO
        - ADDENDUM_TAX_TYPE1_CODE_LSTX
        - ADDENDUM_TAX_TYPE1_CODE_LTTX
        - ADDENDUM_TAX_TYPE1_CODE_LUTX
        - ADDENDUM_TAX_TYPE1_CODE_MATX
        - ADDENDUM_TAX_TYPE1_CODE_METX
        - ADDENDUM_TAX_TYPE1_CODE_MITX
        - ADDENDUM_TAX_TYPE1_CODE_MUDE
        - ADDENDUM_TAX_TYPE1_CODE_MUTX
        - ADDENDUM_TAX_TYPE1_CODE_NATI
        - ADDENDUM_TAX_TYPE1_CODE_NKAP
        - ADDENDUM_TAX_TYPE1_CODE_OCTX
        - ADDENDUM_TAX_TYPE1_CODE_OPTX
        - ADDENDUM_TAX_TYPE1_CODE_OTHN
        - ADDENDUM_TAX_TYPE1_CODE_OTHP
        - ADDENDUM_TAX_TYPE1_CODE_OTHR
        - ADDENDUM_TAX_TYPE1_CODE_OTTX
        - ADDENDUM_TAX_TYPE1_CODE_PHET
        - ADDENDUM_TAX_TYPE1_CODE_POTX
        - ADDENDUM_TAX_TYPE1_CODE_PPTX
        - ADDENDUM_TAX_TYPE1_CODE_PROV
        - ADDENDUM_TAX_TYPE1_CODE_PRTX
        - ADDENDUM_TAX_TYPE1_CODE_PSTX
        - ADDENDUM_TAX_TYPE1_CODE_QUST
        - ADDENDUM_TAX_TYPE1_CODE_RCSB
        - ADDENDUM_TAX_TYPE1_CODE_RCSD
        - ADDENDUM_TAX_TYPE1_CODE_ROCI
        - ADDENDUM_TAX_TYPE1_CODE_ROTX
        - ADDENDUM_TAX_TYPE1_CODE_ROVI
        - ADDENDUM_TAX_TYPE1_CODE_RVAT
        - ADDENDUM_TAX_TYPE1_CODE_SAUT
        - ADDENDUM_TAX_TYPE1_CODE_SCTX
        - ADDENDUM_TAX_TYPE1_CODE_SETX
        - ADDENDUM_TAX_TYPE1_CODE_SLST
        - ADDENDUM_TAX_TYPE1_CODE_SLTX
        - ADDENDUM_TAX_TYPE1_CODE_SPFT
        - ADDENDUM_TAX_TYPE1_CODE_SPTG
        - ADDENDUM_TAX_TYPE1_CODE_SPTS
        - ADDENDUM_TAX_TYPE1_CODE_SPTX
        - ADDENDUM_TAX_TYPE1_CODE_SRTX
        - ADDENDUM_TAX_TYPE1_CODE_SSTX
        - ADDENDUM_TAX_TYPE1_CODE_STAM
        - ADDENDUM_TAX_TYPE1_CODE_STAT
        - ADDENDUM_TAX_TYPE1_CODE_STEX
        - ADDENDUM_TAX_TYPE1_CODE_STPT
        - ADDENDUM_TAX_TYPE1_CODE_STSL
        - ADDENDUM_TAX_TYPE1_CODE_STTA
        - ADDENDUM_TAX_TYPE1_CODE_SUTX
        - ADDENDUM_TAX_TYPE1_CODE_TDDT
        - ADDENDUM_TAX_TYPE1_CODE_TELT
        - ADDENDUM_TAX_TYPE1_CODE_THTX
        - ADDENDUM_TAX_TYPE1_CODE_TOTL
        - ADDENDUM_TAX_TYPE1_CODE_TRAN
        - ADDENDUM_TAX_TYPE1_CODE_TRAX
        - ADDENDUM_TAX_TYPE1_CODE_UNSP
        - ADDENDUM_TAX_TYPE1_CODE_UUTX
        - ADDENDUM_TAX_TYPE1_CODE_VATA
        - ADDENDUM_TAX_TYPE1_CODE_VATB
        - ADDENDUM_TAX_TYPE1_CODE_WESV
        - ADDENDUM_TAX_TYPE1_CODE_WITF
        - ADDENDUM_TAX_TYPE1_CODE_WITH
        - ADDENDUM_TAX_TYPE1_CODE_WITL
        - ADDENDUM_TAX_TYPE1_CODE_WTAX
      type: string
    initiationAdditionalAcceptorData1:
      properties:
        taxRegnId:
          description: Identification of the company recognized by the taxation authority.  Used
            for reporting transaction-related taxes.
          type: string
        addtlId:
          description: Contains additional identification information.
          items:
            $ref: '#/components/schemas/initiationAdditionalIdentification1'
          type: array
        addtlInf:
          description: Additional information about the card acceptor.
          type: string
      title: Contains additional acceptor data
      type: object
    initiationAdditionalAction1:
      description: Additional action to perform.
      properties:
        tp:
          $ref: '#/components/schemas/initiationActionType10Code'
        dstn:
          $ref: '#/components/schemas/initiationPartyType21Code'
        othrDstn:
          description: Other destination of action.
          type: string
        dstnTp:
          $ref: '#/components/schemas/initiationActionDestination1Code'
        othrDstnTp:
          description: Other type of destination.
          type: string
        dstnAdr:
          description: Physical destination address of the additional action to perform
            (for example, URL, mobile phone number, IP address, file name, etc.).
          type: string
        frmt:
          $ref: '#/components/schemas/initiationOutputFormat4Code'
        othrFrmt:
          description: Other type of format for action data.
          type: string
        cntt:
          $ref: '#/components/schemas/initiationContent1'
      type: object
    initiationAdditionalIdentification1:
      description: Contains additional identification details of additional card acceptor
        data.
      properties:
        tp:
          $ref: '#/components/schemas/initiationAdditionalIdentificationType1Code'
        othrTp:
          description: Other Additional Identification applied to the transaction.
          type: string
        val:
          description: Additional identification value.
          type: string
      type: object
    initiationAdditionalIdentificationType1Code:
      default: ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the additional identification type, for example NAICS, etc.

         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED: Default
         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_ATNU: Contains the Austin-Tetra Number assigned to the card acceptor.
         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_ICSN: Contains the North American Industry Classification System (NAICS) code assigned to the card acceptor.
         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHN: Other Additional Identification defined at a national level.
         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHP: Other Additional Identification defined at a private level.
      enum:
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_ATNU
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_ICSN
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHN
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHP
      type: string
    initiationAmount10:
      properties:
        desc:
          description: Description of the amount details.
          type: string
        amt:
          description: Contains the amount.
          format: double
          type: number
        cdtInd:
          description: Indicates whether or not the amount is a credit or debit.
          type: boolean
        tax:
          description: Tax applicable to the billing amount.
          items:
            $ref: '#/components/schemas/initiationTax33'
          type: array
      title: Contains the details of the billing amount
      type: object
    initiationAmount11:
      description: Contains amount details for a specific type of charge.
      properties:
        tpOfChrg:
          $ref: '#/components/schemas/initiationTypeOfAmount19Code'
        othrTpOfChrg:
          description: Description of other type of charge.
          type: string
        amt:
          description: Contains the amount.
          format: double
          type: number
        cdtInd:
          description: Indicates whether or not the amount is a credit or debit.
          type: boolean
      type: object
    initiationAncillaryPurchase1:
      description: Contains additional charges related to or during transit (e.g.,
        baggage fee, in-flight purchase). These are separate from the original ticket
        purchase.
      properties:
        svcCtgyCd:
          description: Contains an ancillary category code for the primary type of
            service that has been provided.
          type: string
        amt:
          $ref: '#/components/schemas/msgfinancialinitiationAmount5'
        tax:
          description: Taxes related to the products or services.
          items:
            $ref: '#/components/schemas/initiationTax33'
          type: array
      type: object
    initiationAuthorisationInitiation1:
      description: Information related to the authorisation initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/msgauthorisationinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgauthorisationinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgauthorisationinitiationProcessingResult1'
        iCCRltdData:
          title: Data related to an integrated circuit card application embedded in
            the payment card of the cardholder.  ISO 8583 bit 55
          type: string
      type: object
    initiationAuthorisationInitiationV02:
      description: AuthorisationInitiation message is sent by an acquirer or an agent
        to an issuer to request approval of a card transaction by the issuer or to
        inform the issuer about the completion of the authorisation. It can also be
        sent by an issuer to an acquirer or agent to advise about the result of an
        authorisation already performed.
      properties:
        hdr:
          $ref: '#/components/schemas/msgauthorisationinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationAuthorisationInitiation1'
      type: object
    initiationContent1:
      description: Content of or reference to the content of a message.
      properties:
        val:
          description: Value of the content of or the reference to the message.
          type: string
        sgntr:
          description: Digital signature of the content of or the reference to the
            message.
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
        certId:
          description: Signing certificate identification.
          type: string
      type: object
    initiationContext5:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msginquiryinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msginquiryinitiationTransactionContext1'
        vrfctn:
          description: Method and data intended to be used for this transaction in
            order to authenticate or verify the cardholder or his card.
          items:
            $ref: '#/components/schemas/msginquiryinitiationVerification1'
          type: array
        rskCntxt:
          $ref: '#/components/schemas/msginquiryinitiationRiskContext1'
      type: object
    initiationContext7:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/initiationPointOfServiceContext2'
        txCntxt:
          $ref: '#/components/schemas/initiationTransactionContext4'
      type: object
    initiationCustomer6:
      properties:
        acctNb:
          description: Customer account number with the service provider.
          type: string
        nm:
          description: Name of the customer.
          type: string
        phneNb:
          description: Customer's primary contact phone number.
          type: string
      title: Details of the customer
      type: object
    initiationDetailAmount2Code:
      default: DETAIL_AMOUNT2_CODE_UNSPECIFIED
      description: |-
        Type of detail amount.

         - DETAIL_AMOUNT2_CODE_UNSPECIFIED: Default
         - DETAIL_AMOUNT2_CODE_OTHN: Other type of amount defined at national level
         - DETAIL_AMOUNT2_CODE_OTHP: Other type of amount defined at private level
         - DETAIL_AMOUNT2_CODE_SRCH: Fee charged by the acceptor for the transaction.
      enum:
        - DETAIL_AMOUNT2_CODE_UNSPECIFIED
        - DETAIL_AMOUNT2_CODE_OTHN
        - DETAIL_AMOUNT2_CODE_OTHP
        - DETAIL_AMOUNT2_CODE_SRCH
      type: string
    initiationDetailedAmount20:
      description: Breakdown of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/initiationDetailAmount2Code'
        othrTp:
          description: Additional information to specify the type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount5'
        labl:
          description: Short description of the detailed amount.
          type: string
      type: object
    initiationDisputeData1:
      description: Data to be present in a dispute.
      properties:
        chrgbckElgblty:
          description: Provides transaction chargeback eligibility conditions.
          type: string
      type: object
    initiationECommerceData1:
      description: Contains electronic commerce data.
      properties:
        tp:
          description: Type of the ecommerce data (for example ,ECI level, downgrade
            reason, etc).
          type: string
        val:
          description: Value related to a specific ecommerce type.
          type: string
      type: object
    initiationEnvironment12:
      description: Environment of the transaction for Inquiry.
      properties:
        acqrr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification203'
        termnl:
          $ref: '#/components/schemas/msginquiryinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msginquiryinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msginquiryinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msginquiryinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msginquiryinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msginquiryinitiationCardholder15'
      type: object
    initiationEnvironment13:
      description: Environment of the transaction.
      properties:
        acqrr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/reversalinitiationTerminal2'
        card:
          $ref: '#/components/schemas/reversalinitiationCardData5'
        wllt:
          $ref: '#/components/schemas/msgreversalinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgreversalinitiationToken1'
      type: object
    initiationFinancialInitiation1:
      description: Information related to the financial initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/msgfinancialinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgfinancialinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgfinancialinitiationTransaction77'
        adddmData:
          $ref: '#/components/schemas/initiationAddendumData1'
        prcgRslt:
          $ref: '#/components/schemas/msgfinancialinitiationProcessingResult1'
        iCCRltdData:
          title: Data related to an integrated circuit card application embedded in
            the payment card of the cardholder.  ISO 8583 bit 55
          type: string
      type: object
    initiationFinancialInitiationV02:
      description: The FinancialInitiation message is sent by an acquirer or an agent
        to an issuer to request approval of a card transaction or to inform about
        the completion of an authorisation. It allows the approved transaction amount
        to be billed or posted on the cardholder's account. It can also be sent by
        an issuer to an acquirer or agent to advise that an authorisation has been
        successfully completed for the final amount and requests the clearing of the
        transaction.
      properties:
        hdr:
          $ref: '#/components/schemas/msgfinancialinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationFinancialInitiation1'
      type: object
    initiationFleetData2:
      description: Fleet data pertaining to the payment transaction.
      properties:
        summry:
          $ref: '#/components/schemas/initiationFleetSummary1'
        lineItm:
          description: Fleet Line Item component is designed to carry detail level
            fleet data and to enable issuers to supply more transaction information
            to their consumer and corporate clients pertaining to fleet transactions.
          items:
            $ref: '#/components/schemas/initiationFleetLineItem1'
          type: array
      type: object
    initiationFleetLineItem1:
      description: Supplies additional transaction information for fleet transactions.
      properties:
        fuelInd:
          title: Indicates whether or not the line item represents a fuel or non-fuel
            product or service.  True = Fuel item False = Non-fuel item
          type: boolean
        fleetPdctCd:
          description: Product code of fleet product or service being purchased.
          type: string
        unitPric:
          description: Unit price of the fleet line item.
          format: double
          type: number
        unitOfMeasr:
          $ref: '#/components/schemas/financialinitiationUnitOfMeasure1Code'
        pdctQty:
          description: Quantity of product or item.
          type: string
        ttlAmtInclgTax:
          description: Total amount including tax.
          format: double
          type: number
      type: object
    initiationFleetSummary1:
      description: Supplies additional transaction information for fleet transactions.
      properties:
        vhcl:
          $ref: '#/components/schemas/initiationVehicle5'
      type: object
    initiationGoodsAndServices1Code:
      default: GOODS_AND_SERVICES1_CODE_UNSPECIFIED
      description: |-
        Type of goods and services purchased.

         - GOODS_AND_SERVICES1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES1_CODE_ELEC: Electronic goods and services.
         - GOODS_AND_SERVICES1_CODE_ELPH: Electronic and physical goods and services.
         - GOODS_AND_SERVICES1_CODE_PHYS: Physical goods or services.
      enum:
        - GOODS_AND_SERVICES1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES1_CODE_ELEC
        - GOODS_AND_SERVICES1_CODE_ELPH
        - GOODS_AND_SERVICES1_CODE_PHYS
      type: string
    initiationGoodsAndServicesSubType1Code:
      default: GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
      description: |-
        Sub type of goods and services purchased.

         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU: Sub type applied is cryptocurrency.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX: Sub type applied is foreign exchange.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN: Other sub type of goods and service at national level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP: Other sub type of goods and service at private level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS: Sub type applied is securities.
      enum:
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS
      type: string
    initiationGracePeriod1:
      description: Grace period applicable to an instalment plan.
      properties:
        tm:
          description: Grace period time relative to the grace period unit type.
          type: string
        unitTp:
          $ref: '#/components/schemas/initiationGracePeriodUnitType1Code'
      type: object
    initiationGracePeriodUnitType1Code:
      default: GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the details of the grace period applicable to the instalment.

         - GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED: Default
         - GRACE_PERIOD_UNIT_TYPE1_CODE_DAYS: Grace period days.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_MNTH: Grace period months.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHN: Other National Grace period.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHP: Other Private Grace period.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_PMTS: Grace period payments.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_WEKS: Grace period weeks.
      enum:
        - GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED
        - GRACE_PERIOD_UNIT_TYPE1_CODE_DAYS
        - GRACE_PERIOD_UNIT_TYPE1_CODE_MNTH
        - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHN
        - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHP
        - GRACE_PERIOD_UNIT_TYPE1_CODE_PMTS
        - GRACE_PERIOD_UNIT_TYPE1_CODE_WEKS
      type: string
    initiationInquiryInitiation1:
      description: Information related to the inquiry initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment12'
        cntxt:
          $ref: '#/components/schemas/initiationContext5'
        tx:
          $ref: '#/components/schemas/initiationTransaction105'
        prcgRslt:
          $ref: '#/components/schemas/inquiryinitiationProcessingResult5'
        iCCRltdData:
          title: Data related to an integrated circuit card application embedded in
            the payment card of the cardholder.  ISO 8583 bit 55
          type: string
      type: object
    initiationInquiryInitiationV01:
      description: The InquiryInitiation message is sent by an acquirer or agent to
        an issuer to request information related to the card (e.g. about a cardholder,
        the availability of funds, etc.).
      properties:
        hdr:
          $ref: '#/components/schemas/inquiryinitiationHeader39'
        body:
          $ref: '#/components/schemas/initiationInquiryInitiation1'
      type: object
    initiationInstalment3:
      description: Data exclusively related to a card issuer financial loan of the
        payment transaction, or instalment.
      properties:
        pmtSeqNb:
          description: Indicates the occurrence of a single instalment payment within
            a series of instalment payments.
          format: double
          type: number
        plan:
          description: Attributes of the instalment plan.
          items:
            $ref: '#/components/schemas/initiationPlan1'
          type: array
      type: object
    initiationInstalmentAmountDetails1:
      properties:
        tp:
          $ref: '#/components/schemas/initiationInstalmentAmountDetailsType1Code'
        othrTp:
          description: Grace period other unit type.
          type: string
        amt:
          $ref: '#/components/schemas/msgfinancialinitiationAmount5'
        pctg:
          description: Rate expressed as a percentage, that is, in hundredths, example,
            0.7 is 7/10 of a percent, and 7.0 is 7%.
          format: double
          type: number
      title: Instalment amount details
      type: object
    initiationInstalmentAmountDetailsType1Code:
      default: INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the details of the grace period applicable to the instalment.

         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED: Default
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_AFCO: Total financing cost per annum.
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_EXPN: Expense Amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FEES: Fees amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FUNA: Funded amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_INSU: Insurance amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHC: Other amounts
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHN: Grace period unit type
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHP: Grace period unit type
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_RQST: Requested amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_TAXX: Instalment amount tax
      enum:
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_AFCO
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_EXPN
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FEES
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FUNA
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_INSU
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHC
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHN
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHP
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_RQST
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_TAXX
      type: string
    initiationInstalmentPeriod1Code:
      default: INSTALMENT_PERIOD1_CODE_UNSPECIFIED
      description: |-
        Instalment period.

         - INSTALMENT_PERIOD1_CODE_UNSPECIFIED: Default
         - INSTALMENT_PERIOD1_CODE_ANNU: Annual instalment period.
         - INSTALMENT_PERIOD1_CODE_MNTH: Monthly instalment period.
      enum:
        - INSTALMENT_PERIOD1_CODE_UNSPECIFIED
        - INSTALMENT_PERIOD1_CODE_ANNU
        - INSTALMENT_PERIOD1_CODE_MNTH
      type: string
    initiationInterestRateDetails1:
      properties:
        prd:
          $ref: '#/components/schemas/initiationInstalmentPeriod1Code'
        rate:
          description: Rate expressed as a decimal, example, 0.7 is 7/10 and 70%.
          format: double
          type: number
      title: Details of the interest rate
      type: object
    initiationOutputFormat4Code:
      default: OUTPUT_FORMAT4_CODE_UNSPECIFIED
      description: |-
        Output of message format.

         - OUTPUT_FORMAT4_CODE_UNSPECIFIED: Default
         - OUTPUT_FORMAT4_CODE_FLNM: File name and location identification for stored messages or data.
         - OUTPUT_FORMAT4_CODE_HTML: XHTML document which includes a subset of the XHTML output tag.
         - OUTPUT_FORMAT4_CODE_MREF: Predefined configured messages, identified by a reference.
         - OUTPUT_FORMAT4_CODE_OTHN: Other type of output of message defined at national level.
         - OUTPUT_FORMAT4_CODE_OTHP: Other type of output format defined at private level.
         - OUTPUT_FORMAT4_CODE_SMSI: Short message service
         - OUTPUT_FORMAT4_CODE_TEXT: Text without format attributes.
         - OUTPUT_FORMAT4_CODE_URLI: Uniform Resource Locator (URL) reference for the message.
      enum:
        - OUTPUT_FORMAT4_CODE_UNSPECIFIED
        - OUTPUT_FORMAT4_CODE_FLNM
        - OUTPUT_FORMAT4_CODE_HTML
        - OUTPUT_FORMAT4_CODE_MREF
        - OUTPUT_FORMAT4_CODE_OTHN
        - OUTPUT_FORMAT4_CODE_OTHP
        - OUTPUT_FORMAT4_CODE_SMSI
        - OUTPUT_FORMAT4_CODE_TEXT
        - OUTPUT_FORMAT4_CODE_URLI
      type: string
    initiationPartyType20Code:
      default: PARTY_TYPE20_CODE_UNSPECIFIED
      description: |-
        Card domain type of party.

         - PARTY_TYPE20_CODE_UNSPECIFIED: Default
         - PARTY_TYPE20_CODE_ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - PARTY_TYPE20_CODE_ACQR: Entity acquiring card transactions.
         - PARTY_TYPE20_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - PARTY_TYPE20_CODE_CISS: Party that issues cards.
         - PARTY_TYPE20_CODE_CRDH: Holder of a payment card.
      enum:
        - PARTY_TYPE20_CODE_UNSPECIFIED
        - PARTY_TYPE20_CODE_ACCP
        - PARTY_TYPE20_CODE_ACQR
        - PARTY_TYPE20_CODE_AGNT
        - PARTY_TYPE20_CODE_CISS
        - PARTY_TYPE20_CODE_CRDH
      type: string
    initiationPartyType21Code:
      default: PARTY_TYPE21_CODE_UNSPECIFIED
      description: |-
        Contains destination party type.

         - PARTY_TYPE21_CODE_UNSPECIFIED: Default
         - PARTY_TYPE21_CODE_ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - PARTY_TYPE21_CODE_CRDH: Holder of a payment card.
         - PARTY_TYPE21_CODE_OTHN: Other card payment entity type defined at national level
         - PARTY_TYPE21_CODE_OTHP: Other card payment entity type defined at private level
      enum:
        - PARTY_TYPE21_CODE_UNSPECIFIED
        - PARTY_TYPE21_CODE_ACCP
        - PARTY_TYPE21_CODE_CRDH
        - PARTY_TYPE21_CODE_OTHN
        - PARTY_TYPE21_CODE_OTHP
      type: string
    initiationPassengerTransport1:
      description: Passenger ticket information for the cardholder.
      properties:
        ancllryPurchs:
          description: Contains additional charges related to or during transit (for
            example, baggage fee, in-flight purchase). These are separate from the
            original ticket purchase.
          items:
            $ref: '#/components/schemas/initiationAncillaryPurchase1'
          type: array
      type: object
    initiationPlan1:
      description: Attributes of the instalment plan.
      properties:
        instlmtPmtTp:
          description: Instalment payment type.
          type: string
        intrstRate:
          description: Details of the interest rate.
          items:
            $ref: '#/components/schemas/initiationInterestRateDetails1'
          type: array
        frstPmtDt:
          description: Date of the first payment.
          type: string
        frstAmt:
          description: Amount of the first payment when different from the subsequent
            payments.
          format: double
          type: number
        sbsqntAmt:
          description: Amount of subsequent payments.
          format: double
          type: number
        ttlNbOfPmts:
          format: double
          title: Total number of instalment payments.  ISO 8583 bit 59
          type: number
        instlmtCcy:
          description: Currency code associated with the instalment amount.  ISO 4217
            "Codes for the representation of currencies and funds".
          type: string
        gracePrd:
          $ref: '#/components/schemas/initiationGracePeriod1'
        amtDtls:
          description: Contains the amount details of an instalment plan.
          items:
            $ref: '#/components/schemas/initiationInstalmentAmountDetails1'
          type: array
        grdTtlAmt:
          description: Total amount of the instalment including charges, insurance
            and taxes in addition to the funded amount.
          format: double
          type: number
      type: object
    initiationPointOfServiceContext2:
      description: Context of the transaction at the point of service.
      properties:
        cardPres:
          description: 'Indicates whether the transaction has been initiated by a
            card physically present or not.  True: Card physically present during
            the transaction False: Card physically absent during the transaction.  ISO
            8583:87 bit 25, ISO 8583:93 bit 22-6.'
          type: boolean
        crdhldrPres:
          title: 'Indicates whether the transaction has been initiated in presence
            of the cardholder or not.  True: Cardholder present during the transaction
            False: Cardholder absent during the transaction.  ISO 8583:87 bit 25,
            ISO 8583:93 bit 22-5'
          type: boolean
        crdhldrActvtd:
          title: 'Indicates whether the automated device was operated solely by the
            cardholder or not (for example, vending machine, automated fuel dispenser,
            ATM, kiosk, etc.).  True: Device operated solely by the cardholder False:
            Device not operated solely by the cardholder.  ISO 8583:2003 bit 22-3'
          type: boolean
        trnspndrInittd:
          description: 'Transaction initiated through a transponder or not. True:
            Transaction initiated through a transponder. False: Transaction not initiated
            through a transponder.'
          type: boolean
        attnddInd:
          title: 'Card acceptor representative in attendance at the point of service
            during the transaction. When an acceptor’s terminal is semi-attended (for
            example, multiple terminals supervised by a single clerk), it will be
            identified as ‘attended’.  True: Attended transaction at the terminal
            False: Non-attended transaction at the terminal  ISO 8583:87 bit 25, ISO
            8583:93 bit 22-4'
          type: boolean
        uattnddLvlCtgy:
          description: Transaction category level on an unattended terminal.
          type: string
        eComrcInd:
          title: 'Indicates whether the point of service is an e-commerce one or not.  True:
            e-commerce False: non e-commerce Default: False  ISO 8583:2003 bit 22-3'
          type: boolean
        eComrcData:
          description: Contains electronic commerce data.
          items:
            $ref: '#/components/schemas/initiationECommerceData1'
          type: array
        mOTOInd:
          title: 'Indicates whether the context of the point of service is a MOTO
            one or not. True: MOTO False: non-MOTO Default: False  ISO 8583:2003 bit
            25 ISO 8583:2003 bit 22-5 ISO 8583:2003 bit 22-3'
          type: boolean
        prtlApprvlSpprtd:
          title: 'Indicates whether the point of service supports partial approval
            or not. True: partial approval is supported False: partial approval is
            not supported'
          type: boolean
        delydAuthstnInd:
          title: 'Indicates whether the authorisation was delayed due to an on-board
            initiated transaction.  True: The authorisation was delayed False: The
            authorisation was not delayed'
          type: boolean
        sctyChrtcs:
          items:
            $ref: '#/components/schemas/initiationSecurityCharacteristics1Code'
          title: Security characteristics of the communication link in the card acceptance
            process.  ISO 8583:2003 bit 22-4
          type: array
        othrSctyChrtcs:
          description: Other security characteristics.
          type: string
        cardDataNtryMd:
          $ref: '#/components/schemas/msgreversalinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          description: Other type of card data entry mode.
          type: string
        storgLctn:
          description: Storage location of payment credential (for example, Acceptor
            or third party wallet).
          type: string
        spclConds:
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
          items:
            $ref: '#/components/schemas/msgreversalinitiationSpecialConditions1'
          type: array
      type: object
    initiationPurchaseIdentifierType1Code:
      default: PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED
      description: |-
        Identifies the type of identifier used in the Purchase Identifier field.

         - PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED: Default
         - PURCHASE_IDENTIFIER_TYPE1_CODE_CONU: Contract Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_CUOR: Customer Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_CUPO: Customer Purchase Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_FONU: Folio Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_INNU: Invoice Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_ORNU: Order Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHN: Other Purchase Identifier defined at a national level.
         - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHP: Other Purchase Identifier defined at a private level.
         - PURCHASE_IDENTIFIER_TYPE1_CODE_PRNU: Payment Reference Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_PUID: Purchase Identification
         - PURCHASE_IDENTIFIER_TYPE1_CODE_REAG: Rental Agreement
         - PURCHASE_IDENTIFIER_TYPE1_CODE_RELO: Record Locator
         - PURCHASE_IDENTIFIER_TYPE1_CODE_RENU: Rental Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_RSNU: Reservation Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_SUIN: Supplier Invoice
         - PURCHASE_IDENTIFIER_TYPE1_CODE_SUOR: Supplier Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TINU: Ticket Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TNID: Transaction Identification is a proprietary value provided by the card acceptor or acquirer to uniquely identify a given transaction.
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TRNU: Tracking Number
      enum:
        - PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED
        - PURCHASE_IDENTIFIER_TYPE1_CODE_CONU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_CUOR
        - PURCHASE_IDENTIFIER_TYPE1_CODE_CUPO
        - PURCHASE_IDENTIFIER_TYPE1_CODE_FONU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_INNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_ORNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHN
        - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHP
        - PURCHASE_IDENTIFIER_TYPE1_CODE_PRNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_PUID
        - PURCHASE_IDENTIFIER_TYPE1_CODE_REAG
        - PURCHASE_IDENTIFIER_TYPE1_CODE_RELO
        - PURCHASE_IDENTIFIER_TYPE1_CODE_RENU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_RSNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_SUIN
        - PURCHASE_IDENTIFIER_TYPE1_CODE_SUOR
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TINU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TNID
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TRNU
      type: string
    initiationReversalInitiation1:
      description: Information related to the reversal of an authorisation or financial
        message.
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment13'
        cntxt:
          $ref: '#/components/schemas/initiationContext7'
        tx:
          $ref: '#/components/schemas/msgreversalinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgreversalinitiationProcessingResult1'
        iCCRltdData:
          title: Data related to an integrated circuit card application embedded in
            the payment card of the cardholder.  ISO 8583 bit 55
          type: string
      type: object
    initiationReversalInitiationV02:
      description: The ReversalInitiation message is sent by an acquirer, an originator
        or an agent to an issuer to request or advise of the reversal of an authorisation
        by the issuer. A reversal is a partial or complete nullification of the effects
        of a previous authorisation, financial presentment or financial accumulation
        presentment that cannot be processed as instructed (for example, is undeliverable
        and cancelled or the acquirer timed out waiting for a response).
      properties:
        hdr:
          $ref: '#/components/schemas/msgreversalinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationReversalInitiation1'
      type: object
    initiationSaleContext7:
      description: Context of the sale associated with the card payment transaction.
      properties:
        saleId:
          description: Identification of the sale terminal (electronic cash register
            or point of sale terminal) or the sale system.
          type: string
        saleRefId:
          description: Global reference of the sale transaction for the sale system.
          type: string
        saleRefNb:
          description: Identify a sale transaction assigned by the sale system.
          type: string
        goodsAndSvcsTp:
          $ref: '#/components/schemas/initiationGoodsAndServices1Code'
        goodAndSvcsSubTp:
          $ref: '#/components/schemas/initiationGoodsAndServicesSubType1Code'
        goodAndSvcsOthrSubTp:
          description: Other goods and services sub type applied to the transaction.
          type: string
        spltPmtInd:
          description: 'Also referred to as split tender. Indicates whether the payment
            transaction is a partial payment of the sale transaction. True: Partial
            payment of a sale transaction False: Not a partial payment of a sale transaction.'
          type: boolean
      type: object
    initiationSecurityCharacteristics1Code:
      default: SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
      description: |-
        Security characteristics of the communication link.

         - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED: Default
         - SECURITY_CHARACTERISTICS1_CODE_AETE: Encryption initiated by the acquirer to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_APTE: Encryption initiated by the acquirer to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CENC: Encryption used to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CETE: Encryption initiated by the cardholder to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CMAC: Usage of MAC to secure a communication channel
         - SECURITY_CHARACTERISTICS1_CODE_CPTE: Encryption initiated by the cardholder to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_ETEE: Encryption used from one end to the other end of the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_METE: Encryption initiated by the merchant to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_MPTE: Encryption initiated by the merchant to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_OPNN: Open network
         - SECURITY_CHARACTERISTICS1_CODE_OTHN: Other security characteristics defined at national level
         - SECURITY_CHARACTERISTICS1_CODE_OTHP: Other security characteristics defined at private level
         - SECURITY_CHARACTERISTICS1_CODE_PKIE: Encryption using PKI to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PMAC: MAC used in a pass-through communication mode
         - SECURITY_CHARACTERISTICS1_CODE_PRAE: Encryption using a private algorithm to secure a communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PRAM: Private algorithm used for MAC.
         - SECURITY_CHARACTERISTICS1_CODE_PRVN: Private network.
         - SECURITY_CHARACTERISTICS1_CODE_STAM: Standard algorithm used for MAC
      enum:
        - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
        - SECURITY_CHARACTERISTICS1_CODE_AETE
        - SECURITY_CHARACTERISTICS1_CODE_APTE
        - SECURITY_CHARACTERISTICS1_CODE_CENC
        - SECURITY_CHARACTERISTICS1_CODE_CETE
        - SECURITY_CHARACTERISTICS1_CODE_CMAC
        - SECURITY_CHARACTERISTICS1_CODE_CPTE
        - SECURITY_CHARACTERISTICS1_CODE_ETEE
        - SECURITY_CHARACTERISTICS1_CODE_METE
        - SECURITY_CHARACTERISTICS1_CODE_MPTE
        - SECURITY_CHARACTERISTICS1_CODE_OPNN
        - SECURITY_CHARACTERISTICS1_CODE_OTHN
        - SECURITY_CHARACTERISTICS1_CODE_OTHP
        - SECURITY_CHARACTERISTICS1_CODE_PKIE
        - SECURITY_CHARACTERISTICS1_CODE_PMAC
        - SECURITY_CHARACTERISTICS1_CODE_PRAE
        - SECURITY_CHARACTERISTICS1_CODE_PRAM
        - SECURITY_CHARACTERISTICS1_CODE_PRVN
        - SECURITY_CHARACTERISTICS1_CODE_STAM
      type: string
    initiationTax33:
      description: Description of tax.
      properties:
        tp:
          $ref: '#/components/schemas/initiationAddendumTaxType1Code'
        othrTp:
          description: Other type of tax. Describes the type of tax when Other, Other
            National, Other Private or Other Taxes Type is selected.
          type: string
        desc:
          description: Description of the tax.
          type: string
        taxXmptn:
          title: 'Exemption for this type of tax.  True: Exemption of tax False: No
            exemption of tax'
          type: boolean
        taxXmptRsn:
          description: Reason for tax exemption.
          type: string
        amt:
          description: Tax amount.
          format: double
          type: number
        rate:
          description: Tax rate applied on original amount.
          format: double
          type: number
      type: object
    initiationTelecomCallDetails1:
      description: Structured call details with address.
      properties:
        tp:
          $ref: '#/components/schemas/initiationTelephonyCallType1Code'
        othrTp:
          description: Contains other call type values.
          type: string
        phneNb:
          description: Origination or destination phone number.
          type: string
        city:
          description: City from which or to which the call was made.
          type: string
        stat:
          description: State from which or to which the call was made.
          type: string
        prvc:
          description: Province from which or to which the call was made.
          type: string
        ctry:
          description: Country from which or to which the call was made.
          type: string
      type: object
    initiationTelecomServices1:
      description: Telecom services carries telephony billing data.
      properties:
        summry:
          $ref: '#/components/schemas/initiationTelecomServicesSummary1'
        lineItm:
          description: Telecom Services Line Item component is designed to carry detail
            level telephony billing data and to enable issuers to supply more transaction
            information to their consumer and corporate clients pertaining to telecommunications
            services and related billing information.
          items:
            $ref: '#/components/schemas/initiationTelecomServicesLineItem1'
          type: array
      type: object
    initiationTelecomServicesLineItem1:
      description: Telecom services line item carries detail level telephony billing
        data.
      properties:
        startDtTm:
          description: Contains the start date and time of the phone call.
          type: string
        tmPrd:
          description: Describes the period (such as peak or off peak) of the phone
            call.
          type: string
        drtn:
          description: Duration of phone call expressed in HHMMSS format.
          type: string
        callFr:
          $ref: '#/components/schemas/initiationTelecomCallDetails1'
        callTo:
          $ref: '#/components/schemas/initiationTelecomCallDetails1'
        chrg:
          description: Contains the amount pertaining to the telephony billing event.
          items:
            $ref: '#/components/schemas/initiationAmount11'
          type: array
        ttlTax:
          items:
            $ref: '#/components/schemas/initiationTax33'
          title: Total of taxes applicable to the billing amount
          type: array
        ttlAmt:
          description: Total amount applicable to the billing event.
          format: double
          type: number
        desc:
          title: Description of the telecommunications services line item details
          type: string
        addtlData:
          description: Additional user-defined data pertaining to the telecommunications
            services.
          type: string
      type: object
    initiationTelecomServicesSummary1:
      description: Telecom services summary component carries summary level telephony
        billing data.
      properties:
        cstmr:
          $ref: '#/components/schemas/initiationCustomer6'
        bllgStmtPrdStart:
          description: Contains the billing period start date for telecommunication
            or related services.
          type: string
        bllgStmtPrdEnd:
          description: Contains the billing period end date for telecommunication
            or related services.
          type: string
        bllgEvt:
          description: Summary of the charges associated with the billing event.
          items:
            $ref: '#/components/schemas/initiationAmount10'
          type: array
        ttlTax:
          description: Total of taxes applicable to the billing amount.
          items:
            $ref: '#/components/schemas/initiationTax33'
          type: array
        addtlData:
          description: Additional user-defined data pertaining to the shipment.
          type: string
      type: object
    initiationTelephonyCallType1Code:
      default: TELEPHONY_CALL_TYPE1_CODE_UNSPECIFIED
      description: |-
        - TELEPHONY_CALL_TYPE1_CODE_UNSPECIFIED: Default
         - TELEPHONY_CALL_TYPE1_CODE_ICPC: Incoming phone call
         - TELEPHONY_CALL_TYPE1_CODE_OGPC: Outgoing phone call
         - TELEPHONY_CALL_TYPE1_CODE_OTCL: Other type of call not elsewhere classified.
         - TELEPHONY_CALL_TYPE1_CODE_OTHN: Other national
         - TELEPHONY_CALL_TYPE1_CODE_OTHP: Other private
         - TELEPHONY_CALL_TYPE1_CODE_PAGE: Page
         - TELEPHONY_CALL_TYPE1_CODE_TFPC: Toll free phone call
         - TELEPHONY_CALL_TYPE1_CODE_VCML: Voice mail
      enum:
        - TELEPHONY_CALL_TYPE1_CODE_UNSPECIFIED
        - TELEPHONY_CALL_TYPE1_CODE_ICPC
        - TELEPHONY_CALL_TYPE1_CODE_OGPC
        - TELEPHONY_CALL_TYPE1_CODE_OTCL
        - TELEPHONY_CALL_TYPE1_CODE_OTHN
        - TELEPHONY_CALL_TYPE1_CODE_OTHP
        - TELEPHONY_CALL_TYPE1_CODE_PAGE
        - TELEPHONY_CALL_TYPE1_CODE_TFPC
        - TELEPHONY_CALL_TYPE1_CODE_VCML
      title: Indicates the call type
      type: string
    initiationTransaction105:
      properties:
        txTp:
          title: Type of transaction associated with the main service. ISO 8583:87/93/2003
            bit 3
          type: string
        txSubTp:
          title: Provides further granularity of purpose of TransactionType
          type: string
        addtlSvc:
          description: Additional functions or services to be performed in conjunction
            with the transaction.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalService1'
          type: array
        msgRsn:
          description: Reason to send the message. ISO 8583:93/2003 bit 25.  The ISO
            8583 maintenance agency (MA) manages this code list.
          items:
            type: string
          type: array
        altrnMsgRsn:
          description: Supports message reason codes that are not defined  in external
            code list.
          type: string
        spclPrgrmmQlfctn:
          description: Data to qualify for incentive or other related programmes.
          items:
            $ref: '#/components/schemas/msginquiryinitiationSpecialProgrammeQualification1'
          type: array
        txId:
          $ref: '#/components/schemas/inquiryinitiationTransactionIdentification11'
        txCcy:
          $ref: '#/components/schemas/msginquiryinitiationISO3NumericCurrencyCode'
        dtldAmt:
          description: Further details of some or all amounts in the transaction amount.  The
            detailed amount is used to calculate the reconciliation amount for messages
            in which the transaction amount is absent.
          items:
            $ref: '#/components/schemas/initiationDetailedAmount20'
          type: array
        rcncltnAmt:
          $ref: '#/components/schemas/msginquiryinitiationAmount4'
        addtlAmts:
          items:
            $ref: '#/components/schemas/inquiryinitiationAdditionalAmounts2'
          title: Amounts that are not part of the transaction amount and not included
            in reconciliation.  ISO 8583 bit 54
          type: array
        addtlFees:
          description: Fees not included in the transaction amount but included in
            the settlement.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalFee1'
          type: array
        acctFr:
          $ref: '#/components/schemas/msginquiryinitiationAccountDetails2'
        txDesc:
          description: Transaction data related to programmes and services, content
            and format based on bilateral agreements.
          type: string
        addtlData:
          description: Contains additional data.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          type: array
      title: Inquiry transaction
      type: object
    initiationTransactionContext4:
      properties:
        mrchntCtgyCd:
          title: Category code related to the type of services or goods the merchant
            provides for the transaction.  ISO 8583:87 bit 18, ISO 8583:93 bit 18
            & 26, ISO 8583:2003 bit 26 ISO 18245
          type: string
        dfrrdDlvryInd:
          description: 'Indicates a deferred delivery as defined by each specific
            implementation.  True: deferred delivery. False: Delivery is not identified
            as deffered. Default: False.'
          type: boolean
        txInitr:
          $ref: '#/components/schemas/msgreversalinitiationTransactionInitiator1Code'
        cardPrgrmm:
          $ref: '#/components/schemas/msgreversalinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/msgreversalinitiationSettlementService1'
        rcncltn:
          $ref: '#/components/schemas/msgreversalinitiationReconciliation3'
        captrDt:
          title: Date the transaction was completed and captured. ISO 8583 bit 17
          type: string
      title: Context of the card payment transaction
      type: object
    initiationTypeOfAmount19Code:
      default: TYPE_OF_AMOUNT19_CODE_UNSPECIFIED
      description: |-
        Identification or qualification of the type of amount.

         - TYPE_OF_AMOUNT19_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT19_CODE_CONN: Telephone connection-related charge
         - TYPE_OF_AMOUNT19_CODE_INSU: Insurance charges
         - TYPE_OF_AMOUNT19_CODE_LNDS: Charges related to a long distance call.
         - TYPE_OF_AMOUNT19_CODE_MISC: Miscellaneous charges not elsewhere defined
         - TYPE_OF_AMOUNT19_CODE_OTHN: Other type of amount defined at national level.
         - TYPE_OF_AMOUNT19_CODE_OTHP: Other type of amount defined at private level.
         - TYPE_OF_AMOUNT19_CODE_USGE: Telephone usage-related charge
      enum:
        - TYPE_OF_AMOUNT19_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT19_CODE_CONN
        - TYPE_OF_AMOUNT19_CODE_INSU
        - TYPE_OF_AMOUNT19_CODE_LNDS
        - TYPE_OF_AMOUNT19_CODE_MISC
        - TYPE_OF_AMOUNT19_CODE_OTHN
        - TYPE_OF_AMOUNT19_CODE_OTHP
        - TYPE_OF_AMOUNT19_CODE_USGE
      type: string
    initiationVehicle5:
      description: Attributes of a fleet vehicle.
      properties:
        odmtr:
          description: Odometer reading value indicating the distance travelled by
            the vehicle (for example, car, van, pickup truck, semi-truck portion of
            a tractor trailer unit).
          format: double
          type: number
      type: object
    inquiryinitiationAdditionalAmounts2:
      description: Limits and amounts not part of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/inquiryinitiationTypeOfAmount17Code'
        othrTp:
          description: Other type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount14'
        labl:
          description: Short description of the additional amount.
          type: string
      type: object
    inquiryinitiationAdditionalInformation20:
      description: Additional information relevant to the destination.
      properties:
        tp:
          description: Defines the type of the value.
          type: string
        val:
          description: Content of or reference to the message.
          type: string
      type: object
    inquiryinitiationHeader39:
      description: Set of characteristics related to the protocol.
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryinitiationMessageFunction17Code'
        prtcolVrsn:
          description: Version of the acquirer to issuer protocol specifications.
          type: string
        xchgId:
          description: Unique identification of an exchange of messages between two
            parties.
          type: string
        creDtTm:
          description: Date and time at which the message was sent.
          type: string
        initgPty:
          $ref: '#/components/schemas/msginquiryinitiationGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          title: Information sent in the request message to be returned in the response
            one, for instance to help in the retrieval of the context of the exchange.  ISO
            8583:93/2003 bit 59
          type: array
      type: object
    inquiryinitiationMessageFunction17Code:
      default: MESSAGE_FUNCTION17_CODE_UNSPECIFIED
      description: |-
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED: Default
         - MESSAGE_FUNCTION17_CODE_ADVC: Advice indicates where the sender informs the receiver of an activity that has been taken that requires a response.
         - MESSAGE_FUNCTION17_CODE_NOTI: Information about the transaction.
         - MESSAGE_FUNCTION17_CODE_REQU: Message function is a request.
      enum:
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION17_CODE_ADVC
        - MESSAGE_FUNCTION17_CODE_NOTI
        - MESSAGE_FUNCTION17_CODE_REQU
      title: Identifies the type of process related to the reconciliation of financial
        totals. ISO 8583 MTI
      type: string
    inquiryinitiationProcessingResult5:
      description: Outcome of the processing of the transaction.
      properties:
        rsltData:
          $ref: '#/components/schemas/msginquiryinitiationResultData1'
        orgnlRsltData:
          $ref: '#/components/schemas/msginquiryinitiationResultData1'
        actnReqrd:
          description: 'Action required flag. Default: False: Action Not Required.
            True: Action Required.'
          type: boolean
        actn:
          description: Set of actions to be performed.
          items:
            $ref: '#/components/schemas/initiationAction9'
          type: array
        addtlActn:
          description: Additional action to perform.
          items:
            $ref: '#/components/schemas/initiationAdditionalAction1'
          type: array
        addtlInf:
          items:
            $ref: '#/components/schemas/inquiryinitiationAdditionalInformation20'
          title: Additional information relevant for the destination.  ISO 8583 bit
            44
          type: array
      type: object
    inquiryinitiationTransactionIdentification11:
      description: Identification of the transaction for network management.
      properties:
        lclDtTm:
          title: Local date and time the transaction takes place at the card acceptor
            location.  ISO 8583:87 bit 12 and 13, ISO 8583:93/2003 bit 12
          type: string
        tmZone:
          description: Time zone name (for example, as defined by IANA - Internet
            Assigned Numbers Authority - in the time zone database.
          type: string
        txRef:
          description: Identification of the transaction by the card acceptor. It
            may appear on the receipt of the cardholder. It remains unchanged throughout
            the lifetime of the transaction.
          type: string
        trnsmssnDtTm:
          title: Date and time expressed in UTC of the message as sent by the initiator.
            ISO 8583 bit 7
          type: string
        sysTracAudtNb:
          description: Number assigned by a transaction originator to assist in identifying
            a transaction uniquely. The trace number remains unchanged for all messages
            within a two-message exchange (for example, request/repeat and response).  ISO
            8583 bit 11.
          type: string
        rtrvlRefNb:
          title: Reference supplied by the system retaining the original source information
            and used to assist in locating that information or a copy thereof. ISO
            8583 bit 37
          type: string
        lifeCyclSpprtInd:
          description: Indicate the point in the transaction lifecycle at which the
            lifecycle identifier was assigned.
          type: string
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msginquiryinitiationTransactionLifeCycleIdentification1'
        lifeCyclTracIdMssng:
          description: Reason for not providing a lifecycle trace identification information.
          type: string
        acqrrRefData:
          title: Data supplied by an acquirer in an authorisation or financial request,
            advice or notification that may be required to be provided in a subsequent
            transaction.  ISO 8583:93 bit 31
          type: string
        acqrrRefNb:
          title: Data supplied by an acquirer to assist in identifying a transaction
            (for example, for researching retrievals and chargebacks). ISO 8583:2003
            bit 31
          type: string
        cardIssrRefData:
          description: Data supplied by a card issuer in an authorisation response,
            financial response message or in a chargeback transaction that the acquirer
            may be required to provide in subsequent transactions. ISO 8583:1993 and
            ISO 8583:2003 bit 95.
          type: string
      type: object
    inquiryinitiationTypeOfAmount17Code:
      default: TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
      description: |-
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT17_CODE_ANTA: Amount anticipated for the transaction
         - TYPE_OF_AMOUNT17_CODE_ISCF: Fee applied by the card issuer to the cardholder.
         - TYPE_OF_AMOUNT17_CODE_OTHN: Other type of amount defined at national level.
         - TYPE_OF_AMOUNT17_CODE_OTHP: Other type of amount defined at private level.
      enum:
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT17_CODE_ANTA
        - TYPE_OF_AMOUNT17_CODE_ISCF
        - TYPE_OF_AMOUNT17_CODE_OTHN
        - TYPE_OF_AMOUNT17_CODE_OTHP
      title: Type of amount
      type: string
    inquiryresponseAdditionalAmounts2:
      description: Limits and amounts not part of the transaction amount.
      example:
        othrTp: othrTp
        amt:
          amt: 1.4658129805029452
          sgn: true
        labl: labl
      properties:
        tp:
          $ref: '#/components/schemas/inquiryresponseTypeOfAmount17Code'
        othrTp:
          description: Other type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryresponseAmount14'
        labl:
          description: Short description of the additional amount.
          type: string
      type: object
    inquiryresponseAddress1:
      description: Structured postal address.
      example:
        twnNm: twnNm
        pstlCd: pstlCd
        ctry: ctry
        adrLine1: adrLine1
        ctrySubDvsnMjr: ctrySubDvsnMjr
      properties:
        adrLine1:
          description: First line of information that locates and identifies a specific
            address, as defined by postal services.
          type: string
        pstlCd:
          description: Identifier consisting of a group of letters and/or numbers
            that is added to a postal address to assist the sorting of mail.
          type: string
        twnNm:
          description: Name of a built-up area, with defined boundaries, and a local
            government.
          type: string
        ctrySubDvsnMjr:
          description: Identifies a major subdivision of a country, for instance state,
            province.
          type: string
        ctry:
          description: Nation with its own government occupying a particular territory.
          type: string
      type: object
    inquiryresponseHeader39:
      description: Set of characteristics related to the protocol.
      example:
        tracData:
          - val: val
            tp: tp
          - val: val
            tp: tp
        prtcolVrsn: prtcolVrsn
        initgPty:
          othrTp: othrTp
          ctry: ctry
          shrtNm: shrtNm
          id: id
        xchgId: xchgId
        creDtTm: creDtTm
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryresponseMessageFunction17Code'
        prtcolVrsn:
          description: Version of the acquirer to issuer protocol specifications.
          type: string
        xchgId:
          description: Unique identification of an exchange of messages between two
            parties.
          type: string
        creDtTm:
[...]
