---
openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: transaction api spec
  title: Transaction API
  version: 1.1.3
servers:
  - url: https://mtf.services-asn.mastercard.com/transaction-api
    description: Sandbox server
  - url: https://services-asn.mastercard.com/transaction-api
    description: Production server
tags:
  - description: Transaction Api Endpoints
    name: TransactionApi
paths:
  /cain-authorisation-requests:
    post:
      description: Process the authorisation requests
      operationId: TransactionApi_processAuthorisationRequest
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationInitiationV02'
      responses:
        "200":
          $ref: '#/components/responses/AuthorisationResponseV02'
        "400":
          $ref: '#/components/responses/InvalidRequest'
      summary: Authorisation request
      tags:
        - TransactionApi
  /cain-inquiry-requests:
    post:
      description: Process the inquiries request
      operationId: TransactionApi_processInquriyRequest
      requestBody:
        $ref: '#/components/requestBodies/InquiryInitiationV01'
      responses:
        "200":
          $ref: '#/components/responses/InquiryResponseV01'
        "400":
          $ref: '#/components/responses/InvalidRequest'
      summary: Inquiry request
      tags:
        - TransactionApi
  /cain-reversal-requests:
    post:
      description: Process the reversal requests
      operationId: TransactionApi_processReversalRequest
      requestBody:
        $ref: '#/components/requestBodies/ReversalInitiationV02'
      responses:
        "200":
          $ref: '#/components/responses/ReversalResponseV02'
        "400":
          $ref: '#/components/responses/InvalidRequest'
      summary: Reversal request
      tags:
        - TransactionApi
components:
  schemas:
    Error:
      properties:
        Source:
          type: string
          description: Source application
          example: transaction-api
        ReasonCode:
          type: string
          description: Reason of the error
          example: INVALID_FIELD
        Description:
          type: string
          description: Error Description
          example: MessageFunction16Code
        Recoverable:
          type: boolean
          description: Whether error is recoverable
          example: "false"
        Details:
          type: string
          description: Error in detail
          example: "Invalid enum value: 1MESSAGE_FUNCTION16_CODE_REQU for enum type:\
            \ MessageFunction16Code"
      type: object
    ErrorWrapper:
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
      description: A container that represents error response
      required:
        - Errors
    Errors:
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: List of errors
      required:
        - Error
      type: object
    initiationAuthorisationInitiation1:
      description: Information related to the authorisation initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/msgauthorisationinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgauthorisationinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgauthorisationinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: iccrelateddata
      type: object
    initiationAuthorisationInitiationV02:
      description: AuthorisationInitiation message is sent by an acquirer or an agent
        to an issuer to request approval of a card transaction by the issuer or to
        inform the issuer about the completion of the authorisation. It can also be
        sent by an issuer to an acquirer or agent to advise about the result of an
        authorisation already performed.
      properties:
        hdr:
          $ref: '#/components/schemas/msgauthorisationinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationAuthorisationInitiation1'
      type: object
    initiationContext5:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msginquiryinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msginquiryinitiationTransactionContext1'
        vrfctn:
          description: Method and data intended to be used for this transaction in
            order to authenticate or verify the cardholder or his card.
          items:
            $ref: '#/components/schemas/msginquiryinitiationVerification1'
          type: array
        rskCntxt:
          $ref: '#/components/schemas/msginquiryinitiationRiskContext1'
      type: object
    initiationContext7:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/initiationPointOfServiceContext2'
        txCntxt:
          $ref: '#/components/schemas/initiationTransactionContext4'
      type: object
    initiationDetailAmount2Code:
      default: DETAIL_AMOUNT2_CODE_UNSPECIFIED
      description: |-
        Type of detail amount.

         - DETAIL_AMOUNT2_CODE_UNSPECIFIED: Default
         - DETAIL_AMOUNT2_CODE_OTHN: Other type of amount defined at national level
         - DETAIL_AMOUNT2_CODE_OTHP: Other type of amount defined at private level
         - DETAIL_AMOUNT2_CODE_SRCH: Fee charged by the acceptor for the transaction.
      enum:
        - DETAIL_AMOUNT2_CODE_UNSPECIFIED
        - DETAIL_AMOUNT2_CODE_OTHN
        - DETAIL_AMOUNT2_CODE_OTHP
        - DETAIL_AMOUNT2_CODE_SRCH
      type: string
    initiationDetailedAmount20:
      description: Breakdown of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/initiationDetailAmount2Code'
        othrTp:
          description: Additional information to specify the type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount5'
      type: object
    initiationECommerceData1:
      description: Contains electronic commerce data.
      properties:
        tp:
          type: string
          description: "Type of the ecommerce data (for example ,ECI level, downgrade\
            \ reason, etc)."
          example: ecommercedatatype
        val:
          type: string
          description: Value related to a specific ecommerce type.
          example: ecommercedatavalue
      type: object
    initiationEnvironment12:
      description: Environment of the transaction for Inquiry.
      properties:
        acqrr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification203'
        termnl:
          $ref: '#/components/schemas/msginquiryinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msginquiryinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msginquiryinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msginquiryinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msginquiryinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msginquiryinitiationCardholder15'
      type: object
    initiationEnvironment13:
      description: Environment of the transaction.
      properties:
        acqrr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/reversalinitiationTerminal2'
        card:
          $ref: '#/components/schemas/reversalinitiationCardData5'
        wllt:
          $ref: '#/components/schemas/msgreversalinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgreversalinitiationToken1'
      type: object
    initiationGoodsAndServices1Code:
      default: GOODS_AND_SERVICES1_CODE_UNSPECIFIED
      description: |-
        Type of goods and services purchased.

         - GOODS_AND_SERVICES1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES1_CODE_ELEC: Electronic goods and services.
         - GOODS_AND_SERVICES1_CODE_ELPH: Electronic and physical goods and services.
         - GOODS_AND_SERVICES1_CODE_PHYS: Physical goods or services.
      enum:
        - GOODS_AND_SERVICES1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES1_CODE_ELEC
        - GOODS_AND_SERVICES1_CODE_ELPH
        - GOODS_AND_SERVICES1_CODE_PHYS
      type: string
    initiationGoodsAndServicesSubType1Code:
      default: GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
      description: |-
        Sub type of goods and services purchased.

         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU: Sub type applied is cryptocurrency.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX: Sub type applied is foreign exchange.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN: Other sub type of goods and service at national level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP: Other sub type of goods and service at private level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS: Sub type applied is securities.
      enum:
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS
      type: string
    initiationInquiryInitiation1:
      description: Information related to the inquiry initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment12'
        cntxt:
          $ref: '#/components/schemas/initiationContext5'
        tx:
          $ref: '#/components/schemas/initiationTransaction105'
        prcgRslt:
          $ref: '#/components/schemas/inquiryinitiationProcessingResult5'
        iccRltdData:
          type: string
          description: Data related to an integrated circuit card application embedded
            in the payment card of the cardholder.  ISO 8583 bit 55
      type: object
    initiationInquiryInitiationV01:
      description: "The InquiryInitiation message is sent by an acquirer or agent\
        \ to an issuer to request information related to the card (e.g. about a cardholder,\
        \ the availability of funds, etc.)."
      properties:
        hdr:
          $ref: '#/components/schemas/inquiryinitiationHeader39'
        body:
          $ref: '#/components/schemas/initiationInquiryInitiation1'
      type: object
    initiationPointOfServiceContext2:
      description: Context of the transaction at the point of service.
      properties:
        cardPres:
          type: boolean
          description: "Indicates whether the transaction has been initiated by a\
            \ card physically present or not.  True: Card physically present during\
            \ the transaction False: Card physically absent during the transaction.\
            \  ISO 8583:87 bit 25, ISO 8583:93 bit 22-6."
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: "Indicates whether the transaction has been initiated in presence\
            \ of the cardholder or not.  True: Cardholder present during the transaction\
            \ False: Cardholder absent during the transaction.  ISO 8583:87 bit 25,\
            \ ISO 8583:93 bit 22-5"
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: "Indicates whether the automated device was operated solely\
            \ by the cardholder or not (for example, vending machine, automated fuel\
            \ dispenser, ATM, kiosk, etc.).  True: Device operated solely by the cardholder\
            \ False: Device not operated solely by the cardholder.  ISO 8583:2003\
            \ bit 22-3"
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: "Transaction initiated through a transponder or not. True:\
            \ Transaction initiated through a transponder. False: Transaction not\
            \ initiated through a transponder."
          example: "TRUE"
        attnddInd:
          type: boolean
          description: "Card acceptor representative in attendance at the point of\
            \ service during the transaction. When an acceptor’s terminal is semi-attended\
            \ (for example, multiple terminals supervised by a single clerk), it will\
            \ be identified as ‘attended’.  True: Attended transaction at the terminal\
            \ False: Non-attended transaction at the terminal  ISO 8583:87 bit 25,\
            \ ISO 8583:93 bit 22-4"
          example: 1
        uattnddLvlCtgy:
          type: string
          description: Transaction category level on an unattended terminal.
          example: 1
        eComrcInd:
          type: boolean
          description: "Indicates whether the point of service is an e-commerce one\
            \ or not.  True: e-commerce False: non e-commerce Default: False  ISO\
            \ 8583:2003 bit 22-3"
          example: 6
        eComrcData:
          description: Contains electronic commerce data.
          items:
            $ref: '#/components/schemas/initiationECommerceData1'
          type: array
        motoInd:
          type: boolean
          description: "Indicates whether the context of the point of service is a\
            \ MOTO one or not. True: MOTO False: non-MOTO Default: False  ISO 8583:2003\
            \ bit 25 ISO 8583:2003 bit 22-5 ISO 8583:2003 bit 22-3"
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: "Indicates whether the point of service supports partial approval\
            \ or not. True: partial approval is supported False: partial approval\
            \ is not supported"
          example: 1
        delydAuthstnInd:
          type: boolean
          description: "Indicates whether the authorisation was delayed due to an\
            \ on-board initiated transaction.  True: The authorisation was delayed\
            \ False: The authorisation was not delayed"
          example: "TRUE"
        sctyChrtcs:
          items:
            $ref: '#/components/schemas/initiationSecurityCharacteristics1Code'
          type: array
          description: Security characteristics of the communication link in the card
            acceptance process.  ISO 8583:2003 bit 22-4
          example: X
        othrSctyChrtcs:
          type: string
          description: Other security characteristics.
          example: othersecuritycharacteristics
        cardDataNtryMd:
          $ref: '#/components/schemas/msgreversalinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: Other type of card data entry mode.
          example: othercardentrymode
        storgLctn:
          type: string
          description: "Storage location of payment credential (for example, Acceptor\
            \ or third party wallet)."
          example: '01'
        spclConds:
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
          items:
            $ref: '#/components/schemas/msgreversalinitiationSpecialConditions1'
          type: array
      type: object
    initiationResponse8Code:
      default: RESPONSE8_CODE_UNSPECIFIED
      description: |-
        Response codes.

         - RESPONSE8_CODE_UNSPECIFIED: Default
         - RESPONSE8_CODE_OTHN: Other type of processing result defined at national level.
         - RESPONSE8_CODE_OTHP: Other type of processing result defined at private level.
         - RESPONSE8_CODE_PRCS: Advice message is processed.
         - RESPONSE8_CODE_REJT: Service was rejected.
         - RESPONSE8_CODE_TECH: Service cannot be provided for technical reason (eg timeout contacting the Issuer, security problem).
         - RESPONSE8_CODE_UNPR: Advice message could not be processed.
         - RESPONSE8_CODE_UNRV: Service is under review.
      enum:
        - RESPONSE8_CODE_UNSPECIFIED
        - RESPONSE8_CODE_OTHN
        - RESPONSE8_CODE_OTHP
        - RESPONSE8_CODE_PRCS
        - RESPONSE8_CODE_REJT
        - RESPONSE8_CODE_TECH
        - RESPONSE8_CODE_UNPR
        - RESPONSE8_CODE_UNRV
      type: string
    initiationReversalInitiation1:
      description: Information related to the reversal of an authorisation or financial
        message.
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment13'
        cntxt:
          $ref: '#/components/schemas/initiationContext7'
        tx:
          $ref: '#/components/schemas/msgreversalinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgreversalinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Data related to an integrated circuit card application embedded
            in the payment card of the cardholder.  ISO 8583 bit 55
          example: iccrelateddata
      type: object
    initiationReversalInitiationV02:
      description: "The ReversalInitiation message is sent by an acquirer, an originator\
        \ or an agent to an issuer to request or advise of the reversal of an authorisation\
        \ by the issuer. A reversal is a partial or complete nullification of the\
        \ effects of a previous authorisation, financial presentment or financial\
        \ accumulation presentment that cannot be processed as instructed (for example,\
        \ is undeliverable and cancelled or the acquirer timed out waiting for a response)."
      properties:
        hdr:
          $ref: '#/components/schemas/msgreversalinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationReversalInitiation1'
      type: object
    initiationSaleContext7:
      description: Context of the sale associated with the card payment transaction.
      properties:
        saleId:
          type: string
          description: Identification of the sale terminal (electronic cash register
            or point of sale terminal) or the sale system.
          example: XXX23427342732
        saleRefId:
          type: string
          description: "An identifier of the transaction in the sale system, such\
            \ as a concatenation of the transaction ID and other information that\
            \ can distinguish the transaction across stores, such as a store number."
          example: XXX23427231732
        saleRefNb:
          type: string
          description: An identifier of the transaction in the sale system.
          example: SLE23427342732
        goodsAndSvcsTp:
          $ref: '#/components/schemas/initiationGoodsAndServices1Code'
        goodAndSvcsSubTp:
          $ref: '#/components/schemas/initiationGoodsAndServicesSubType1Code'
        goodAndSvcsOthrSubTp:
          type: string
          description: Other goods and services sub type applied to the transaction.
          example: othergoodsandservices
        spltPmtInd:
          type: boolean
          description: The indicator that the transaction is a partial payment and
            the full amount was paid with multiple payment methods.
          example: "TRUE"
      type: object
    initiationSecurityCharacteristics1Code:
      default: SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
      description: |-
        Security characteristics of the communication link.

         - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED: Default
         - SECURITY_CHARACTERISTICS1_CODE_AETE: Encryption initiated by the acquirer to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_APTE: Encryption initiated by the acquirer to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CENC: Encryption used to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CETE: Encryption initiated by the cardholder to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CMAC: Usage of MAC to secure a communication channel
         - SECURITY_CHARACTERISTICS1_CODE_CPTE: Encryption initiated by the cardholder to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_ETEE: Encryption used from one end to the other end of the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_METE: Encryption initiated by the merchant to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_MPTE: Encryption initiated by the merchant to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_OPNN: Open network
         - SECURITY_CHARACTERISTICS1_CODE_OTHN: Other security characteristics defined at national level
         - SECURITY_CHARACTERISTICS1_CODE_OTHP: Other security characteristics defined at private level
         - SECURITY_CHARACTERISTICS1_CODE_PKIE: Encryption using PKI to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PMAC: MAC used in a pass-through communication mode
         - SECURITY_CHARACTERISTICS1_CODE_PRAE: Encryption using a private algorithm to secure a communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PRAM: Private algorithm used for MAC.
         - SECURITY_CHARACTERISTICS1_CODE_PRVN: Private network.
         - SECURITY_CHARACTERISTICS1_CODE_STAM: Standard algorithm used for MAC
      enum:
        - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
        - SECURITY_CHARACTERISTICS1_CODE_AETE
        - SECURITY_CHARACTERISTICS1_CODE_APTE
        - SECURITY_CHARACTERISTICS1_CODE_CENC
        - SECURITY_CHARACTERISTICS1_CODE_CETE
        - SECURITY_CHARACTERISTICS1_CODE_CMAC
        - SECURITY_CHARACTERISTICS1_CODE_CPTE
        - SECURITY_CHARACTERISTICS1_CODE_ETEE
        - SECURITY_CHARACTERISTICS1_CODE_METE
        - SECURITY_CHARACTERISTICS1_CODE_MPTE
        - SECURITY_CHARACTERISTICS1_CODE_OPNN
        - SECURITY_CHARACTERISTICS1_CODE_OTHN
        - SECURITY_CHARACTERISTICS1_CODE_OTHP
        - SECURITY_CHARACTERISTICS1_CODE_PKIE
        - SECURITY_CHARACTERISTICS1_CODE_PMAC
        - SECURITY_CHARACTERISTICS1_CODE_PRAE
        - SECURITY_CHARACTERISTICS1_CODE_PRAM
        - SECURITY_CHARACTERISTICS1_CODE_PRVN
        - SECURITY_CHARACTERISTICS1_CODE_STAM
      type: string
    initiationTransaction105:
      properties:
        txTp:
          type: string
          description: Type of transaction associated with the main service. ISO 8583:87/93/2003
            bit 3
        txSubTp:
          type: string
          description: Provides further granularity of purpose of TransactionType
        addtlSvc:
          description: Additional functions or services to be performed in conjunction
            with the transaction.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalService1'
          type: array
        msgRsn:
          description: Reason to send the message. ISO 8583:93/2003 bit 25.  The ISO
            8583 maintenance agency (MA) manages this code list.
          items:
            type: string
          type: array
        altrnMsgRsn:
          description: Supports message reason codes that are not defined  in external
            code list.
          type: string
        spclPrgrmmQlfctn:
          description: Data to qualify for incentive or other related programmes.
          items:
            $ref: '#/components/schemas/msginquiryinitiationSpecialProgrammeQualification1'
          type: array
        txId:
          $ref: '#/components/schemas/inquiryinitiationTransactionIdentification11'
        txCcy:
          type: string
          description: Transaction currency of the acceptor. ISO 4217
        dtldAmt:
          description: Further details of some or all amounts in the transaction amount.  The
            detailed amount is used to calculate the reconciliation amount for messages
            in which the transaction amount is absent.
          items:
            $ref: '#/components/schemas/initiationDetailedAmount20'
          type: array
        rcncltnAmt:
          $ref: '#/components/schemas/msginquiryinitiationAmount4'
        addtlAmts:
          items:
            $ref: '#/components/schemas/inquiryinitiationAdditionalAmounts2'
          type: array
          description: Amounts that are not part of the transaction amount and not
            included in reconciliation.  ISO 8583 bit 54
        addtlFees:
          description: Fees not included in the transaction amount but included in
            the settlement.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalFee1'
          type: array
        acctFr:
          $ref: '#/components/schemas/msginquiryinitiationAccountDetails2'
        txDesc:
          description: "Transaction data related to programmes and services, content\
            \ and format based on bilateral agreements."
          type: string
        addtlData:
          description: Contains additional data.
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          type: array
      type: object
      description: Inquiry transaction
    initiationTransactionContext4:
      properties:
        mrchntCtgyCd:
          type: string
          description: "Category code related to the type of services or goods the\
            \ merchant provides for the transaction.  ISO 8583:87 bit 18, ISO 8583:93\
            \ bit 18 & 26, ISO 8583:2003 bit 26 ISO 18245"
          example: 5542
        dfrrdDlvryInd:
          type: boolean
          description: "Indicates a deferred delivery as defined by each specific\
            \ implementation.  True: deferred delivery. False: Delivery is not identified\
            \ as deffered. Default: False."
          example: 5542
        txInitr:
          $ref: '#/components/schemas/msgreversalinitiationTransactionInitiator1Code'
        cardPrgrmm:
          $ref: '#/components/schemas/msgreversalinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/msgreversalinitiationSettlementService1'
        rcncltn:
          $ref: '#/components/schemas/msgreversalinitiationReconciliation3'
        captrDt:
          type: string
          description: Date the transaction was completed and captured. ISO 8583 bit
            17
          example: 2022-02-22
      type: object
      description: Context of the card payment transaction
    inquiryinitiationAdditionalAmounts2:
      description: Limits and amounts not part of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/inquiryinitiationTypeOfAmount17Code'
        othrTp:
          description: Other type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount14'
      type: object
    inquiryinitiationHeader39:
      description: Set of characteristics related to the protocol.
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryinitiationMessageFunction17Code'
        prtcolVrsn:
          description: Version of the acquirer to issuer protocol specifications.
          type: string
        xchgId:
          description: Unique identification of an exchange of messages between two
            parties.
          type: string
        creDtTm:
          description: Date and time at which the message was sent.
          type: string
        initgPty:
          $ref: '#/components/schemas/msginquiryinitiationGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          type: array
          description: "Information sent in the request message to be returned in\
            \ the response one, for instance to help in the retrieval of the context\
            \ of the exchange.  ISO 8583:93/2003 bit 59"
      type: object
    inquiryinitiationMessageFunction17Code:
      default: MESSAGE_FUNCTION17_CODE_UNSPECIFIED
      description: |-
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED: Default
         - MESSAGE_FUNCTION17_CODE_REQU: Message function is a request.
      enum:
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION17_CODE_REQU
      type: string
    inquiryinitiationProcessingResult5:
      description: Outcome of the processing of the transaction.
      properties:
        rsltData:
          $ref: '#/components/schemas/msginquiryinitiationResultData1'
      type: object
    inquiryinitiationTransactionIdentification11:
      description: Identification of the transaction for network management.
      properties:
        lclDtTm:
          type: string
          description: "Local date and time the transaction takes place at the card\
            \ acceptor location.  ISO 8583:87 bit 12 and 13, ISO 8583:93/2003 bit\
            \ 12"
        trnsmssnDtTm:
          type: string
          description: Date and time expressed in UTC of the message as sent by the
            initiator. ISO 8583 bit 7
        sysTracAudtNb:
          description: "Number assigned by a transaction originator to assist in identifying\
            \ a transaction uniquely. The trace number remains unchanged for all messages\
            \ within a two-message exchange (for example, request/repeat and response).\
            \  ISO 8583 bit 11."
          type: string
        rtrvlRefNb:
          type: string
          description: Reference supplied by the system retaining the original source
            information and used to assist in locating that information or a copy
            thereof. ISO 8583 bit 37
        lifeCyclSpprtInd:
          description: Indicate the point in the transaction lifecycle at which the
            lifecycle identifier was assigned.
          type: string
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msginquiryinitiationTransactionLifeCycleIdentification1'
        acqrrRefNb:
          type: string
          description: "Data supplied by an acquirer to assist in identifying a transaction\
            \ (for example, for researching retrievals and chargebacks). ISO 8583:2003\
            \ bit 31"
        cardIssrRefData:
          description: "Data supplied by a card issuer in an authorisation response,\
            \ financial response message or in a chargeback transaction that the acquirer\
            \ may be required to provide in subsequent transactions. ISO 8583:1993\
            \ and ISO 8583:2003 bit 95."
          type: string
      type: object
    inquiryinitiationTypeOfAmount17Code:
      default: TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
      description: |-
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT17_CODE_OTHP: Other type of amount defined at private level.
      enum:
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT17_CODE_OTHP
      type: string
    inquiryresponseAdditionalAmounts2:
      description: Limits and amounts not part of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/inquiryresponseTypeOfAmount17Code'
        othrTp:
          description: Other type of amount.
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryresponseAmount14'
        labl:
          description: Short description of the additional amount.
          type: string
      type: object
    inquiryresponseAddress1:
      description: Structured postal address.
      properties:
        adrLine1:
          type: string
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        pstlCd:
          type: string
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMjr:
          type: string
          description: "The code identifying the state, province or other country\
            \ subdivision in the Cardholder's billing address."
          example: MO
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
    inquiryresponseHeader39:
      description: Set of characteristics related to the protocol.
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryresponseMessageFunction17Code'
        prtcolVrsn:
          description: Version of the acquirer to issuer protocol specifications.
          type: string
        xchgId:
          description: Unique identification of an exchange of messages between two
            parties.
          type: string
        creDtTm:
          description: Date and time at which the message was sent.
          type: string
        initgPty:
          $ref: '#/components/schemas/msginquiryresponseGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalData1'
          type: array
          description: "Information sent in the request message to be returned in\
            \ the response one, for instance to help in the retrieval of the context\
            \ of the exchange.  ISO 8583:93/2003 bit 59"
      type: object
    inquiryresponseMessageFunction17Code:
      default: MESSAGE_FUNCTION17_CODE_UNSPECIFIED
      description: |-
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED: Default
         - MESSAGE_FUNCTION17_CODE_REQU: Message function is a request.
      enum:
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION17_CODE_REQU
      type: string
    inquiryresponsePartyIdentification203:
      description: Identification of a party.
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acquirer to the Acceptor and\
            \ its location, or to the Payment Facilitator."
          example: '0011011001001'
        nmAndLctn:
          type: string
          description: "The name of the Acceptor that should be recognizable by the\
            \ Cardholder and may include other descriptors, such as a store number."
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/inquiryresponseAddress1'
        addtlData:
          description: "Additional data about or related to the Acceptor, such as\
            \ the Payment Facilitator ID.  The data is sent in a name-value pair:\
            \ Acceptor Additional Data Name and Acceptor Additional Data Value."
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalData1'
          type: array
        spnsrdMrchnt:
          description: A Merchant that uses the services of a Payment Facilitator.  Referred
            to as Submerchant in Mastercard Rules.
          items:
            $ref: '#/components/schemas/inquiryresponseSponsoredMerchant1'
          type: array
      type: object
    inquiryresponseProcessingResult5:
      description: Outcome of the processing of the transaction.
      properties:
        rsltData:
          $ref: '#/components/schemas/msginquiryresponseResultData1'
        addtlInf:
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalInformation20'
          type: array
          description: Additional information relevant for the destination.  ISO 8583
            bit 44
      type: object
    inquiryresponseSponsoredMerchant1:
      description: Merchant using the payment services of the card acceptor. The sponsored
        merchant is not acting as the card acceptor; the latter remaining the only
        party liable for the transaction vis-à-vis the acquirer.
      properties:
        id:
          $ref: '#/components/schemas/msginquiryresponsePartyIdentification197'
        adr:
          $ref: '#/components/schemas/inquiryresponseAddress1'
      type: object
    inquiryresponseTransactionIdentification11:
      description: Identification of the transaction for network management.
      properties:
        lclDtTm:
          type: string
          description: "Local date and time the transaction takes place at the card\
            \ acceptor location.  ISO 8583:87 bit 12 and 13, ISO 8583:93/2003 bit\
            \ 12"
        trnsmssnDtTm:
          type: string
          description: Date and time expressed in UTC of the message as sent by the
            initiator. ISO 8583 bit 7
        sysTracAudtNb:
          description: "Number assigned by a transaction originator to assist in identifying\
            \ a transaction uniquely. The trace number remains unchanged for all messages\
            \ within a two-message exchange (for example, request/repeat and response).\
            \  ISO 8583 bit 11."
          type: string
        rtrvlRefNb:
          type: string
          description: Reference supplied by the system retaining the original source
            information and used to assist in locating that information or a copy
            thereof. ISO 8583 bit 37
        lifeCyclSpprtInd:
          description: Indicate the point in the transaction lifecycle at which the
            lifecycle identifier was assigned.
          type: string
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msginquiryresponseTransactionLifeCycleIdentification1'
        acqrrRefData:
          type: string
          description: "Data supplied by an acquirer in an authorisation or financial\
            \ request, advice or notification that may be required to be provided\
            \ in a subsequent transaction.  ISO 8583:93 bit 31"
        cardIssrRefData:
          description: "Data supplied by a card issuer in an authorisation response,\
            \ financial response message or in a chargeback transaction that the acquirer\
            \ may be required to provide in subsequent transactions. ISO 8583:1993\
            \ and ISO 8583:2003 bit 95."
          type: string
      type: object
    inquiryresponseTypeOfAmount17Code:
      default: TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
      description: |-
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT17_CODE_ANTA: Amount anticipated for the transaction
         - TYPE_OF_AMOUNT17_CODE_ISCF: Fee applied by the card issuer to the cardholder.
         - TYPE_OF_AMOUNT17_CODE_OTHP: Other type of amount defined at private level.
      enum:
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT17_CODE_ANTA
        - TYPE_OF_AMOUNT17_CODE_ISCF
        - TYPE_OF_AMOUNT17_CODE_OTHP
      type: string
    msgauthorisationinitiationAccountDetails2:
      properties:
        acctTp:
          type: string
          description: The code identifying the kind of account to/from which funds
            were sent.
          example: DFLT
        acctId:
          type: string
          description: An identifier of the account to/from which funds were transferred.
          example: 10105556
      type: object
      description: Details of a bank account
    msgauthorisationinitiationAdditionalAmounts1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount12Code'
        othrTp:
          type: string
          description: "The code identifying the type of an Additional Amount when\
            \ the Additional Amount Type is \"OTHN\" or \"OTHP,\" which indicate a\
            \ national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount14'
      type: object
      description: Amounts that are not part of the transaction amount and not included
        in reconciliation.  ISO 8583 bit 54
    msgauthorisationinitiationAdditionalData1:
      properties:
        tp:
          type: string
          description: A free text field for labeling the Transaction Additional Data
            given in the Transaction Additional Data Value.
          example: additionaldatatype
        val:
          type: string
          description: A free text field the Transaction Additional Data that is labeled
            by the Transaction Additional Data Name.
          example: additionaldatavalue
      type: object
      description: "Information sent in the request message to be returned in the\
        \ response one, for instance to help in the retrieval of the context of the\
        \ exchange.  ISO 8583:93/2003 bit 59"
    msgauthorisationinitiationAdditionalFee1:
      description: Fees not included in the transaction.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount10Code'
        othrTp:
          type: string
          description: The code identifying the type of additional fee.
          example: othertype
        feePrgm:
          type: string
          description: Identification of fee program.
          example: feeprogrammename
        feeDscrptr:
          type: string
          description: Identification of specific fee.
          example: feedescriptor
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationFeeAmount2'
        labl:
          type: string
          description: Short description of the fee amount.
          example: feelabel
      type: object
    msgauthorisationinitiationAdditionalRiskData1:
      description: Additional risk data associated with the transaction.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Additional Risk Assessment
            Data given in the Additional Risk Assessment Data Value.
          example: pos_transaction_security
        val:
          type: string
          description: A free text field for the Risk Assessment Additionalthat is
            labeled by the Additional Risk Assessment Data Name.
          example: 0
      type: object
    msgauthorisationinitiationAdditionalService1:
      description: Additional functions or services to be performed in conjunction
        with the transaction.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationAdditionalServiceType1Code'
        othrTp:
          type: string
          description: "A label identifying an additional service applied to the transaction\
            \ when the Additional Service Type Code is \"OTHN\" or \"OTHP,\" which\
            \ indicate a national, network, or customer specific value."
          example: othertype
      type: object
    msgauthorisationinitiationAdditionalServiceType1Code:
      default: ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of additional service.

         - ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED: Default
         - ADDITIONAL_SERVICE_TYPE1_CODE_CACT: Card activation
         - ADDITIONAL_SERVICE_TYPE1_CODE_CSHB: Purchase of goods or services with cashback
         - ADDITIONAL_SERVICE_TYPE1_CODE_DCCV: Dynamic Currency Conversion (DCC)
         - ADDITIONAL_SERVICE_TYPE1_CODE_INTP: Instant payment from a cardholder's account to an acceptor's account
         - ADDITIONAL_SERVICE_TYPE1_CODE_INTT: Instant transfer of funds from a payer's account to a payee's account.
         - ADDITIONAL_SERVICE_TYPE1_CODE_LOYT: Loyalty services
         - ADDITIONAL_SERVICE_TYPE1_CODE_OTHN: Other type of additional service at national level
         - ADDITIONAL_SERVICE_TYPE1_CODE_OTHP: Other type of additional service at private level
         - ADDITIONAL_SERVICE_TYPE1_CODE_PRST: Withdrawal transaction was pre-authorised by another channel (amount could be absent).
      enum:
        - ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
        - ADDITIONAL_SERVICE_TYPE1_CODE_CACT
        - ADDITIONAL_SERVICE_TYPE1_CODE_CSHB
        - ADDITIONAL_SERVICE_TYPE1_CODE_DCCV
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTP
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTT
        - ADDITIONAL_SERVICE_TYPE1_CODE_LOYT
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHN
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHP
        - ADDITIONAL_SERVICE_TYPE1_CODE_PRST
      type: string
    msgauthorisationinitiationAddress1:
      description: Structured postal address.
      properties:
        adrLine1:
          type: string
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        pstlCd:
          type: string
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMjr:
          type: string
          description: "The code identifying the state, province or other country\
            \ subdivision in the Cardholder's billing address."
          example: MO
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
    msgauthorisationinitiationAmount4:
      description: "Amount, currency, exchange rate and quotation date."
      properties:
        amt:
          type: string
          description: The amount that will be posted to the Cardholder's account.
            This is present when the Cardholder billing currency differs from the
            transaction currency expressed in the amount of the transaction.
          example: 1134
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Cardholder
            Billing Amount.
          example: 840
        xchgRate:
          type: string
          description: The exchange rate used to convert the Transaction Amount to
            the Cardholder Billing Amount.
          example: 1
        qtnDt:
          description: The date of the quote for the Cardholder Billing Amount Exchange
            Rate.
          type: string
      type: object
    msgauthorisationinitiationAmount5:
      properties:
        amt:
          type: string
          description: "An amount that is a portion of the Transaction Amount, such\
            \ as a fee or cashback, expressed in the Transaction Currency."
          example: 2000.00
        sgn:
          type: boolean
          description: The code identifying whether the Breakdown Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Signed amount in a given numeric currency
    msgauthorisationinitiationAmount14:
      properties:
        amt:
          type: string
          description: An amount that is not part of the Transaction Amount.
          example: 5000.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Amount.
          example: 840
        sgn:
          type: boolean
          description: The code identifying whether an Additional Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Signed amount in a given currency
    msgauthorisationinitiationApprovalData1:
      description: Data pertaining to the approval of the transaction.
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalEntity1'
        apprvlCd:
          type: string
          description: The code sent by the Issuer indicating that the authorization
            was approved or that the message was successfully processed.
          example: 564643
      type: object
    msgauthorisationinitiationApprovalEntity1:
      description: Entity that has delivered or declined the card payment authorisation
        (the party may be unidentified).
      properties:
        id:
          type: string
          description: Identification of the entity.  ISO 8583:93/2003 bit 58
          example: 543453
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType26Code'
      type: object
    msgauthorisationinitiationCapabilities1:
      description: Capabilities of the terminal.
      properties:
        cardRdngCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
          type: array
          description: "The code(s) identifying the method the Terminal supports for\
            \ entering Card data, such as via a magnetic stripe or a chip.  If this\
            \ field specifies a national or network-specific value (\"OTHN\" or \"\
            OTHP\"), a more specific value may be required in Terminal Card Data Input\
            \ Capability (Other)."
          example: UNSP
        othrCardRdngCpblties:
          items:
            type: string
          type: array
          description: "A free text field for identifying a method the Terminal can\
            \ use to write to a Card when the Card Writing Capability Code is \"OTHN\"\
            \ or \"OTHP,\" which indicate a national, network, or customer specific\
            \ value."
          example: othercardreadingcapabilities
        cardWrtgCpblties:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataWriting1Code'
          type: array
          description: "The code(s) identifying the method the Terminal can use to\
            \ write to a Card, such as a magnetic stripe or a chip.  If this field\
            \ specifies a national or network-specific value (\"OTHN\" or \"OTHP\"\
            ), a more specific value may be required in Terminal Card Writing Capability\
            \ (Other)."
          example: MGST
        othrCardWrtgCpblties:
          items:
            type: string
          type: array
          description: "A free text field for identifying a method the Terminal can\
            \ use to write to a Card when the Card Writing Capability Code is \"OTHN\"\
            \ or \"OTHP,\" which indicate a national, network, or customer specific\
            \ value."
          example: othercardwritingcapabilities
        pinLngthCpblties:
          type: string
          description: The maximum number of digits the Terminal can accept when a
            Cardholder enters their PIN.
          example: 119354446
        pinPadInprtv:
          type: boolean
          description: The indicator that the Terminal has a PIN pad that is not working.
          example: "TRUE"
        cardCaptrCpbl:
          type: boolean
          description: The indicator that the Terminal can retain a Card if instructed
            to do so in an Authorization Response.
          example: "TRUE"
        crdhldrVrfctnCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapabilities1'
          type: array
          description: "Cardholder verification capabilities performing the transaction\
            \ at the point of service. ISO 8583:93 bit 22-2, ISO 8583:2003 bit 27-2"
      type: object
    msgauthorisationinitiationCardData1:
      description: Non-protected sensitive data associated with the card or payment
        token performing the transaction.
      properties:
        pan:
          type: string
          description: "The unique sequence of numbers assigned by the Issuer to the\
            \ Cardholder account that identifies the Issuer and type of Card, or a\
            \ surrogate of the PAN such as a payment token."
          example: 5460126XXXX22775
        cardSeqNb:
          type: string
          description: The number that distinguishes the Card from another with the
            same PAN.
          example: '00'
        xpryDt:
          type: string
          description: The year and month after which the Card is no longer valid.
            It is designated by the Issuer and is embossed and encoded on the Card.
          example: 2302
        trck1:
          type: string
          description: The information encoded on Track 1 of the Card's magnetic stripe
            according to the the ISO 7813 specification.
          example: XXXX723476766296421245789651012XXXXX
        trck2:
          $ref: '#/components/schemas/msgauthorisationinitiationTrack2Data1Choice'
        pmtAcctRef:
          type: string
          description: The identifier assigned to the PAN and used to link payment
            tokens associated with that PAN.
          example: paymentaccountreference
        cardCtryCd:
          description: The ISO 3166-1 numeric country code of the Card's Issuer.
          type: string
        cardPdctTp:
          type: string
          description: The code identifying the product associated with the Card.
          example: CIR
        addtlCardData:
          type: string
          description: "The code identifying the kind of special processing the Card\
            \ qualifies for, which is defined at the individual account level and\
            \ may be associated with a benefit offered by the issuer."
          example: additionalcarddata
      type: object
    msgauthorisationinitiationCardDataReading7Code:
      default: CARD_DATA_READING7_CODE_UNSPECIFIED
      description: |-
        - CARD_DATA_READING7_CODE_UNSPECIFIED: Default
         - CARD_DATA_READING7_CODE_CDFL: Card information are stored on a file.
         - CARD_DATA_READING7_CODE_ICCY: ICC contact capability
         - CARD_DATA_READING7_CODE_ICPY: ICC contactless proximity
         - CARD_DATA_READING7_CODE_KEEN: Key entered.
         - CARD_DATA_READING7_CODE_MGST: Magnetic stripe.
         - CARD_DATA_READING7_CODE_MICR: Recognition of magnetic ink characters
         - CARD_DATA_READING7_CODE_MLEY: Manual, no terminal used.
         - CARD_DATA_READING7_CODE_MSIP: Magstripe image contactless proximity
         - CARD_DATA_READING7_CODE_OCRR: OCR either at time of transaction or after the event.
         - CARD_DATA_READING7_CODE_OPTC: Optical coded reading capabilities (e.g. barcode, QR code, etc.)
         - CARD_DATA_READING7_CODE_OTHN: Other national capability type assigned at national level.
         - CARD_DATA_READING7_CODE_OTHP: Other card reading capability assigned on a private basis.
         - CARD_DATA_READING7_CODE_RFID: Radio Frequency Identification tag capabilities.
         - CARD_DATA_READING7_CODE_UNSP: Unspecified capability.
      enum:
        - CARD_DATA_READING7_CODE_UNSPECIFIED
        - CARD_DATA_READING7_CODE_CDFL
        - CARD_DATA_READING7_CODE_ICCY
        - CARD_DATA_READING7_CODE_ICPY
        - CARD_DATA_READING7_CODE_KEEN
        - CARD_DATA_READING7_CODE_MGST
        - CARD_DATA_READING7_CODE_MICR
        - CARD_DATA_READING7_CODE_MLEY
        - CARD_DATA_READING7_CODE_MSIP
        - CARD_DATA_READING7_CODE_OCRR
        - CARD_DATA_READING7_CODE_OPTC
        - CARD_DATA_READING7_CODE_OTHN
        - CARD_DATA_READING7_CODE_OTHP
        - CARD_DATA_READING7_CODE_RFID
        - CARD_DATA_READING7_CODE_UNSP
      type: string
    msgauthorisationinitiationCardDataWriting1Code:
      default: CARD_DATA_WRITING1_CODE_UNSPECIFIED
      description: |-
        - CARD_DATA_WRITING1_CODE_UNSPECIFIED: Default
         - CARD_DATA_WRITING1_CODE_ICCY: ICC contact capability
         - CARD_DATA_WRITING1_CODE_ICPY: ICC contactless proximity
         - CARD_DATA_WRITING1_CODE_MGST: Magnetic stripe.
         - CARD_DATA_WRITING1_CODE_MSIP: Magstripe image contactless proximity
         - CARD_DATA_WRITING1_CODE_OTHN: Other national capability type assigned at national level.
         - CARD_DATA_WRITING1_CODE_OTHP: Other card reading capability assigned on a private basis.
         - CARD_DATA_WRITING1_CODE_UNSP: Unspecified capability.
      enum:
        - CARD_DATA_WRITING1_CODE_UNSPECIFIED
        - CARD_DATA_WRITING1_CODE_ICCY
        - CARD_DATA_WRITING1_CODE_ICPY
        - CARD_DATA_WRITING1_CODE_MGST
        - CARD_DATA_WRITING1_CODE_MSIP
        - CARD_DATA_WRITING1_CODE_OTHN
        - CARD_DATA_WRITING1_CODE_OTHP
        - CARD_DATA_WRITING1_CODE_UNSP
      type: string
    msgauthorisationinitiationCardProgramme1:
      description: Card programme or brand related to the transaction.
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/msgauthorisationinitiationCardProgrammeMode1'
      type: object
    msgauthorisationinitiationCardProgrammeMode1:
      properties:
        id:
          type: string
          description: The code identifying the Card Processing Program used for the
            transaction.
          example: CRI
      type: object
      description: Card programme or brand actually applied to the transaction.  ISO
        8583:87 bit 24
    msgauthorisationinitiationCardholder15:
      description: Unprotected sensitive detailed information about the cardholder.
      properties:
        crdhldrNm:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderName1'
        id:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
          description: Identification of the cardholder.  ISO 8583:87 bit 56 (TLV
            tag 03/dataset 73) ISO 8583:93 bit 112 (TLV tag 03/dataset 73) ISO 8583:2003
            bit 51 (TLV tag 03/dataset 73)
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        ctctInf:
          $ref: '#/components/schemas/msgauthorisationinitiationContact1'
      type: object
    msgauthorisationinitiationCardholderName1:
      description: Complete name of the cardholder.
      properties:
        gvnNm:
          type: string
          description: The given name of the Cardholder.
          example: Robert
        mddlInitls:
          type: string
          description: The initial of the Cardholder's middle name.
          example: J
        lastNm:
          type: string
          description: The family name of the Cardholder.
          example: Williams
      type: object
    msgauthorisationinitiationCardholderVerificationCapabilities1:
      properties:
        cpblty:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapability5Code'
        othrCpblty:
          type: string
          description: "A free text field for identifying a method the Terminal can\
            \ use for Cardholder verification when the Terminal Cardholder Verification\
            \ Capability Code is \"OTHN\" or \"OTHP,\" which indicate a national,\
            \ network, or customer specific value."
          example: otherverificationcapabilities
      type: object
      description: "Cardholder verification capabilities performing the transaction\
        \ at the point of service.  ISO 8583:87 bit 22-3, ISO 8583;93 bit 22-2, ISO\
        \ 8583:2003 bit 27-2"
    msgauthorisationinitiationCardholderVerificationCapability5Code:
      default: CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
      description: |-
        Capability of verifying the cardholder's identity or authenticity.

         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED: Default
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NOPN: Device has no pin entry capability.
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NPIN: Online PIN (Personal Identification Number).
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_OTHP: Other type of cardholder verification defined in a private manner.
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSP: Cardholder verification capability unspecified.
      enum:
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NOPN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NPIN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_OTHP
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSP
      type: string
    msgauthorisationinitiationContact1:
      description: Contact person details.
      properties:
        homePhneNb:
          type: string
          description: A home phone number of the Cardholder.
          example: 6352417439
        bizPhneNb:
          type: string
          description: A business phone number of the Cardholder.
          example: 8743629199
        mobPhneNb:
          type: string
          description: A mobile phone number of the Cardholder.
          example: 7632910623
        prsnlEmailAdr:
          type: string
          description: A personal email address of the Cardholder.
          example: username@domain.com
        bizEmailAdr:
          type: string
          description: A business email address of the Cardholder.
          example: username@domain.com
      type: object
    msgauthorisationinitiationContext1:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionContext1'
        vrfctn:
          description: Contain validation result and/or data to be validated.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationVerification1'
          type: array
        rskCntxt:
          description: Context of risk associated with the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskContext1'
          type: array
        saleCntxt:
          $ref: '#/components/schemas/initiationSaleContext7'
      type: object
    msgauthorisationinitiationCredentials1:
      description: Contains credential information.
      properties:
        idCd:
          $ref: '#/components/schemas/msgauthorisationinitiationIdentification2Code'
        othrIdCd:
          type: string
          description: "A free text field for identifying a classification of the\
            \ Cardholder ID when the Cardholder ID Type Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: otheridentificationcode
        idVal:
          type: string
          description: "An identifier of the Cardholder, where the kind of ID, such\
            \ as a passport or driver's license number, is specified by the Cardholder\
            \ ID Type Code."
          example: '00'
      type: object
    msgauthorisationinitiationCustomer3:
      description: Identifies the customer in a transfer of money.
      properties:
        cstmrId:
          type: string
          description: Identification of the customer assigned by a party.
          example: 78344XXX
        nm:
          type: string
          description: The full name of the Payee.
          example: Robert Williams
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        crdntls:
          description: Credentials of the financial customer.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
        dtOfBirth:
          type: string
          description: The birth date of the Payee.
          example: 1997-08-22
      type: object
    msgauthorisationinitiationCustomerDevice2:
      description: Details of the customer device.
      properties:
        dvc:
          $ref: '#/components/schemas/msgauthorisationinitiationDevice1'
      type: object
    msgauthorisationinitiationCustomerDeviceType1Code:
      default: CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of customer device.

         - CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED: Default
         - CUSTOMER_DEVICE_TYPE1_CODE_MOBL: Mobile phone
         - CUSTOMER_DEVICE_TYPE1_CODE_NSCR: Non-secure card reader attached to the customer device.
         - CUSTOMER_DEVICE_TYPE1_CODE_OTHN: Other device defined at national level
         - CUSTOMER_DEVICE_TYPE1_CODE_OTHP: Other device defined in a private way.
         - CUSTOMER_DEVICE_TYPE1_CODE_PECR: Personal computer
         - CUSTOMER_DEVICE_TYPE1_CODE_SECR: Secure card reader attached to the customer device
         - CUSTOMER_DEVICE_TYPE1_CODE_TBLT: Tablet
      enum:
        - CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
        - CUSTOMER_DEVICE_TYPE1_CODE_MOBL
        - CUSTOMER_DEVICE_TYPE1_CODE_NSCR
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHN
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHP
        - CUSTOMER_DEVICE_TYPE1_CODE_PECR
        - CUSTOMER_DEVICE_TYPE1_CODE_SECR
        - CUSTOMER_DEVICE_TYPE1_CODE_TBLT
      type: string
    msgauthorisationinitiationDetailAmount1Code:
      default: DETAIL_AMOUNT1_CODE_UNSPECIFIED
      description: |-
        Type of detail amount.

         - DETAIL_AMOUNT1_CODE_UNSPECIFIED: Default
         - DETAIL_AMOUNT1_CODE_DCCF: Dynamic Currency Conversion type of amount
         - DETAIL_AMOUNT1_CODE_SRCH: Fee charged by the acceptor for the transaction.
      enum:
        - DETAIL_AMOUNT1_CODE_UNSPECIFIED
        - DETAIL_AMOUNT1_CODE_DCCF
        - DETAIL_AMOUNT1_CODE_SRCH
      type: string
    msgauthorisationinitiationDetailedAmount19:
      description: Breakdown of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationDetailAmount1Code'
        othrTp:
          type: string
          description: "The code identifying the classification of the Breakdown Amount\
            \ when the Breakdown Amount Type is \"OTHN\" or \"OTHP,\" which indicate\
            \ a national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
      type: object
    msgauthorisationinitiationDevice1:
      description: Identification of the customer device.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDeviceType1Code'
        othrTp:
          description: Other type of customer device in free text.
          type: string
      type: object
    msgauthorisationinitiationEnvironment1:
      description: Environment of the transaction.
      properties:
        acqrr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msgauthorisationinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msgauthorisationinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgauthorisationinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholder15'
      type: object
    msgauthorisationinitiationFeeAmount2:
      description: "Amount, currency, exchange rate and quotation date, sign and label."
      properties:
        amt:
          type: string
          description: The amount of the Additional Fee.
          example: 50.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Fee Amount.
          example: 840
        xchgRate:
          type: string
          description: Exchange rate of the currency code associated with the amount.  ISO
            8583 bit 9 (for use with reconciliation/settlement amount) ISO 8583 bit
            10 (for use with cardholder billing amount)
          example: 9.975453
        qtnDt:
          type: string
          description: The date of the quote for the Additional Fee Exchange Rate.
          example: 2022-04-12T15:24:16.545z
        sgn:
          type: boolean
          description: "Indicates whether the amount value is positive or negative.\
            \  Negative: the receiver of the message owes the fee to the sender. Positive:\
            \ the sender of the message owes the fee to the receiver."
          example: PLUS
      type: object
    msgauthorisationinitiationFundingService1:
      description: Funds related service such as a payment or a transfer related to
        the transaction.
      properties:
        fndgSvc:
          $ref: '#/components/schemas/msgauthorisationinitiationTransferService1'
        fndgSrc:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSource2'
      type: object
    msgauthorisationinitiationFundingSource2:
      properties:
        srcTp:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSourceType2Code'
        othrSrcTp:
          type: string
          description: "A free text field for identifying the source of funds for\
            \ the Funds Transfer when the Funds Transfer Source Code is \"OTHN\" or\
            \ \"OTHP,\" which indicate a national, network, or customer specific value."
          example: othersourectype
      type: object
      description: Source of funding
    msgauthorisationinitiationFundingSourceType2Code:
      default: FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
      description: |-
        Type of funding source used for a financial service.

         - FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED: Default
         - FUNDING_SOURCE_TYPE2_CODE_CASH: Cash as a source type  to perform the transaction.
         - FUNDING_SOURCE_TYPE2_CODE_CDBT: Debit card account.
         - FUNDING_SOURCE_TYPE2_CODE_CHQE: Cheque
         - FUNDING_SOURCE_TYPE2_CODE_CRDT: Credit card account.
         - FUNDING_SOURCE_TYPE2_CODE_CURR: Current account.
         - FUNDING_SOURCE_TYPE2_CODE_DBAC: Account for debiting funds.
         - FUNDING_SOURCE_TYPE2_CODE_EPRS: Electronic purse card account.
         - FUNDING_SOURCE_TYPE2_CODE_LCDT: Line of credit account.
         - FUNDING_SOURCE_TYPE2_CODE_LOYL: Loyalty points converted into cash
         - FUNDING_SOURCE_TYPE2_CODE_OTHN: Other type of account defined at national level.
         - FUNDING_SOURCE_TYPE2_CODE_OTHP: Other type of account defined at private level.
         - FUNDING_SOURCE_TYPE2_CODE_PRPD: Pre-paid account.
         - FUNDING_SOURCE_TYPE2_CODE_SVNG: Savings account.
         - FUNDING_SOURCE_TYPE2_CODE_UVRL: Universal account.
      enum:
        - FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
        - FUNDING_SOURCE_TYPE2_CODE_CASH
        - FUNDING_SOURCE_TYPE2_CODE_CDBT
        - FUNDING_SOURCE_TYPE2_CODE_CHQE
        - FUNDING_SOURCE_TYPE2_CODE_CRDT
        - FUNDING_SOURCE_TYPE2_CODE_CURR
        - FUNDING_SOURCE_TYPE2_CODE_DBAC
        - FUNDING_SOURCE_TYPE2_CODE_EPRS
        - FUNDING_SOURCE_TYPE2_CODE_LCDT
        - FUNDING_SOURCE_TYPE2_CODE_LOYL
        - FUNDING_SOURCE_TYPE2_CODE_OTHN
        - FUNDING_SOURCE_TYPE2_CODE_OTHP
        - FUNDING_SOURCE_TYPE2_CODE_PRPD
        - FUNDING_SOURCE_TYPE2_CODE_SVNG
        - FUNDING_SOURCE_TYPE2_CODE_UVRL
      type: string
    msgauthorisationinitiationGenericIdentification172:
      description: Identification of an entity.
      properties:
        id:
          type: string
          description: Identification of the entity.
          example: 523793
      type: object
    msgauthorisationinitiationHeader42:
      description: Set of characteristics related to the protocol.
      properties:
        msgFctn:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageFunction16Code'
        prtcolVrsn:
          type: string
          description: The version of the Mastercard Switch Platform Specifications.
          example: 0
        xchgId:
          type: string
          description: "The identifier of a set of messages exchanged between two\
            \ parties, usually an Acquirer and an Issuer."
          example: TBD
        creDtTm:
          type: string
          description: The date and time the message was created.
          example: 2022-04-12T15:24:16.545z
        initgPty:
          $ref: '#/components/schemas/msgauthorisationinitiationGenericIdentification172'
        tracData:
          description: "Private-use data defined by the message originator to be returned\
            \ unaltered in any subsequent message.  The data is sent in a name-value\
            \ pair: Trace Data Name and Trace Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
    msgauthorisationinitiationIdentification2Code:
      default: IDENTIFICATION2_CODE_UNSPECIFIED
      description: |-
        Identification of an individual.

         - IDENTIFICATION2_CODE_UNSPECIFIED: Default
         - IDENTIFICATION2_CODE_ARNB: Alien registration number.
         - IDENTIFICATION2_CODE_DRID: Driver licence identification.
         - IDENTIFICATION2_CODE_EMAL: E-mail.
         - IDENTIFICATION2_CODE_NTID: National identification.
         - IDENTIFICATION2_CODE_OTHN: Other identification assigned at national level.
         - IDENTIFICATION2_CODE_OTHP: Other identification provided at private level.
         - IDENTIFICATION2_CODE_PASS: Passport number.
         - IDENTIFICATION2_CODE_PHNB: Phone number.
         - IDENTIFICATION2_CODE_SSYN: Social security number.
      enum:
        - IDENTIFICATION2_CODE_UNSPECIFIED
        - IDENTIFICATION2_CODE_ARNB
        - IDENTIFICATION2_CODE_DRID
        - IDENTIFICATION2_CODE_EMAL
        - IDENTIFICATION2_CODE_NTID
        - IDENTIFICATION2_CODE_OTHN
        - IDENTIFICATION2_CODE_OTHP
        - IDENTIFICATION2_CODE_PASS
        - IDENTIFICATION2_CODE_PHNB
        - IDENTIFICATION2_CODE_SSYN
      type: string
    msgauthorisationinitiationLifeCycleSupport1Code:
      default: LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
      description: |-
        Indicates the point in the transaction lifecycle at which the lifecycle identifier was assigned.

         - LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED: Default
         - LIFE_CYCLE_SUPPORT1_CODE_AUTH: Assigned at authorisation time.
         - LIFE_CYCLE_SUPPORT1_CODE_FINC: Assigned at financial time.
      enum:
        - LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
        - LIFE_CYCLE_SUPPORT1_CODE_AUTH
        - LIFE_CYCLE_SUPPORT1_CODE_FINC
      type: string
    msgauthorisationinitiationMessageClass1Code:
      default: MESSAGE_CLASS1_CODE_UNSPECIFIED
      description: |-
        Identifies a class of messages with the same high level function.

         - MESSAGE_CLASS1_CODE_UNSPECIFIED: Default
         - MESSAGE_CLASS1_CODE_ADDE: Addendum class of messages.
         - MESSAGE_CLASS1_CODE_AMDT: Amendment class of messages.
         - MESSAGE_CLASS1_CODE_AUTH: Authorisation class of messages.
         - MESSAGE_CLASS1_CODE_CBCK: Charge back class of messages.
         - MESSAGE_CLASS1_CODE_CMGT: Card management class of messages.
         - MESSAGE_CLASS1_CODE_FEEC: Fee collection class of messages.
         - MESSAGE_CLASS1_CODE_FINL: Financial class of messages.
         - MESSAGE_CLASS1_CODE_INQY: Inquiry class of messages.
         - MESSAGE_CLASS1_CODE_VERI: Verification class of messages.
      enum:
        - MESSAGE_CLASS1_CODE_UNSPECIFIED
        - MESSAGE_CLASS1_CODE_ADDE
        - MESSAGE_CLASS1_CODE_AMDT
        - MESSAGE_CLASS1_CODE_AUTH
        - MESSAGE_CLASS1_CODE_CBCK
        - MESSAGE_CLASS1_CODE_CMGT
        - MESSAGE_CLASS1_CODE_FEEC
        - MESSAGE_CLASS1_CODE_FINL
        - MESSAGE_CLASS1_CODE_INQY
        - MESSAGE_CLASS1_CODE_VERI
      type: string
    msgauthorisationinitiationMessageFunction16Code:
      default: MESSAGE_FUNCTION16_CODE_UNSPECIFIED
      description: |-
        - MESSAGE_FUNCTION16_CODE_UNSPECIFIED: Default
         - MESSAGE_FUNCTION16_CODE_ADVC: Advice indicates where the sender informs the receiver of an activity that has been taken that requires a response.
         - MESSAGE_FUNCTION16_CODE_REQU: Message function is a request.
      enum:
        - MESSAGE_FUNCTION16_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION16_CODE_ADVC
        - MESSAGE_FUNCTION16_CODE_REQU
      type: string
    msgauthorisationinitiationOriginalDataElements1:
      description: Data elements contained in the original message. ISO 8583:1987
        bit 90 and ISO 8583 1993/2003 bit 56.
      properties:
        msgClss:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageClass1Code'
        acqrrId:
          type: string
          description: The Acquirer ID sent in the original message.
          example: 523732
        sndrId:
          type: string
          description: The Message Sender ID sent in the original message.
          example: 836322
        lclDtTm:
          description: "The Transaction Date Time (Local) of the original message,\
            \ which is the local date and time at which the transaction took place\
            \ at the point of interaction."
          type: string
        trnsmssnDtTm:
          description: "The date and time that the original message was sent to the\
            \ Mastercard Switch Platform, expressed in Coordinated Universal Time\
            \ (UTC)."
          type: string
        sysTracAudtNb:
          type: string
          description: An identifier of the transaction assigned by the message originator.
          example: 654321
        rtrvlRefNb:
          type: string
          description: "The Retrieval Reference Number of the original message, which\
            \ is an identifier of the transaction source document generated by the\
            \ system retaining it, such as a receipt in an acceptor point-of-sale\
            \ system."
          example: 22200012345
        lifeCyclSpprt:
          $ref: '#/components/schemas/msgauthorisationinitiationLifeCycleSupport1Code'
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionLifeCycleIdentification1'
      type: object
    msgauthorisationinitiationPartyIdentification197:
      description: Identification of a party.
      properties:
        id:
          type: string
          description: The identifier assigned by Mastercard to the Party.
          example: '001727'
        addtlId:
          type: string
          description: Additional identification of the party.
          example: additionalidentification
      type: object
    msgauthorisationinitiationPartyIdentification200:
      description: Identification of a party.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType28Code'
      type: object
    msgauthorisationinitiationPartyIdentification203:
      description: Identification of a party.
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acquirer to the Acceptor and\
            \ its location, or to the Payment Facilitator."
          example: '0011011001001'
        addtlId:
          type: string
          description: The identifier assigned by Mastercard to the Acceptor.
          example: additionalidentification
        nmAndLctn:
          type: string
          description: "The name of the Acceptor that should be recognizable by the\
            \ Cardholder and may include other descriptors, such as a store number."
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        email:
          type: string
          description: The email address of the Acceptor that can be used for transaction
            inquiries.
          example: username@domain.com
        urlAdr:
          type: string
          description: The web address of the Acceptor.
          example: http://mastercard.com
        phneNb:
          type: string
          description: "The business phone number of the Acceptor, if different from\
            \ the Acceptor Customer Service Phone Number."
          example: 942243487234
        cstmrSvc:
          type: string
          description: The phone number of the Acceptor that can be used for transaction
            inquiries.
          example: 18006453456
        addtlCtctInf:
          type: string
          description: "Additional information for contacting the Acceptor, such as\
            \ an additional phone number or a contact name."
          example: additionalcontactinformation
        taxRegnId:
          type: string
          description: The identifier of the Acceptor issued by a taxation authority.
          example: ABC53645326
        addtlData:
          description: "Additional data about or related to the Acceptor, such as\
            \ the Payment Facilitator ID.  The data is sent in a name-value pair:\
            \ Acceptor Additional Data Name and Acceptor Additional Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
        spnsrdMrchnt:
          description: A Merchant that uses the services of a Payment Facilitator.  Referred
            to as Submerchant in Mastercard Rules.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSponsoredMerchant1'
          type: array
      type: object
    msgauthorisationinitiationPartyIdentification211:
      description: Identification of a party.
      properties:
        cstmr:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomer3'
      type: object
    msgauthorisationinitiationPartyType26Code:
      default: PARTY_TYPE26_CODE_UNSPECIFIED
      description: |-
        Type of entity acting as a Payment Initiation Service Provider.

         - PARTY_TYPE26_CODE_UNSPECIFIED: Default
         - PARTY_TYPE26_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - PARTY_TYPE26_CODE_CISS: Party that issues cards.
      enum:
        - PARTY_TYPE26_CODE_UNSPECIFIED
        - PARTY_TYPE26_CODE_AGNT
        - PARTY_TYPE26_CODE_CISS
      type: string
    msgauthorisationinitiationPartyType28Code:
      default: PARTY_TYPE28_CODE_UNSPECIFIED
      description: |-
        Type of entity involved in a card payment transaction.

         - PARTY_TYPE28_CODE_UNSPECIFIED: Default
         - PARTY_TYPE28_CODE_ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - PARTY_TYPE28_CODE_ACQR: Entity acquiring card transactions.
         - PARTY_TYPE28_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - PARTY_TYPE28_CODE_ISUR: Issuer is the entitled party.
         - PARTY_TYPE28_CODE_OTHN: Other card payment entity type defined at national level
         - PARTY_TYPE28_CODE_OTHP: Other card payment entity type defined at private level
         - PARTY_TYPE28_CODE_WLPR: Provider of an electronic wallet
      enum:
        - PARTY_TYPE28_CODE_UNSPECIFIED
        - PARTY_TYPE28_CODE_ACCP
        - PARTY_TYPE28_CODE_ACQR
        - PARTY_TYPE28_CODE_AGNT
        - PARTY_TYPE28_CODE_ISUR
        - PARTY_TYPE28_CODE_OTHN
        - PARTY_TYPE28_CODE_OTHP
        - PARTY_TYPE28_CODE_WLPR
      type: string
    msgauthorisationinitiationPointOfServiceContext1:
      description: Contains point of interaction information specific to a given transaction
        that may change from transaction to transaction.
      properties:
        cardPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Card
            physically present at the point of interaction.
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Cardholder
            present at the point of interaction.
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: "The indicator that the transaction was initiated on an automated\
            \ device operated solely by the Cardholder, such as an ATM."
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: The indicator that the transaction was initiated with a transponder.
          example: "TRUE"
        attnddInd:
          type: boolean
          description: The indicator that the transaction was initiated on a Terminal
            attended by an Acceptor representative.
          example: "TRUE"
        uattnddLvlCtgy:
          type: string
          description: "The code identifying the type of Terminal used by the Cardholder\
            \ to initiate the unattended transaction, such as a self-service Terminal."
          example: 1
        eComrcInd:
          type: boolean
          description: The indicator that the point of interaction was an ecommerce
            one.
          example: 6
        motoInd:
          type: boolean
          description: The indicator that the transaction was imitated by the Cardholder
            via mail or telephone.
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: "The indicator that the Terminal supports partial approvals,\
            \ which allows for the authorization of less than the full transaction\
            \ amount so the Cardholder can use multiple forms of payment. code identifying\
            \ the type of Terminal used by the Cardholder to initiate the unattended\
            \ transaction, such as a self-service Terminal."
          example: 1
        cardDataNtryMd:
          $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: "A free text field for identifying the Card data input method\
            \ when the Terminal Card Data Input Method Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: othercardentrymode
        storgLctn:
          type: string
          description: "The code identifying where the Card data is stored, such as\
            \ on a Wallet or by the Acceptor."
          example: '01'
        spclConds:
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialConditions1'
          type: array
      type: object
    msgauthorisationinitiationPriority3Code:
      default: PRIORITY3_CODE_UNSPECIFIED
      description: |-
        Specifies the priority level of an event.

         - PRIORITY3_CODE_UNSPECIFIED: Default
         - PRIORITY3_CODE_HIGH: Priority level is high.
         - PRIORITY3_CODE_NORM: Priority level is normal.
         - PRIORITY3_CODE_URGT: Priority level is urgent (highest priority possible).
      enum:
        - PRIORITY3_CODE_UNSPECIFIED
        - PRIORITY3_CODE_HIGH
        - PRIORITY3_CODE_NORM
        - PRIORITY3_CODE_URGT
      type: string
    msgauthorisationinitiationProcessingResult1:
      description: Outcome of the processing of the transaction.
      properties:
        apprvlData:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalData1'
        rsltData:
          $ref: '#/components/schemas/msgauthorisationinitiationResultData1'
      type: object
    msgauthorisationinitiationResultData1:
      description: Result of the processing.
      properties:
        rsltDtls:
          type: string
          description: "The code identifying if the transaction was approved, or if\
            \ it was declined, the reason for the rejection or the action required\
            \ of the Acceptor. The code can also identify the disposition of a previous\
            \ message or an action taken as a result of receipt of a previous message."
          example: '00'
        addtlRsltInf:
          description: Additional result information to be conveyed.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
    msgauthorisationinitiationRiskAssessment1:
      description: Indicates to the card issuer the level of risk associated with
        the transaction.
      properties:
        rskAssmntNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification200'
        rskAssmntTp:
          type: string
          description: The type of Risk Assessment performed.
          example: MFSD
        rsn:
          items:
            type: string
          type: array
          description: The code(s) indentify the factor(s) that contributed to the
            Risk Score.
          example: riskassessmentreason
        rslt:
          type: string
          description: The score indicating the level of risk for the transaction.
          example: riskassessmentresult
        addtlRskData:
          description: Additional risk data associated with the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalRiskData1'
          type: array
      type: object
    msgauthorisationinitiationRiskContext1:
      description: Context of risk associated with the transaction.
      properties:
        rskInptData:
          description: Input data to be considered in a risk assessment.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskInputData1'
          type: array
        rskAssmnt:
          description: Indicates to the card issuer the level of risk associated with
            the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskAssessment1'
          type: array
      type: object
    msgauthorisationinitiationRiskInputData1:
      description: Input data to be considered in a risk assessment.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Risk Assessment Input data
            given in the Risk Data Field Value.
          example: PTXS
        val:
          type: string
          description: A free text field for the Risk Assessment Input data that is
            labeled by the Risk Data Field Name.
          example: riskinputvalue
      type: object
    msgauthorisationinitiationSettlementService1:
      description: Type of settlement service for specific services requiring settlement.
      properties:
        sttlmSvcApld:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceMode1'
        sttlmSvcDts:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceDate1'
      type: object
    msgauthorisationinitiationSettlementServiceDate1:
      description: Date related to the settlement of the transaction.
      properties:
        sttlmDt:
          type: string
          description: A date assigned by Mastercard and used for settlement reporting.
            It is not the date of the actual settlement of funds.
          example: 2022-05-31z
        sttlmPrd:
          type: string
          description: The code identifying the time interval over which settlement
            occurs.
          example: XX
      type: object
    msgauthorisationinitiationSettlementServiceMode1:
      description: Settlement service for specific settlement types of requirements.
      properties:
        tp:
          type: string
          description: The code identifying the type of Settlement Service applied
            for the transaction.
          example: settlementservicetype
        id:
          type: string
          description: The identifier of the Settlement Service applied for the transaction.
          example: settlementservicetype
        shrtNm:
          type: string
          description: The name of the Settlement Service applied for the transaction.
          example: BANCO
        sttlmPrty:
          $ref: '#/components/schemas/msgauthorisationinitiationPriority3Code'
      type: object
    msgauthorisationinitiationSpecialConditions1:
      description: Data used to assign specific conditions such as liability shift
        or preferential interchange fees.
      properties:
        id:
          type: string
          description: A free text field for labeling the Point of Interaction Context
            Additional given in the Point of Interaction Context Additional Value.
          example: identification
        val:
          type: string
          description: A free text field for the Point of Interaction Context Additional
            that is labeled by the Point of Interaction Context Additional.
          example: identificationvalue
      type: object
    msgauthorisationinitiationSpecialProgrammeDetails1:
      description: Name and value associated with a special programme.
      properties:
        nm:
          type: string
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: combo_card_id
        val:
          type: string
          description: A free text field for the Special Program Data lableled by
            the Special Program Data Name.
          example: specialprogrammequalificationvalue
      type: object
    msgauthorisationinitiationSpecialProgrammeQualification1:
      description: Data to qualify for incentive or other related programmes.
      properties:
        prgrmm:
          type: string
          description: The name of the Special Program.
          example: combo_card
        dtl:
          description: "Data about the Special Program associated with the transaction.\
            \ The data is sent in a name-value pair: Special Program Data Name and\
            \ Special Program Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialProgrammeDetails1'
          type: array
      type: object
    msgauthorisationinitiationSponsoredMerchant1:
      description: Merchant using the payment services of the card acceptor. The sponsored
        merchant is not acting as the card acceptor; the latter remaining the only
        party liable for the transaction vis-à-vis the acquirer.
      properties:
        id:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        cmonNm:
          type: string
          description: The name of the Sponsored Merchant that should be recognizable
            by the Cardholder.
          example: Henry
      type: object
    msgauthorisationinitiationTerminal1:
      properties:
        termnlId:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIdentification1'
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalType1Code'
        othrTp:
          description: "The code identifying the subtype of the Cardholder activated\
            \ Terminal, such as an automated dispensing machine."
          type: string
        cpblties:
          $ref: '#/components/schemas/msgauthorisationinitiationCapabilities1'
        termnlIntgtn:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIntegrationCategory1Code'
        offPrmissInd:
          type: boolean
          description: The indicator that the Terminal is not operated at the Acceptor
            location.
          example: "TRUE"
        onBrdInd:
          type: boolean
          description: "The indicator that the Terminal is operated on a plane, train,\
            \ bus, or ship."
          example: "TRUE"
      type: object
      description: Payment terminal or ATM performing the transaction
    msgauthorisationinitiationTerminalIdentification1:
      description: Identification of the terminal performing the transaction.
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acceptor or the Acquirer to\
            \ the Terminal, payment gateway, or other acceptance device used to capture\
            \ account data to effect a transaction at the Acceptor location."
          example: ABC232635
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code of the Terminal.
          example: USA
      type: object
    msgauthorisationinitiationTerminalIntegrationCategory1Code:
      default: TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
      description: |-
        Terminal category code of the place where the merchant actually performed the transaction.

         - TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED: Default
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_MPOI: Multiple terminals linked to a unique sale terminal.
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_MSLE: Terminal serving multiple sale terminals.
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_SSLE: Terminal linked to a unique sale terminal.
      enum:
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MPOI
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MSLE
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_SSLE
      type: string
    msgauthorisationinitiationTerminalType1Code:
      default: TERMINAL_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of terminal to perform the transaction.

         - TERMINAL_TYPE1_CODE_UNSPECIFIED: Default
         - TERMINAL_TYPE1_CODE_ATMT: Automated Teller Machine
         - TERMINAL_TYPE1_CODE_OTHP: Other private type of terminal.
         - TERMINAL_TYPE1_CODE_POST: Point of Sale terminal.
      enum:
        - TERMINAL_TYPE1_CODE_UNSPECIFIED
        - TERMINAL_TYPE1_CODE_ATMT
        - TERMINAL_TYPE1_CODE_OTHP
        - TERMINAL_TYPE1_CODE_POST
      type: string
    msgauthorisationinitiationToken1:
[...]
