openapi: 3.0.1
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: transaction api spec
  title: Transaction API
  version: 0.0.6
servers:
  - url: https://mtf.services-asn.mastercard.com/transaction-api
    description: Sandbox server
  - url: https://services-asn.mastercard.com/transaction-api
    description: Production server
tags:
  - description: Transaction Api Endpoints
    name: TransactionApi
paths:
  /cain-authorisation-requests:
    post:
      description: Process the authorisation requests
      operationId: TransactionApi_processAuthorisationRequest
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationInitiationV02'
      responses:
        "200":
          $ref: '#/components/responses/AuthorisationResponseV02'
        "400":
          $ref: '#/components/responses/InvalidRequest'
      summary: Authorisation request
      tags:
        - TransactionApi
  /cain-reversal-requests:
    post:
      description: Process the reversal requests
      operationId: TransactionApi_processReversalRequest
      requestBody:
        $ref: '#/components/requestBodies/ReversalInitiationV02'
      responses:
        "200":
          $ref: '#/components/responses/ReversalResponseV02'
        "400":
          $ref: '#/components/responses/InvalidRequest'
      summary: Reversal request
      tags:
        - TransactionApi
components:
  schemas:
    Error:
      properties:
        Source:
          type: string
          description: Source application
          example: transaction-api
        ReasonCode:
          type: string
          description: Reason of the error
          example: INVALID_FIELD
        Description:
          type: string
          description: Error Description
          example: MessageFunction16Code
        Recoverable:
          type: boolean
          description: Whether error is recoverable
          example: "false"
        Details:
          type: string
          description: Error in detail
          example: 'Invalid enum value: 1MESSAGE_FUNCTION16_CODE_REQU for enum type:
            MessageFunction16Code'
      type: object
    ErrorWrapper:
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      type: object
      description: A container that represents error response
      required:
        - Errors
    Errors:
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: List of errors
      required:
        - Error
      type: object
    initiationAuthorisationInitiation1:
      description: Information related to the authorisation initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/msgauthorisationinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgauthorisationinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgauthorisationinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: 01495F2A0201245F34010182021C008407A0000000031010950580000000009A031102249B0268009C01009F02060000000000009F03060000000000009F0607A0000000031010
      type: object
    initiationAuthorisationInitiationV02:
      description: AuthorisationInitiation message is sent by an acquirer or an agent
        to an issuer to request approval of a card transaction by the issuer or to
        inform the issuer about the completion of the authorisation. It can also be
        sent by an issuer to an acquirer or agent to advise about the result of an
        authorisation already performed.
      properties:
        hdr:
          $ref: '#/components/schemas/msgauthorisationinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationAuthorisationInitiation1'
      type: object
    initiationContext7:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/initiationPointOfServiceContext2'
        txCntxt:
          $ref: '#/components/schemas/initiationTransactionContext4'
      type: object
    initiationECommerceData1:
      description: Contains electronic commerce data.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Ecommerce Data given in
            the Risk Data Field Value.
          example: ecom_security_level_ucaf_collection
        val:
          type: string
          description: A free text field for the ECommerce Data Value that is labeled
            by the Ecommerce Data Name.
          example: 1
      type: object
    initiationEnvironment13:
      description: Environment of the transaction.
      properties:
        acqrr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/reversalinitiationTerminal2'
        card:
          $ref: '#/components/schemas/reversalinitiationCardData5'
        wllt:
          $ref: '#/components/schemas/msgreversalinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgreversalinitiationToken1'
      type: object
    initiationGoodsAndServices1Code:
      default: GOODS_AND_SERVICES1_CODE_UNSPECIFIED
      description: |-
        Type of goods and services purchased.

         - GOODS_AND_SERVICES1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES1_CODE_ELEC: Electronic goods and services.
         - GOODS_AND_SERVICES1_CODE_ELPH: Electronic and physical goods and services.
         - GOODS_AND_SERVICES1_CODE_PHYS: Physical goods or services.
      enum:
        - GOODS_AND_SERVICES1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES1_CODE_ELEC
        - GOODS_AND_SERVICES1_CODE_ELPH
        - GOODS_AND_SERVICES1_CODE_PHYS
      type: string
    initiationGoodsAndServicesSubType1Code:
      default: GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
      description: |-
        Sub type of goods and services purchased.

         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED: Default
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU: Sub type applied is cryptocurrency.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX: Sub type applied is foreign exchange.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN: Other sub type of goods and service at national level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP: Other sub type of goods and service at private level.
         - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS: Sub type applied is securities.
      enum:
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS
      type: string
    initiationPointOfServiceContext2:
      description: Context of the transaction at the point of service.
      properties:
        cardPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Card
            physically present at the point of interaction.
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Cardholder
            present at the point of interaction.
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: The indicator that the transaction was initiated on an automated
            device operated solely by the Cardholder, such as an ATM.
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: The indicator that the transaction was initiated with a transponder.
          example: "TRUE"
        attnddInd:
          type: boolean
          description: The indicator that the transaction was initiated on a Terminal
            attended by an Acceptor representative.
          example: 1
        uattnddLvlCtgy:
          type: string
          description: The code identifying the type of Terminal used by the Cardholder
            to initiate the unattended transaction, such as a self-service Terminal.
          example: 1
        eComrcInd:
          type: boolean
          description: The indicator that the point of interaction was an ecommerce
            one.
          example: 6
        eComrcData:
          description: Contains electronic commerce data.
          items:
            $ref: '#/components/schemas/initiationECommerceData1'
          type: array
        motoInd:
          type: boolean
          description: The indicator that the transaction was imitated by the Cardholder
            via mail or telephone.
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: The indicator that the Terminal supports partial approvals,
            which allows for the authorization of less than the full transaction amount
            so the Cardholder can use multiple forms of payment. code identifying
            the type of Terminal used by the Cardholder to initiate the unattended
            transaction, such as a self-service Terminal.
          example: 1
        delydAuthstnInd:
          type: boolean
          description: Indicates whether the authorization was delayed due to an on-board
            initiated transaction.
          example: "TRUE"
        sctyChrtcs:
          items:
            $ref: '#/components/schemas/initiationSecurityCharacteristics1Code'
          type: array
          description: A codelist value that indicates the security measures applied
            to card acceptance communications, such as Channel Encryption.
          example: X
        othrSctyChrtcs:
          type: string
          description: A free text value that indicates the security measures, specific
            to National of Scheme, applied to card acceptance communications.
          example: mastercard_proprietary
        cardDataNtryMd:
          $ref: '#/components/schemas/msgreversalinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: A free text field for identifying the Card data input method
            when the Terminal Card Data Input Method Code is "OTHN" or "OTHP," which
            indicate a national, network, or customer specific value.
          example: hybrid_fallback
        storgLctn:
          type: string
          description: The code identifying where the Card data is stored, such as
            on a Wallet or by the Acceptor.
          example: 01
        spclConds:
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
          items:
            $ref: '#/components/schemas/msgreversalinitiationSpecialConditions1'
          type: array
      type: object
    initiationReversalInitiation1:
      description: Information related to the reversal of an authorisation or financial
        message.
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment13'
        cntxt:
          $ref: '#/components/schemas/initiationContext7'
        tx:
          $ref: '#/components/schemas/msgreversalinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgreversalinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: 01495F2A0201245F34010182021C008407A0000000031010950580000000009A031102249B0268009C01009F02060000000000009F03060000000000009F0607A0000000031010
      type: object
    initiationReversalInitiationV02:
      description: The ReversalInitiation message is sent by an acquirer, an originator
        or an agent to an issuer to request or advise of the reversal of an authorisation
        by the issuer. A reversal is a partial or complete nullification of the effects
        of a previous authorisation, financial presentment or financial accumulation
        presentment that cannot be processed as instructed (for example, is undeliverable
        and cancelled or the acquirer timed out waiting for a response).
      properties:
        hdr:
          $ref: '#/components/schemas/msgreversalinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationReversalInitiation1'
      type: object
    initiationSaleContext7:
      description: Context of the sale associated with the card payment transaction.
      properties:
        saleId:
          type: string
          description: Identification of the sale terminal (electronic cash register
            or point of sale terminal) or the sale system.
          example: XXX23427342732
        saleRefId:
          type: string
          description: An identifier of the transaction in the sale system, such as
            a concatenation of the transaction ID and other information that can distinguish
            the transaction across stores, such as a store number.
          example: XXX23427231732
        saleRefNb:
          type: string
          description: An identifier of the transaction in the sale system.
          example: SLE23427342732
        goodsAndSvcsTp:
          $ref: '#/components/schemas/initiationGoodsAndServices1Code'
        goodAndSvcsSubTp:
          $ref: '#/components/schemas/initiationGoodsAndServicesSubType1Code'
        goodAndSvcsOthrSubTp:
          type: string
          description: The free-text element further identifying if the transaction
            was for financial instruments.
          example: othergoodsandservices
        spltPmtInd:
          type: boolean
          description: The indicator that the transaction is a partial payment and
            the full amount was paid with multiple payment methods.
          example: "TRUE"
      type: object
    initiationSecurityCharacteristics1Code:
      default: SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
      description: |-
        Security characteristics of the communication link.

         - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED: Default
         - SECURITY_CHARACTERISTICS1_CODE_AETE: Encryption initiated by the acquirer to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_APTE: Encryption initiated by the acquirer to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CENC: Encryption used to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CETE: Encryption initiated by the cardholder to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_CMAC: Usage of MAC to secure a communication channel
         - SECURITY_CHARACTERISTICS1_CODE_CPTE: Encryption initiated by the cardholder to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_ETEE: Encryption used from one end to the other end of the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_METE: Encryption initiated by the merchant to secure end-to-end communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_MPTE: Encryption initiated by the merchant to secure point-to-point communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_OPNN: Open network
         - SECURITY_CHARACTERISTICS1_CODE_OTHN: Other security characteristics defined at national level
         - SECURITY_CHARACTERISTICS1_CODE_OTHP: Other security characteristics defined at private level
         - SECURITY_CHARACTERISTICS1_CODE_PKIE: Encryption using PKI to secure the communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PMAC: MAC used in a pass-through communication mode
         - SECURITY_CHARACTERISTICS1_CODE_PRAE: Encryption using a private algorithm to secure a communication channel.
         - SECURITY_CHARACTERISTICS1_CODE_PRAM: Private algorithm used for MAC.
         - SECURITY_CHARACTERISTICS1_CODE_PRVN: Private network.
         - SECURITY_CHARACTERISTICS1_CODE_STAM: Standard algorithm used for MAC
      enum:
        - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
        - SECURITY_CHARACTERISTICS1_CODE_AETE
        - SECURITY_CHARACTERISTICS1_CODE_APTE
        - SECURITY_CHARACTERISTICS1_CODE_CENC
        - SECURITY_CHARACTERISTICS1_CODE_CETE
        - SECURITY_CHARACTERISTICS1_CODE_CMAC
        - SECURITY_CHARACTERISTICS1_CODE_CPTE
        - SECURITY_CHARACTERISTICS1_CODE_ETEE
        - SECURITY_CHARACTERISTICS1_CODE_METE
        - SECURITY_CHARACTERISTICS1_CODE_MPTE
        - SECURITY_CHARACTERISTICS1_CODE_OPNN
        - SECURITY_CHARACTERISTICS1_CODE_OTHN
        - SECURITY_CHARACTERISTICS1_CODE_OTHP
        - SECURITY_CHARACTERISTICS1_CODE_PKIE
        - SECURITY_CHARACTERISTICS1_CODE_PMAC
        - SECURITY_CHARACTERISTICS1_CODE_PRAE
        - SECURITY_CHARACTERISTICS1_CODE_PRAM
        - SECURITY_CHARACTERISTICS1_CODE_PRVN
        - SECURITY_CHARACTERISTICS1_CODE_STAM
      type: string
    initiationTransactionContext4:
      properties:
        mrchntCtgyCd:
          type: string
          description: The ISO 18245 code identifying the type of goods or services
            generally provided by the Acceptor, which is used to drive transaction
            processing logic.
          example: 5542
        dfrrdDlvryInd:
          type: boolean
          description: Indicates whether the delivery of good ordered will be deferred.
          example: "TRUE"
        txInitr:
          $ref: '#/components/schemas/msgreversalinitiationTransactionInitiator1Code'
        cardPrgrmm:
          $ref: '#/components/schemas/msgreversalinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/msgreversalinitiationSettlementService1'
        rcncltn:
          $ref: '#/components/schemas/msgreversalinitiationReconciliation3'
        captrDt:
          type: string
          description: The date the transaction was completed and captured.
          example: 2022-02-22
      type: object
      description: Context of the card payment transaction
    msgauthorisationinitiationAccountDetails2:
      properties:
        acctTp:
          type: string
          description: The code identifying the kind of account to/from which funds
            were sent.
          example: DFLT
        acctId:
          type: string
          description: An identifier of the account to/from which funds were transferred.
          example: 10105556
      type: object
      description: Details of a bank account
    msgauthorisationinitiationAdditionalAmounts1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount12Code'
        othrTp:
          type: string
          description: The code identifying the type of an Additional Amount when
            the Additional Amount Type is "OTHN" or "OTHP," which indicate a national,
            network, or customer specific value.
          example: ledger_balance
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount14'
      type: object
      description: Amounts that are not part of the transaction amount and not included
        in reconciliation.  ISO 8583 bit 54
    msgauthorisationinitiationAdditionalData1:
      properties:
        tp:
          type: string
          description: A free text field for labeling the Transaction Additional Data
            given in the Transaction Additional Data Value.
          example: cvc2_value
        val:
          type: string
          description: A free text field the Transaction Additional Data that is labeled
            by the Transaction Additional Data Name.
          example: M
      type: object
      description: Information sent in the request message to be returned in the response
        one, for instance to help in the retrieval of the context of the exchange.  ISO
        8583:93/2003 bit 59
    msgauthorisationinitiationAdditionalFee1:
      description: Fees not included in the transaction.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount10Code'
        othrTp:
          type: string
          description: The code identifying the type of additional fee.
          example: spain_atm_credit_card_fee
        feePrgm:
          type: string
          description: The Identification of fee program to which this fee belongs.
          example: INCENT
        feeDscrptr:
          type: string
          description: The Identification of the specific fee applied.
          example: INCENT-001
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationFeeAmount2'
        labl:
          type: string
          description: A summary label that indicates the Additional Fee applied.
          example: INCENTIVE FEE 001
      type: object
    msgauthorisationinitiationAdditionalRiskData1:
      description: Additional risk data associated with the transaction.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Additional Risk Assessment
            Data given in the Additional Risk Assessment Data Value.
          example: pos_transaction_security
        val:
          type: string
          description: A free text field for the Risk Assessment Additional that is
            labeled by the Additional Risk Assessment Data Name.
          example: 123456
      type: object
    msgauthorisationinitiationAdditionalService1:
      description: Additional functions or services to be performed in conjunction
        with the transaction.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationAdditionalServiceType1Code'
        othrTp:
          type: string
          description: A label identifying an additional service applied to the transaction
            when the Additional Service Type Code is "OTHN" or "OTHP," which indicate
            a national, network, or customer specific value.
          example: 01
      type: object
    msgauthorisationinitiationAdditionalServiceType1Code:
      default: ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of additional service.

         - ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED: Default
         - ADDITIONAL_SERVICE_TYPE1_CODE_CACT: Card activation
         - ADDITIONAL_SERVICE_TYPE1_CODE_CSHB: Purchase of goods or services with cashback
         - ADDITIONAL_SERVICE_TYPE1_CODE_DCCV: Dynamic Currency Conversion (DCC)
         - ADDITIONAL_SERVICE_TYPE1_CODE_INTP: Instant payment from a cardholder's account to an acceptor's account
         - ADDITIONAL_SERVICE_TYPE1_CODE_INTT: Instant transfer of funds from a payer's account to a payee's account.
         - ADDITIONAL_SERVICE_TYPE1_CODE_LOYT: Loyalty services
         - ADDITIONAL_SERVICE_TYPE1_CODE_OTHN: Other type of additional service at national level
         - ADDITIONAL_SERVICE_TYPE1_CODE_OTHP: Other type of additional service at private level
         - ADDITIONAL_SERVICE_TYPE1_CODE_PRST: Withdrawal transaction was pre-authorised by another channel (amount could be absent).
      enum:
        - ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
        - ADDITIONAL_SERVICE_TYPE1_CODE_CACT
        - ADDITIONAL_SERVICE_TYPE1_CODE_CSHB
        - ADDITIONAL_SERVICE_TYPE1_CODE_DCCV
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTP
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTT
        - ADDITIONAL_SERVICE_TYPE1_CODE_LOYT
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHN
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHP
        - ADDITIONAL_SERVICE_TYPE1_CODE_PRST
      type: string
    msgauthorisationinitiationAddress1:
      description: Structured postal address.
      properties:
        adrLine1:
          type: string
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        pstlCd:
          type: string
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMjr:
          type: string
          description: The code identifying the state, province or other country subdivision
            in the Cardholder's billing address.
          example: MO
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
    msgauthorisationinitiationAmount4:
      description: Amount, currency, exchange rate and quotation date.
      properties:
        amt:
          type: string
          description: The amount that will be posted to the Cardholder's account.
            This is present when the Cardholder billing currency differs from the
            transaction currency expressed in the amount of the transaction.
          example: 1134
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Cardholder
            Billing Amount.
          example: 840
        xchgRate:
          type: string
          description: The exchange rate used to convert the Transaction Amount to
            the Cardholder Billing Amount.
          example: 1
        qtnDt:
          description: The date of the quote for the Cardholder Billing Amount Exchange
            Rate.
          example: 2022-04-12T15:24:16.545z
          type: string
      type: object
    msgauthorisationinitiationAmount5:
      properties:
        amt:
          type: string
          description: An amount that is a portion of the Transaction Amount, such
            as a fee or cashback, expressed in the Transaction Currency.
          example: 2000.00
        sgn:
          type: boolean
          description: The code identifying whether the Breakdown Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Signed amount in a given numeric currency
    msgauthorisationinitiationAmount14:
      properties:
        amt:
          type: string
          description: An amount that is not part of the Transaction Amount.
          example: 5000.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Amount.
          example: 840
        sgn:
          type: boolean
          description: The code identifying whether an Additional Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Signed amount in a given currency
    msgauthorisationinitiationApprovalData1:
      description: Data pertaining to the approval of the transaction.
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalEntity1'
        apprvlCd:
          type: string
          description: The code sent by the Issuer indicating that the authorization
            was approved or that the message was successfully processed.
          example: 564643
      type: object
    msgauthorisationinitiationApprovalEntity1:
      description: Entity that has delivered or declined the card payment authorisation
        (the party may be unidentified).
      properties:
        id:
          type: string
          description: The assigned identifier of the Party that performed the approval.
          example: 543453
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType26Code'
      type: object
    msgauthorisationinitiationCapabilities1:
      description: Capabilities of the terminal.
      properties:
        cardRdngCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
          type: array
          description: The code(s) identifying the method the Terminal supports for
            entering Card data, such as via a magnetic stripe or a chip.  If this
            field specifies a national or network-specific value ("OTHN" or "OTHP"),
            a more specific value may be required in Terminal Card Data Input Capability
            (Other).
          example: OTHP
        othrCardRdngCpblties:
          items:
            type: string
          type: array
          description: A free text field for identifying a method the Terminal can
            use to write to a Card when the Card Writing Capability Code is "OTHN"
            or "OTHP," which indicate a national, network, or customer specific value.
          example: Key_magstripe_emv
        cardWrtgCpblties:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataWriting1Code'
          type: array
          description: The code(s) identifying the method the Terminal can use to
            write to a Card, such as a magnetic stripe or a chip.  If this field specifies
            a national or network-specific value ("OTHN" or "OTHP"), a more specific
            value may be required in Terminal Card Writing Capability (Other).
          example: MGST
        othrCardWrtgCpblties:
          items:
            type: string
          type: array
          description: A free text field for identifying a method the Terminal can
            use to write to a Card when the Card Writing Capability Code is "OTHN"
            or "OTHP," which indicate a national, network, or customer specific value.
          example: other_type
        pinLngthCpblties:
          type: string
          description: The maximum number of digits the Terminal can accept when a
            Cardholder enters their PIN.
          example: 04
        pinPadInprtv:
          type: boolean
          description: The indicator that the Terminal has a PIN pad that is not working.
          example: "TRUE"
        cardCaptrCpbl:
          type: boolean
          description: The indicator that the Terminal can retain a Card if instructed
            to do so in an Authorization Response.
          example: "TRUE"
        crdhldrVrfctnCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapabilities1'
          type: array
          description: Cardholder verification capabilities performing the transaction
            at the point of service. ISO 8583:93 bit 22-2, ISO 8583:2003 bit 27-2
      type: object
    msgauthorisationinitiationCardData1:
      description: Non-protected sensitive data associated with the card or payment
        token performing the transaction.
      properties:
        pan:
          type: string
          description: The unique sequence of numbers assigned by the Issuer to the
            Cardholder account that identifies the Issuer and type of Card, or a surrogate
            of the PAN such as a payment token.
          example: 5123451234567890
        cardSeqNb:
          type: string
          description: The number that distinguishes the Card from another with the
            same PAN.
          example: 001
        xpryDt:
          type: string
          description: The year and month after which the Card is no longer valid.
            It is designated by the Issuer and is embossed and encoded on the Card.
          example: 2302
        trck1:
          type: string
          description: The information encoded on Track 1 of the Card's magnetic stripe
            according to the ISO 7813 specification.
          example: B1111111111111111^TRACK1^251212301111111111
        trck2:
          $ref: '#/components/schemas/msgauthorisationinitiationTrack2Data1Choice'
        pmtAcctRef:
          type: string
          description: The identifier assigned to the PAN and used to link payment
            tokens associated with that PAN.
          example: 1234ABCDEF123456789987654321
        cardPdctTp:
          type: string
          description: The code identifying the product associated with the Card.
          example: MAB
        addtlCardData:
          type: string
          description: The code identifying the kind of special processing the Card
            qualifies for, which is defined at the individual account level and may
            be associated with a benefit offered by the issuer.
          example: A
      type: object
    msgauthorisationinitiationCardDataReading7Code:
      default: CARD_DATA_READING7_CODE_UNSPECIFIED
      description: |-
        - CARD_DATA_READING7_CODE_UNSPECIFIED: Default
         - CARD_DATA_READING7_CODE_CDFL: Card information are stored on a file.
         - CARD_DATA_READING7_CODE_ICCY: ICC contact capability
         - CARD_DATA_READING7_CODE_ICPY: ICC contactless proximity
         - CARD_DATA_READING7_CODE_KEEN: Key entered.
         - CARD_DATA_READING7_CODE_MGST: Magnetic stripe.
         - CARD_DATA_READING7_CODE_MICR: Recognition of magnetic ink characters
         - CARD_DATA_READING7_CODE_MLEY: Manual, no terminal used.
         - CARD_DATA_READING7_CODE_MSIP: Magstripe image contactless proximity
         - CARD_DATA_READING7_CODE_OCRR: OCR either at time of transaction or after the event.
         - CARD_DATA_READING7_CODE_OPTC: Optical coded reading capabilities (e.g. barcode, QR code, etc.)
         - CARD_DATA_READING7_CODE_OTHN: Other national capability type assigned at national level.
         - CARD_DATA_READING7_CODE_OTHP: Other card reading capability assigned on a private basis.
         - CARD_DATA_READING7_CODE_RFID: Radio Frequency Identification tag capabilities.
         - CARD_DATA_READING7_CODE_UNSP: Unspecified capability.
      enum:
        - CARD_DATA_READING7_CODE_UNSPECIFIED
        - CARD_DATA_READING7_CODE_CDFL
        - CARD_DATA_READING7_CODE_ICCY
        - CARD_DATA_READING7_CODE_ICPY
        - CARD_DATA_READING7_CODE_KEEN
        - CARD_DATA_READING7_CODE_MGST
        - CARD_DATA_READING7_CODE_MICR
        - CARD_DATA_READING7_CODE_MLEY
        - CARD_DATA_READING7_CODE_MSIP
        - CARD_DATA_READING7_CODE_OCRR
        - CARD_DATA_READING7_CODE_OPTC
        - CARD_DATA_READING7_CODE_OTHN
        - CARD_DATA_READING7_CODE_OTHP
        - CARD_DATA_READING7_CODE_RFID
        - CARD_DATA_READING7_CODE_UNSP
      type: string
    msgauthorisationinitiationCardDataWriting1Code:
      default: CARD_DATA_WRITING1_CODE_UNSPECIFIED
      description: |-
        - CARD_DATA_WRITING1_CODE_UNSPECIFIED: Default
         - CARD_DATA_WRITING1_CODE_ICCY: ICC contact capability
         - CARD_DATA_WRITING1_CODE_ICPY: ICC contactless proximity
         - CARD_DATA_WRITING1_CODE_MGST: Magnetic stripe.
         - CARD_DATA_WRITING1_CODE_MSIP: Magstripe image contactless proximity
         - CARD_DATA_WRITING1_CODE_OTHN: Other national capability type assigned at national level.
         - CARD_DATA_WRITING1_CODE_OTHP: Other card reading capability assigned on a private basis.
         - CARD_DATA_WRITING1_CODE_UNSP: Unspecified capability.
      enum:
        - CARD_DATA_WRITING1_CODE_UNSPECIFIED
        - CARD_DATA_WRITING1_CODE_ICCY
        - CARD_DATA_WRITING1_CODE_ICPY
        - CARD_DATA_WRITING1_CODE_MGST
        - CARD_DATA_WRITING1_CODE_MSIP
        - CARD_DATA_WRITING1_CODE_OTHN
        - CARD_DATA_WRITING1_CODE_OTHP
        - CARD_DATA_WRITING1_CODE_UNSP
      type: string
    msgauthorisationinitiationCardProgramme1:
      description: Card programme or brand related to the transaction.
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/msgauthorisationinitiationCardProgrammeMode1'
      type: object
    msgauthorisationinitiationCardProgrammeMode1:
      properties:
        id:
          type: string
          description: The code identifying the Card Processing Program used for the
            transaction.
          example: CRI
      type: object
      description: Card programme or brand actually applied to the transaction.  ISO
        8583:87 bit 24
    msgauthorisationinitiationCardholder15:
      description: Unprotected sensitive detailed information about the cardholder.
      properties:
        crdhldrNm:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderName1'
        id:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
          description: Identification of the cardholder.  ISO 8583:87 bit 56 (TLV
            tag 03/dataset 73) ISO 8583:93 bit 112 (TLV tag 03/dataset 73) ISO 8583:2003
            bit 51 (TLV tag 03/dataset 73)
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        ctctInf:
          $ref: '#/components/schemas/msgauthorisationinitiationContact1'
      type: object
    msgauthorisationinitiationCardholderName1:
      description: Complete name of the cardholder.
      properties:
        gvnNm:
          type: string
          description: The given name of the Cardholder.
          example: Robert
        mddlInitls:
          type: string
          description: The initial of the Cardholder's middle name.
          example: J
        lastNm:
          type: string
          description: The family name of the Cardholder.
          example: Williams
      type: object
    msgauthorisationinitiationCardholderVerificationCapabilities1:
      properties:
        cpblty:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapability5Code'
        othrCpblty:
          type: string
          description: A free text field for identifying a method the Terminal can
            use for Cardholder verification when the Terminal Cardholder Verification
            Capability Code is "OTHN" or "OTHP," which indicate a national, network,
            or customer specific value.
          example: mpos_software_based
      type: object
      description: Cardholder verification capabilities performing the transaction
        at the point of service.  ISO 8583:87 bit 22-3, ISO 8583;93 bit 22-2, ISO
        8583:2003 bit 27-2
    msgauthorisationinitiationCardholderVerificationCapability5Code:
      default: CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
      description: |-
        Capability of verifying the cardholder's identity or authenticity.

         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED: Default
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NOPN: Device has no pin entry capability.
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NPIN: Online PIN (Personal Identification Number).
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_OTHP: Other type of cardholder verification defined in a private manner.
         - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSP: Cardholder verification capability unspecified.
      enum:
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NOPN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NPIN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_OTHP
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSP
      type: string
    msgauthorisationinitiationContact1:
      description: Contact person details.
      properties:
        homePhneNb:
          type: string
          description: A home phone number of the Cardholder.
          example: +16352417439
        bizPhneNb:
          type: string
          description: A business phone number of the Cardholder.
          example: +18743629199
        mobPhneNb:
          type: string
          description: A mobile phone number of the Cardholder.
          example: +17632910623
        prsnlEmailAdr:
          type: string
          description: A personal email address of the Cardholder.
          example: username@domain.com
        bizEmailAdr:
          type: string
          description: A business email address of the Cardholder.
          example: username@domain.com
      type: object
    msgauthorisationinitiationContext1:
      description: Context in which the card payment transaction is performed.
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionContext1'
        vrfctn:
          description: Contain validation result and/or data to be validated.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationVerification1'
          type: array
        rskCntxt:
          description: Context of risk associated with the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskContext1'
          type: array
        saleCntxt:
          $ref: '#/components/schemas/initiationSaleContext7'
      type: object
    msgauthorisationinitiationCredentials1:
      description: Contains credential information.
      properties:
        idCd:
          $ref: '#/components/schemas/msgauthorisationinitiationIdentification2Code'
        othrIdCd:
          type: string
          description: A free text field for identifying a classification of the Cardholder
            ID when the Cardholder ID Type Code is "OTHN" or "OTHP," which indicate
            a national, network, or customer specific value.
          example: identification_number
        idVal:
          type: string
          description: An identifier of the Cardholder, where the kind of ID, such
            as a passport or driver's license number, is specified by the Cardholder
            ID Type Code.
          example: GB99-WJ9027828
      type: object
    msgauthorisationinitiationCustomer3:
      description: Identifies the customer in a transfer of money.
      properties:
        cstmrId:
          type: string
          description: The identifier of the Payer assigned by the Payer's financial
            institution.
          example: ABCDEF123456789
        nm:
          type: string
          description: The full name of the Payee.
          example: Robert Williams
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        crdntls:
          description: Credentials of the financial customer.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
        dtOfBirth:
          type: string
          description: The birth date of the Payee.
          example: 1997-08-22
      type: object
    msgauthorisationinitiationCustomerDevice2:
      description: Details of the customer device.
      properties:
        dvc:
          $ref: '#/components/schemas/msgauthorisationinitiationDevice1'
      type: object
    msgauthorisationinitiationCustomerDeviceType1Code:
      default: CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of customer device.

         - CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED: Default
         - CUSTOMER_DEVICE_TYPE1_CODE_MOBL: Mobile phone
         - CUSTOMER_DEVICE_TYPE1_CODE_NSCR: Non-secure card reader attached to the customer device.
         - CUSTOMER_DEVICE_TYPE1_CODE_OTHN: Other device defined at national level
         - CUSTOMER_DEVICE_TYPE1_CODE_OTHP: Other device defined in a private way.
         - CUSTOMER_DEVICE_TYPE1_CODE_PECR: Personal computer
         - CUSTOMER_DEVICE_TYPE1_CODE_SECR: Secure card reader attached to the customer device
         - CUSTOMER_DEVICE_TYPE1_CODE_TBLT: Tablet
      enum:
        - CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
        - CUSTOMER_DEVICE_TYPE1_CODE_MOBL
        - CUSTOMER_DEVICE_TYPE1_CODE_NSCR
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHN
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHP
        - CUSTOMER_DEVICE_TYPE1_CODE_PECR
        - CUSTOMER_DEVICE_TYPE1_CODE_SECR
        - CUSTOMER_DEVICE_TYPE1_CODE_TBLT
      type: string
    msgauthorisationinitiationDetailAmount1Code:
      default: DETAIL_AMOUNT1_CODE_UNSPECIFIED
      description: |-
        Type of detail amount.

         - DETAIL_AMOUNT1_CODE_UNSPECIFIED: Default
         - DETAIL_AMOUNT1_CODE_DCCF: Dynamic Currency Conversion type of amount
         - DETAIL_AMOUNT1_CODE_SRCH: Fee charged by the acceptor for the transaction.
      enum:
        - DETAIL_AMOUNT1_CODE_UNSPECIFIED
        - DETAIL_AMOUNT1_CODE_DCCF
        - DETAIL_AMOUNT1_CODE_SRCH
      type: string
    msgauthorisationinitiationDetailedAmount19:
      description: Breakdown of the transaction amount.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationDetailAmount1Code'
        othrTp:
          type: string
          description: The code identifying the classification of the Breakdown Amount
            when the Breakdown Amount Type is "OTHN" or "OTHP," which indicate a national,
            network, or customer specific value.
          example: partial_reversal_amounts
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
      type: object
    msgauthorisationinitiationDevice1:
      description: Identification of the customer device.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDeviceType1Code'
      type: object
    msgauthorisationinitiationEnvironment1:
      description: Environment of the transaction.
      properties:
        acqrr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msgauthorisationinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msgauthorisationinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgauthorisationinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholder15'
      type: object
    msgauthorisationinitiationFeeAmount2:
      description: Amount, currency, exchange rate and quotation date, sign and label.
      properties:
        amt:
          type: string
          description: The amount of the Additional Fee.
          example: 50.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Fee Amount.
          example: 840
        xchgRate:
          type: string
          description: The exchange rate used to convert the Fee Amount to the Cardholder's
            Billing Currency.
          example: 9.975453
        qtnDt:
          type: string
          description: The date of the quote for the Additional Fee Exchange Rate.
          example: 2022-04-12T15:24:16.545z
        sgn:
          type: boolean
          description: The code identifying whether an Additional Fee is a credit
            or debit.
          example: PLUS
      type: object
    msgauthorisationinitiationFundingService1:
      description: Funds related service such as a payment or a transfer related to
        the transaction.
      properties:
        fndgSvc:
          $ref: '#/components/schemas/msgauthorisationinitiationTransferService1'
        fndgSrc:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSource2'
      type: object
    msgauthorisationinitiationFundingSource2:
      properties:
        srcTp:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSourceType2Code'
        othrSrcTp:
          type: string
          description: A free text field for identifying the source of funds for the
            Funds Transfer when the Funds Transfer Source Code is "OTHN" or "OTHP,"
            which indicate a national, network, or customer specific value.
          example: mobile_money
      type: object
      description: Source of funding
    msgauthorisationinitiationFundingSourceType2Code:
      default: FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
      description: |-
        Type of funding source used for a financial service.

         - FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED: Default
         - FUNDING_SOURCE_TYPE2_CODE_CASH: Cash as a source type  to perform the transaction.
         - FUNDING_SOURCE_TYPE2_CODE_CDBT: Debit card account.
         - FUNDING_SOURCE_TYPE2_CODE_CHQE: Cheque
         - FUNDING_SOURCE_TYPE2_CODE_CRDT: Credit card account.
         - FUNDING_SOURCE_TYPE2_CODE_CURR: Current account.
         - FUNDING_SOURCE_TYPE2_CODE_DBAC: Account for debiting funds.
         - FUNDING_SOURCE_TYPE2_CODE_EPRS: Electronic purse card account.
         - FUNDING_SOURCE_TYPE2_CODE_LCDT: Line of credit account.
         - FUNDING_SOURCE_TYPE2_CODE_LOYL: Loyalty points converted into cash
         - FUNDING_SOURCE_TYPE2_CODE_OTHN: Other type of account defined at national level.
         - FUNDING_SOURCE_TYPE2_CODE_OTHP: Other type of account defined at private level.
         - FUNDING_SOURCE_TYPE2_CODE_PRPD: Pre-paid account.
         - FUNDING_SOURCE_TYPE2_CODE_SVNG: Savings account.
         - FUNDING_SOURCE_TYPE2_CODE_UVRL: Universal account.
      enum:
        - FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
        - FUNDING_SOURCE_TYPE2_CODE_CASH
        - FUNDING_SOURCE_TYPE2_CODE_CDBT
        - FUNDING_SOURCE_TYPE2_CODE_CHQE
        - FUNDING_SOURCE_TYPE2_CODE_CRDT
        - FUNDING_SOURCE_TYPE2_CODE_CURR
        - FUNDING_SOURCE_TYPE2_CODE_DBAC
        - FUNDING_SOURCE_TYPE2_CODE_EPRS
        - FUNDING_SOURCE_TYPE2_CODE_LCDT
        - FUNDING_SOURCE_TYPE2_CODE_LOYL
        - FUNDING_SOURCE_TYPE2_CODE_OTHN
        - FUNDING_SOURCE_TYPE2_CODE_OTHP
        - FUNDING_SOURCE_TYPE2_CODE_PRPD
        - FUNDING_SOURCE_TYPE2_CODE_SVNG
        - FUNDING_SOURCE_TYPE2_CODE_UVRL
      type: string
    msgauthorisationinitiationGenericIdentification172:
      description: Identification of an entity.
      properties:
        id:
          type: string
          description: The identifier of a Message Exchange Initiator.
          example: 012345
      type: object
    msgauthorisationinitiationHeader42:
      description: Set of characteristics related to the protocol.
      properties:
        msgFctn:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageFunction16Code'
        prtcolVrsn:
          type: string
          description: The version of the Mastercard Switch Platform Specifications.
          example: 00.00.00
        xchgId:
          type: string
          description: The identifier of a set of messages exchanged between two parties,
            usually an Acquirer and an Issuer.
          example: b9eaea6d-04aa-44c0-9a36-421ae6410108
        creDtTm:
          type: string
          description: The date and time the message was created.
          example: 2022-04-12T15:24:16.545z
        initgPty:
          $ref: '#/components/schemas/msgauthorisationinitiationGenericIdentification172'
        tracData:
          description: 'Private-use data defined by the message originator to be returned
            unaltered in any subsequent message.  The data is sent in a name-value
            pair: Trace Data Name and Trace Data Value.'
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
    msgauthorisationinitiationIdentification2Code:
      default: IDENTIFICATION2_CODE_UNSPECIFIED
      description: |-
        Identification of an individual.

         - IDENTIFICATION2_CODE_UNSPECIFIED: Default
         - IDENTIFICATION2_CODE_ARNB: Alien registration number.
         - IDENTIFICATION2_CODE_DRID: Driver licence identification.
         - IDENTIFICATION2_CODE_EMAL: E-mail.
         - IDENTIFICATION2_CODE_NTID: National identification.
         - IDENTIFICATION2_CODE_OTHN: Other identification assigned at national level.
         - IDENTIFICATION2_CODE_OTHP: Other identification provided at private level.
         - IDENTIFICATION2_CODE_PASS: Passport number.
         - IDENTIFICATION2_CODE_PHNB: Phone number.
         - IDENTIFICATION2_CODE_SSYN: Social security number.
      enum:
        - IDENTIFICATION2_CODE_UNSPECIFIED
        - IDENTIFICATION2_CODE_ARNB
        - IDENTIFICATION2_CODE_DRID
        - IDENTIFICATION2_CODE_EMAL
        - IDENTIFICATION2_CODE_NTID
        - IDENTIFICATION2_CODE_OTHN
        - IDENTIFICATION2_CODE_OTHP
        - IDENTIFICATION2_CODE_PASS
        - IDENTIFICATION2_CODE_PHNB
        - IDENTIFICATION2_CODE_SSYN
      type: string
    msgauthorisationinitiationLifeCycleSupport1Code:
      default: LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
      description: |-
        Indicates the point in the transaction lifecycle at which the lifecycle identifier was assigned.

         - LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED: Default
         - LIFE_CYCLE_SUPPORT1_CODE_AUTH: Assigned at authorisation time.
         - LIFE_CYCLE_SUPPORT1_CODE_FINC: Assigned at financial time.
      enum:
        - LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
        - LIFE_CYCLE_SUPPORT1_CODE_AUTH
        - LIFE_CYCLE_SUPPORT1_CODE_FINC
      type: string
    msgauthorisationinitiationMessageClass1Code:
      default: MESSAGE_CLASS1_CODE_UNSPECIFIED
      description: |-
        Identifies a class of messages with the same high level function.

         - MESSAGE_CLASS1_CODE_UNSPECIFIED: Default
         - MESSAGE_CLASS1_CODE_ADDE: Addendum class of messages.
         - MESSAGE_CLASS1_CODE_AMDT: Amendment class of messages.
         - MESSAGE_CLASS1_CODE_AUTH: Authorisation class of messages.
         - MESSAGE_CLASS1_CODE_CBCK: Charge back class of messages.
         - MESSAGE_CLASS1_CODE_CMGT: Card management class of messages.
         - MESSAGE_CLASS1_CODE_FEEC: Fee collection class of messages.
         - MESSAGE_CLASS1_CODE_FINL: Financial class of messages.
         - MESSAGE_CLASS1_CODE_INQY: Inquiry class of messages.
         - MESSAGE_CLASS1_CODE_VERI: Verification class of messages.
      enum:
        - MESSAGE_CLASS1_CODE_UNSPECIFIED
        - MESSAGE_CLASS1_CODE_ADDE
        - MESSAGE_CLASS1_CODE_AMDT
        - MESSAGE_CLASS1_CODE_AUTH
        - MESSAGE_CLASS1_CODE_CBCK
        - MESSAGE_CLASS1_CODE_CMGT
        - MESSAGE_CLASS1_CODE_FEEC
        - MESSAGE_CLASS1_CODE_FINL
        - MESSAGE_CLASS1_CODE_INQY
        - MESSAGE_CLASS1_CODE_VERI
      type: string
    msgauthorisationinitiationMessageFunction16Code:
      default: MESSAGE_FUNCTION16_CODE_UNSPECIFIED
      description: |-
        - MESSAGE_FUNCTION16_CODE_UNSPECIFIED: Default
         - MESSAGE_FUNCTION16_CODE_ADVC: Advice indicates where the sender informs the receiver of an activity that has been taken that requires a response.
         - MESSAGE_FUNCTION16_CODE_REQU: Message function is a request.
      enum:
        - MESSAGE_FUNCTION16_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION16_CODE_ADVC
        - MESSAGE_FUNCTION16_CODE_REQU
      type: string
    msgauthorisationinitiationOriginalDataElements1:
      description: Data elements contained in the original message. ISO 8583:1987
        bit 90 and ISO 8583 1993/2003 bit 56.
      properties:
        msgClss:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageClass1Code'
        acqrrId:
          type: string
          description: The Acquirer ID sent in the original message.
          example: 012345
        sndrId:
          type: string
          description: The Message Sender ID sent in the original message.
          example: 012345
        lclDtTm:
          description: The Transaction Date Time (Local) of the original message,
            which is the local date and time at which the transaction took place at
            the point of interaction.
          example: 2022-04-12T15:24:16.545z
          type: string
        trnsmssnDtTm:
          description: The date and time that the original message was sent to the
            Mastercard Switch Platform, expressed in Coordinated Universal Time (UTC).
          example: 2022-04-12T15:24:16.545z
          type: string
        sysTracAudtNb:
          type: string
          description: An identifier of the transaction assigned by the message originator.
          example: 123456
        rtrvlRefNb:
          type: string
          description: The Retrieval Reference Number of the original message, which
            is an identifier of the transaction source document generated by the system
            retaining it, such as a receipt in an acceptor point-of-sale system.
          example: 22200012345
        lifeCyclSpprt:
          $ref: '#/components/schemas/msgauthorisationinitiationLifeCycleSupport1Code'
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionLifeCycleIdentification1'
      type: object
    msgauthorisationinitiationPartyIdentification197:
      description: Identification of a party.
      properties:
        id:
          type: string
          description: The identifier assigned by Mastercard to the Party.
          example: 001727
        addtlId:
          type: string
          description: An additional identifier of the Party, such as a processor's
            pseudo ICA.
          example: 012345
      type: object
    msgauthorisationinitiationPartyIdentification200:
      description: Identification of a party.
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType28Code'
      type: object
    msgauthorisationinitiationPartyIdentification203:
      description: Identification of a party.
      properties:
        id:
          type: string
          description: The identifier assigned by the Acquirer to the Acceptor and
            its location, or to the Payment Facilitator.
          example: ABC123DEF456GHI
        addtlId:
          type: string
          description: The identifier assigned by Mastercard to the Acceptor.
          example: 012345
        nmAndLctn:
          type: string
          description: The name of the Acceptor that should be recognizable by the
            Cardholder and may include other descriptors, such as a store number.
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        email:
          type: string
          description: The email address of the Acceptor that can be used for transaction
            inquiries.
          example: username@domain.com
        urlAdr:
          type: string
          description: The web address of the Acceptor.
          example: http://mastercard.com
        phneNb:
          type: string
          description: The business phone number of the Acceptor, if different from
            the Acceptor Customer Service Phone Number.
          example: +12243487234
        cstmrSvc:
          type: string
          description: The phone number of the Acceptor that can be used for transaction
            inquiries.
          example: +18006453456
        addtlCtctInf:
          type: string
          description: Additional information for contacting the Acceptor, such as
            an additional phone number or a contact name.
          example: +18006453456
        taxRegnId:
          type: string
          description: The identifier of the Acceptor issued by a taxation authority.
          example: ABC53645326
        addtlData:
          description: 'Additional data about or related to the Acceptor, such as
            the Payment Facilitator ID.  The data is sent in a name-value pair: Acceptor
            Additional Data Name and Acceptor Additional Data Value.'
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
        spnsrdMrchnt:
          description: Sponsored merchant is a merchant that uses the payment services
            of another entity that acts as the card acceptor.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSponsoredMerchant1'
          type: array
      type: object
    msgauthorisationinitiationPartyIdentification211:
      description: Identification of a party.
      properties:
        cstmr:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomer3'
      type: object
    msgauthorisationinitiationPartyType26Code:
      default: PARTY_TYPE26_CODE_UNSPECIFIED
      description: |-
        Type of entity acting as a Payment Initiation Service Provider.

         - PARTY_TYPE26_CODE_UNSPECIFIED: Default
         - PARTY_TYPE26_CODE_ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - PARTY_TYPE26_CODE_ACQR: Entity acquiring card transactions.
         - PARTY_TYPE26_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - PARTY_TYPE26_CODE_CISS: Party that issues cards.
         - PARTY_TYPE26_CODE_DLIS: Party to whom the card issuer delegates to authorise card payment transactions.
         - PARTY_TYPE26_CODE_ICCA: Application in the smart card.
         - PARTY_TYPE26_CODE_OTHN: Other card payment entity type defined at national level
         - PARTY_TYPE26_CODE_OTHP: Other card payment entity type defined at private level
      enum:
        - PARTY_TYPE26_CODE_UNSPECIFIED
        - PARTY_TYPE26_CODE_ACCP
        - PARTY_TYPE26_CODE_ACQR
        - PARTY_TYPE26_CODE_AGNT
        - PARTY_TYPE26_CODE_CISS
        - PARTY_TYPE26_CODE_DLIS
        - PARTY_TYPE26_CODE_ICCA
        - PARTY_TYPE26_CODE_OTHN
        - PARTY_TYPE26_CODE_OTHP
      type: string
    msgauthorisationinitiationPartyType28Code:
      default: PARTY_TYPE28_CODE_UNSPECIFIED
      description: |-
        Type of entity involved in a card payment transaction.

         - PARTY_TYPE28_CODE_UNSPECIFIED: Default
         - PARTY_TYPE28_CODE_ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - PARTY_TYPE28_CODE_ACQR: Entity acquiring card transactions.
         - PARTY_TYPE28_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - PARTY_TYPE28_CODE_ISUR: Issuer is the entitled party.
         - PARTY_TYPE28_CODE_OTHN: Other card payment entity type defined at national level
         - PARTY_TYPE28_CODE_OTHP: Other card payment entity type defined at private level
         - PARTY_TYPE28_CODE_WLPR: Provider of an electronic wallet
      enum:
        - PARTY_TYPE28_CODE_UNSPECIFIED
        - PARTY_TYPE28_CODE_ACCP
        - PARTY_TYPE28_CODE_ACQR
        - PARTY_TYPE28_CODE_AGNT
        - PARTY_TYPE28_CODE_ISUR
        - PARTY_TYPE28_CODE_OTHN
        - PARTY_TYPE28_CODE_OTHP
        - PARTY_TYPE28_CODE_WLPR
      type: string
    msgauthorisationinitiationPointOfServiceContext1:
      description: Contains point of interaction information specific to a given transaction
        that may change from transaction to transaction.
      properties:
        cardPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Card
            physically present at the point of interaction.
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Cardholder
            present at the point of interaction.
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: The indicator that the transaction was initiated on an automated
            device operated solely by the Cardholder, such as an ATM.
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: The indicator that the transaction was initiated with a transponder.
          example: "TRUE"
        attnddInd:
          type: boolean
          description: The indicator that the transaction was initiated on a Terminal
            attended by an Acceptor representative.
          example: "TRUE"
        uattnddLvlCtgy:
          type: string
          description: The code identifying the type of Terminal used by the Cardholder
            to initiate the unattended transaction, such as a self-service Terminal.
          example: 1
        eComrcInd:
          type: boolean
          description: The indicator that the point of interaction was an ecommerce
            one.
          example: 6
        motoInd:
          type: boolean
          description: The indicator that the transaction was imitated by the Cardholder
            via mail or telephone.
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: The indicator that the Terminal supports partial approvals,
            which allows for the authorization of less than the full transaction amount
            so the Cardholder can use multiple forms of payment. code identifying
            the type of Terminal used by the Cardholder to initiate the unattended
            transaction, such as a self-service Terminal.
          example: 1
        cardDataNtryMd:
          $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: A free text field for identifying the Card data input method
            when the Terminal Card Data Input Method Code is "OTHN" or "OTHP," which
            indicate a national, network, or customer specific value.
          example: magstripe_nodata
        storgLctn:
          type: string
          description: The code identifying where the Card data is stored, such as
            on a Wallet or by the Acceptor.
          example: 04
        spclConds:
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialConditions1'
          type: array
      type: object
    msgauthorisationinitiationPriority3Code:
      default: PRIORITY3_CODE_UNSPECIFIED
      description: |-
        Specifies the priority level of an event.

         - PRIORITY3_CODE_UNSPECIFIED: Default
         - PRIORITY3_CODE_HIGH: Priority level is high.
         - PRIORITY3_CODE_NORM: Priority level is normal.
         - PRIORITY3_CODE_URGT: Priority level is urgent (highest priority possible).
      enum:
        - PRIORITY3_CODE_UNSPECIFIED
        - PRIORITY3_CODE_HIGH
        - PRIORITY3_CODE_NORM
        - PRIORITY3_CODE_URGT
      type: string
    msgauthorisationinitiationProcessingResult1:
      description: Outcome of the processing of the transaction.
      properties:
        apprvlData:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalData1'
        rsltData:
          $ref: '#/components/schemas/msgauthorisationinitiationResultData1'
      type: object
    msgauthorisationinitiationResultData1:
      description: Result of the processing.
      properties:
        rsltDtls:
          type: string
          description: The code identifying if the transaction was approved, or if
            it was declined, the reason for the rejection or the action required of
            the Acceptor. The code can also identify the disposition of a previous
            message or an action taken as a result of receipt of a previous message.
          example: 00
        addtlRsltInf:
          description: Additional result information to be conveyed.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
    msgauthorisationinitiationRiskAssessment1:
      description: Indicates to the card issuer the level of risk associated with
        the transaction.
      properties:
        rskAssmntNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification200'
        rskAssmntTp:
          type: string
          description: The type of Risk Assessment performed.
          example: MFSD
        rsn:
          items:
            type: string
          type: array
          description: The code(s) identify the factor(s) that contributed to the
            Risk Score.
          example: A01
        rslt:
          type: string
          description: The score indicating the level of risk for the transaction.
          example: 123
        addtlRskData:
          description: Additional risk data associated with the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalRiskData1'
          type: array
      type: object
    msgauthorisationinitiationRiskContext1:
      description: Context of risk associated with the transaction.
      properties:
        rskInptData:
          description: Input data to be considered in a risk assessment.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskInputData1'
          type: array
        rskAssmnt:
          description: Indicates to the card issuer the level of risk associated with
            the transaction.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskAssessment1'
          type: array
      type: object
    msgauthorisationinitiationRiskInputData1:
      description: Input data to be considered in a risk assessment.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Risk Assessment Input data
            given in the Risk Data Field Value.
          example: pos_transaction_security
        val:
          type: string
          description: A free text field for the Risk Assessment Input data that is
            labeled by the Risk Data Field Name.
          example: 2
      type: object
    msgauthorisationinitiationSettlementService1:
      description: Type of settlement service for specific services requiring settlement.
      properties:
        sttlmSvcApld:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceMode1'
        sttlmSvcDts:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceDate1'
      type: object
    msgauthorisationinitiationSettlementServiceDate1:
      description: Date related to the settlement of the transaction.
      properties:
        sttlmDt:
          type: string
          description: A date assigned by Mastercard and used for settlement reporting.
            It is not the date of the actual settlement of funds.
          example: 2022-05-31z
        sttlmPrd:
          type: string
          description: The code identifying the time interval over which settlement
            occurs.
          example: 24
      type: object
    msgauthorisationinitiationSettlementServiceMode1:
      description: Settlement service for specific settlement types of requirements.
      properties:
        tp:
          type: string
          description: The code identifying the type of Settlement Service applied
            for the transaction.
          example: domestic
        id:
          type: string
          description: The identifier of the Settlement Service applied for the transaction.
          example: 826826
        shrtNm:
          type: string
          description: The name of the Settlement Service applied for the transaction.
          example: BANCO
        sttlmPrty:
          $ref: '#/components/schemas/msgauthorisationinitiationPriority3Code'
      type: object
    msgauthorisationinitiationSpecialConditions1:
      description: Data used to assign specific conditions such as liability shift
        or preferential interchange fees.
      properties:
        id:
          type: string
          description: A free text field for labeling the Point of Interaction Context
            Additional given in the Point of Interaction Context Additional Value.
          example: purchase_amount_only
        val:
          type: string
          description: A free text field for the Point of Interaction Context Additional
            that is labeled by the Point of Interaction Context Additional.
          example: 2
      type: object
    msgauthorisationinitiationSpecialProgrammeDetails1:
      description: Name and value associated with a special programme.
      properties:
        nm:
          type: string
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: combo_card_id
        val:
          type: string
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: 123456789
      type: object
    msgauthorisationinitiationSpecialProgrammeQualification1:
      description: Data to qualify for incentive or other related programmes.
      properties:
        prgrmm:
          type: string
          description: The name of the Special Program.
          example: combo_card
        dtl:
          description: 'Data about the Special Program associated with the transaction.
            The data is sent in a name-value pair: Special Program Data Name and Special
            Program Data Value.'
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialProgrammeDetails1'
          type: array
      type: object
    msgauthorisationinitiationSponsoredMerchant1:
      description: Merchant using the payment services of the card acceptor. The sponsored
        merchant is not acting as the card acceptor; the latter remaining the only
        party liable for the transaction vis-à-vis the acquirer.
      properties:
        id:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        cmonNm:
          type: string
          description: The name of the Sponsored Merchant that should be recognizable
            by the Cardholder.
          example: Henry
      type: object
    msgauthorisationinitiationTerminal1:
      properties:
        termnlId:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIdentification1'
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalType1Code'
        othrTp:
          type: string
          description: The code identifying the subtype of the Cardholder activated
            Terminal, such as an automated dispensing machine.
          example: cat_2_self_service
        cpblties:
          $ref: '#/components/schemas/msgauthorisationinitiationCapabilities1'
        termnlIntgtn:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIntegrationCategory1Code'
        offPrmissInd:
          type: boolean
          description: The indicator that the Terminal is not operated at the Acceptor
            location.
          example: "TRUE"
        onBrdInd:
          type: boolean
          description: The indicator that the Terminal is operated on a plane, train,
            bus, or ship.
          example: "TRUE"
      type: object
      description: Payment terminal or ATM performing the transaction
    msgauthorisationinitiationTerminalIdentification1:
      description: Identification of the terminal performing the transaction.
      properties:
        id:
          type: string
          description: The identifier assigned by the Acceptor or the Acquirer to
            the Terminal, payment gateway, or other acceptance device used to capture
            account data to effect a transaction at the Acceptor location.
          example: ABC232635
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code of the Terminal.
          example: USA
      type: object
    msgauthorisationinitiationTerminalIntegrationCategory1Code:
      default: TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
      description: |-
        Terminal category code of the place where the merchant actually performed the transaction.

         - TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED: Default
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_MPOI: Multiple terminals linked to a unique sale terminal.
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_MSLE: Terminal serving multiple sale terminals.
         - TERMINAL_INTEGRATION_CATEGORY1_CODE_SSLE: Terminal linked to a unique sale terminal.
      enum:
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MPOI
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MSLE
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_SSLE
      type: string
    msgauthorisationinitiationTerminalType1Code:
      default: TERMINAL_TYPE1_CODE_UNSPECIFIED
      description: |-
        Type of terminal to perform the transaction.

         - TERMINAL_TYPE1_CODE_UNSPECIFIED: Default
         - TERMINAL_TYPE1_CODE_ATMT: Automated Teller Machine
         - TERMINAL_TYPE1_CODE_MPOS: Mobile or tablet used as a Point of Sale terminal
         - TERMINAL_TYPE1_CODE_OTHN: Other type defined at national level
         - TERMINAL_TYPE1_CODE_OTHP: Other private type of terminal.
         - TERMINAL_TYPE1_CODE_POST: Point of Sale terminal.
      enum:
        - TERMINAL_TYPE1_CODE_UNSPECIFIED
        - TERMINAL_TYPE1_CODE_ATMT
        - TERMINAL_TYPE1_CODE_MPOS
        - TERMINAL_TYPE1_CODE_OTHN
        - TERMINAL_TYPE1_CODE_OTHP
        - TERMINAL_TYPE1_CODE_POST
      type: string
    msgauthorisationinitiationToken1:
      description: Unencrypted sensitive data of a token.
      properties:
        pmtTkn:
          type: string
          description: The identifier that is mapped to the PAN and used in place
            of the PAN for payment security.
          example: 3234231674564236476
        tknXpryDt:
          type: string
          description: The identifier assigned by the token provider to the party
            that requested a Payment Token.
          example: 2205
        tknRqstrId:
          type: string
          description: Information related to the identifier that is used in place
            of the PAN for payment security.
          example: 12567321211
        tknAssrncMtd:
          type: string
          description: The code identifying a classification of the verification performed
            and the party that performed it.
          example: 10
        tknInittdInd:
          type: boolean
          description: The indicator that the transaction was initiated with a Payment
            Token.
          example: "TRUE"
      type: object
    msgauthorisationinitiationTrack2Data1Choice:
      properties:
        txtVal:
          type: string
          description: The information encoded on Track 2 of the Card's magnetic stripe
            according to the ISO 7813 specification, expressed in text form.
          example: 1111111111111111D2512111
      type: object
      description: ISO track 2 issued from the magnetic stripe card or from the ICC
        if the magnetic stripe was not read. The format  conforms to ISO 7813, removing
        beginning and ending sentinels and longitudinal redundancy check characters.   ISO
        8583 bit 35
    msgauthorisationinitiationTransaction77:
      description: Contains transaction details.
      properties:
        txTp:
          type: string
          description: The code identifying the general type of transaction, such
            as a purchase or a balance inquiry.
          example: 00
        txSubTp:
          type: string
          description: The code identifying the subtype of the transaction, such as
            the kind of Funds Transfer or a prepaid card load.
          example: C02
        addtlSvc:
          description: Information about an additional service applied to the transaction,
            such as cash back.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalService1'
          type: array
        txAttr:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionAttribute1Code'
        othrTxAttr:
          type: string
          description: A free text field for providing a classification of the transaction
            when the Transaction Attribute Code is "OTHN" or "OTHP," which indicate
            a national, network, or customer specific value.
          example: first_presentment
        msgRsn:
          description: The conditions under which the message was sent.
          items:
            type: string
          type: array
        altrnMsgRsn:
          items:
            type: string
          type: array
          description: The code identifying a specific reason for the message.
          example: 1
        preAuthstnTmLmt:
          type: string
          description: The number of minutes within which the Acceptor is expected
            to complete the transaction.
          example: 00
        spclPrgrmmQlfctn:
          description: Information related to the Card's qualification in a Mastercard
            program that affects, for example, how the transaction is processed or
            the associated interchange fees.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialProgrammeQualification1'
          type: array
        txId:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionIdentification8'
        txAmts:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionAmounts1'
        addtlAmts:
          description: Information about amounts that are not part of the Transaction
            Amount, such as an Issuer-assessed Cardholder fee.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalAmounts1'
          type: array
        addtlFees:
          description: Information about fees not included in the transaction amount.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalFee1'
          type: array
        fndsSvcs:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingService1'
        acctFr:
          $ref: '#/components/schemas/msgauthorisationinitiationAccountDetails2'
        acctTo:
          $ref: '#/components/schemas/msgauthorisationinitiationAccountDetails2'
        txDesc:
          type: string
          description: Transaction data related to programs and services, content
            and format based on bilateral agreements.
          example: ICF-001
        addtlData:
          description: 'Additional data about the transaction. The data is sent in
            a name-value pair: Transaction Additional Data Name and Transaction Additional
            Data Value.'
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
    msgauthorisationinitiationTransactionAmount1:
      description: Actual amount of the transaction.
      properties:
        amt:
          type: string
          description: The amount of the transaction in the currency of the point
            of interaction.
          example: 1134
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Transaction
            Amount, which is the currency of the point of interaction.
          example: 840
      type: object
    msgauthorisationinitiationTransactionAmounts1:
      description: Amounts of the card transaction.
      properties:
        amtQlfr:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount11Code'
        txAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionAmount1'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount4'
        rcncltnAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount4'
        dtldAmt:
          description: An amount that is a portion of the Transaction Amount, such
            as a fee or cash back amount.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationDetailedAmount19'
          type: array
      type: object
    msgauthorisationinitiationTransactionAttribute1Code:
      default: TRANSACTION_ATTRIBUTE1_CODE_UNSPECIFIED
      description: |-
        Attribute of the transaction.

         - TRANSACTION_ATTRIBUTE1_CODE_UNSPECIFIED: Default
         - TRANSACTION_ATTRIBUTE1_CODE_AGGR: Payment is an aggregation one.
         - TRANSACTION_ATTRIBUTE1_CODE_CADB: Withdrawal is a cardless cash disbursement one.
         - TRANSACTION_ATTRIBUTE1_CODE_CPLT: Transaction previously initiated is completed and contains the actual amount.
         - TRANSACTION_ATTRIBUTE1_CODE_DBRP: Payment is a debt repayment one.
         - TRANSACTION_ATTRIBUTE1_CODE_DFRD: Payment is a deferred one.
         - TRANSACTION_ATTRIBUTE1_CODE_FRCP: First occurence of a recurring payment.
         - TRANSACTION_ATTRIBUTE1_CODE_INCR: To authorise additional amounts for a previously authorised transaction.
         - TRANSACTION_ATTRIBUTE1_CODE_INST: Payment is an instalment one.
         - TRANSACTION_ATTRIBUTE1_CODE_OTHN: Attribute defined at national level.
         - TRANSACTION_ATTRIBUTE1_CODE_OTHP: Attribute defined at private level
         - TRANSACTION_ATTRIBUTE1_CODE_PACP: Financial completion of a pre-authorised transaction within a specified timeframe.
         - TRANSACTION_ATTRIBUTE1_CODE_PAUT: Preauthorisation for an amount which is unknown at the time when the transaction is initiated and to be cleared within a specified timeframe.
         - TRANSACTION_ATTRIBUTE1_CODE_PPYT: Payment in advance of receiving goods or services.
         - TRANSACTION_ATTRIBUTE1_CODE_RCPT: An occurrence of a recurring payment..
         - TRANSACTION_ATTRIBUTE1_CODE_SUBR: Subsequent occurrence of a recurring payment.
         - TRANSACTION_ATTRIBUTE1_CODE_TPUP: Service to replenish value in an account (for example, mobile account, prepaid account, etc.).
      enum:
        - TRANSACTION_ATTRIBUTE1_CODE_UNSPECIFIED
        - TRANSACTION_ATTRIBUTE1_CODE_AGGR
        - TRANSACTION_ATTRIBUTE1_CODE_CADB
        - TRANSACTION_ATTRIBUTE1_CODE_CPLT
        - TRANSACTION_ATTRIBUTE1_CODE_DBRP
        - TRANSACTION_ATTRIBUTE1_CODE_DFRD
        - TRANSACTION_ATTRIBUTE1_CODE_FRCP
        - TRANSACTION_ATTRIBUTE1_CODE_INCR
        - TRANSACTION_ATTRIBUTE1_CODE_INST
        - TRANSACTION_ATTRIBUTE1_CODE_OTHN
        - TRANSACTION_ATTRIBUTE1_CODE_OTHP
        - TRANSACTION_ATTRIBUTE1_CODE_PACP
        - TRANSACTION_ATTRIBUTE1_CODE_PAUT
        - TRANSACTION_ATTRIBUTE1_CODE_PPYT
        - TRANSACTION_ATTRIBUTE1_CODE_RCPT
        - TRANSACTION_ATTRIBUTE1_CODE_SUBR
        - TRANSACTION_ATTRIBUTE1_CODE_TPUP
      type: string
    msgauthorisationinitiationTransactionContext1:
      description: Context of the card payment transaction.
      properties:
        mrchntCtgyCd:
          type: string
          description: The ISO 18245 code identifying the type of goods or services
            generally provided by the Acceptor, which is used to drive transaction
            processing logic.
          example: 7992
        mrchntCtgySpcfcData:
          type: string
          description: The code identifying a classification of the transaction, such
            as a bill payment or hotel rental.
          example: T
        cstmrCnsnt:
          type: boolean
          description: The indicator that the Cardholder gave express consent for
            a service, such as for a Funds Transfer.
          example: "TRUE"
        iccFllbckInd:
          type: boolean
          description: The indicator that an attempted chip entry failed and the Card
            was swiped or the Card data was entered manually instead.
          example: "TRUE"
        mgntcStrpFllbckInd:
          type: boolean
          description: The indicator that an attempted magnetic stripe entry failed
            and the Card data was entered manually instead.
          example: "TRUE"
        fnlAuthstnInd:
          type: boolean
          description: The indicator that the authorization request is for the final
            amount that should be billed to the Cardholder.
          example: "TRUE"
        txInitr:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionInitiator1Code'
        cardPrgrmm:
          $ref: '#/components/schemas/msgauthorisationinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementService1'
      type: object
    msgauthorisationinitiationTransactionIdentification8:
      properties:
        lclDtTm:
          type: string
          description: The local date and time at which the transaction took place
            at the point of interaction.
          example: 2022-04-12T15:24:16.545z
        trnsmssnDtTm:
          type: string
          description: The date and time that the message was sent to the Mastercard
            Switch Platform, expressed in Coordinated Universal Time (UTC).
          example: 2022-04-12T15:24:16.545z
        sysTracAudtNb:
          type: string
          description: An identifier of the transaction assigned by the message originator.
          example: 123456
        rtrvlRefNb:
          type: string
          description: An identifier of the transaction source document generated
            by the system retaining it, such as a receipt in an acceptor point-of-sale
            system.
          example: 091900012345
        lifeCyclSpprt:
          $ref: '#/components/schemas/msgauthorisationinitiationLifeCycleSupport1Code'
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionLifeCycleIdentification1'
        cardIssrRefData:
          type: string
          description: Data supplied by Visa for authorization initiation or incremental
            authorization. The Acquirer can pass Card Issuer Reference Data from a
            previous authorization response (Visa only) for incremental authorization
            purposes.
          example: refdat123456789ABCDEF
        orgnlDataElmts:
          $ref: '#/components/schemas/msgauthorisationinitiationOriginalDataElements1'
      type: object
      description: Identification of the transaction
    msgauthorisationinitiationTransactionInitiator1Code:
      default: TRANSACTION_INITIATOR1_CODE_UNSPECIFIED
      description: |-
        Identifies the transaction initiator.

         - TRANSACTION_INITIATOR1_CODE_UNSPECIFIED: Default
         - TRANSACTION_INITIATOR1_CODE_CUST: Customer initiated transaction.
         - TRANSACTION_INITIATOR1_CODE_MERC: Merchant initiated transaction.
      enum:
        - TRANSACTION_INITIATOR1_CODE_UNSPECIFIED
        - TRANSACTION_INITIATOR1_CODE_CUST
        - TRANSACTION_INITIATOR1_CODE_MERC
      type: string
    msgauthorisationinitiationTransactionLifeCycleIdentification1:
      properties:
        id:
          type: string
          description: An identifier generated by the Mastercard Switch Platform for
            each authorization and financial message. The ID links original messages
            to subsequent ones, such as those for clearing records.
          example: 20220897112301001234
        authstnSeqNb:
          type: string
          description: A sequence number that distinguishes an authorization message
            among multiple authorization messages submitted for a single financial
            message, (e.g. in the hotel industry where an Acquirer obtains several
            authorizations when a Cardholder chooses to extend their stay).
          example: 01
      type: object
      description: Unique global identification structure used to match transactions
        throughout their lifecycle (for example, authorisation to financial, financial
        to chargebacks, etc.). It shall contain the same value in all messages throughout
        a transaction's lifecycle. ISO 8583:2003 bit 21
    msgauthorisationinitiationTransferService1:
      properties:
        ref:
          type: string
          description: An identifier of the Funds Transfer.
          example: 0555555801215305401
        bizPurp:
          type: string
          description: The code identifying the purpose of the Funds Transfer.
          example: 00
        desc:
          type: string
          description: A free text field for the Payer of the Funds Transfer to provide
            a description for the Payee.
          example: Overseas remittance
      type: object
      description: Funds transfer service
    msgauthorisationinitiationTypeOfAmount10Code:
      default: TYPE_OF_AMOUNT10_CODE_UNSPECIFIED
      description: |-
        Type or class of amount.

         - TYPE_OF_AMOUNT10_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT10_CODE_FEEA: International service assessment fees.
         - TYPE_OF_AMOUNT10_CODE_FEEP: Processing fees.
         - TYPE_OF_AMOUNT10_CODE_INTC: Interchange fee.
         - TYPE_OF_AMOUNT10_CODE_OTHN: Other type of amount defined at national level.
         - TYPE_OF_AMOUNT10_CODE_OTHP: Other type of amount defined at private level.
      enum:
        - TYPE_OF_AMOUNT10_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT10_CODE_FEEA
        - TYPE_OF_AMOUNT10_CODE_FEEP
        - TYPE_OF_AMOUNT10_CODE_INTC
        - TYPE_OF_AMOUNT10_CODE_OTHN
        - TYPE_OF_AMOUNT10_CODE_OTHP
      type: string
    msgauthorisationinitiationTypeOfAmount11Code:
      default: TYPE_OF_AMOUNT11_CODE_UNSPECIFIED
      description: |-
        Qualifies the amount of the transaction.

         - TYPE_OF_AMOUNT11_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT11_CODE_ACTL: Actual amount.
         - TYPE_OF_AMOUNT11_CODE_DFLT: Default amount.
         - TYPE_OF_AMOUNT11_CODE_DPST: Deposit amount.
         - TYPE_OF_AMOUNT11_CODE_ESTM: Estimated amount (the final amount could be above or below).
         - TYPE_OF_AMOUNT11_CODE_MAXI: Maximum amount (the final amount must be less or equal).
         - TYPE_OF_AMOUNT11_CODE_PRXY: Substitute for an amount to be authorised.
         - TYPE_OF_AMOUNT11_CODE_RESD: Reserved or updated reserved amount for reservation.
      enum:
        - TYPE_OF_AMOUNT11_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT11_CODE_ACTL
        - TYPE_OF_AMOUNT11_CODE_DFLT
        - TYPE_OF_AMOUNT11_CODE_DPST
        - TYPE_OF_AMOUNT11_CODE_ESTM
        - TYPE_OF_AMOUNT11_CODE_MAXI
        - TYPE_OF_AMOUNT11_CODE_PRXY
        - TYPE_OF_AMOUNT11_CODE_RESD
      type: string
    msgauthorisationinitiationTypeOfAmount12Code:
      default: TYPE_OF_AMOUNT12_CODE_UNSPECIFIED
      description: |-
        Type of amount.

         - TYPE_OF_AMOUNT12_CODE_UNSPECIFIED: Default
         - TYPE_OF_AMOUNT12_CODE_AMTH: Transaction amount that has been authorised.
         - TYPE_OF_AMOUNT12_CODE_AMTQ: Transaction amount that has been requested to be authorised.
         - TYPE_OF_AMOUNT12_CODE_OTHP: Other type of amount defined at private level.
         - TYPE_OF_AMOUNT12_CODE_RQCH: Requested cashback amount
      enum:
        - TYPE_OF_AMOUNT12_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT12_CODE_AMTH
        - TYPE_OF_AMOUNT12_CODE_AMTQ
        - TYPE_OF_AMOUNT12_CODE_OTHP
        - TYPE_OF_AMOUNT12_CODE_RQCH
      type: string
    msgauthorisationinitiationVerification1:
      description: Contain validation result and/or data to be validated.
      properties:
        vrfctnInf:
          description: Contains verification or authentication data.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationVerificationInformation1'
          type: array
        vrfctnRslt:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationVerificationResult1'
          type: array
          description: Result of verifications performed prior or after the transaction.  ISO
            8583:93 bit 39 ISO 8583:2003 bit 39 & 49-72
      type: object
    msgauthorisationinitiationVerificationInformation1:
      description: Contains verification or authentication data.
      properties:
        tp:
          type: string
          description: A free text field for labeling the Verification Data given
            in the Verification Data Value (Text).
          example: cvc2_value
        val:
          $ref: '#/components/schemas/msgauthorisationinitiationVerificationValue1Choice'
      type: object
    msgauthorisationinitiationVerificationResult1:
      properties:
        rsltDtls:
          description: 'Additional data about the Verification Result. The data is
            sent in a name-value pair: Verification Result Detail Name and Verification
            Result Detail Value.'
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
      description: Result of verifications performed prior or after the transaction.  ISO
        8583:93 bit 39 ISO 8583:2003 bit 39 & 49-72
    msgauthorisationinitiationVerificationValue1Choice:
      description: Contains the data to be authenticated or verified.
      properties:
        txtVal:
          type: string
          description: A free text field for the Verification Data labeled by the
            Verification Data Name.
          example: 587
        binryVal:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
          description: A binary field for the Verification Data labeled by the Verification
            Data Name.
          example: 0101010101010101
      type: object
    msgauthorisationinitiationWallet1:
      description: Container for tenders used by the customer to perform the payment
        transaction.
      properties:
        prvdr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
      type: object
    msgauthorisationresponseAccountBalance1:
      description: Balance of the account involved in the card transaction.
      example:
        acctTp: acctTp
        bal:
          - othrTp: othrTp
            ccy: ccy
            amt: amt
            sgn: true
          - othrTp: othrTp
            ccy: ccy
            amt: amt
[...]
