openapi: 3.0.1
info:
  title: Transaction API
  description: Transaction API
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: 0.0.2
servers:
  - url: https://api.mastercard.com/transaction-api
    description: Production server
  - url: https://sandbox.api.mastercard.com/transaction-api
    description: Sandbox server
    variables: {}
tags:
  - name: transaction-api
    description: Transaction Api Controller Endpoints
paths:
  /cain-authorisation-requests:
    post:
      tags:
        - transaction-api
      summary: Send an ISO20022 initiation authorisation request
      description: Endpoint to send an ISO20022 initiation authorisation request to
      operationId: initiateAuthorisation
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationInitiation'
      responses:
        "200":
          $ref: '#/components/responses/Successful'
components:
  requestBodies:
    AuthorisationInitiation:
      description: A JSON object containing AuthorisationInitiationV02 Information
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorisationInitiationV02'
  responses:
    Successful:
      description: Successful Authorisation responses
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorisationResponseV02'
  schemas:
    AccountDetails2:
      type: object
      properties:
        acctTp:
          type: string
          xml:
            name: AcctTp
        acctId:
          type: string
          xml:
            name: AcctId
    AddendumData1:
      type: object
      properties:
        instlmt:
          $ref: '#/components/schemas/Instalment3'
    AdditionalAmounts1:
      required:
        - amt
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - AMTH
            - AMTN
            - AMTQ
            - AMTX
            - ANTA
            - CUAT
            - DCNT
            - ISCF
            - MAXI
            - OTHN
            - OTHP
            - PDCC
            - RQCH
        othrTp:
          type: string
          xml:
            name: OthrTp
        amt:
          $ref: '#/components/schemas/Amount14'
    AdditionalData1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
        val:
          type: string
          xml:
            name: Val
    AdditionalRiskData1:
      required:
        - tp
        - val
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
        val:
          type: string
          xml:
            name: Val
    AdditionalService1:
      required:
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - CACT
            - CSHB
            - DCCV
            - INTP
            - INTT
            - LOYT
            - OTHN
            - OTHP
            - PRST
        othrTp:
          type: string
          xml:
            name: OthrTp
    Address1:
      type: object
      properties:
        adrLine1:
          type: string
          xml:
            name: AdrLine1
        pstlCd:
          type: string
          xml:
            name: PstlCd
        twnNm:
          type: string
          xml:
            name: TwnNm
        ctrySubDvsnMjr:
          type: string
          xml:
            name: CtrySubDvsnMjr
        ctry:
          type: string
          xml:
            name: Ctry
    AlgorithmIdentification12:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - MGF_1
        param:
          $ref: '#/components/schemas/Parameter5'
    AlgorithmIdentification18:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - MGF_1
        param:
          $ref: '#/components/schemas/Parameter9'
    AlgorithmIdentification19:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - ERSA
            - RSAO
        param:
          $ref: '#/components/schemas/Parameter10'
    AlgorithmIdentification20:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - ECC_1
            - ECC_2
            - ECC_3
            - ECC_4
            - ECC_5
            - ECP_2
            - ECP_3
            - ECP_5
            - ERS_1
            - ERS_2
            - ERS_3
            - RPSS
        param:
          $ref: '#/components/schemas/Parameter11'
    AlgorithmIdentification21:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - HS_01
            - HS_25
            - HS_38
            - HS_51
            - SH_31
            - SH_32
            - SH_33
            - SH_35
            - SHK_1
            - SHK_2
    AlgorithmIdentification22:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - CCA_1
            - CCA_2
            - CCA_3
            - CM_31
            - CM_32
            - CM_33
            - CMA_1
            - CMA_2
            - CMA_5
            - CMA_9
            - MACC
            - MCC_1
            - MCCS
            - MCS_3
        param:
          $ref: '#/components/schemas/Parameter7'
    AlgorithmIdentification23:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - DA_12
            - DA_19
            - DA_25
            - DKP_9
            - E_36_C
            - E_36_R
            - E_3_DC
            - E_3_DR
            - EA_2_C
            - EA_2_R
            - EA_5_C
            - EA_5_R
            - EA_9_C
            - EA_9_R
            - N_108
            - SD_5_C
            - UKA_1
            - UKPT
        param:
          $ref: '#/components/schemas/Parameter12'
    AlgorithmIdentification24:
      required:
        - algo
      type: object
      properties:
        algo:
          type: string
          xml:
            name: Algo
          enum:
            - DA_12
            - DA_19
            - DA_25
            - DKP_9
            - E_36_C
            - E_36_R
            - E_3_DC
            - E_3_DR
            - EA_2_C
            - EA_2_R
            - EA_5_C
            - EA_5_R
            - EA_9_C
            - EA_9_R
            - N_108
            - SD_5_C
            - UKA_1
            - UKPT
        param:
          $ref: '#/components/schemas/Parameter12'
    Amount14:
      required:
        - amt
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
        ccy:
          type: string
          xml:
            name: Ccy
        sgn:
          type: boolean
          xml:
            name: Sgn
    Amount4:
      required:
        - amt
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
        ccy:
          type: string
          xml:
            name: Ccy
        xchgRate:
          type: number
          xml:
            name: XchgRate
        qtnDt:
          type: string
          format: date-time
          xml:
            name: QtnDt
    Amount5:
      required:
        - amt
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
        sgn:
          type: boolean
          xml:
            name: Sgn
    AuthenticatedData5:
      required:
        - mac
        - ncpsltdCntt
        - rcpt
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        rcpt:
          type: array
          xml:
            name: Rcpt
          items:
            $ref: '#/components/schemas/Recipient6Choice'
        ncpsltdCntt:
          $ref: '#/components/schemas/EncapsulatedContent3'
        mac:
          type: array
          xml:
            name: MAC
          items:
            type: string
            format: byte
            xml:
              name: MAC
        macalgo:
          $ref: '#/components/schemas/AlgorithmIdentification22'
    AuthorisationInitiation1:
      required:
        - cntxt
        - envt
        - tx
      type: object
      properties:
        envt:
          $ref: '#/components/schemas/Environment1'
        cntxt:
          $ref: '#/components/schemas/Context1'
        tx:
          $ref: '#/components/schemas/Transaction77'
        adddmData:
          $ref: '#/components/schemas/AddendumData1'
        prcgRslt:
          $ref: '#/components/schemas/ProcessingResult1'
        iccrltdData:
          type: string
    AuthorisationInitiationV02:
      required:
        - body
        - hdr
      type: object
      properties:
        hdr:
          $ref: '#/components/schemas/Header42'
        body:
          $ref: '#/components/schemas/AuthorisationInitiation1'
    Capabilities1:
      type: object
      properties:
        cardRdngCpblty:
          type: array
          xml:
            name: CardRdngCpblty
          items:
            type: string
            xml:
              name: CardRdngCpblty
            enum:
              - CDFL
              - ICCY
              - ICPY
              - KEEN
              - MGST
              - MICR
              - MLEY
              - MSIP
              - OCRR
              - OPTC
              - OTHN
              - OTHP
              - RFID
              - UNSP
        othrCardRdngCpblties:
          type: array
          xml:
            name: OthrCardRdngCpblties
          items:
            type: string
            xml:
              name: OthrCardRdngCpblties
        cardWrtgCpblties:
          type: array
          xml:
            name: CardWrtgCpblties
          items:
            type: string
            xml:
              name: CardWrtgCpblties
            enum:
              - ICCY
              - ICPY
              - MGST
              - MSIP
              - OTHN
              - OTHP
              - UNSP
        othrCardWrtgCpblties:
          type: array
          xml:
            name: OthrCardWrtgCpblties
          items:
            type: string
            xml:
              name: OthrCardWrtgCpblties
        cardCaptrCpbl:
          type: boolean
          xml:
            name: CardCaptrCpbl
        crdhldrVrfctnCpblty:
          type: array
          xml:
            name: CrdhldrVrfctnCpblty
          items:
            $ref: '#/components/schemas/CardholderVerificationCapabilities1'
        pinlngthCpblties:
          type: number
        pinpadInprtv:
          type: boolean
    CardData1:
      required:
        - pan
      type: object
      properties:
        pan:
          type: string
          xml:
            name: PAN
        cardSeqNb:
          type: string
          xml:
            name: CardSeqNb
        xpryDt:
          type: string
          xml:
            name: XpryDt
        trck1:
          type: string
          xml:
            name: Trck1
        trck2:
          $ref: '#/components/schemas/Track2Data1Choice'
        pmtAcctRef:
          type: string
          xml:
            name: PmtAcctRef
        cardPdctTp:
          type: string
          xml:
            name: CardPdctTp
    CardProgramme1:
      type: object
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/CardProgrammeMode1'
    CardProgrammeMode1:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
    Cardholder15:
      type: object
      properties:
        crdhldrNm:
          $ref: '#/components/schemas/CardholderName1'
        id:
          type: array
          xml:
            name: Id
          items:
            $ref: '#/components/schemas/Credentials1'
        adr:
          $ref: '#/components/schemas/Address1'
        ctctInf:
          $ref: '#/components/schemas/Contact1'
    CardholderName1:
      type: object
      properties:
        gvnNm:
          type: string
          xml:
            name: GvnNm
        mddlInitls:
          type: string
          xml:
            name: MddlInitls
        lastNm:
          type: string
          xml:
            name: LastNm
    CardholderVerificationCapabilities1:
      required:
        - cpblty
      type: object
      properties:
        cpblty:
          type: string
          xml:
            name: Cpblty
          enum:
            - APKI
            - FBIG
            - FBIO
            - FCPN
            - FDSG
            - FEPN
            - NBIO
            - NOOP
            - NOPN
            - NOVF
            - NPIN
            - OTHN
            - OTHP
            - PKIS
            - SIGN
            - UNSP
            - VORN
        othrCpblty:
          type: string
          xml:
            name: OthrCpblty
    CertificateIssuer1:
      required:
        - rltvDstngshdNm
      type: object
      properties:
        rltvDstngshdNm:
          type: array
          xml:
            name: RltvDstngshdNm
          items:
            $ref: '#/components/schemas/RelativeDistinguishedName1'
    CommunicationCharacteristics3:
      required:
        - comTp
        - rmotPty
      type: object
      properties:
        comTp:
          type: string
          xml:
            name: ComTp
          enum:
            - BLTH
            - ETHR
            - GPRS
            - GSMF
            - PSTN
            - RS_23
            - USBD
            - USBH
            - WIFI
            - WT_2_G
            - WT_3_G
            - WT_4_G
            - WT_5_G
        rmotPty:
          type: array
          xml:
            name: RmotPty
          items:
            type: string
            xml:
              name: RmotPty
            enum:
              - ACQR
              - ITAG
              - PCPT
              - SALE
              - TMGT
        actv:
          type: boolean
          xml:
            name: Actv
    Contact1:
      type: object
      properties:
        homePhneNb:
          type: string
          xml:
            name: HomePhneNb
        bizPhneNb:
          type: string
          xml:
            name: BizPhneNb
        mobPhneNb:
          type: string
          xml:
            name: MobPhneNb
        prsnlEmailAdr:
          type: string
          xml:
            name: PrsnlEmailAdr
        bizEmailAdr:
          type: string
          xml:
            name: BizEmailAdr
    ContentInformationType19:
      required:
        - cnttTp
      type: object
      properties:
        cnttTp:
          type: string
          xml:
            name: CnttTp
          enum:
            - AUTH
            - DATA
            - DGST
            - EVLP
            - SIGN
        envlpdData:
          $ref: '#/components/schemas/EnvelopedData5'
        authntcdData:
          $ref: '#/components/schemas/AuthenticatedData5'
        sgndData:
          $ref: '#/components/schemas/SignedData5'
        dgstdData:
          $ref: '#/components/schemas/DigestedData5'
    Context1:
      required:
        - ptOfSvcCntxt
        - txCntxt
      type: object
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/PointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/TransactionContext1'
        vrfctn:
          type: array
          xml:
            name: Vrfctn
          items:
            $ref: '#/components/schemas/Verification1'
        rskCntxt:
          type: array
          xml:
            name: RskCntxt
          items:
            $ref: '#/components/schemas/RiskContext1'
        saleCntxt:
          $ref: '#/components/schemas/SaleContext7'
    Credentials1:
      required:
        - idCd
        - idVal
      type: object
      properties:
        idCd:
          type: string
          xml:
            name: IdCd
          enum:
            - ARNB
            - DRID
            - EMAL
            - NTID
            - OTHN
            - OTHP
            - PASS
            - PHNB
            - SSYN
        idVal:
          type: string
          xml:
            name: IdVal
    CryptographicKey13:
      required:
        - id
        - vrsn
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        addtlId:
          type: array
          xml:
            name: AddtlId
          items:
            type: string
            format: byte
            xml:
              name: AddtlId
        vrsn:
          type: string
          xml:
            name: Vrsn
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - AES_2
            - AES_5
            - AES_9
            - DKP_9
            - EDE_3
            - EDE_4
        fctn:
          type: array
          xml:
            name: Fctn
          items:
            type: string
            xml:
              name: Fctn
            enum:
              - DCPT
              - DDEC
              - DENC
              - ENCR
              - KEYD
              - KEYG
              - KEYI
              - KEYX
              - MACG
              - MACV
              - PIND
              - PINE
              - PINV
              - SIGG
              - SUGV
              - TRNI
              - TRNX
        actvtnDt:
          type: string
          format: date-time
          xml:
            name: ActvtnDt
        deactvtnDt:
          type: string
          format: date-time
          xml:
            name: DeactvtnDt
        keyVal:
          $ref: '#/components/schemas/ContentInformationType19'
        keyChckVal:
          type: array
          xml:
            name: KeyChckVal
          items:
            type: string
            format: byte
            xml:
              name: KeyChckVal
        addtlMgmtInf:
          type: array
          xml:
            name: AddtlMgmtInf
          items:
            $ref: '#/components/schemas/GenericInformation1'
    Customer3:
      type: object
      properties:
        cstmrId:
          type: string
          xml:
            name: CstmrId
        nm:
          type: string
          xml:
            name: Nm
        adr:
          $ref: '#/components/schemas/Address1'
        crdntls:
          type: array
          xml:
            name: Crdntls
          items:
            $ref: '#/components/schemas/Credentials1'
        dtOfBirth:
          type: string
          format: date-time
          xml:
            name: DtOfBirth
    CustomerDevice2:
      type: object
      properties:
        dvc:
          $ref: '#/components/schemas/Device1'
    DetailedAmount19:
      required:
        - amt
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - CSHB
            - DCCF
            - DONN
            - EXTR
            - FORX
            - GRTY
            - OTHN
            - OTHP
            - SRCH
            - TAXT
        othrTp:
          type: string
          xml:
            name: OthrTp
        amt:
          $ref: '#/components/schemas/Amount5'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/Amount5'
    Device1:
      required:
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - MOBL
            - NSCR
            - OTHN
            - OTHP
            - PECR
            - SECR
            - TBLT
    DigestedData5:
      required:
        - dgst
        - dgstAlgo
        - ncpsltdCntt
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        dgstAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification21'
        ncpsltdCntt:
          $ref: '#/components/schemas/EncapsulatedContent3'
        dgst:
          type: array
          xml:
            name: Dgst
          items:
            type: string
            format: byte
            xml:
              name: Dgst
    EncapsulatedContent3:
      required:
        - cnttTp
      type: object
      properties:
        cnttTp:
          type: string
          xml:
            name: CnttTp
          enum:
            - AUTH
            - DATA
            - DGST
            - EVLP
            - SIGN
        cntt:
          type: array
          xml:
            name: Cntt
          items:
            type: string
            format: byte
            xml:
              name: MAC
    EncryptedContent4:
      required:
        - cnttTp
        - ncrptdData
      type: object
      properties:
        cnttTp:
          type: string
          xml:
            name: CnttTp
          enum:
            - AUTH
            - DATA
            - DGST
            - EVLP
            - SIGN
        cnttNcrptnAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification24'
        ncrptdData:
          type: array
          xml:
            name: NcrptdData
          items:
            type: string
            format: byte
            xml:
              name: NcrptdData
    EnvelopedData5:
      required:
        - rcpt
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        orgtrInf:
          $ref: '#/components/schemas/OriginatorInformation1'
        rcpt:
          type: array
          xml:
            name: Rcpt
          items:
            $ref: '#/components/schemas/Recipient6Choice'
        ncrptdCntt:
          $ref: '#/components/schemas/EncryptedContent4'
    Environment1:
      required:
        - acqrr
        - card
      type: object
      properties:
        acqrr:
          $ref: '#/components/schemas/PartyIdentification197'
        sndr:
          $ref: '#/components/schemas/PartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/PartyIdentification197'
        accptr:
          $ref: '#/components/schemas/PartyIdentification203'
        pyer:
          $ref: '#/components/schemas/PartyIdentification211'
        pyee:
          $ref: '#/components/schemas/PartyIdentification211'
        termnl:
          $ref: '#/components/schemas/Terminal1'
        card:
          $ref: '#/components/schemas/CardData1'
        cstmrDvc:
          $ref: '#/components/schemas/CustomerDevice2'
        wllt:
          $ref: '#/components/schemas/Wallet1'
        tkn:
          $ref: '#/components/schemas/Token1'
        crdhldr:
          $ref: '#/components/schemas/Cardholder15'
    FundingService1:
      type: object
      properties:
        fndgSvc:
          $ref: '#/components/schemas/TransferService1'
        fndgSrc:
          $ref: '#/components/schemas/FundingSource2'
    FundingSource2:
      type: object
      properties:
        srcTp:
          type: string
          xml:
            name: SrcTp
          enum:
            - CASH
            - CDBT
            - CHQE
            - CRDT
            - CURR
            - DBAC
            - EPRS
            - LCDT
            - LOYL
            - OTHN
            - OTHP
            - PRPD
            - SVNG
            - UVRL
        othrSrcTp:
          type: string
          xml:
            name: OthrSrcTp
    GenericIdentification172:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ACQP
            - ACQR
            - AGNT
            - CISP
            - CISS
            - OTHN
            - OTHP
        othrTp:
          type: string
          xml:
            name: OthrTp
        assgnr:
          type: string
          xml:
            name: Assgnr
          enum:
            - ACQR
            - AGNT
            - CISS
            - CSCH
        ctry:
          type: string
          xml:
            name: Ctry
        shrtNm:
          type: string
          xml:
            name: ShrtNm
    GenericIdentification48:
      required:
        - id
        - issr
        - vrsn
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        vrsn:
          type: string
          xml:
            name: Vrsn
        issr:
          type: string
          xml:
            name: Issr
    GenericInformation1:
      required:
        - nm
      type: object
      properties:
        nm:
          type: string
          xml:
            name: Nm
        val:
          type: string
          xml:
            name: Val
    GracePeriod1:
      required:
        - tm
        - unitTp
      type: object
      properties:
        tm:
          type: string
          xml:
            name: Tm
        unitTp:
          type: string
          xml:
            name: UnitTp
          enum:
            - DAYS
            - MNTH
            - OTHN
            - OTHP
            - PMTS
            - WEKS
    Header42:
      required:
        - creDtTm
        - initgPty
        - msgFctn
        - prtcolVrsn
      type: object
      properties:
        msgFctn:
          type: string
          xml:
            name: MsgFctn
          enum:
            - ADVC
            - REQU
        prtcolVrsn:
          type: string
          xml:
            name: PrtcolVrsn
        xchgId:
          type: string
          xml:
            name: XchgId
        creDtTm:
          type: string
          format: date-time
          xml:
            name: CreDtTm
        initgPty:
          $ref: '#/components/schemas/GenericIdentification172'
        tracData:
          type: array
          xml:
            name: TracData
          items:
            $ref: '#/components/schemas/AdditionalData1'
    Instalment3:
      type: object
      properties:
        pmtSeqNb:
          type: number
          xml:
            name: PmtSeqNb
        plan:
          type: array
          xml:
            name: Plan
          items:
            $ref: '#/components/schemas/Plan1'
    InstalmentAmountDetails1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - AFCO
            - EXPN
            - FEES
            - FUNA
            - INSU
            - OTHC
            - OTHN
            - OTHP
            - RQST
            - TAXX
        othrTp:
          type: string
          xml:
            name: OthrTp
        amt:
          $ref: '#/components/schemas/Amount5'
        pctg:
          type: number
          xml:
            name: Pctg
    InterestRateDetails1:
      required:
        - prd
        - rate
      type: object
      properties:
        prd:
          type: string
          xml:
            name: Prd
          enum:
            - ANNU
            - MNTH
        rate:
          type: number
          xml:
            name: Rate
    IssuerAndSerialNumber1:
      required:
        - issr
        - srlNb
      type: object
      properties:
        issr:
          $ref: '#/components/schemas/CertificateIssuer1'
        srlNb:
          type: array
          xml:
            name: SrlNb
          items:
            type: string
            format: byte
            xml:
              name: SrlNb
    KEK5:
      required:
        - keyNcrptnAlgo
        - ncrptdKey
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        keyNcrptnAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification23'
        ncrptdKey:
          type: array
          xml:
            name: NcrptdKey
          items:
            type: string
            format: byte
            xml:
              name: InitlstnVctr
        kekid:
          $ref: '#/components/schemas/KEKIdentifier2'
    KEKIdentifier2:
      required:
        - keyId
        - keyVrsn
      type: object
      properties:
        keyId:
          type: string
          xml:
            name: KeyId
        keyVrsn:
          type: string
          xml:
            name: KeyVrsn
        seqNb:
          type: number
          xml:
            name: SeqNb
        derivtnId:
          type: array
          xml:
            name: DerivtnId
          items:
            type: string
            format: byte
            xml:
              name: InitlstnVctr
    KeyTransport5:
      required:
        - keyNcrptnAlgo
        - ncrptdKey
        - rcptId
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        rcptId:
          $ref: '#/components/schemas/Recipient5Choice'
        keyNcrptnAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification19'
        ncrptdKey:
          type: array
          xml:
            name: NcrptdKey
          items:
            type: string
            format: byte
            xml:
              name: NcrptdKey
    MemoryCharacteristics1:
      required:
        - freeSz
        - id
        - ttlSz
        - unit
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        ttlSz:
          type: number
          xml:
            name: TtlSz
        freeSz:
          type: number
          xml:
            name: FreeSz
        unit:
          type: string
          xml:
            name: Unit
          enum:
            - BYTE
            - EXAB
            - GIGA
            - KILO
            - MEGA
            - PETA
            - TERA
    OriginatorInformation1:
      type: object
      properties:
        cert:
          type: array
          xml:
            name: Cert
          items:
            type: array
            xml:
              name: Cert
            items:
              type: string
              format: byte
              xml:
                name: AddtlId
    PINData1:
      required:
        - ncrptdPINBlck
      type: object
      properties:
        ctrl:
          type: string
          xml:
            name: Ctrl
        keySetIdr:
          type: string
          xml:
            name: KeySetIdr
        drvdInf:
          type: string
          xml:
            name: DrvdInf
        algo:
          type: string
          xml:
            name: Algo
        keyLngth:
          type: string
          xml:
            name: KeyLngth
        keyPrtcn:
          type: string
          xml:
            name: KeyPrtcn
        keyIndx:
          type: string
          xml:
            name: KeyIndx
        ncrptdPINBlck:
          type: string
          xml:
            name: NcrptdPINBlck
        pinblckFrmt:
          type: string
    Parameter10:
      type: object
      properties:
        ncrptnFrmt:
          type: string
          xml:
            name: NcrptnFrmt
          enum:
            - I_238
            - TR_31
            - TR_34
        dgstAlgo:
          type: string
          xml:
            name: DgstAlgo
          enum:
            - HS_01
            - HS_25
            - HS_38
            - HS_51
            - SH_31
            - SH_32
            - SH_33
            - SH_35
            - SHK_1
            - SHK_2
        mskGnrtrAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification18'
    Parameter11:
      required:
        - dgstAlgo
        - mskGnrtrAlgo
        - saltLngth
      type: object
      properties:
        dgstAlgo:
          type: string
          xml:
            name: DgstAlgo
          enum:
            - HS_01
            - HS_25
            - HS_38
            - HS_51
            - SH_31
            - SH_32
            - SH_33
            - SH_35
            - SHK_1
            - SHK_2
        mskGnrtrAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification12'
        saltLngth:
          type: number
          xml:
            name: SaltLngth
        trlrFld:
          type: number
          xml:
            name: TrlrFld
    Parameter12:
      type: object
      properties:
        ncrptnFrmt:
          type: string
          xml:
            name: NcrptnFrmt
          enum:
            - I_238
            - TR_31
            - TR_34
        initlstnVctr:
          type: array
          xml:
            name: InitlstnVctr
          items:
            type: string
            format: byte
            xml:
              name: InitlstnVctr
        bpddg:
          type: string
          enum:
            - LNGT
            - NUL_8
            - NULG
            - "NULL"
            - RAND
    Parameter5:
      type: object
      properties:
        dgstAlgo:
          type: string
          xml:
            name: DgstAlgo
          enum:
            - HS_01
            - HS_25
            - HS_38
            - HS_51
    Parameter7:
      type: object
      properties:
        initlstnVctr:
          type: array
          xml:
            name: InitlstnVctr
          items:
            type: string
            format: byte
            xml:
              name: MAC
        bpddg:
          type: string
          enum:
            - LNGT
            - NUL_8
            - NULG
            - "NULL"
            - RAND
    Parameter9:
      type: object
      properties:
        dgstAlgo:
          type: string
          xml:
            name: DgstAlgo
          enum:
            - HS_01
            - HS_25
            - HS_38
            - HS_51
            - SH_31
            - SH_32
            - SH_33
            - SH_35
            - SHK_1
            - SHK_2
    PartyIdentification197:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        addtlId:
          type: string
          xml:
            name: AddtlId
    PartyIdentification200:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ACCP
            - ACQR
            - AGNT
            - ISUR
            - OTHN
            - OTHP
            - WLPR
    PartyIdentification203:
      required:
        - id
        - nmAndLctn
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        addtlId:
          type: string
          xml:
            name: AddtlId
        nmAndLctn:
          type: string
          xml:
            name: NmAndLctn
        adr:
          $ref: '#/components/schemas/Address1'
        email:
          type: string
          xml:
            name: Email
        phneNb:
          type: string
          xml:
            name: PhneNb
        cstmrSvc:
          type: string
          xml:
            name: CstmrSvc
        addtlCtctInf:
          type: string
          xml:
            name: AddtlCtctInf
        taxRegnId:
          type: string
          xml:
            name: TaxRegnId
        addtlData:
          type: array
          xml:
            name: AddtlData
          items:
            $ref: '#/components/schemas/AdditionalData1'
        spnsrdMrchnt:
          type: array
          xml:
            name: SpnsrdMrchnt
          items:
            $ref: '#/components/schemas/SponsoredMerchant1'
        urladr:
          type: string
    PartyIdentification211:
      type: object
      properties:
        cstmr:
          $ref: '#/components/schemas/Customer3'
    Plan1:
      type: object
      properties:
        instlmtPmtTp:
          type: string
          xml:
            name: InstlmtPmtTp
        intrstRate:
          type: array
          xml:
            name: IntrstRate
          items:
            $ref: '#/components/schemas/InterestRateDetails1'
        frstPmtDt:
          type: string
          format: date-time
          xml:
            name: FrstPmtDt
        frstAmt:
          type: number
          xml:
            name: FrstAmt
        sbsqntAmt:
          type: number
          xml:
            name: SbsqntAmt
        ttlNbOfPmts:
          type: number
          xml:
            name: TtlNbOfPmts
        instlmtCcy:
          type: string
          xml:
            name: InstlmtCcy
        gracePrd:
          $ref: '#/components/schemas/GracePeriod1'
        amtDtls:
          type: array
          xml:
            name: AmtDtls
          items:
            $ref: '#/components/schemas/InstalmentAmountDetails1'
        grdTtlAmt:
          type: number
          xml:
            name: GrdTtlAmt
    PointOfInteractionComponent8:
      required:
        - id
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - APLI
            - APPR
            - AQPP
            - CRTF
            - DRVR
            - DVCE
            - EMVK
            - EMVO
            - MDWR
            - MRPR
            - OPST
            - SACP
            - SAPR
            - SCPR
            - SECM
            - SERV
            - TERM
            - TLPR
            - TMSP
        id:
          $ref: '#/components/schemas/PointOfInteractionComponentIdentification1'
        sts:
          $ref: '#/components/schemas/PointOfInteractionComponentStatus3'
        stdCmplc:
          type: array
          xml:
            name: StdCmplc
          items:
            $ref: '#/components/schemas/GenericIdentification48'
        chrtcs:
          $ref: '#/components/schemas/PointOfInteractionComponentCharacteristics4'
        assmnt:
          type: array
          xml:
            name: Assmnt
          items:
            $ref: '#/components/schemas/PointOfInteractionComponentAssessment1'
    PointOfInteractionComponentAssessment1:
      required:
        - assgnr
        - nb
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - APPL
            - CERT
            - EVAL
        assgnr:
          type: array
          xml:
            name: Assgnr
          items:
            type: string
            xml:
              name: Assgnr
        dlvryDt:
          type: string
          format: date-time
          xml:
            name: DlvryDt
        xprtnDt:
          type: string
          format: date-time
          xml:
            name: XprtnDt
        nb:
          type: string
          xml:
            name: Nb
    PointOfInteractionComponentCharacteristics4:
      type: object
      properties:
        mmry:
          type: array
          xml:
            name: Mmry
          items:
            $ref: '#/components/schemas/MemoryCharacteristics1'
        com:
          type: array
          xml:
            name: Com
          items:
            $ref: '#/components/schemas/CommunicationCharacteristics3'
        sctyAccsMdls:
          type: number
          xml:
            name: SctyAccsMdls
        sbcbrIdntyMdls:
          type: number
          xml:
            name: SbcbrIdntyMdls
        sctyElmt:
          type: array
          xml:
            name: SctyElmt
          items:
            $ref: '#/components/schemas/CryptographicKey13'
    PointOfInteractionComponentIdentification1:
      type: object
      properties:
        itmNb:
          type: string
          xml:
            name: ItmNb
        prvdrId:
          type: string
          xml:
            name: PrvdrId
        id:
          type: string
          xml:
            name: Id
        srlNb:
          type: string
          xml:
            name: SrlNb
    PointOfInteractionComponentStatus3:
      type: object
      properties:
        vrsnNb:
          type: string
          xml:
            name: VrsnNb
        sts:
          type: string
          xml:
            name: Sts
          enum:
            - DACT
            - OPER
            - OUTD
            - WAIT
        xpryDt:
          type: string
          format: date-time
          xml:
            name: XpryDt
    PointOfServiceContext1:
      required:
        - cardDataNtryMd
      type: object
      properties:
        cardPres:
          type: boolean
          xml:
            name: CardPres
        crdhldrPres:
          type: boolean
          xml:
            name: CrdhldrPres
        crdhldrActvtd:
          type: boolean
          xml:
            name: CrdhldrActvtd
        trnspndrInittd:
          type: boolean
          xml:
            name: TrnspndrInittd
        attnddInd:
          type: boolean
          xml:
            name: AttnddInd
        uattnddLvlCtgy:
          type: string
          xml:
            name: UattnddLvlCtgy
        prtlApprvlSpprtd:
          type: boolean
          xml:
            name: PrtlApprvlSpprtd
        cardDataNtryMd:
          type: string
          xml:
            name: CardDataNtryMd
          enum:
            - CDFL
            - ICCY
            - ICPY
            - KEEN
            - MGST
            - MICR
            - MLEY
            - MSIP
            - OCRR
            - OPTC
            - OTHN
            - OTHP
            - RFID
            - UNSP
        othrCardDataNtryMd:
          type: string
          xml:
            name: OthrCardDataNtryMd
        spclConds:
          type: array
          xml:
            name: SpclConds
          items:
            $ref: '#/components/schemas/SpecialConditions1'
        ecomrcInd:
          type: boolean
        motoind:
          type: boolean
    ProcessingResult1:
      type: object
      properties:
        orgnlRsltData:
          $ref: '#/components/schemas/ResultData1'
    Recipient5Choice:
      type: object
      properties:
        issrAndSrlNb:
          $ref: '#/components/schemas/IssuerAndSerialNumber1'
        keyIdr:
          $ref: '#/components/schemas/KEKIdentifier2'
    Recipient6Choice:
      type: object
      properties:
        keyTrnsprt:
          $ref: '#/components/schemas/KeyTransport5'
        kek:
          $ref: '#/components/schemas/KEK5'
        keyIdr:
          $ref: '#/components/schemas/KEKIdentifier2'
    RelativeDistinguishedName1:
      required:
        - attrTp
        - attrVal
      type: object
      properties:
        attrTp:
          type: string
          xml:
            name: AttrTp
          enum:
            - CATT
            - CNAT
            - LATT
            - OATT
            - OUAT
        attrVal:
          type: string
          xml:
            name: AttrVal
    ResultData1:
      required:
        - rsltDtls
      type: object
      properties:
        rslt:
          type: string
          xml:
            name: Rslt
          enum:
            - OTHN
            - OTHP
            - PRCS
            - REJT
            - TECH
            - UNPR
            - UNRV
        othrRslt:
          type: string
          xml:
            name: OthrRslt
        rsltDtls:
          type: string
          xml:
            name: RsltDtls
    RiskAssessment1:
      type: object
      properties:
        rskAssmntNtty:
          $ref: '#/components/schemas/PartyIdentification200'
        rskAssmntTp:
          type: string
          xml:
            name: RskAssmntTp
        rsn:
          type: array
          xml:
            name: Rsn
          items:
            type: string
            xml:
              name: Rsn
        rslt:
          type: string
          xml:
            name: Rslt
        addtlRskData:
          type: array
          xml:
            name: AddtlRskData
          items:
            $ref: '#/components/schemas/AdditionalRiskData1'
    RiskAssessmentDataEntityProvider1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ACCP
            - ACQR
            - AGNT
            - ISUR
            - OTHN
            - OTHP
            - WLPR
    RiskContext1:
      type: object
      properties:
        rskInptData:
          type: array
          xml:
            name: RskInptData
          items:
            $ref: '#/components/schemas/RiskInputData1'
        rskAssmnt:
          type: array
          xml:
            name: RskAssmnt
          items:
            $ref: '#/components/schemas/RiskAssessment1'
    RiskInputData1:
      required:
        - tp
        - val
      type: object
      properties:
        ntty:
          $ref: '#/components/schemas/RiskAssessmentDataEntityProvider1'
        tp:
          type: string
          xml:
            name: Tp
        val:
          type: string
          xml:
            name: Val
    SaleContext7:
      type: object
      properties:
        saleId:
          type: string
          xml:
            name: SaleId
        saleRefId:
          type: string
          xml:
            name: SaleRefId
        saleRefNb:
          type: string
          xml:
            name: SaleRefNb
        goodsAndSvcsTp:
          type: string
          xml:
            name: GoodsAndSvcsTp
          enum:
            - ELEC
            - ELPH
            - PHYS
        goodAndSvcsSubTp:
          type: string
          xml:
            name: GoodAndSvcsSubTp
          enum:
            - CRCU
            - FORX
            - OTHN
            - OTHP
            - SECS
        goodAndSvcsOthrSubTp:
          type: string
          xml:
            name: GoodAndSvcsOthrSubTp
        spltPmtInd:
          type: boolean
          xml:
            name: SpltPmtInd
    SettlementService1:
      type: object
      properties:
        sttlmSvcDts:
          $ref: '#/components/schemas/SettlementServiceDate1'
    SettlementServiceDate1:
      type: object
      properties:
        sttlmDt:
          type: string
          format: date-time
          xml:
            name: SttlmDt
    SignedData5:
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        dgstAlgo:
          type: array
          xml:
            name: DgstAlgo
          items:
            $ref: '#/components/schemas/AlgorithmIdentification21'
        ncpsltdCntt:
          $ref: '#/components/schemas/EncapsulatedContent3'
        cert:
          type: array
          xml:
            name: Cert
          items:
            type: array
            xml:
              name: Cert
            items:
              type: string
              format: byte
              xml:
                name: MAC
        sgnr:
          type: array
          xml:
            name: Sgnr
          items:
            $ref: '#/components/schemas/Signer4'
    Signer4:
      required:
        - dgstAlgo
        - sgntr
        - sgntrAlgo
      type: object
      properties:
        vrsn:
          type: number
          xml:
            name: Vrsn
        sgnrId:
          $ref: '#/components/schemas/Recipient5Choice'
        dgstAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification21'
        sgndAttrbts:
          type: array
          xml:
            name: SgndAttrbts
          items:
            $ref: '#/components/schemas/GenericInformation1'
        sgntrAlgo:
          $ref: '#/components/schemas/AlgorithmIdentification20'
        sgntr:
          type: array
          xml:
            name: Sgntr
          items:
            type: string
            format: byte
            xml:
              name: Sgntr
    SpecialConditions1:
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        val:
          type: string
          xml:
            name: Val
    SpecialProgrammeDetails1:
      type: object
      properties:
        nm:
          type: string
          xml:
            name: Nm
        val:
          type: string
          xml:
            name: Val
    SpecialProgrammeQualification1:
      type: object
      properties:
        prgrmm:
          type: string
          xml:
            name: Prgrmm
        dtl:
          type: array
          xml:
            name: Dtl
          items:
            $ref: '#/components/schemas/SpecialProgrammeDetails1'
    SponsoredMerchant1:
      required:
        - id
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PartyIdentification197'
        cmonNm:
          type: string
          xml:
            name: CmonNm
    Terminal1:
      required:
        - termnlId
      type: object
      properties:
        termnlId:
          $ref: '#/components/schemas/TerminalIdentification1'
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ATMT
            - MPOS
            - OTHN
            - OTHP
            - POST
        othrTp:
          type: string
          xml:
            name: OthrTp
        cpblties:
          $ref: '#/components/schemas/Capabilities1'
        termnlIntgtn:
          type: string
          xml:
            name: TermnlIntgtn
          enum:
            - MPOI
            - MSLE
            - SSLE
        offPrmissInd:
          type: boolean
          xml:
            name: OffPrmissInd
        onBrdInd:
          type: boolean
          xml:
            name: OnBrdInd
        poicmpnt:
          type: array
          items:
            $ref: '#/components/schemas/PointOfInteractionComponent8'
    TerminalIdentification1:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        ctry:
          type: string
          xml:
            name: Ctry
    Token1:
      type: object
      properties:
        pmtTkn:
          type: string
          xml:
            name: PmtTkn
        tknRqstrId:
          type: string
          xml:
            name: TknRqstrId
        tknAssrncMtd:
          type: string
          xml:
            name: TknAssrncMtd
        tknInittdInd:
          type: boolean
          xml:
            name: TknInittdInd
    Track2Data1Choice:
      type: object
      properties:
        txtVal:
          type: string
          xml:
            name: TxtVal
        hexBinryVal:
          type: string
          xml:
            name: HexBinryVal
    Transaction77:
      required:
        - txAmts
        - txId
        - txTp
      type: object
      properties:
        txTp:
          type: string
          xml:
            name: TxTp
        txSubTp:
          type: string
          xml:
            name: TxSubTp
        addtlSvc:
          type: array
          xml:
            name: AddtlSvc
          items:
            $ref: '#/components/schemas/AdditionalService1'
        txAttr:
          type: string
          xml:
            name: TxAttr
          enum:
            - AGGR
            - CADB
            - CPLT
            - DBRP
            - DFRD
            - FRCP
            - INCR
            - INST
            - OTHN
            - OTHP
            - PACP
            - PAUT
            - PPYT
            - RCPT
            - SUBR
            - TPUP
        othrTxAttr:
          type: string
          xml:
            name: OthrTxAttr
        altrnMsgRsn:
          type: array
          xml:
            name: AltrnMsgRsn
          items:
            type: string
            xml:
              name: AltrnMsgRsn
        preAuthstnTmLmt:
          type: string
          xml:
            name: PreAuthstnTmLmt
        spclPrgrmmQlfctn:
          type: array
          xml:
            name: SpclPrgrmmQlfctn
          items:
            $ref: '#/components/schemas/SpecialProgrammeQualification1'
        txId:
          $ref: '#/components/schemas/TransactionIdentification8'
        txAmts:
          $ref: '#/components/schemas/TransactionAmounts1'
        addtlAmts:
          type: array
          xml:
            name: AddtlAmts
          items:
            $ref: '#/components/schemas/AdditionalAmounts1'
        fndsSvcs:
          $ref: '#/components/schemas/FundingService1'
        acctFr:
          $ref: '#/components/schemas/AccountDetails2'
        acctTo:
          $ref: '#/components/schemas/AccountDetails2'
        txDesc:
          type: string
          xml:
            name: TxDesc
        addtlData:
          type: array
          xml:
            name: AddtlData
          items:
            $ref: '#/components/schemas/AdditionalData1'
    TransactionAmount1:
      required:
        - amt
        - ccy
      type: object
      properties:
        amt:
          type: number
          xml:
            name: Amt
        ccy:
          type: string
          xml:
            name: Ccy
    TransactionAmounts1:
      type: object
      properties:
        amtQlfr:
          type: string
          xml:
            name: AmtQlfr
          enum:
            - ACTL
            - DFLT
            - DPST
            - ESTM
            - MAXI
            - PRXY
            - RESD
        txAmt:
          $ref: '#/components/schemas/TransactionAmount1'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/Amount4'
        rcncltnAmt:
          $ref: '#/components/schemas/Amount4'
        dtldAmt:
          type: array
          xml:
            name: DtldAmt
          items:
            $ref: '#/components/schemas/DetailedAmount19'
    TransactionContext1:
      required:
        - mrchntCtgyCd
      type: object
      properties:
        mrchntCtgyCd:
          type: string
          xml:
            name: MrchntCtgyCd
        mrchntCtgySpcfcData:
          type: string
          xml:
            name: MrchntCtgySpcfcData
        cstmrCnsnt:
          type: boolean
          xml:
            name: CstmrCnsnt
        mgntcStrpFllbckInd:
          type: boolean
          xml:
            name: MgntcStrpFllbckInd
        fnlAuthstnInd:
          type: boolean
          xml:
            name: FnlAuthstnInd
        txInitr:
          type: string
          xml:
            name: TxInitr
          enum:
            - CUST
            - MERC
        cardPrgrmm:
          $ref: '#/components/schemas/CardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/SettlementService1'
        iccfllbckInd:
          type: boolean
    TransactionIdentification8:
      required:
        - lclDtTm
        - rtrvlRefNb
        - sysTracAudtNb
      type: object
      properties:
        lclDtTm:
          type: string
          format: date-time
          xml:
            name: LclDtTm
        trnsmssnDtTm:
          type: string
          format: date-time
          xml:
            name: TrnsmssnDtTm
        sysTracAudtNb:
          type: string
          xml:
            name: SysTracAudtNb
        rtrvlRefNb:
          type: string
          xml:
            name: RtrvlRefNb
        lifeCyclSpprt:
          type: string
          xml:
            name: LifeCyclSpprt
          enum:
            - AUTH
            - FINC
        lifeCyclTracIdData:
          $ref: '#/components/schemas/TransactionLifeCycleIdentification1'
        cardIssrRefData:
          type: string
          xml:
            name: CardIssrRefData
    TransactionLifeCycleIdentification1:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          xml:
            name: Id
        authstnSeqNb:
          type: string
          xml:
            name: AuthstnSeqNb
    TransferService1:
      type: object
      properties:
        ref:
          type: string
          xml:
            name: Ref
        bizPurp:
          type: string
          xml:
            name: BizPurp
        desc:
          type: string
          xml:
            name: Desc
    Verification1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ADDB
            - ADDS
            - ADVF
            - APKI
            - ARNB
            - ARPC
            - ARQC
            - ATCC
            - BIOM
            - BTHD
            - CDHI
            - CHDN
            - CHSA
            - CPSG
            - CRYP
            - CSCV
            - CSEC
            - CUID
            - DRLN
            - DRVI
            - EMAL
            - EMIN
            - EMRN
            - FBIG
            - FBIO
            - FCPN
            - FPIN
            - IDCN
            - MANU
            - MOBL
            - NBIG
            - NPIN
            - NVSC
            - OCHI
            - OFPE
            - OLDA
            - OLDS
            - OTHN
            - OTHP
            - OTPW
            - PASN
            - PCDV
            - PHOM
            - PKIS
            - PLOB
            - PPSG
            - PSVE
            - PSWD
            - PWOR
            - QWAC
            - SCNL
            - SCRT
            - SHAF
            - SHAT
            - SSNB
            - THDS
            - TOKA
            - TOKN
            - TOKP
            - TXIN
        othrTp:
          type: string
          xml:
            name: OthrTp
        vrfctnInf:
          type: array
          xml:
            name: VrfctnInf
          items:
            $ref: '#/components/schemas/VerificationInformation1'
        vrfctnRslt:
          type: array
          xml:
            name: VrfctnRslt
          items:
            $ref: '#/components/schemas/VerificationResult1'
    VerificationInformation1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
        val:
          $ref: '#/components/schemas/VerificationValue1Choice'
    VerificationResult1:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
        ntty:
          type: string
          xml:
            name: Ntty
          enum:
            - ACQR
            - AGNT
            - ISSR
            - MERC
            - OTHN
            - OTHP
        rslt:
          type: string
          xml:
            name: Rslt
          enum:
            - ERRR
            - FAIL
            - FUTA
            - MISS
            - NOVF
            - OTHN
            - OTHP
            - PART
            - SUCC
        rsltDtls:
          type: array
          xml:
            name: RsltDtls
          items:
            $ref: '#/components/schemas/AdditionalData1'
    VerificationValue1Choice:
      type: object
      properties:
        txtVal:
          type: string
          xml:
            name: TxtVal
        pindata:
          $ref: '#/components/schemas/PINData1'
    Wallet1:
      type: object
      properties:
        prvdr:
          $ref: '#/components/schemas/PartyIdentification197'
    AccountBalance1:
      required:
        - acctTp
      type: object
      properties:
        acctTp:
          type: string
          xml:
            name: AcctTp
        bal:
          type: array
          xml:
            name: Bal
          items:
            $ref: '#/components/schemas/Balance15'
    AdditionalInformation20:
      required:
        - val
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
        val:
          type: string
          xml:
            name: Val
    ApprovalData1:
      type: object
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/ApprovalEntity1'
        apprvlCd:
          type: string
          xml:
            name: ApprvlCd
    ApprovalEntity1:
      required:
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ACCP
            - ACQR
            - AGNT
            - CISS
            - DLIS
            - ICCA
            - OTHN
            - OTHP
    AuthorisationResponse1:
      required:
        - envt
        - prcgRslt
        - tx
      type: object
      properties:
        envt:
          $ref: '#/components/schemas/Environment2'
        cntxt:
          $ref: '#/components/schemas/Context2'
        tx:
          $ref: '#/components/schemas/Transaction78'
        prcgRslt:
          $ref: '#/components/schemas/ProcessingResult2'
        iccrltdData:
          type: string
    AuthorisationResponseV02:
      required:
        - body
        - hdr
      type: object
      properties:
        hdr:
          $ref: '#/components/schemas/Header42'
        body:
          $ref: '#/components/schemas/AuthorisationResponse1'
    Balance15:
      required:
        - amt
        - tp
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - AMOH
            - AMTD
            - AMTO
            - AVLB
            - CLRI
            - CRDL
            - LDGR
            - OTHN
            - OTHP
        othrTp:
          type: string
          xml:
            name: OthrTp
        amt:
          type: number
          xml:
            name: Amt
        ccy:
          type: string
          xml:
            name: Ccy
        sgn:
          type: boolean
          xml:
            name: Sgn
    CardData4:
      type: object
      properties:
        pan:
          type: string
          xml:
            name: PAN
        cardSeqNb:
          type: string
          xml:
            name: CardSeqNb
        pmtAcctRef:
          type: string
          xml:
            name: PmtAcctRef
        cardCtryCd:
          type: string
          xml:
            name: CardCtryCd
        cardPdctTp:
          type: string
          xml:
            name: CardPdctTp
        panacctRg:
          type: string
        panfourLastDgts:
          type: string
    Context2:
      type: object
      properties:
        txCntxt:
          $ref: '#/components/schemas/TransactionContext3'
        vrfctn:
          type: array
          xml:
            name: Vrfctn
          items:
            $ref: '#/components/schemas/Verification2'
        rskCntxt:
          $ref: '#/components/schemas/RiskContext1'
    Environment2:
      required:
        - acqrr
      type: object
      properties:
        acqrr:
          $ref: '#/components/schemas/PartyIdentification197'
        sndr:
          $ref: '#/components/schemas/PartyIdentification197'
        accptr:
          $ref: '#/components/schemas/PartyIdentification197'
        termnl:
          $ref: '#/components/schemas/Terminal2'
        card:
          $ref: '#/components/schemas/CardData4'
        tkn:
          $ref: '#/components/schemas/Token1'
    ProcessingResult2:
      type: object
      properties:
        apprvlData:
          $ref: '#/components/schemas/ApprovalData1'
        rsltData:
          $ref: '#/components/schemas/ResultData1'
        addtlInf:
          type: array
          xml:
            name: AddtlInf
          items:
            $ref: '#/components/schemas/AdditionalInformation20'
    SettlementService2:
      type: object
      properties:
        sttlmSvcDts:
          $ref: '#/components/schemas/SettlementServiceDate1'
    Terminal2:
      required:
        - termnlId
      type: object
      properties:
        termnlId:
          $ref: '#/components/schemas/TerminalIdentification1'
    Transaction78:
      required:
        - txAmts
        - txId
        - txTp
      type: object
      properties:
        txTp:
          type: string
          xml:
            name: TxTp
        txSubTp:
          type: string
          xml:
            name: TxSubTp
        txAttr:
          type: string
          xml:
            name: TxAttr
          enum:
            - AGGR
            - CADB
            - CPLT
            - DBRP
            - DFRD
            - FRCP
            - INCR
            - INST
            - OTHN
            - OTHP
            - PACP
            - PAUT
            - PPYT
            - RCPT
            - SUBR
            - TPUP
        othrTxAttr:
          type: string
          xml:
            name: OthrTxAttr
        spclPrgrmmQlfctn:
          type: array
          xml:
            name: SpclPrgrmmQlfctn
          items:
            $ref: '#/components/schemas/SpecialProgrammeQualification1'
        txId:
          $ref: '#/components/schemas/TransactionIdentification8'
        txAmts:
          $ref: '#/components/schemas/TransactionAmounts1'
        addtlAmts:
          type: array
          xml:
            name: AddtlAmts
          items:
            $ref: '#/components/schemas/AdditionalAmounts1'
        acctBal:
          type: array
          xml:
            name: AcctBal
          items:
            $ref: '#/components/schemas/AccountBalance1'
        acctFr:
          $ref: '#/components/schemas/AccountDetails2'
        acctTo:
          $ref: '#/components/schemas/AccountDetails2'
    TransactionContext3:
      type: object
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/CardProgrammeMode1'
        sttlmSvc:
          $ref: '#/components/schemas/SettlementService2'
    Verification2:
      type: object
      properties:
        tp:
          type: string
          xml:
            name: Tp
          enum:
            - ADDB
            - ADDS
            - ADVF
            - APKI
            - ARNB
            - ARPC
            - ARQC
            - ATCC
            - BIOM
            - BTHD
            - CDHI
            - CHDN
            - CHSA
            - CPSG
            - CRYP
            - CSCV
            - CSEC
            - CUID
            - DRLN
            - DRVI
            - EMAL
            - EMIN
            - EMRN
            - FBIG
            - FBIO
            - FCPN
            - FPIN
            - IDCN
            - MANU
            - MOBL
            - NBIG
            - NPIN
            - NVSC
            - OCHI
            - OFPE
            - OLDA
            - OLDS
            - OTHN
            - OTHP
            - OTPW
            - PASN
            - PCDV
            - PHOM
            - PKIS
            - PLOB
            - PPSG
            - PSVE
            - PSWD
            - PWOR
            - QWAC
            - SCNL
            - SCRT
            - SHAF
            - SHAT
            - SSNB
            - THDS
            - TOKA
            - TOKN
            - TOKP
            - TXIN
        othrTp:
          type: string
          xml:
            name: OthrTp
        vrfctnRslt:
          type: array
          xml:
            name: VrfctnRslt
          items:
            $ref: '#/components/schemas/VerificationResult1'