---
openapi: 3.0.3
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: "The Transaction API is a next generation ISO 20022 based API allowing\
    \ Acquirers (and Issuers in subsequent releases) to request and reply to transaction\
    \ authorization, reversal, account inquiry, and financial clearing messages without\
    \ needing a legacy MIP or edge device. The Transaction API is based on industry-standard\
    \ ISO 20022 Acquirer-to-Issuer Card Messages (e.g. ATICA) message sets and aligns\
    \ Mastercard to industry and competitor offerings."
  title: Transaction API
  version: 2.0.0
servers:
  - url: https://mtf.asn.api.gateway.mastercard.com/transaction-api
    description: Sandbox server
  - url: https://asn.api.gateway.mastercard.com/transaction-api
    description: Production server
tags:
  - description: "The Transaction API is a next generation ISO 20022 based API allowing\
    \ Acquirers (and Issuers in subsequent releases) to request and reply to transaction\
    \ authorization, reversal, account inquiry, and financial clearing messages without\
    \ needing a legacy MIP or edge device. The Transaction API is based on industry-standard\
    \ ISO 20022 Acquirer-to-Issuer Card Messages (e.g. ATICA) message sets and aligns\
    \ Mastercard to industry and competitor offerings."
    name: TransactionApi
paths:
  /cain-authorisation-requests:
    get:
      operationId: TransactionApi_getAuthorisationResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteAuthorisationResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialAuthorisationResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Authorisation responses associated
        with a particular customer
      tags:
        - TransactionApi
      description: Returns Authorisation responses
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      operationId: TransactionApi_processAuthorisationRequest
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Authorisation request
      tags:
        - TransactionApi
      description: This processes the authorisation requests
  /cain-financial-advices:
    get:
      operationId: TransactionApi_getFinancialAdviceResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteFinancialAdviceResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialFinancialAdviceResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Financial Advice responses associated
        with a particular customer
      tags:
        - TransactionApi
      description: Returns Financial Advice responses
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      operationId: TransactionApi_processFinancialAdviceRequest
      requestBody:
        $ref: '#/components/requestBodies/FinancialInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Financial Advice request
      tags:
        - TransactionApi
      description: This processes the financial advice requests
  /cain-inquiry-requests:
    get:
      operationId: TransactionApi_getInquiryResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteInquiryResponseV01ListBody'
        "206":
          $ref: '#/components/responses/PartialInquiryResponseV01ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Inquiry responses associated with a
        particular customer
      tags:
        - TransactionApi
      description: Returns Inquiry responses
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      operationId: TransactionApi_processInquiryRequest
      requestBody:
        $ref: '#/components/requestBodies/InquiryInitiationV01Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Inquiry request
      tags:
        - TransactionApi
      description: This processes the inquiries request
  /cain-reversal-requests:
    get:
      operationId: TransactionApi_getReversalResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteReversalResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialReversalResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Reversal responses associated with
        a particular customer
      tags:
        - TransactionApi
      description: Returns Reversal responses
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      operationId: TransactionApi_processReversalRequest
      requestBody:
        $ref: '#/components/requestBodies/ReversalInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Reversal request
      tags:
        - TransactionApi
      description: This processes the reversal requests
components:
  schemas:
    AuthorisationResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/authorisationresponseAuthorisationResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    AuthorisationResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/AuthorisationResponseV02Item'
          type: array
          description: List of Authorisation Items
      type: object
    Error:
      properties:
        Source:
          type: string
          description: Source application
          example: transaction-api
        ReasonCode:
          type: string
          description: Reason of the error
          example: INVALID_FIELD
        Description:
          type: string
          description: Short description of the error
          example: "Invalid enum value: ABCD for enum type: MessageFunction16Code"
        Recoverable:
          type: boolean
          description: Whether error is recoverable
          example: false
        Details:
          type: string
          description: Optional additional details of the error
          example: Further details
      type: object
    ErrorWrapper:
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      required:
        - Errors
      type: object
      description: A container that represents error response
    Errors:
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: List of errors
      required:
        - Error
      type: object
    FinancialAdviceResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/financialresponseFinancialResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    FinancialAdviceResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/FinancialAdviceResponseV02Item'
          type: array
          description: List of Financial Advice items
      type: object
    InquiryResponseV01Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/inquiryresponseInquiryResponseV01'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    InquiryResponseV01List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/InquiryResponseV01Item'
          type: array
          description: List of Inquiry Response items
      type: object
    ReversalResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/reversalresponseReversalResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    ReversalResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ReversalResponseV02Item'
          type: array
          description: List of Reversal items
      type: object
    authorisationinitiationAccountDetails2:
      properties:
        acctTp:
          type: string
          title: Account Type Code (To/From)
          description: The code identifying the kind of account to/from which funds
            were sent.
          example: '00'
        acctId:
          type: string
          title: Account ID (To/From)
          description: An identifier of the account to/from which funds were transferred.
          example: 10105556
      type: object
      title: Account To/From
      description: Information about the account to/from which funds were sent in
        a Funds Transfer.
    authorisationinitiationAdditionalAmounts1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationTypeOfAmount12Code'
        othrTp:
          type: string
          title: Additional Amount Type (Other)
          description: "The code identifying the type of an Additional Amount when\
            \ the Additional Amount Type is \"OTHN\" or \"OTHP,\" which indicate a\
            \ national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/authorisationinitiationAmount14'
      type: object
      title: Additional Amounts
      description: "Information about amounts that are not part of the Transaction\
        \ Amount, such as an Issuer-assessed Cardholder fee."
    authorisationinitiationAdditionalData1:
      properties:
        tp:
          type: string
          title: Transaction Additional Data Name
          description: A free text field for labeling the Transaction Additional Data
            given in the Transaction Additional Data Value.
          example: additionaldatatype
        val:
          type: string
          title: Transaction Additional Data Value
          description: A free text field the Transaction Additional Data that is labeled
            by the Transaction Additional Data Name.
          example: additionaldatavalue
      type: object
      title: Transaction Additional Data
      description: "Additional data about the transaction. The data is sent in a name-value\
        \ pair: Transaction Additional Data Name and Transaction Additional Data Value."
    authorisationinitiationAdditionalFee1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationTypeOfAmount10Code'
        othrTp:
          type: string
          title: Additional Fee Type (Other)
          description: The code identifying the type of additional fee.
          example: spain_atm_credit_card_fee
        amt:
          $ref: '#/components/schemas/authorisationinitiationFeeAmount2'
      type: object
      title: Additional Fees
      description: Information about fees not included in the transaction amount.
    authorisationinitiationAdditionalRiskData1:
      properties:
        tp:
          type: string
          title: Risk Assessment Additional Data Value
          description: A free text field for labeling the Additional Risk Assessment
            Data given in the Additional Risk Assessment Data Value.
          example: pos_transaction_security
        val:
          type: string
          title: Risk Assessment Additional Data Name
          description: A free text field for the Risk Assessment Additionalthat is
            labeled by the Additional Risk Assessment Data Name.
          example: 0
      type: object
      title: Additional Risk Assessment Data
      description: "Additional risk data associated with the transaction. The data\
        \ is sent in a name-value pair: Additional Risk Assessment Data Name and Additional\
        \ Risk Assessment Data Value."
    authorisationinitiationAdditionalService1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationAdditionalServiceType1Code'
        othrTp:
          type: string
          title: Additional Service Type (Other)
          description: "A label identifying an additional service applied to the transaction\
            \ when the Additional Service Type Code is \"OTHN\" or \"OTHP,\" which\
            \ indicate a national, network, or customer specific value."
          example: othertype
      type: object
      title: Additional Service Information
      description: "Information about an additional service applied to the transaction,\
        \ such as cash back."
    authorisationinitiationAdditionalServiceType1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - CACT
        - CSHB
        - DCCV
        - INTP
        - INTT
        - LOYT
        - OTHN
        - OTHP
        - PRST
      type: string
      description: |-
        Type of additional service.

         - UNSPECIFIED: Default
         - CACT: Card activation
         - CSHB: Purchase of goods or services with cashback
         - DCCV: Dynamic Currency Conversion (DCC)
         - INTP: Instant payment from a cardholder's account to an acceptor's account
         - INTT: Instant transfer of funds from a payer's account to a payee's account.
         - LOYT: Loyalty services
         - OTHN: Other type of additional service at national level
         - OTHP: Other type of additional service at private level
         - PRST: Withdrawal transaction was pre-authorised by another channel (amount could be absent).
    authorisationinitiationAddress1:
      properties:
        adrLine1:
          type: string
          title: Cardholder Street Address
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        adrLine2:
          type: string
          description: "Second line of information that locates and identifies a specific\
            \ address, as defined by postal services."
        strtNm:
          type: string
          description: Name of a street or thoroughfare.
        bldgNb:
          type: string
          description: Number that identifies the position of a building on a street.
        pstlCd:
          type: string
          title: Cardholder Postal Code
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          title: Cardholder City Name
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMnr:
          type: string
          description: "Identifies a minor subdivision of a country, for instance\
            \ county, prefecture."
        ctrySubDvsnMjr:
          type: string
          title: Cardholder Country Subdivision Code
          description: "The code identifying the state, province or other country\
            \ subdivision in the Cardholder's billing address."
          example: MO
        ctry:
          type: string
          title: Cardholder Address
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
      title: Cardholder Address
      description: The billing address of the Cardholder.
    authorisationinitiationAmount4:
      properties:
        amt:
          type: string
          title: Reconciliation Amount
          description: The amount that will be posted to the Cardholder's account.
            This is present when the Cardholder billing currency differs from the
            transaction currency expressed in the amount of the transaction.
          example: 1134
        ccy:
          type: string
          title: "Currency Code, Settlement"
          description: The ISO 4217 numeric code for the currency used for settlement.
          example: 840
        xchgRate:
          type: string
          title: "Conversion Rate, Settlement"
          description: The exchange rate used to convert the Transaction Amount to
            the settlement Amount.
          example: 1
        qtnDt:
          type: string
          title: "Date, Conversion"
          description: The date of the quote for the conversion Exchange Rate.
      type: object
      title: Cardholder Billing Amount Information
      description: "Information used to bill the Cardholder's account, including the\
        \ amount, currency, exchange rate and quotation date."
    authorisationinitiationAmount5:
      properties:
        amt:
          type: string
          title: Breakdown Amount
          description: "An amount that is a portion of the Transaction Amount, such\
            \ as a fee or cashback, expressed in the Transaction Currency."
          example: 2000.00
        sgn:
          type: boolean
          title: Breakdown Amount Sign
          description: The code identifying whether the Breakdown Amount is a credit
            or debit.
          example: PLUS
      type: object
      title: Breakdown Amount Details
      description: "Information about an amount that is a portion of the Transaction\
        \ Amount, such as a fee or cash back amount."
    authorisationinitiationAmount14:
      properties:
        amt:
          type: string
          title: Additional Amount
          description: An amount that is not part of the Transaction Amount.
          example: 5000.00
        ccy:
          type: string
          title: Additional Amount Currency Code
          description: The ISO 4217 numeric code for the currency of the Additional
            Amount.
          example: 840
        sgn:
          type: boolean
          title: Additional Amount Sign
          description: The code identifying whether an Additional Amount is a credit
            or debit.
          example: PLUS
      type: object
      title: Additional Amount Details
      description: "Information about amounts that are not part of the Transaction\
        \ Amount, such as an Issuer-assessed Cardholder fee."
    authorisationinitiationApprovalData1:
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/authorisationinitiationApprovalEntity1'
        apprvlCd:
          type: string
          title: Approval Code
          description: The code sent by the Issuer indicating that the authorization
            was approved or that the message was successfully processed.
          example: 564643
      type: object
      title: Approval Information
      description: Information about the approval of the transaction.
    authorisationinitiationApprovalEntity1:
      properties:
        id:
          type: string
          title: Authorizing Entity Identification
          description: The code identifying the entity approving or declining the
            authorization request.
          example: 543453
        tp:
          $ref: '#/components/schemas/authorisationinitiationPartyType26Code'
      type: object
      title: Authorizing Entity
      description: The entity approving or declining the authorization request.
    authorisationinitiationAuthorisationInitiation1:
      properties:
        envt:
          $ref: '#/components/schemas/authorisationinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/authorisationinitiationContext1'
        tx:
          $ref: '#/components/schemas/authorisationinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/authorisationinitiationProcessingResult1'
        iccRltdData:
          type: string
          title: Chip Data
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: iccrelateddata
      type: object
      title: Message Body
      description: The payload of the message.
    authorisationinitiationAuthorisationInitiationV02:
      properties:
        hdr:
          $ref: '#/components/schemas/authorisationinitiationHeader42'
        body:
          $ref: '#/components/schemas/authorisationinitiationAuthorisationInitiation1'
      type: object
      title: Authorization Initiation
      description: A message sent by the Acquirer or its agent to the Issuer to request
        approval of the transaction or to inform the Issuer about the completion of
        the authorization. It can also be sent by the Issuer to the Acquirer or agent
        to advise about the result of an authorization already performed.
    authorisationinitiationCapabilities1:
      properties:
        pinLngthCpblties:
          type: string
          title: Terminal Maximum PIN Length
          description: The maximum number of digits the Terminal can accept when a
            Cardholder enters their PIN.
          example: 119354446
        crdhldrVrfctnCpblty:
          items:
            $ref: '#/components/schemas/authorisationinitiationCardholderVerificationCapabilities1'
          type: array
          description: "Cardholder verification capabilities performing the transaction\
            \ at the point of service. ISO 8583:93 bit 22-2, ISO 8583:2003 bit 27-2"
      type: object
      title: Terminal Capabilities
      description: The functions the Terminal can perform in the initiation or authorization
        of a transaction.
    authorisationinitiationCardData1:
      properties:
        pan:
          type: string
          title: PAN
          description: "The unique sequence of numbers assigned by the Issuer to the\
            \ Cardholder account that identifies the Issuer and type of Card, or a\
            \ surrogate of the PAN such as a payment token."
          example: 5460126XXXX22775
        cardSeqNb:
          type: string
          title: Card Sequence Number
          description: The number that distinguishes the Card from another with the
            same PAN.
          example: '00'
        xpryDt:
          type: string
          title: Card Expiration Date
          description: The year and month after which the Card is no longer valid.
            It is designated by the Issuer and is embossed and encoded on the Card.
          example: 2302
        trck1:
          type: string
          title: Track 1 Data
          description: The information encoded on Track 1 of the Card's magnetic stripe
            according to the the ISO 7813 specification.
          example: XXXX723476766296421245789651012XXXXX
        trck2:
          $ref: '#/components/schemas/authorisationinitiationTrack2Data1Choice'
        pmtAcctRef:
          type: string
          title: Payment Account Reference
          description: The identifier assigned to the PAN and used to link payment
            tokens associated with that PAN.
          example: paymentaccountreference
        cardCtryCd:
          type: string
          title: Card Country Code
          description: The ISO 3166-1 numeric country code of the Card's Issuer.
        cardPdctTp:
          type: string
          title: Card Product Code
          description: The code identifying the product associated with the Card.
          example: CIR
        addtlCardData:
          type: string
          title: Account Based Service Code
          description: "The code identifying the kind of special processing the Card\
            \ qualifies for, which is defined at the individual account level and\
            \ may be associated with a benefit offered by the issuer."
          example: additionalcarddata
      type: object
      title: Card
      description: "Payment card data associated with a physical or virtual device,\
        \ which provides access to an account and is used to initiate the transaction."
    authorisationinitiationCardDataReading7Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - CDFL
        - ICCY
        - ICPY
        - KEEN
        - MGST
        - MSIP
        - OCRR
        - OPTC
        - OTHP
        - UNSP
      type: string
      description: |-
        - UNSPECIFIED: Default
         - CDFL: Card information are stored on a file.
         - ICCY: ICC contact capability
         - ICPY: ICC contactless proximity
         - KEEN: Key entered.
         - MGST: Magnetic stripe.
         - MSIP: Magstripe image contactless proximity
         - OCRR: OCR either at time of transaction or after the event.
         - OPTC: Optical coded reading capabilities (e.g. barcode, QR code, etc.)
         - OTHP: Other card reading capability assigned on a private basis.
         - UNSP: Unspecified capability.
    authorisationinitiationCardProgramme1:
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/authorisationinitiationCardProgrammeMode1'
      type: object
      title: Card Processing Program
      description: The Card program or financial network to which a transaction belongs.
    authorisationinitiationCardProgrammeMode1:
      properties:
        id:
          type: string
          title: Card Processing Program Code
          description: The code identifying the Card Processing Program used for the
            transaction.
          example: CRI
      type: object
      title: Card Processing Program (Applied)
      description: The Card Processing Program actually used for the transaction.
    authorisationinitiationCardholder15:
      properties:
        id:
          items:
            $ref: '#/components/schemas/authorisationinitiationCredentials1'
          type: array
          description: Identification of the cardholder.  ISO 8583:87 bit 56 (TLV
            tag 03/dataset 73) ISO 8583:93 bit 112 (TLV tag 03/dataset 73) ISO 8583:2003
            bit 51 (TLV tag 03/dataset 73)
        adr:
          $ref: '#/components/schemas/authorisationinitiationAddress1'
      type: object
      title: Cardholder
      description: Information about the person that is an authorized user of a Card.
    authorisationinitiationCardholderVerificationCapabilities1:
      properties:
        cpblty:
          $ref: '#/components/schemas/authorisationinitiationCardholderVerificationCapability5Code'
        othrCpblty:
          type: string
          title: Terminal Cardholder Verification Capability (Other)
          description: "A free text field for identifying a method the Terminal can\
            \ use for Cardholder verification when the Terminal Cardholder Verification\
            \ Capability Code is \"OTHN\" or \"OTHP,\" which indicate a national,\
            \ network, or customer specific value."
          example: otherverificationcapabilities
      type: object
      title: Terminal Cardholder Verification Capability
      description: The methods the Terminal can use for Cardholder verification.
    authorisationinitiationCardholderVerificationCapability5Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - NOPN
        - NPIN
        - OTHP
        - UNSP
      type: string
      description: |-
        Capability of verifying the cardholder's identity or authenticity.

         - UNSPECIFIED: Default
         - NOPN: Device has no pin entry capability.
         - NPIN: Online PIN (Personal Identification Number).
         - OTHP: Other type of cardholder verification defined in a private manner.
         - UNSP: Cardholder verification capability unspecified.
    authorisationinitiationContext1:
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/authorisationinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/authorisationinitiationTransactionContext1'
        vrfctn:
          items:
            $ref: '#/components/schemas/authorisationinitiationVerification1'
          type: array
          description: Contain validation result and/or data to be validated.
        rskCntxt:
          items:
            $ref: '#/components/schemas/authorisationinitiationRiskContext1'
          type: array
          description: Context of risk associated with the transaction.
        saleCntxt:
          $ref: '#/components/schemas/authorisationinitiationSaleContext7'
      type: object
      title: Context
      description: Information about the conditions and characteristics of the transaction.
    authorisationinitiationCredentials1:
      properties:
        idCd:
          $ref: '#/components/schemas/authorisationinitiationIdentification2Code'
        othrIdCd:
          type: string
          title: Cardholder ID Type (Other)
          description: "A free text field for identifying a classification of the\
            \ Cardholder ID when the Cardholder ID Type Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: otheridentificationcode
        idVal:
          type: string
          title: Cardholder ID
          description: "An identifier of the Cardholder, where the kind of ID, such\
            \ as a passport or driver's license number, is specified by the Cardholder\
            \ ID Type Code."
          example: '00'
      type: object
      title: Cardholder Identification
      description: Information identifying the Cardholder.
    authorisationinitiationCustomer3:
      properties:
        cstmrId:
          type: string
          description: Identification of the customer assigned by a party.
          example: 78344XXX
        adr:
          $ref: '#/components/schemas/authorisationinitiationAddress1'
        crdntls:
          items:
            $ref: '#/components/schemas/authorisationinitiationCredentials1'
          type: array
          description: Credentials of the financial customer.
        dtOfBirth:
          type: string
          title: Payee Birth Date
          description: The birth date of the Payee.
          example: 1997-08-22
      type: object
      description: Identifies the customer in a transfer of money.
    authorisationinitiationCustomerDevice2:
      properties:
        dvc:
          $ref: '#/components/schemas/authorisationinitiationDevice1'
      type: object
      title: Cardholder Device Information
      description: "Information about the device, such as a mobile phone, used by\
        \ the Cardholder to store Card data and to initiate the transaction."
    authorisationinitiationCustomerDeviceType1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - MOBL
        - OTHP
        - PECR
        - TBLT
      type: string
      description: |-
        Type of customer device.

         - UNSPECIFIED: Default
         - MOBL: Mobile phone
         - OTHP: Other device defined in a private way.
         - PECR: Personal computer
         - TBLT: Tablet
    authorisationinitiationDetailAmount1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - DCCF
        - SRCH
      type: string
      description: |-
        Type of detail amount.

         - UNSPECIFIED: Default
         - DCCF: Dynamic Currency Conversion type of amount
         - SRCH: Fee charged by the acceptor for the transaction.
    authorisationinitiationDetailedAmount19:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationDetailAmount1Code'
        othrTp:
          type: string
          title: Breakdown Amount Type (Other)
          description: "The code identifying the classification of the Breakdown Amount\
            \ when the Breakdown Amount Type is \"OTHN\" or \"OTHP,\" which indicate\
            \ a national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/authorisationinitiationAmount5'
      type: object
      title: Breakdown Amount
      description: "An amount that is a portion of the Transaction Amount, such as\
        \ a fee or cash back amount."
    authorisationinitiationDevice1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationCustomerDeviceType1Code'
        othrTp:
          type: string
          title: Other Cardholder Device Type Code
          description: "The code identifying the kind of device, such as a mobile\
            \ phone, used by the Cardholder to store or read Card data and to initiate\
            \ the transaction not shown in Type."
      type: object
      description: Identification of the customer device.
    authorisationinitiationEnvironment1:
      properties:
        acqrr:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/authorisationinitiationTerminal1'
        card:
          $ref: '#/components/schemas/authorisationinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/authorisationinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/authorisationinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/authorisationinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/authorisationinitiationCardholder15'
      type: object
      title: Transaction Parties
      description: Information about and related to the participants involved in the
        transaction and related message exchanges.
    authorisationinitiationFeeAmount2:
      properties:
        amt:
          type: string
          title: Additional Fee Amount
          description: The amount of the Additional Fee.
          example: 50.00
      type: object
      title: Additional Fee
      description: A fee not included in the transaction amount.
    authorisationinitiationFundingService1:
      properties:
        fndgSvc:
          $ref: '#/components/schemas/authorisationinitiationTransferService1'
        fndgSrc:
          $ref: '#/components/schemas/authorisationinitiationFundingSource2'
      type: object
      title: Funds Transfer
      description: Information about a transaction where funds are sent from one party
        to another.
    authorisationinitiationFundingSource2:
      properties:
        srcTp:
          $ref: '#/components/schemas/authorisationinitiationFundingSourceType2Code'
        othrSrcTp:
          type: string
          title: Funds Transfer Source (Other)
          description: "A free text field for identifying the source of funds for\
            \ the Funds Transfer when the Funds Transfer Source Code is \"OTHN\" or\
            \ \"OTHP,\" which indicate a national, network, or customer specific value."
          example: othersourectype
      type: object
      title: Funds Transfer Source
      description: General information about the source of funds for the Funds Transfer.
    authorisationinitiationFundingSourceType2Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - CASH
        - CDBT
        - CRDT
        - OTHP
        - PRPD
      type: string
      description: |-
        Type of funding source used for a financial service.

         - UNSPECIFIED: Default
         - CASH: Cash as a source type  to perform the transaction.
         - CDBT: Debit card account.
         - CRDT: Credit card account.
         - OTHP: Other type of account defined at private level.
         - PRPD: Pre-paid account.
    authorisationinitiationGenericIdentification172:
      properties:
        id:
          type: string
          title: Party ID
          description: The identifier assigned by Mastercard to the Party.
          example: 523793
      type: object
      description: Identification of an entity.
    authorisationinitiationHeader42:
      properties:
        msgFctn:
          $ref: '#/components/schemas/authorisationinitiationMessageFunction16Code'
        prtcolVrsn:
          type: string
          title: Protocol Version
          description: The version of the Mastercard Switch Platform Specifications.
          example: 0
        creDtTm:
          type: string
          title: Message Creation Date Time
          description: The date and time the message was created.
          example: 2022-04-12T15:24:16.545z
        initgPty:
          $ref: '#/components/schemas/authorisationinitiationGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalData1'
          type: array
          title: Trace Data
          description: "Private-use data defined by the message originator to be returned\
            \ unaltered in any subsequent message.  The data is sent in a name-value\
            \ pair: Trace Data Name and Trace Data Value."
      type: object
      title: Message Header
      description: "Information about the message exchange itself, not the content\
        \ of the exchange."
    authorisationinitiationIdentification2Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - DRID
        - NTID
        - OTHP
        - PASS
        - PHNB
      type: string
      description: |-
        Identification of an individual.

         - UNSPECIFIED: Default
         - DRID: Driver licence identification.
         - NTID: National identification.
         - OTHP: Other identification provided at private level.
         - PASS: Passport number.
         - PHNB: Phone number.
    authorisationinitiationMessageFunction16Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - ADVC
        - REQU
      type: string
      description: |-
        - UNSPECIFIED: Default
         - ADVC: Advice indicates where the sender informs the receiver of an activity that has been taken that requires a response.
         - REQU: Message function is a request.
    authorisationinitiationOriginalDataElements1:
      properties:
        rtrvlRefNb:
          type: string
          title: Retrieval Reference Number (Original)
          description: "The Retrieval Reference Number of the original message, which\
            \ is an identifier of the transaction source document generated by the\
            \ system retaining it, such as a receipt in an acceptor point-of-sale\
            \ system."
          example: 22200012345
        lifeCyclTracIdData:
          $ref: '#/components/schemas/authorisationinitiationTransactionLifeCycleIdentification1'
      type: object
      title: Original Data Elements
      description: "Information used for tracking the current message back to prior\
        \ messages for the same transaction, such as a reversal to an original request\
        \ or an advice to an original request."
    authorisationinitiationPINData1:
      properties:
        ctrl:
          type: string
          title: Control
          description: Identifies the key management scheme and associated structure
            of the remainder of the data element
          example: Tpincontroldata
        keySetIdr:
          type: string
          title: Key Set ID
          description: "An identifier of a key set, where a key set is a group of\
            \ related keys that are all different but have certain characteristics\
            \ in common."
          example: '00000001'
        algo:
          type: string
          title: Algorithm ID
          description: The identifier of the encryption algorithm used to encipher
            the keys contained in the associated key management data element.
          example: pinalgorithm
        keyIndx:
          type: string
          title: Key Index
          description: A number identifying the key to be used when more than one
            key is available in the key set.
          example: '01'
        pINBlckFrmt:
          type: string
          title: PIN Block Format Code
          description: The code identifying the format of the encrypted PIN.
          example: '01'
        ncrptdPINBlck:
          type: string
          title: Encrypted PIN
          description: The value of the encrypted PIN.
          example: 18B18AB123321431
      type: object
      title: PIN Encryption Information
      description: Information related to the encryption of the Cardholder's PIN (Personal
        ID Number) and the encrypted PIN itself.
    authorisationinitiationPartyIdentification197:
      properties:
        id:
          type: string
          title: Party ID
          description: The identifier assigned by Mastercard to the Party.
          example: '001727'
        ctry:
          type: string
          description: Country of the party.
        addtlId:
          type: string
          title: Additional Party ID
          description: The identifier assigned by Mastercard to the Party.
          example: additionalidentification
      type: object
      title: Acquirer
      description: The financial institution or other entity acquiring transactions
        for the Acceptor.
    authorisationinitiationPartyIdentification200:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationinitiationPartyType28Code'
      type: object
      title: Risk Assessor
      description: The party that performed the Risk Assessment.
    authorisationinitiationPartyIdentification203:
      properties:
        id:
          type: string
          title: Acceptor ID
          description: "The identifier assigned by the Acquirer to the Acceptor and\
            \ its location, or to the Payment Facilitator."
          example: '0011011001001'
        addtlId:
          type: string
          title: Acceptor ID (Mastercard Assigned)
          description: The identifier assigned by Mastercard to the Acceptor.
          example: additionalidentification
        nmAndLctn:
          type: string
          title: Acceptor Name
          description: "The name of the Acceptor that should be recognizable by the\
            \ Cardholder and may include other descriptors, such as a store number."
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/authorisationinitiationAddress1'
        addtlCtctInf:
          type: string
          title: Acceptor Additional Contact Information
          description: "Additional information for contacting the Acceptor, such as\
            \ an additional phone number or a contact name."
          example: additionalcontactinformation
        addtlData:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalData1'
          type: array
          title: Acceptor Additional Data
          description: "Additional data about or related to the Acceptor, such as\
            \ the Payment Facilitator ID.  The data is sent in a name-value pair:\
            \ Acceptor Additional Data Name and Acceptor Additional Data Value."
        spnsrdMrchnt:
          items:
            $ref: '#/components/schemas/authorisationinitiationSponsoredMerchant1'
          type: array
          title: Sponsored Merchant
          description: A Merchant that uses the services of a Payment Facilitator.  Referred
            to as Submerchant in Mastercard Rules.
      type: object
      description: Identification of a party.
    authorisationinitiationPartyIdentification211:
      properties:
        cstmr:
          $ref: '#/components/schemas/authorisationinitiationCustomer3'
      type: object
      title: Payee
      description: The credential holder (i.e. accountholder or Cardholder) receiving
        the payment in the Funds Transfer.
    authorisationinitiationPartyType26Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - AGNT
        - CISS
      type: string
      description: |-
        Type of entity acting as a Payment Initiation Service Provider.

         - UNSPECIFIED: Default
         - AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - CISS: Party that issues cards.
    authorisationinitiationPartyType28Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - ACCP
        - ACQR
        - AGNT
        - ISUR
        - OTHN
        - OTHP
        - WLPR
      type: string
      description: |-
        Type of entity involved in a card payment transaction.

         - UNSPECIFIED: Default
         - ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - ACQR: Entity acquiring card transactions.
         - AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - ISUR: Issuer is the entitled party.
         - OTHN: Other card payment entity type defined at national level
         - OTHP: Other card payment entity type defined at private level
         - WLPR: Provider of an electronic wallet
    authorisationinitiationPointOfServiceContext1:
      properties:
        prtlApprvlSpprtd:
          type: boolean
          title: Terminal Partial Approval Support Indicator
          description: "The indicator that the Terminal supports partial approvals,\
            \ which allows for the authorization of less than the full transaction\
            \ amount so the Cardholder can use multiple forms of payment. code identifying\
            \ the type of Terminal used by the Cardholder to initiate the unattended\
            \ transaction, such as a self-service Terminal."
          example: 1
        cardDataNtryMd:
          $ref: '#/components/schemas/authorisationinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          title: Terminal Card Data Input Method (Other)
          description: "A free text field for identifying the Card data input method\
            \ when the Terminal Card Data Input Method Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: othercardentrymode
        storgLctn:
          type: string
          title: Card Data Storage Location
          description: "The code identifying where the Card data is stored, such as\
            \ on a Wallet or by the Acceptor."
          example: '01'
        spclConds:
          items:
            $ref: '#/components/schemas/authorisationinitiationSpecialConditions1'
          type: array
          description: Data used to assign specific conditions at the card acceptor
            location and decided by bilateral agreements.
      type: object
      title: Point of Interaction Context
      description: "Information about the initiation of the transaction, such as how\
        \ Card data was entered."
    authorisationinitiationProcessingResult1:
      properties:
        apprvlData:
          $ref: '#/components/schemas/authorisationinitiationApprovalData1'
        rsltData:
          $ref: '#/components/schemas/authorisationinitiationResultData1'
      type: object
      title: Authorization Result Information
      description: Information related to the result of the Authorization Initiation.
    authorisationinitiationResultData1:
      properties:
        rsltDtls:
          type: string
          title: Authorization Result Code (Original)
          description: "The code identifying if the transaction was approved, or if\
            \ it was declined, the reason for the rejection or the action required\
            \ of the Acceptor. The code can also identify the disposition of a previous\
            \ message or an action taken as a result of receipt of a previous message."
          example: '00'
        addtlRsltInf:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalData1'
          type: array
          description: Additional result information to be conveyed.
      type: object
      title: Authorization Result (Original)
      description: The result of a previous Authorization Initiation message.
    authorisationinitiationRiskAssessment1:
      properties:
        rskAssmntNtty:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification200'
        rskAssmntTp:
          type: string
          title: Risk Assessment Type
          description: The type of Risk Assessment performed.
          example: MFSD
        rsn:
          items:
            type: string
          type: array
          title: Risk Score Reason Code
          description: The code(s) indentify the factor(s) that contributed to the
            Risk Score.
          example: riskassessmentreason
        rslt:
          type: string
          title: Risk Score
          description: The score indicating the level of risk for the transaction.
          example: riskassessmentresult
        addtlRskData:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalRiskData1'
          type: array
          description: Additional risk data associated with the transaction.
      type: object
      title: Risk Assessment
      description: Information about the result of the evaluation of the likelihood
        of fraud for the transaction.
    authorisationinitiationRiskContext1:
      properties:
        rskInptData:
          items:
            $ref: '#/components/schemas/authorisationinitiationRiskInputData1'
          type: array
          description: Input data to be considered in a risk assessment.
        rskAssmnt:
          items:
            $ref: '#/components/schemas/authorisationinitiationRiskAssessment1'
          type: array
          description: Indicates to the card issuer the level of risk associated with
            the transaction.
      type: object
      title: Risk Context
      description: Information related to the evaluation of the likelihood of fraud
        for the transaction and the result of the evaluation.
    authorisationinitiationRiskInputData1:
      properties:
        tp:
          type: string
          title: Risk Input Data Name
          description: A free text field for labeling the Risk Assessment Input data
            given in the Risk Data Field Value.
          example: PTXS
        val:
          type: string
          title: Risk Input Data Value
          description: A free text field for the Risk Assessment Input data that is
            labeled by the Risk Data Field Name.
          example: riskinputvalue
      type: object
      title: Risk Assessment Input
      description: Data provided for the Risk Assessment.
    authorisationinitiationSaleContext7:
      type: object
      title: Sale Context
      description: Information related to the sale performed.
    authorisationinitiationSettlementService1:
      properties:
        sttlmSvcDts:
          $ref: '#/components/schemas/authorisationinitiationSettlementServiceDate1'
      type: object
      title: Settlement Service
      description: The execution of the exchange of funds between the Issuer and the
        Acquirer.
    authorisationinitiationSettlementServiceDate1:
      properties:
        sttlmDt:
          type: string
          title: Settlement Date (Reporting)
          description: A date assigned by Mastercard and used for settlement reporting.
            It is not the date of the actual settlement of funds.
          example: 2022-05-31z
      type: object
      title: Settlement Service Dates
      description: Dates related to the Settlement Service of the transaction.
    authorisationinitiationSpecialConditions1:
      properties:
        id:
          type: string
          title: Point of Interaction Context Additional Data Name
          description: A free text field for labeling the Point of Interaction Context
            Additional given in the Point of Interaction Context Additional Value.
          example: identification
        val:
          type: string
          title: Point of Interaction Context Additional Data Value
          description: A free text field for the Point of Interaction Context Additional
            that is labeled by the Point of Interaction Context Additional.
          example: identificationvalue
      type: object
      title: Point of Interaction Context Additional Data Name
      description: A free text field for labeling the Point of Interaction Context
        Additional given in the Point of Interaction Context Additional Value.
    authorisationinitiationSpecialProgrammeDetails1:
      properties:
        nm:
          type: string
          title: Special Program Data Name
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: combo_card_id
        val:
          type: string
          title: Special Program Data Value
          description: A free text field for the Special Program Data lableled by
            the Special Program Data Name.
          example: specialprogrammequalificationvalue
      type: object
      title: Special Program Data
      description: "Data about the Special Program associated with the transaction.\
        \ The data is sent in a name-value pair: Special Program Data Name and Special\
        \ Program Data Value."
    authorisationinitiationSpecialProgrammeQualification1:
      properties:
        prgrmm:
          type: string
          title: Special Program Name
          description: The name of the Special Program.
          example: combo_card
        dtl:
          items:
            $ref: '#/components/schemas/authorisationinitiationSpecialProgrammeDetails1'
          type: array
          title: Special Program Data
          description: "Data about the Special Program associated with the transaction.\
            \ The data is sent in a name-value pair: Special Program Data Name and\
            \ Special Program Data Value."
      type: object
      title: Special Program
      description: "Information related to the Card's qualification in a Mastercard\
        \ program that affects, for example, how the transaction is processed or the\
        \ associated interchange fees."
    authorisationinitiationSponsoredMerchant1:
      properties:
        id:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification197'
      type: object
      title: Sponsored Merchant
      description: A Merchant that uses the services of a Payment Facilitator.  Referred
        to as Submerchant in Mastercard Rules.
    authorisationinitiationTerminal1:
      properties:
        termnlId:
          $ref: '#/components/schemas/authorisationinitiationTerminalIdentification1'
        tp:
          $ref: '#/components/schemas/authorisationinitiationTerminalType1Code'
        othrTp:
          type: string
          title: Terminal Subtype Code
          description: "The code identifying the subtype of the Cardholder activated\
            \ Terminal, such as an automated dispensing machine."
        cpblties:
          $ref: '#/components/schemas/authorisationinitiationCapabilities1'
        termnlIntgtn:
          $ref: '#/components/schemas/authorisationinitiationTerminalIntegrationCategory1Code'
      type: object
      title: Terminal
      description: "The device that is under the control of the Acceptor, captures\
        \ and exchanges Card data, and permits a Cardholder to initiate a transaction;\
        \ for example, a point-of-sale Terminal, an ATM Terminal, or an ecommerce\
        \ gateway."
    authorisationinitiationTerminalIdentification1:
      properties:
        id:
          type: string
          title: Terminal ID
          description: "The identifier assigned by the Acceptor or the Acquirer to\
            \ the Terminal, payment gateway, or other acceptance device used to capture\
            \ account data to effect a transaction at the Acceptor location."
          example: ABC232635
        ctry:
          type: string
          title: Terminal Country Code
          description: The ISO 3166-1 alpha-3 country code of the Terminal.
          example: USA
      type: object
      title: Terminal Identification
      description: Information identifying the Terminal.
    authorisationinitiationTerminalIntegrationCategory1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - MPOI
        - MSLE
        - SSLE
      type: string
      description: |-
        Terminal category code of the place where the merchant actually performed the transaction.

         - UNSPECIFIED: Default
         - MPOI: Multiple terminals linked to a unique sale terminal.
         - MSLE: Terminal serving multiple sale terminals.
         - SSLE: Terminal linked to a unique sale terminal.
    authorisationinitiationTerminalType1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - ATMT
        - MPOS
        - OTHP
        - POST
      type: string
      description: |-
        Type of terminal to perform the transaction.

         - UNSPECIFIED: Default
         - ATMT: Automated Teller Machine
         - MPOS: Mobile or tablet used as a Point of Sale terminal
         - OTHP: Other private type of terminal.
         - POST: Point of Sale terminal.
    authorisationinitiationToken1:
      properties:
        pmtTkn:
          type: string
          title: Payment Token
          description: The identifier that is mapped to the PAN and used in place
            of the PAN for payment security.
          example: 3234231674564236476
        tknXpryDt:
          type: string
          title: Payment Token Requestor ID
          description: The identifier assigned by the token provider to the party
            that requested a Payment Token.
          example: 2205
        tknRqstrId:
          type: string
          title: Payment Token Information
          description: Information related to the identifier that is used in place
            of the PAN for payment security.
          example: 12567321211
        tknAssrncMtd:
          type: string
          title: Payment Token Verification Method Code
          description: The code identifying a classification of the verification performed
            and the party that performed it.
          example: 10
      type: object
      title: Payment Token Information
      description: Information related to the identifier that is used in place of
        the PAN for payment security.
    authorisationinitiationTrack2Data1Choice:
      properties:
        txtVal:
          type: string
          title: Track 2 Data (Text)
          description: "The information encoded on Track 2 of the Card's magnetic\
            \ stripe according to the the ISO 7813 specification, expressed in text\
            \ form. information encoded on Track 2 of the Card's magnetic stripe according\
            \ to the the ISO 7813 specification."
          example: XXXX145432556611121245789651012XXXXX
      type: object
      title: Track 2 Data
      description: The information encoded on Track 2 of the Card's magnetic stripe
        according to the the ISO 7813 specification.
    authorisationinitiationTransaction77:
      properties:
        txTp:
          type: string
          title: Transaction Type Code
          description: "The code identifying the general type of transaction, such\
            \ as a purchase or a balance inquiry."
          example: '00'
        txSubTp:
          type: string
          title: Transaction Subtype Code
          description: "The code identifying the subtype of the transaction, such\
            \ as the kind of Funds Transfer or a prepaid card load."
          example: C02
        addtlSvc:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalService1'
          type: array
          title: Additional Service Information
          description: "Information about an additional service applied to the transaction,\
            \ such as cash back."
        txAttr:
          $ref: '#/components/schemas/authorisationinitiationTransactionAttribute1Code'
        msgRsn:
          items:
            type: string
          type: array
          title: Message Reason Code
          description: The code identifying a specific reason for the message.
        preAuthstnTmLmt:
          type: string
          title: Pre-Authorization Time Limit
          description: The number of minutes within which the Acceptor is expected
            to complete the transaction.
          example: '00'
        spclPrgrmmQlfctn:
          items:
            $ref: '#/components/schemas/authorisationinitiationSpecialProgrammeQualification1'
          type: array
          title: Special Program
          description: "Information related to the Card's qualification in a Mastercard\
            \ program that affects, for example, how the transaction is processed\
            \ or the associated interchange fees."
        txId:
          $ref: '#/components/schemas/authorisationinitiationTransactionIdentification8'
        txAmts:
          $ref: '#/components/schemas/authorisationinitiationTransactionAmounts1'
        addtlAmts:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalAmounts1'
          type: array
          title: Additional Amounts
          description: "Information about amounts that are not part of the Transaction\
            \ Amount, such as an Issuer-assessed Cardholder fee."
        addtlFees:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalFee1'
          type: array
          title: Additional Fees
          description: Information about fees not included in the transaction amount.
        fndsSvcs:
          $ref: '#/components/schemas/authorisationinitiationFundingService1'
        acctFr:
          $ref: '#/components/schemas/authorisationinitiationAccountDetails2'
        acctTo:
          $ref: '#/components/schemas/authorisationinitiationAccountDetails2'
        addtlData:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalData1'
          type: array
          title: Transaction Additional Data
          description: "Additional data about the transaction. The data is sent in\
            \ a name-value pair: Transaction Additional Data Name and Transaction\
            \ Additional Data Value."
      type: object
      title: Transaction
      description: "Information about the transaction, such as amounts."
    authorisationinitiationTransactionAmount1:
      properties:
        amt:
          type: string
          title: Transaction Amount Value
          description: The amount of the transaction in the currency of the point
            of interaction.
          example: 1134
        ccy:
          type: string
          title: Transaction Amount Currency Code
          description: "The ISO 4217 numeric code for the currency of the Transaction\
            \ Amount, which is the currency of the point of interaction."
          example: 840
      type: object
      title: Transaction Amount
      description: Information about the transaction amount.
    authorisationinitiationTransactionAmounts1:
      properties:
        txAmt:
          $ref: '#/components/schemas/authorisationinitiationTransactionAmount1'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/authorisationinitiationAmount4'
        rcncltnAmt:
          $ref: '#/components/schemas/authorisationinitiationAmount4'
        dtldAmt:
          items:
            $ref: '#/components/schemas/authorisationinitiationDetailedAmount19'
          type: array
          title: Breakdown Amount
          description: "An amount that is a portion of the Transaction Amount, such\
            \ as a fee or cash back amount."
      type: object
      title: Transaction Amounts
      description: Information about the transaction amount.
    authorisationinitiationTransactionAttribute1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - AGGR
        - CADB
        - CPLT
        - DBRP
        - DFRD
        - FRCP
        - INCR
        - INST
        - OTHN
        - OTHP
        - PACP
        - PAUT
        - PPYT
        - RCPT
        - SUBR
        - TPUP
      type: string
      description: |-
        Attribute of the transaction.

         - UNSPECIFIED: Default
         - AGGR: Payment is an aggregation one.
         - CADB: Withdrawal is a cardless cash disbursement one.
         - CPLT: Transaction previously initiated is completed and contains the actual amount.
         - DBRP: Payment is a debt repayment one.
         - DFRD: Payment is a deferred one.
         - FRCP: First occurence of a recurring payment.
         - INCR: To authorise additional amounts for a previously authorised transaction.
         - INST: Payment is an instalment one.
         - OTHN: Attribute defined at national level.
         - OTHP: Attribute defined at private level
         - PACP: Financial completion of a pre-authorised transaction within a specified timeframe.
         - PAUT: Preauthorisation for an amount which is unknown at the time when the transaction is initiated and to be cleared within a specified timeframe.
         - PPYT: Payment in advance of receiving goods or services.
         - RCPT: An occurrence of a recurring payment..
         - SUBR: Subsequent occurrence of a recurring payment.
         - TPUP: Service to replenish value in an account (for example, mobile account, prepaid account, etc.).
    authorisationinitiationTransactionContext1:
      properties:
        mrchntCtgyCd:
          type: string
          title: Merchant Category Code (MCC)
          description: "The ISO 18245 code identifying the type of goods or services\
            \ generally provided by the Acceptor, which is used to drive transaction\
            \ processing logic."
          example: 7992
        mrchntCtgySpcfcData:
          type: string
          title: Transaction Category Code (TCC)
          description: "The code identifying a classification of the transaction,\
            \ such as a bill payment or hotel rental."
          example: T
        iccFllbckInd:
          type: boolean
          title: Chip Failure Indicator
          description: The indicator that an attempted chip entry failed and the Card
            was swiped or the Card data was entered manually instead.
          example: true
        mgntcStrpFllbckInd:
          type: boolean
          title: Magnetic Stripe Failure Indicator
          description: The indicator that an attempted magnetic stripe entry failed
            and the Card data was entered manually instead.
          example: true
        fnlAuthstnInd:
          type: boolean
          title: Final Authorization Indicator
          description: The indicator that the authorization request is for the final
            amount that should be billed to the Cardholder.
          example: true
        cardPrgrmm:
          $ref: '#/components/schemas/authorisationinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/authorisationinitiationSettlementService1'
      type: object
      title: Transaction Context
      description: "Information about the transaction, such as the Merchant Category\
        \ Code."
    authorisationinitiationTransactionIdentification8:
      properties:
        lclDtTm:
          type: string
          title: Transaction Date Time (Local)
          description: The local date and time at which the transaction took place
            at the point of interaction.
          example: 2022-04-12T15:24:16.545z
        trnsmssnDtTm:
          type: string
          title: Transmission Date Time
          description: "The date and time that the message was sent to the Mastercard\
            \ Switch Platform, expressed in Coordinated Universal Time (UTC)."
        sysTracAudtNb:
          type: string
          title: System Trace Audit Number (STAN)
          description: An identifier of the transaction assigned by the message originator.
          example: 123456
        rtrvlRefNb:
          type: string
          title: Retrieval Reference Number
          description: "An identifier of the transaction source document generated\
            \ by the system retaining it, such as a receipt in an acceptor point-of-sale\
            \ system."
          example: 22200012345
        lifeCyclTracIdData:
          $ref: '#/components/schemas/authorisationinitiationTransactionLifeCycleIdentification1'
        orgnlDataElmts:
          $ref: '#/components/schemas/authorisationinitiationOriginalDataElements1'
      type: object
      title: Transaction Identification
      description: Information used to identify the transaction.
      example: XXXX1234567XXXX
    authorisationinitiationTransactionLifeCycleIdentification1:
      properties:
        id:
          type: string
          title: Life Cycle ID
          description: "An identifier generated by the Mastercard Switch Platform\
            \ for each authorization and financial message. The ID links original\
            \ messages to subsequent ones, such as those for clearing records."
          example: 8HLX6K
      type: object
      title: Life Cycle Identification
      description: Information used to identify all messages associated with the transaction.
    authorisationinitiationTransferService1:
      properties:
        ref:
          type: string
          title: Funds Transfer ID
          description: An identifier of the Funds Transfer.
          example: '0555555801215305401'
        bizPurp:
          type: string
          title: Funds Transfer Purpose Code
          description: The code identifying the purpose of the Funds Transfer.
          example: businesspurpose
        desc:
          type: string
          title: Funds Transfer Description
          description: A free text field for the Payer of the Funds Transfer to provide
            a description for the Payee.
      type: object
      title: Funds Transfer Service
      description: Information about the service where funds are sent from one party
        to another.
    authorisationinitiationTypeOfAmount10Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - FEEA
        - FEEP
        - INTC
        - OTHP
      type: string
      description: |-
        Type or class of amount.

         - UNSPECIFIED: Default
         - FEEA: International service assessment fees.
         - FEEP: Processing fees.
         - INTC: Interchange fee.
         - OTHP: Other type of amount defined at private level.
    authorisationinitiationTypeOfAmount12Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - AMTQ
        - OTHP
        - RQCH
      type: string
      description: |-
        Type of amount.

         - UNSPECIFIED: Default
         - AMTQ: Transaction amount that has been requested to be authorised.
         - OTHP: Other type of amount defined at private level.
         - RQCH: Requested cashback amount
    authorisationinitiationVerification1:
      properties:
        vrfctnInf:
          items:
            $ref: '#/components/schemas/authorisationinitiationVerificationInformation1'
          type: array
          description: Contains verification or authentication data.
        vrfctnRslt:
          items:
            $ref: '#/components/schemas/authorisationinitiationVerificationResult1'
          type: array
          description: Result of verifications performed prior or after the transaction.  ISO
            8583:93 bit 39 ISO 8583:2003 bit 39 & 49-72
      type: object
      title: Verification
      description: Information related to the verification of Card and Cardholder
        data.
    authorisationinitiationVerificationInformation1:
      properties:
        tp:
          type: string
          title: Verification Data Name
          description: A free text field for labeling the Verification Data given
            in the Verification Data Value (Text).
          example: CSEC
        val:
          $ref: '#/components/schemas/authorisationinitiationVerificationValue1Choice'
      type: object
      description: Contains verification or authentication data.
    authorisationinitiationVerificationResult1:
      properties:
        tp:
          type: string
          title: Verification Result Type Code
          description: "The code identifying the type of verification performed, such\
            \ as address verification or token authentication."
          example: A1
        rsltDtls:
          items:
            $ref: '#/components/schemas/authorisationinitiationAdditionalData1'
          type: array
          title: Verification Result Detail
          description: "Additional data about the Verification Result. The data is\
            \ sent in a name-value pair: Verification Result Detail Name and Verification\
            \ Result Detail Value."
      type: object
      title: Verification Result
      description: The result of the Verification.
    authorisationinitiationVerificationValue1Choice:
      properties:
        txtVal:
          type: string
          title: Verification Data Value (Text)
          description: A free text field for the Verification Data labeled by the
            Verification Data Name.
          example: TextValue
        binryVal:
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
          title: Verification Data Value (Binary)
          description: A binary field for the Verification Data labeled by the Verification
            Data Name.
        pINData:
          $ref: '#/components/schemas/authorisationinitiationPINData1'
      type: object
      title: Verification Data Value
      description: The Verification Data labeled by the Verification Data Name.
    authorisationinitiationWallet1:
      properties:
        prvdr:
          $ref: '#/components/schemas/authorisationinitiationPartyIdentification197'
      type: object
      title: Digital Wallet
      description: Software that stores Card data and can be used to imitate a transaction.
    authorisationresponseAccountDetails2:
      properties:
        acctTp:
          type: string
          title: Account Type Code (To/From)
          description: The code identifying the kind of account to/from which funds
            were sent.
          example: '00'
        acctId:
          type: string
          title: Account ID (To/From)
          description: An identifier of the account to/from which funds were transferred.
          example: 10105556
      type: object
      title: Account To/From
      description: Information about the account to/from which funds were sent in
        a Funds Transfer.
    authorisationresponseAdditionalAmounts1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationresponseTypeOfAmount12Code'
        othrTp:
          type: string
          title: Additional Amount Type (Other)
          description: "The code identifying the type of an Additional Amount when\
            \ the Additional Amount Type is \"OTHN\" or \"OTHP,\" which indicate a\
            \ national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/authorisationresponseAmount14'
      type: object
      title: Additional Amounts
      description: "Information about amounts that are not part of the Transaction\
        \ Amount, such as an Issuer-assessed Cardholder fee."
    authorisationresponseAdditionalData1:
      properties:
        tp:
          type: string
          title: Transaction Additional Data Name
          description: A free text field for labeling the Transaction Additional Data
            given in the Transaction Additional Data Value.
          example: additionaldatatype
        val:
          type: string
          title: Transaction Additional Data Value
          description: A free text field the Transaction Additional Data that is labeled
            by the Transaction Additional Data Name.
          example: additionaldatavalue
      type: object
      title: Transaction Additional Data
      description: "Additional data about the transaction. The data is sent in a name-value\
        \ pair: Transaction Additional Data Name and Transaction Additional Data Value."
    authorisationresponseAdditionalFee1:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationresponseTypeOfAmount10Code'
        othrTp:
          type: string
          title: Additional Fee Type (Other)
          description: The code identifying the type of additional fee.
          example: spain_atm_credit_card_fee
        amt:
          $ref: '#/components/schemas/authorisationresponseFeeAmount2'
      type: object
      title: Additional Fees
      description: Information about fees not included in the transaction amount.
    authorisationresponseAdditionalRiskData1:
      properties:
        tp:
          type: string
          title: Risk Assessment Additional Data Value
          description: A free text field for labeling the Additional Risk Assessment
            Data given in the Additional Risk Assessment Data Value.
          example: pos_transaction_security
        val:
          type: string
          title: Risk Assessment Additional Data Name
          description: A free text field for the Risk Assessment Additionalthat is
            labeled by the Additional Risk Assessment Data Name.
          example: 0
      type: object
      title: Additional Risk Assessment Data
      description: "Additional risk data associated with the transaction. The data\
        \ is sent in a name-value pair: Additional Risk Assessment Data Name and Additional\
        \ Risk Assessment Data Value."
    authorisationresponseAmount4:
      properties:
        amt:
          type: string
          title: Reconciliation Amount
          description: The amount that will be posted to the Cardholder's account.
            This is present when the Cardholder billing currency differs from the
            transaction currency expressed in the amount of the transaction.
          example: 1134
        ccy:
          type: string
          title: "Currency Code, Settlement"
          description: The ISO 4217 numeric code for the currency used for settlement.
          example: 840
        xchgRate:
          type: string
          title: "Conversion Rate, Settlement"
          description: The exchange rate used to convert the Transaction Amount to
            the settlement Amount.
          example: 1
        qtnDt:
          type: string
          title: "Date, Conversion"
          description: The date of the quote for the conversion Exchange Rate.
      type: object
      title: Cardholder Billing Amount Information
      description: "Information used to bill the Cardholder's account, including the\
        \ amount, currency, exchange rate and quotation date."
    authorisationresponseAmount5:
      properties:
        amt:
          type: string
          title: Breakdown Amount
          description: "An amount that is a portion of the Transaction Amount, such\
            \ as a fee or cashback, expressed in the Transaction Currency."
          example: 2000.00
        sgn:
          type: boolean
          title: Breakdown Amount Sign
          description: The code identifying whether the Breakdown Amount is a credit
            or debit.
          example: PLUS
      type: object
      title: Breakdown Amount Details
      description: "Information about an amount that is a portion of the Transaction\
        \ Amount, such as a fee or cash back amount."
    authorisationresponseAmount14:
      properties:
        amt:
          type: string
          title: Additional Amount
          description: An amount that is not part of the Transaction Amount.
          example: 5000.00
        ccy:
          type: string
          title: Additional Amount Currency Code
          description: The ISO 4217 numeric code for the currency of the Additional
            Amount.
          example: 840
        sgn:
          type: boolean
          title: Additional Amount Sign
          description: The code identifying whether an Additional Amount is a credit
            or debit.
          example: PLUS
      type: object
      title: Additional Amount Details
      description: "Information about amounts that are not part of the Transaction\
        \ Amount, such as an Issuer-assessed Cardholder fee."
    authorisationresponseApprovalData1:
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/authorisationresponseApprovalEntity1'
        apprvlCd:
          type: string
          title: Approval Code
          description: The code sent by the Issuer indicating that the authorization
            was approved or that the message was successfully processed.
          example: 564643
      type: object
      title: Approval Information
      description: Information about the approval of the transaction.
    authorisationresponseApprovalEntity1:
      properties:
        id:
          type: string
          title: Authorizing Entity Identification
          description: The code identifying the entity approving or declining the
            authorization request.
          example: 543453
        tp:
          $ref: '#/components/schemas/authorisationresponsePartyType26Code'
      type: object
      title: Authorizing Entity
      description: The entity approving or declining the authorization request.
    authorisationresponseAuthorisationResponse1:
      properties:
        envt:
          $ref: '#/components/schemas/authorisationresponseEnvironment2'
        cntxt:
          $ref: '#/components/schemas/authorisationresponseContext2'
        tx:
          $ref: '#/components/schemas/authorisationresponseTransaction78'
        prcgRslt:
          $ref: '#/components/schemas/authorisationresponseProcessingResult2'
        iccRltdData:
          type: string
          title: Chip Data
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: iccrelateddata
      type: object
      title: Message Body
      description: The payload of the message.
    authorisationresponseAuthorisationResponseV02:
      properties:
        hdr:
          $ref: '#/components/schemas/authorisationresponseHeader42'
        body:
          $ref: '#/components/schemas/authorisationresponseAuthorisationResponse1'
      type: object
      title: Authorization Response
      description: A message sent by the Issuer or its agent to the Acquirer in response
        to an Authorization Initiation message.
    authorisationresponseCardData4:
      properties:
        pan:
          type: string
          title: PAN
          description: "The unique sequence of numbers assigned by the Issuer to the\
            \ Cardholder account that identifies the Issuer and type of Card, or a\
            \ surrogate of the PAN such as a payment token."
          example: XXXX26423764723XXXX
        cardSeqNb:
          type: string
          title: Card Sequence Number
          description: The number that distinguishes the Card from another with the
            same PAN.
          example: '00'
        pmtAcctRef:
          type: string
          title: Payment Account Reference
          description: The identifier assigned to the PAN and used to link payment
            tokens associated with that PAN.
          example: paymentaccountreference
        panAcctRg:
          type: string
          title: PAN Account Range
          description: The leading digits of the PAN that identify the Issuer's Card
            portfolio.
          example: XXXX52186464723XXXX
        cardCtryCd:
          type: string
          title: Card Country Code
          description: The ISO 3166-1 numeric country code of the Card's Issuer.
          example: 840
        cardPdctTp:
          type: string
          title: Card Product Code
          description: The code identifying the product associated with the Card.
          example: MCS
      type: object
      title: Card
      description: "Payment card data associated with a physical or virtual device,\
        \ which provides access to an account and is used to initiate the transaction."
    authorisationresponseCardProgrammeMode1:
      properties:
        id:
          type: string
          title: Card Processing Program Code
          description: The code identifying the Card Processing Program used for the
            transaction.
          example: CRI
      type: object
      title: Card Processing Program (Applied)
      description: The Card Processing Program actually used for the transaction.
    authorisationresponseContext2:
      properties:
        txCntxt:
          $ref: '#/components/schemas/authorisationresponseTransactionContext3'
        vrfctn:
          items:
            $ref: '#/components/schemas/authorisationresponseVerification2'
          type: array
          title: Verification
          description: Information related to the verification of Card and Cardholder
            data.
        rskCntxt:
          $ref: '#/components/schemas/authorisationresponseRiskContext1'
      type: object
      title: Context
      description: Information about the conditions and characteristics of the transaction.
    authorisationresponseDetailAmount1Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - CSHB
        - DCCF
        - DONN
        - EXTR
        - FORX
        - GRTY
        - OTHN
        - OTHP
        - SRCH
        - TAXT
      type: string
      description: |-
        Type of detail amount.

         - UNSPECIFIED: Default
         - CSHB: Cashback amount
         - DCCF: Dynamic Currency Conversion type of amount
         - DONN: Donation amount
         - EXTR: Extra charges (for example, minibar, etc.)
         - FORX: Fee applicable to a foreign exchange (Forex) transaction
         - GRTY: Gratuity amount
         - OTHN: Other type of amount defined at national level
         - OTHP: Other type of amount defined at private level
         - SRCH: Fee charged by the acceptor for the transaction.
         - TAXT: Tax applicable to the transaction
    authorisationresponseDetailedAmount19:
      properties:
        tp:
          $ref: '#/components/schemas/authorisationresponseDetailAmount1Code'
        amt:
          $ref: '#/components/schemas/authorisationresponseAmount5'
      type: object
      title: Breakdown Amount
      description: "An amount that is a portion of the Transaction Amount, such as\
        \ a fee or cash back amount."
    authorisationresponseEnvironment2:
      properties:
        acqrr:
          $ref: '#/components/schemas/authorisationresponsePartyIdentification197'
        sndr:
          $ref: '#/components/schemas/authorisationresponsePartyIdentification197'
        termnl:
          $ref: '#/components/schemas/authorisationresponseTerminal2'
        card:
          $ref: '#/components/schemas/authorisationresponseCardData4'
        tkn:
          $ref: '#/components/schemas/authorisationresponseToken1'
      type: object
      title: Transaction Parties
      description: Information about and related to the participants involved in the
        transaction and related message exchanges.
    authorisationresponseFeeAmount2:
      properties:
        amt:
          type: string
          title: Additional Fee Amount
          description: The amount of the Additional Fee.
          example: 50.00
        ccy:
          type: string
          title: Additional Fee Amount Currency Code
          description: The ISO 4217 numeric code for the currency of the Additional
            Fee Amount.
          example: 840
      type: object
      title: Additional Fee
      description: A fee not included in the transaction amount.
    authorisationresponseGenericIdentification172:
      properties:
        id:
          type: string
          title: Party ID
          description: The identifier assigned by Mastercard to the Party.
          example: 523793
      type: object
      description: Identification of an entity.
    authorisationresponseHeader42:
      properties:
        msgFctn:
          $ref: '#/components/schemas/authorisationresponseMessageFunction16Code'
        prtcolVrsn:
          type: string
          title: Protocol Version
          description: The version of the Mastercard Switch Platform Specifications.
          example: 0
        creDtTm:
          type: string
          title: Message Creation Date Time
          description: The date and time the message was created.
          example: 2022-04-12T15:24:16.545z
        initgPty:
          $ref: '#/components/schemas/authorisationresponseGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/authorisationresponseAdditionalData1'
          type: array
          title: Trace Data
          description: "Private-use data defined by the message originator to be returned\
            \ unaltered in any subsequent message.  The data is sent in a name-value\
            \ pair: Trace Data Name and Trace Data Value."
      type: object
      title: Message Header
      description: "Information about the message exchange itself, not the content\
        \ of the exchange."
    authorisationresponseMessageFunction16Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - ADVC
        - REQU
      type: string
      description: |-
        - UNSPECIFIED: Default
         - ADVC: Advice indicates where the sender informs the receiver of an activity that has been taken that requires a response.
         - REQU: Message function is a request.
    authorisationresponsePartyIdentification197:
      properties:
        id:
          type: string
          title: Party ID
          description: The identifier assigned by Mastercard to the Party.
          example: '001727'
      type: object
      title: Acquirer
      description: The financial institution or other entity acquiring transactions
        for the Acceptor.
    authorisationresponsePartyType26Code:
      default: UNSPECIFIED
      enum:
        - UNSPECIFIED
        - ACCP
        - ACQR
        - AGNT
        - CISS
        - DLIS
        - ICCA
        - OTHN
        - OTHP
      type: string
      description: |-
        Type of entity acting as a Payment Initiation Service Provider.

         - UNSPECIFIED: Default
         - ACCP: Card acceptor, party accepting the card and presenting transaction data to the acquirer.
         - ACQR: Entity acquiring card transactions.
         - AGNT: Entity providing card payment processing services acting as an intermediary between an acquirer and an issuer.
         - CISS: Party that issues cards.
         - DLIS: Party to whom the card issuer delegates to authorise card payment transactions.
         - ICCA: Application in the smart card.
         - OTHN: Other card payment entity type defined at national level
         - OTHP: Other card payment entity type defined at private level
    authorisationresponseProcessingResult2:
      properties:
        apprvlData:
          $ref: '#/components/schemas/authorisationresponseApprovalData1'
        rsltData:
          $ref: '#/components/schemas/authorisationresponseResultData1'
      type: object
      title: Authorization Result Information
      description: Information related to the result of the Authorization Initiation.
    authorisationresponseResultData1:
      properties:
        rsltDtls:
          type: string
          title: Authorization Result Code (Original)
          description: "The code identifying if the transaction was approved, or if\
            \ it was declined, the reason for the rejection or the action required\
            \ of the Acceptor. The code can also identify the disposition of a previous\
            \ message or an action taken as a result of receipt of a previous message."
          example: '00'
        addtlRsltInf:
          items:
            $ref: '#/components/schemas/authorisationresponseAdditionalData1'
          type: array
          description: Additional result information to be conveyed.
      type: object
      title: Authorization Result (Original)
      description: The result of a previous Authorization Initiation message.
    authorisationresponseRiskAssessment1:
      properties:
        rskAssmntTp:
          type: string
          title: Risk Assessment Type
          description: The type of Risk Assessment performed.
          example: MFSD
        rsn:
          items:
            type: string
          type: array
          title: Risk Score Reason Code
          description: The code(s) indentify the factor(s) that contributed to the
            Risk Score.
          example: riskassessmentreason
        rslt:
          type: string
          title: Risk Score
          description: The score indicating the level of risk for the transaction.
          example: riskassessmentresult
        addtlRskData:
          items:
            $ref: '#/components/schemas/authorisationresponseAdditionalRiskData1'
          type: array
          description: Additional risk data associated with the transaction.
      type: object
      title: Risk Assessment
      description: Information about the result of the evaluation of the likelihood
        of fraud for the transaction.
    authorisationresponseRiskContext1:
      properties:
        rskAssmnt:
          items:
            $ref: '#/components/schemas/authorisationresponseRiskAssessment1'
          type: array
          description: Indicates to the card issuer the level of risk associated with
            the transaction.
      type: object
      title: Risk Context
      description: Information related to the evaluation of the likelihood of fraud
        for the transaction and the result of the evaluation.
    authorisationresponseSettlementService2:
      properties:
        sttlmSvcDts:
          $ref: '#/components/schemas/authorisationresponseSettlementServiceDate1'
      type: object
      title: Settlement Service
      description: The execution of the exchange of funds between the Issuer and the
        Acquirer.
    authorisationresponseSettlementServiceDate1:
      properties:
        sttlmDt:
          type: string
          title: Settlement Date (Reporting)
          description: A date assigned by Mastercard and used for settlement reporting.
            It is not the date of the actual settlement of funds.
          example: 2022-05-31z
      type: object
      title: Settlement Service Dates
      description: Dates related to the Settlement Service of the transaction.
    authorisationresponseSpecialProgrammeDetails1:
      properties:
        nm:
          type: string
          title: Special Program Data Name
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: combo_card_id
        val:
          type: string
          title: Special Program Data Value
          description: A free text field for the Special Program Data lableled by
            the Special Program Data Name.
          example: specialprogrammequalificationvalue
      type: object
      title: Special Program Data
      description: "Data about the Special Program associated with the transaction.\
        \ The data is sent in a name-value pair: Special Program Data Name and Special\
        \ Program Data Value."
    authorisationresponseSpecialProgrammeQualification1:
      properties:
        prgrmm:
          type: string
          title: Special Program Name
          description: The name of the Special Program.
          example: combo_card
        dtl:
          items:
            $ref: '#/components/schemas/authorisationresponseSpecialProgrammeDetails1'
          type: array
          title: Special Program Data
          description: "Data about the Special Program associated with the transaction.\
            \ The data is sent in a name-value pair: Special Program Data Name and\
            \ Special Program Data Value."
      type: object
      title: Special Program
      description: "Information related to the Card's qualification in a Mastercard\
        \ program that affects, for example, how the transaction is processed or the\
        \ associated interchange fees."
    authorisationresponseTerminal2:
      properties:
        termnlId:
          $ref: '#/components/schemas/authorisationresponseTerminalIdentification1'
      type: object
      title: Terminal
      description: "The device that is under the control of the Acceptor, captures\
        \ and exchanges Card data, and permits a Cardholder to initiate a transaction;\
        \ for example, a point-of-sale Terminal, an ATM Terminal, or an ecommerce\
        \ gateway."
    authorisationresponseTerminalIdentification1:
[...]
