---
openapi: 3.0.3
info:
  contact:
    email: apisupport@mastercard.com
    name: API Support
    url: https://developer.mastercard.com/support
  description: "The Transaction API is a next generation ISO 20022 based API allowing\
    \ Acquirers (and Issuers in subsequent releases) to request and reply to transaction\
    \ authorization, reversal, account inquiry, and financial clearing messages without\
    \ needing a legacy MIP or edge device. The Transaction API is based on industry-standard\
    \ ISO 20022 Acquirer-to-Issuer Card Messages (e.g. ATICA) message sets and aligns\
    \ Mastercard to industry and competitor offerings."
  title: Transaction API
  version: 2.0.0
servers:
  - url: https://mtf.asn.api.gateway.mastercard.com/transaction-api
    description: Sandbox server
  - url: https://asn.api.gateway.mastercard.com/transaction-api
    description: Production server
tags:
  - description: "The Transaction API is a next generation ISO 20022 based API allowing\
    \ Acquirers (and Issuers in subsequent releases) to request and reply to transaction\
    \ authorization, reversal, account inquiry, and financial clearing messages without\
    \ needing a legacy MIP or edge device. The Transaction API is based on industry-standard\
    \ ISO 20022 Acquirer-to-Issuer Card Messages (e.g. ATICA) message sets and aligns\
    \ Mastercard to industry and competitor offerings."
    name: TransactionApi
paths:
  /cain-authorisation-requests:
    get:
      description: Returns Authorisation responses
      operationId: TransactionApi_getAuthorisationResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteAuthorisationResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialAuthorisationResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Authorisation responses associated
        with a particular customer
      tags:
        - TransactionApi
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      description: This processes the authorisation requests
      operationId: TransactionApi_processAuthorisationRequest
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Authorisation request
      tags:
        - TransactionApi
  /cain-financial-advices:
    get:
      description: Returns Financial Advice responses
      operationId: TransactionApi_getFinancialAdviceResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteFinancialAdviceResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialFinancialAdviceResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Financial Advice responses associated
        with a particular customer
      tags:
        - TransactionApi
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      description: This processes the financial advice requests
      operationId: TransactionApi_processFinancialAdviceRequest
      requestBody:
        $ref: '#/components/requestBodies/FinancialInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Financial Advice request
      tags:
        - TransactionApi
  /cain-inquiry-requests:
    get:
      description: Returns Inquiry responses
      operationId: TransactionApi_getInquiryResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteInquiryResponseV01ListBody'
        "206":
          $ref: '#/components/responses/PartialInquiryResponseV01ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Inquiry responses associated with a
        particular customer
      tags:
        - TransactionApi
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      description: This processes the inquiries request
      operationId: TransactionApi_processInquiryRequest
      requestBody:
        $ref: '#/components/requestBodies/InquiryInitiationV01Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Inquiry request
      tags:
        - TransactionApi
  /cain-reversal-requests:
    get:
      description: Returns Reversal responses
      operationId: TransactionApi_getReversalResponses
      responses:
        "200":
          $ref: '#/components/responses/CompleteReversalResponseV02ListBody'
        "206":
          $ref: '#/components/responses/PartialReversalResponseV02ListBody'
        "425":
          $ref: '#/components/responses/TooEarlyBody'
      summary: This endpoint returns available Reversal responses associated with
        a particular customer
      tags:
        - TransactionApi
      parameters:
        - $ref: '#/components/parameters/LimitParameter'
    post:
      description: This processes the reversal requests
      operationId: TransactionApi_processReversalRequest
      requestBody:
        $ref: '#/components/requestBodies/ReversalInitiationV02Body'
      responses:
        "202":
          $ref: '#/components/responses/AcceptedBody'
      summary: Reversal request
      tags:
        - TransactionApi
components:
  schemas:
    AuthorisationResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/responseAuthorisationResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    AuthorisationResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/AuthorisationResponseV02Item'
          type: array
          description: List of Authorisation Items
      type: object
    Error:
      properties:
        Source:
          type: string
          description: Source application
          example: transaction-api
        ReasonCode:
          type: string
          description: Reason of the error
          example: INVALID_FIELD
        Description:
          type: string
          description: Short description of the error
          example: "Invalid enum value: MESSAGE_FUNCTION16_CODE_ABCD for enum type:\
            \ MessageFunction16Code"
        Recoverable:
          type: boolean
          description: Whether error is recoverable
          example: "false"
        Details:
          type: string
          description: Optional additional details of the error
          example: Further details
      type: object
    ErrorWrapper:
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      required:
        - Errors
      type: object
      description: A container that represents error response
    Errors:
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: List of errors
      required:
        - Error
      type: object
    FinancialAdviceResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/responseFinancialResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    FinancialAdviceResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/FinancialAdviceResponseV02Item'
          type: array
          description: List of Financial Advice items
      type: object
    InquiryResponseV01Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/responseInquiryResponseV01'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    InquiryResponseV01List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/InquiryResponseV01Item'
          type: array
          description: List of Inquiry Response items
      type: object
    ReversalResponseV02Item:
      properties:
        correlationId:
          type: string
          description: unique identifier of the request
          example: 2438ac3c-37eb-4902-adef-ed16b4431030
        httpStatus:
          format: int32
          type: integer
          description: http status for this response item
          example: 200
        payload:
          $ref: '#/components/schemas/responseReversalResponseV02'
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
          description: errors processed during request (if available)
      required:
        - correlationId
        - httpStatus
      type: object
    ReversalResponseV02List:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ReversalResponseV02Item'
          type: array
          description: List of Reversal items
      type: object
    financialinitiationBatchManagementInformation1:
      description: Elements of identification of a batch management transaction.
      properties:
        btchId:
          type: string
          description: Identification of the batch to which the message belongs.  ISO
            8583:2003 bit 69-2
        msgSeqNb:
          type: string
          description: Sequence number of the message inside the batch.  ISO 8583:87/93
            bit 71 ISO 8583:2003 bit 68-2
      type: object
    financialresponseBatchManagementInformation1:
      description: Elements of identification of a batch management transaction.
      properties:
        btchId:
          type: string
          description: Identification of the batch to which the message belongs.  ISO
            8583:2003 bit 69-2
        msgSeqNb:
          type: string
          description: Sequence number of the message inside the batch.  ISO 8583:87/93
            bit 71 ISO 8583:2003 bit 68-2
      type: object
    financialresponseReconciliation3:
      description: Identification of the reconciliation period between an acquirer
        and an issuer or their respective agents.
      properties:
        id:
          type: string
          description: Identification of the reconciliation.
          example: reconciliationid
      type: object
    initiationAddendumData1:
      description: Component contains data structures applicable to certain merchant
        verticals that require industry-specific data within transaction messages.
      properties:
        purchsIdrTp:
          $ref: '#/components/schemas/initiationPurchaseIdentifierType1Code'
        othrPurchsIdrTp:
          description: Used when Purchase Identifier Type is Other National or Other
            Private.
          type: string
        purchsIdr:
          description: Contains a value identifying Invoice Data or Purchase Request
            Data.
          type: string
        addtlAccptrData:
          $ref: '#/components/schemas/initiationAdditionalAcceptorData1'
        fleet:
          $ref: '#/components/schemas/initiationFleetData2'
        telecomSvcs:
          $ref: '#/components/schemas/initiationTelecomServices1'
        instlmt:
          $ref: '#/components/schemas/initiationInstalment3'
        addtlData:
          description: Contains additional data for the addendum.
          items:
            $ref: '#/components/schemas/msgfinancialinitiationAdditionalData1'
          type: array
      type: object
    initiationAdditionalAcceptorData1:
      properties:
        taxRegnId:
          description: Identification of the company recognized by the taxation authority.  Used
            for reporting transaction-related taxes.
          type: string
        addtlId:
          description: Contains additional identification information.
          items:
            $ref: '#/components/schemas/initiationAdditionalIdentification1'
          type: array
      type: object
      description: Contains additional acceptor data
    initiationAdditionalIdentification1:
      description: Contains additional identification details of additional card acceptor
        data.
      properties:
        tp:
          $ref: '#/components/schemas/initiationAdditionalIdentificationType1Code'
        othrTp:
          description: Other Additional Identification applied to the transaction.
          type: string
        val:
          description: Additional identification value.
          type: string
      type: object
    initiationAdditionalIdentificationType1Code:
      default: ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the additional identification type, for example NAICS, etc.

         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED: Default
         - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHP: Other Additional Identification defined at a private level.
      enum:
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_UNSPECIFIED
        - ADDITIONAL_IDENTIFICATION_TYPE1_CODE_OTHP
      type: string
    initiationAuthorisationInitiation1:
      properties:
        envt:
          $ref: '#/components/schemas/msgauthorisationinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgauthorisationinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgauthorisationinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Chip data that is transmitted from the Card's chip to the Issuer
            and from the Issuer to the chip in accordance with EMV specifications.
          example: iccrelateddata
      type: object
      description: Message Body
    initiationAuthorisationInitiationV02:
      properties:
        hdr:
          $ref: '#/components/schemas/msgauthorisationinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationAuthorisationInitiation1'
      type: object
      description: Authorization Initiation
    initiationContext5:
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msginquiryinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msginquiryinitiationTransactionContext1'
        vrfctn:
          items:
            $ref: '#/components/schemas/msginquiryinitiationVerification1'
          type: array
        rskCntxt:
          $ref: '#/components/schemas/msginquiryinitiationRiskContext1'
      type: object
    initiationContext7:
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/initiationPointOfServiceContext2'
        txCntxt:
          $ref: '#/components/schemas/initiationTransactionContext4'
      type: object
    initiationDetailAmount2Code:
      default: DETAIL_AMOUNT2_CODE_UNSPECIFIED
      enum:
        - DETAIL_AMOUNT2_CODE_UNSPECIFIED
        - DETAIL_AMOUNT2_CODE_OTHN
        - DETAIL_AMOUNT2_CODE_OTHP
        - DETAIL_AMOUNT2_CODE_SRCH
      type: string
      description: "- DETAIL_AMOUNT2_CODE_UNSPECIFIED: Default"
    initiationDetailedAmount20:
      properties:
        tp:
          $ref: '#/components/schemas/initiationDetailAmount2Code'
        othrTp:
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount5'
      type: object
    initiationDisputeData1:
      properties:
        chrgbckElgblty:
          type: string
      type: object
    initiationECommerceData1:
      properties:
        tp:
          type: string
          description: ""
          example: ecommercedatatype
        val:
          type: string
          description: ""
          example: ecommercedatavalue
      type: object
    initiationEnvironment12:
      properties:
        acqrr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msginquiryinitiationPartyIdentification203'
        termnl:
          $ref: '#/components/schemas/msginquiryinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msginquiryinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msginquiryinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msginquiryinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msginquiryinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msginquiryinitiationCardholder15'
      type: object
    initiationEnvironment13:
      properties:
        acqrr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgreversalinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/reversalinitiationTerminal2'
        card:
          $ref: '#/components/schemas/reversalinitiationCardData5'
        wllt:
          $ref: '#/components/schemas/msgreversalinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgreversalinitiationToken1'
      type: object
    initiationFinancialInitiation1:
      description: Information related to the financial initiation message.
      properties:
        envt:
          $ref: '#/components/schemas/msgfinancialinitiationEnvironment1'
        cntxt:
          $ref: '#/components/schemas/msgfinancialinitiationContext1'
        tx:
          $ref: '#/components/schemas/msgfinancialinitiationTransaction77'
        adddmData:
          $ref: '#/components/schemas/initiationAddendumData1'
        prcgRslt:
          $ref: '#/components/schemas/msgfinancialinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: Data related to an integrated circuit card application embedded
            in the payment card of the cardholder.  ISO 8583 bit 55
      type: object
    initiationFinancialInitiationV02:
      description: The FinancialInitiation message is sent by an acquirer or an agent
        to an issuer to request approval of a card transaction or to inform about
        the completion of an authorisation. It allows the approved transaction amount
        to be billed or posted on the cardholder's account. It can also be sent by
        an issuer to an acquirer or agent to advise that an authorisation has been
        successfully completed for the final amount and requests the clearing of the
        transaction.
      properties:
        hdr:
          $ref: '#/components/schemas/msgfinancialinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationFinancialInitiation1'
      type: object
    initiationFleetData2:
      description: Fleet data pertaining to the payment transaction.
      properties:
        summry:
          $ref: '#/components/schemas/initiationFleetSummary1'
        lineItm:
          description: Fleet Line Item component is designed to carry detail level
            fleet data and to enable issuers to supply more transaction information
            to their consumer and corporate clients pertaining to fleet transactions.
          items:
            $ref: '#/components/schemas/initiationFleetLineItem1'
          type: array
      type: object
    initiationFleetLineItem1:
      description: Supplies additional transaction information for fleet transactions.
      properties:
        fuelInd:
          type: boolean
          description: Indicates whether or not the line item represents a fuel or
            non-fuel product or service.  True = Fuel item False = Non-fuel item
        fleetPdctCd:
          description: Product code of fleet product or service being purchased.
          type: string
        unitPric:
          description: Unit price of the fleet line item.
          type: string
        unitOfMeasr:
          $ref: '#/components/schemas/initiationUnitOfMeasure1Code'
        othrUnitOfMeasr:
          description: Other unit of measure.
          type: string
        pdctQty:
          description: Quantity of product or item.
          type: string
        ttlAmtInclgTax:
          description: Total amount including tax.
          type: string
      type: object
    initiationFleetSummary1:
      description: Supplies additional transaction information for fleet transactions.
      properties:
        vhcl:
          $ref: '#/components/schemas/initiationVehicle5'
      type: object
    initiationGoodsAndServices1Code:
      default: GOODS_AND_SERVICES1_CODE_UNSPECIFIED
      enum:
        - GOODS_AND_SERVICES1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES1_CODE_ELEC
        - GOODS_AND_SERVICES1_CODE_ELPH
        - GOODS_AND_SERVICES1_CODE_PHYS
      type: string
      description: "- GOODS_AND_SERVICES1_CODE_UNSPECIFIED: Default"
    initiationGoodsAndServicesSubType1Code:
      default: GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
      enum:
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_CRCU
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_FORX
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHN
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_OTHP
        - GOODS_AND_SERVICES_SUB_TYPE1_CODE_SECS
      type: string
      description: "- GOODS_AND_SERVICES_SUB_TYPE1_CODE_UNSPECIFIED: Default"
    initiationGracePeriod1:
      description: Grace period applicable to an instalment plan.
      properties:
        tm:
          description: Grace period time relative to the grace period unit type.
          type: string
        unitTp:
          $ref: '#/components/schemas/initiationGracePeriodUnitType1Code'
      type: object
    initiationGracePeriodUnitType1Code:
      default: GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the details of the grace period applicable to the instalment.

         - GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED: Default
         - GRACE_PERIOD_UNIT_TYPE1_CODE_DAYS: Grace period days.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_MNTH: Grace period months.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHN: Other National Grace period.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHP: Other Private Grace period.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_PMTS: Grace period payments.
         - GRACE_PERIOD_UNIT_TYPE1_CODE_WEKS: Grace period weeks.
      enum:
        - GRACE_PERIOD_UNIT_TYPE1_CODE_UNSPECIFIED
        - GRACE_PERIOD_UNIT_TYPE1_CODE_DAYS
        - GRACE_PERIOD_UNIT_TYPE1_CODE_MNTH
        - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHN
        - GRACE_PERIOD_UNIT_TYPE1_CODE_OTHP
        - GRACE_PERIOD_UNIT_TYPE1_CODE_PMTS
        - GRACE_PERIOD_UNIT_TYPE1_CODE_WEKS
      type: string
    initiationInquiryInitiation1:
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment12'
        cntxt:
          $ref: '#/components/schemas/initiationContext5'
        tx:
          $ref: '#/components/schemas/initiationTransaction105'
        prcgRslt:
          $ref: '#/components/schemas/inquiryinitiationProcessingResult5'
        iccRltdData:
          type: string
      type: object
    initiationInquiryInitiationV01:
      properties:
        hdr:
          $ref: '#/components/schemas/inquiryinitiationHeader39'
        body:
          $ref: '#/components/schemas/initiationInquiryInitiation1'
      type: object
    initiationInstalment3:
      description: "Data exclusively related to a card issuer financial loan of the\
        \ payment transaction, or instalment."
      properties:
        pmtSeqNb:
          description: Indicates the occurrence of a single instalment payment within
            a series of instalment payments.
          type: string
        plan:
          description: Attributes of the instalment plan.
          items:
            $ref: '#/components/schemas/initiationPlan1'
          type: array
      type: object
    initiationInstalmentAmountDetails1:
      properties:
        tp:
          $ref: '#/components/schemas/initiationInstalmentAmountDetailsType1Code'
        othrTp:
          description: Grace period other unit type.
          type: string
        amt:
          $ref: '#/components/schemas/msgfinancialinitiationAmount5'
        pctg:
          description: "Rate expressed as a percentage, that is, in hundredths, example,\
            \ 0.7 is 7/10 of a percent, and 7.0 is 7%."
          type: string
      type: object
      description: Instalment amount details
    initiationInstalmentAmountDetailsType1Code:
      default: INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED
      description: |-
        Contains the details of the grace period applicable to the instalment.

         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED: Default
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FEES: Fees amount
         - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHP: Grace period unit type
      enum:
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_UNSPECIFIED
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_FEES
        - INSTALMENT_AMOUNT_DETAILS_TYPE1_CODE_OTHP
      type: string
    initiationInstalmentPeriod1Code:
      default: INSTALMENT_PERIOD1_CODE_UNSPECIFIED
      description: |-
        Instalment period.

         - INSTALMENT_PERIOD1_CODE_UNSPECIFIED: Default
         - INSTALMENT_PERIOD1_CODE_ANNU: Annual instalment period.
      enum:
        - INSTALMENT_PERIOD1_CODE_UNSPECIFIED
        - INSTALMENT_PERIOD1_CODE_ANNU
      type: string
    initiationInterestRate1Code:
      default: INTEREST_RATE1_CODE_UNSPECIFIED
      description: |-
        Contains the list of interest rates.

         - INTEREST_RATE1_CODE_UNSPECIFIED: Default
         - INTEREST_RATE1_CODE_GSRT: Gross interest rate of the instalment
         - INTEREST_RATE1_CODE_OTHP: Other interest rate of the instalment
      enum:
        - INTEREST_RATE1_CODE_UNSPECIFIED
        - INTEREST_RATE1_CODE_GSRT
        - INTEREST_RATE1_CODE_OTHP
      type: string
    initiationInterestRateDetails1:
      properties:
        tp:
          $ref: '#/components/schemas/initiationInterestRate1Code'
        othrTp:
          description: "Other type of interest applied to the instalment, when Type\
            \ is OtherNational or OtherPrivate."
          type: string
        prd:
          $ref: '#/components/schemas/initiationInstalmentPeriod1Code'
        rate:
          description: "Rate expressed as a decimal, example, 0.7 is 7/10 and 70%."
          type: string
      type: object
      description: Details of the interest rate
    initiationPlan1:
      description: Attributes of the instalment plan.
      properties:
        instlmtPmtTp:
          description: Instalment payment type.
          type: string
        intrstRate:
          description: Details of the interest rate.
          items:
            $ref: '#/components/schemas/initiationInterestRateDetails1'
          type: array
        frstPmtDt:
          description: Date of the first payment.
          type: string
        frstAmt:
          description: Amount of the first payment when different from the subsequent
            payments.
          type: string
        sbsqntAmt:
          description: Amount of subsequent payments.
          type: string
        ttlNbOfPmts:
          type: string
          description: Total number of instalment payments.  ISO 8583 bit 59
        instlmtCcy:
          description: Currency code associated with the instalment amount.  ISO 4217
            "Codes for the representation of currencies and funds".
          type: string
        gracePrd:
          $ref: '#/components/schemas/initiationGracePeriod1'
        amtDtls:
          description: Contains the amount details of an instalment plan.
          items:
            $ref: '#/components/schemas/initiationInstalmentAmountDetails1'
          type: array
        grdTtlAmt:
          description: "Total amount of the instalment including charges, insurance\
            \ and taxes in addition to the funded amount."
          type: string
      type: object
    initiationPointOfServiceContext2:
      properties:
        cardPres:
          type: boolean
          description: ""
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: ""
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: ""
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: ""
          example: "TRUE"
        attnddInd:
          type: boolean
          description: ""
          example: 1
        uattnddLvlCtgy:
          type: string
          description: ""
          example: 1
        eComrcInd:
          type: boolean
          description: ""
          example: 6
        eComrcData:
          items:
            $ref: '#/components/schemas/initiationECommerceData1'
          type: array
        motoInd:
          type: boolean
          description: ""
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: ""
          example: 1
        delydAuthstnInd:
          type: boolean
          description: ""
          example: "TRUE"
        sctyChrtcs:
          items:
            $ref: '#/components/schemas/initiationSecurityCharacteristics1Code'
          type: array
          description: ""
          example: X
        othrSctyChrtcs:
          type: string
          description: ""
          example: othersecuritycharacteristics
        cardDataNtryMd:
          $ref: '#/components/schemas/msgreversalinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: ""
          example: othercardentrymode
        storgLctn:
          type: string
          description: ""
          example: '01'
        spclConds:
          items:
            $ref: '#/components/schemas/msgreversalinitiationSpecialConditions1'
          type: array
      type: object
    initiationPurchaseIdentifierType1Code:
      default: PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED
      description: |-
        Identifies the type of identifier used in the Purchase Identifier field.

         - PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED: Default
         - PURCHASE_IDENTIFIER_TYPE1_CODE_CUOR: Customer Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_CUPO: Customer Purchase Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_FONU: Folio Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_INNU: Invoice Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHP: Other Purchase Identifier defined at a private level.
         - PURCHASE_IDENTIFIER_TYPE1_CODE_PRNU: Payment Reference Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_PUID: Purchase Identification
         - PURCHASE_IDENTIFIER_TYPE1_CODE_REAG: Rental Agreement
         - PURCHASE_IDENTIFIER_TYPE1_CODE_RELO: Record Locator
         - PURCHASE_IDENTIFIER_TYPE1_CODE_RSNU: Reservation Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_SUIN: Supplier Invoice
         - PURCHASE_IDENTIFIER_TYPE1_CODE_SUOR: Supplier Order
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TINU: Ticket Number
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TNID: Transaction Identification is a proprietary value provided by the card acceptor or acquirer to uniquely identify a given transaction.
         - PURCHASE_IDENTIFIER_TYPE1_CODE_TRNU: Tracking Number
      enum:
        - PURCHASE_IDENTIFIER_TYPE1_CODE_UNSPECIFIED
        - PURCHASE_IDENTIFIER_TYPE1_CODE_CUOR
        - PURCHASE_IDENTIFIER_TYPE1_CODE_CUPO
        - PURCHASE_IDENTIFIER_TYPE1_CODE_FONU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_INNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_OTHP
        - PURCHASE_IDENTIFIER_TYPE1_CODE_PRNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_PUID
        - PURCHASE_IDENTIFIER_TYPE1_CODE_REAG
        - PURCHASE_IDENTIFIER_TYPE1_CODE_RELO
        - PURCHASE_IDENTIFIER_TYPE1_CODE_RSNU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_SUIN
        - PURCHASE_IDENTIFIER_TYPE1_CODE_SUOR
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TINU
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TNID
        - PURCHASE_IDENTIFIER_TYPE1_CODE_TRNU
      type: string
    initiationResponse8Code:
      default: RESPONSE8_CODE_UNSPECIFIED
      enum:
        - RESPONSE8_CODE_UNSPECIFIED
        - RESPONSE8_CODE_OTHN
        - RESPONSE8_CODE_OTHP
        - RESPONSE8_CODE_PRCS
        - RESPONSE8_CODE_REJT
        - RESPONSE8_CODE_TECH
        - RESPONSE8_CODE_UNPR
        - RESPONSE8_CODE_UNRV
      type: string
      description: "- RESPONSE8_CODE_UNSPECIFIED: Default"
    initiationReversalInitiation1:
      properties:
        envt:
          $ref: '#/components/schemas/initiationEnvironment13'
        cntxt:
          $ref: '#/components/schemas/initiationContext7'
        tx:
          $ref: '#/components/schemas/msgreversalinitiationTransaction77'
        prcgRslt:
          $ref: '#/components/schemas/msgreversalinitiationProcessingResult1'
        iccRltdData:
          type: string
          description: ""
          example: iccrelateddata
      type: object
    initiationReversalInitiationV02:
      properties:
        hdr:
          $ref: '#/components/schemas/msgreversalinitiationHeader42'
        body:
          $ref: '#/components/schemas/initiationReversalInitiation1'
      type: object
    initiationSaleContext7:
      properties:
        saleId:
          type: string
          description: Identification of the sale terminal (electronic cash register
            or point of sale terminal) or the sale system.
          example: XXX23427342732
        saleRefId:
          type: string
          description: "An identifier of the transaction in the sale system, such\
            \ as a concatenation of the transaction ID and other information that\
            \ can distinguish the transaction across stores, such as a store number."
          example: XXX23427231732
        saleRefNb:
          type: string
          description: An identifier of the transaction in the sale system.
          example: SLE23427342732
        goodsAndSvcsTp:
          $ref: '#/components/schemas/initiationGoodsAndServices1Code'
        goodAndSvcsSubTp:
          $ref: '#/components/schemas/initiationGoodsAndServicesSubType1Code'
        goodAndSvcsOthrSubTp:
          type: string
          description: ""
          example: othergoodsandservices
        spltPmtInd:
          type: boolean
          description: The indicator that the transaction is a partial payment and
            the full amount was paid with multiple payment methods.
          example: "TRUE"
      type: object
      description: Sale Context
    initiationSecurityCharacteristics1Code:
      default: SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
      enum:
        - SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED
        - SECURITY_CHARACTERISTICS1_CODE_AETE
        - SECURITY_CHARACTERISTICS1_CODE_APTE
        - SECURITY_CHARACTERISTICS1_CODE_CENC
        - SECURITY_CHARACTERISTICS1_CODE_CETE
        - SECURITY_CHARACTERISTICS1_CODE_CMAC
        - SECURITY_CHARACTERISTICS1_CODE_CPTE
        - SECURITY_CHARACTERISTICS1_CODE_ETEE
        - SECURITY_CHARACTERISTICS1_CODE_METE
        - SECURITY_CHARACTERISTICS1_CODE_MPTE
        - SECURITY_CHARACTERISTICS1_CODE_OPNN
        - SECURITY_CHARACTERISTICS1_CODE_OTHN
        - SECURITY_CHARACTERISTICS1_CODE_OTHP
        - SECURITY_CHARACTERISTICS1_CODE_PKIE
        - SECURITY_CHARACTERISTICS1_CODE_PMAC
        - SECURITY_CHARACTERISTICS1_CODE_PRAE
        - SECURITY_CHARACTERISTICS1_CODE_PRAM
        - SECURITY_CHARACTERISTICS1_CODE_PRVN
        - SECURITY_CHARACTERISTICS1_CODE_STAM
      type: string
      description: "- SECURITY_CHARACTERISTICS1_CODE_UNSPECIFIED: Default"
    initiationTelecomCallDetails1:
      description: Structured call details with address.
      properties:
        city:
          description: City from which or to which the call was made.
          type: string
        stat:
          description: State from which or to which the call was made.
          type: string
        ctry:
          description: Country from which or to which the call was made.
          type: string
      type: object
    initiationTelecomServices1:
      description: Telecom services carries telephony billing data.
      properties:
        lineItm:
          description: Telecom Services Line Item component is designed to carry detail
            level telephony billing data and to enable issuers to supply more transaction
            information to their consumer and corporate clients pertaining to telecommunications
            services and related billing information.
          items:
            $ref: '#/components/schemas/initiationTelecomServicesLineItem1'
          type: array
      type: object
    initiationTelecomServicesLineItem1:
      description: Telecom services line item carries detail level telephony billing
        data.
      properties:
        drtn:
          description: Duration of phone call expressed in HHMMSS format.
          type: string
        callFr:
          $ref: '#/components/schemas/initiationTelecomCallDetails1'
        callTo:
          $ref: '#/components/schemas/initiationTelecomCallDetails1'
        addtlData:
          description: Additional user-defined data pertaining to the telecommunications
            services.
          type: string
      type: object
    initiationTransaction105:
      properties:
        txTp:
          type: string
        txSubTp:
          type: string
        addtlSvc:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalService1'
          type: array
        msgRsn:
          items:
            type: string
          type: array
        altrnMsgRsn:
          type: string
        spclPrgrmmQlfctn:
          items:
            $ref: '#/components/schemas/msginquiryinitiationSpecialProgrammeQualification1'
          type: array
        txId:
          $ref: '#/components/schemas/inquiryinitiationTransactionIdentification11'
        txCcy:
          type: string
        dtldAmt:
          items:
            $ref: '#/components/schemas/initiationDetailedAmount20'
          type: array
        rcncltnAmt:
          $ref: '#/components/schemas/msginquiryinitiationAmount4'
        addtlAmts:
          items:
            $ref: '#/components/schemas/inquiryinitiationAdditionalAmounts2'
          type: array
        addtlFees:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalFee1'
          type: array
        acctFr:
          $ref: '#/components/schemas/msginquiryinitiationAccountDetails2'
        txDesc:
          type: string
        addtlData:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          type: array
      type: object
    initiationTransactionContext4:
      properties:
        mrchntCtgyCd:
          type: string
          description: ""
          example: 5542
        dfrrdDlvryInd:
          type: boolean
          description: ""
          example: 5542
        txInitr:
          $ref: '#/components/schemas/msgreversalinitiationTransactionInitiator1Code'
        cardPrgrmm:
          $ref: '#/components/schemas/msgreversalinitiationCardProgramme1'
        sttlmSvc:
          $ref: '#/components/schemas/msgreversalinitiationSettlementService1'
        rcncltn:
          $ref: '#/components/schemas/msgreversalinitiationReconciliation3'
        captrDt:
          type: string
          description: ""
          example: 2022-02-22
      type: object
    initiationUnitOfMeasure1Code:
      default: UNIT_OF_MEASURE1_CODE_UNSPECIFIED
      description: |-
        Unit of measure of the item purchased.

         - UNIT_OF_MEASURE1_CODE_UNSPECIFIED: Default
         - UNIT_OF_MEASURE1_CODE_GBGA: Unit of volume that is equal to 8 pints.
         - UNIT_OF_MEASURE1_CODE_KILO: Basic unit of mass in the SI system, 1000 grams.
         - UNIT_OF_MEASURE1_CODE_LITR: Unit of volume that is equal to a thousand cubic centimetres.
         - UNIT_OF_MEASURE1_CODE_PUND: Unit of weight equal to 0.454 kilograms.
         - UNIT_OF_MEASURE1_CODE_USGA: Unit of volume that is equal to 8 pints.
      enum:
        - UNIT_OF_MEASURE1_CODE_UNSPECIFIED
        - UNIT_OF_MEASURE1_CODE_GBGA
        - UNIT_OF_MEASURE1_CODE_KILO
        - UNIT_OF_MEASURE1_CODE_LITR
        - UNIT_OF_MEASURE1_CODE_PUND
        - UNIT_OF_MEASURE1_CODE_USGA
      type: string
    initiationVehicle5:
      description: Attributes of a fleet vehicle.
      properties:
        odmtr:
          description: "Odometer reading value indicating the distance travelled by\
            \ the vehicle (for example, car, van, pickup truck, semi-truck portion\
            \ of a tractor trailer unit)."
          type: string
      type: object
    initiationVerificationEntity1Code:
      default: VERIFICATION_ENTITY1_CODE_UNSPECIFIED
      description: |-
        Type of verification entity.

         - VERIFICATION_ENTITY1_CODE_UNSPECIFIED: Default
         - VERIFICATION_ENTITY1_CODE_AGNT: Entity providing card payment processing services acting as an intermediary between (or on behalf of) an acquirer and an issuer.
         - VERIFICATION_ENTITY1_CODE_MERC: Acceptor (for example signature verification by the attendant).
         - VERIFICATION_ENTITY1_CODE_OTHP: Other type of authentication entity defined at private level.
      enum:
        - VERIFICATION_ENTITY1_CODE_UNSPECIFIED
        - VERIFICATION_ENTITY1_CODE_AGNT
        - VERIFICATION_ENTITY1_CODE_MERC
        - VERIFICATION_ENTITY1_CODE_OTHP
      type: string
    inquiryinitiationAdditionalAmounts2:
      properties:
        tp:
          $ref: '#/components/schemas/inquiryinitiationTypeOfAmount17Code'
        othrTp:
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryinitiationAmount14'
      type: object
    inquiryinitiationHeader39:
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryinitiationMessageFunction17Code'
        prtcolVrsn:
          type: string
        xchgId:
          type: string
        creDtTm:
          type: string
        initgPty:
          $ref: '#/components/schemas/msginquiryinitiationGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/msginquiryinitiationAdditionalData1'
          type: array
      type: object
    inquiryinitiationMessageFunction17Code:
      default: MESSAGE_FUNCTION17_CODE_UNSPECIFIED
      enum:
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION17_CODE_REQU
      type: string
      description: "- MESSAGE_FUNCTION17_CODE_UNSPECIFIED: Default"
    inquiryinitiationProcessingResult5:
      properties:
        rsltData:
          $ref: '#/components/schemas/msginquiryinitiationResultData1'
      type: object
    inquiryinitiationTransactionIdentification11:
      properties:
        lclDtTm:
          type: string
        trnsmssnDtTm:
          type: string
        sysTracAudtNb:
          type: string
        rtrvlRefNb:
          type: string
        lifeCyclSpprtInd:
          type: string
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msginquiryinitiationTransactionLifeCycleIdentification1'
        acqrrRefNb:
          type: string
        cardIssrRefData:
          type: string
      type: object
    inquiryinitiationTypeOfAmount17Code:
      default: TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
      enum:
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT17_CODE_OTHP
      type: string
      description: "- TYPE_OF_AMOUNT17_CODE_UNSPECIFIED: Default"
    inquiryresponseAdditionalAmounts2:
      properties:
        tp:
          $ref: '#/components/schemas/inquiryresponseTypeOfAmount17Code'
        othrTp:
          type: string
        amt:
          $ref: '#/components/schemas/msginquiryresponseAmount14'
        labl:
          type: string
      type: object
    inquiryresponseAddress1:
      properties:
        adrLine1:
          type: string
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        pstlCd:
          type: string
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMjr:
          type: string
          description: "The code identifying the state, province or other country\
            \ subdivision in the Cardholder's billing address."
          example: MO
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
      description: Cardholder Address
    inquiryresponseHeader39:
      properties:
        msgFctn:
          $ref: '#/components/schemas/inquiryresponseMessageFunction17Code'
        prtcolVrsn:
          type: string
        xchgId:
          type: string
        creDtTm:
          type: string
        initgPty:
          $ref: '#/components/schemas/msginquiryresponseGenericIdentification172'
        tracData:
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalData1'
          type: array
      type: object
    inquiryresponseMessageFunction17Code:
      default: MESSAGE_FUNCTION17_CODE_UNSPECIFIED
      enum:
        - MESSAGE_FUNCTION17_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION17_CODE_REQU
      type: string
      description: "- MESSAGE_FUNCTION17_CODE_UNSPECIFIED: Default"
    inquiryresponsePartyIdentification203:
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acquirer to the Acceptor and\
            \ its location, or to the Payment Facilitator."
          example: '0011011001001'
        nmAndLctn:
          type: string
          description: "The name of the Acceptor that should be recognizable by the\
            \ Cardholder and may include other descriptors, such as a store number."
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/inquiryresponseAddress1'
        addtlData:
          description: "Additional data about or related to the Acceptor, such as\
            \ the Payment Facilitator ID.  The data is sent in a name-value pair:\
            \ Acceptor Additional Data Name and Acceptor Additional Data Value."
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalData1'
          type: array
        spnsrdMrchnt:
          description: A Merchant that uses the services of a Payment Facilitator.  Referred
            to as Submerchant in Mastercard Rules.
          items:
            $ref: '#/components/schemas/inquiryresponseSponsoredMerchant1'
          type: array
      type: object
    inquiryresponseProcessingResult5:
      properties:
        rsltData:
          $ref: '#/components/schemas/msginquiryresponseResultData1'
        addtlInf:
          items:
            $ref: '#/components/schemas/msginquiryresponseAdditionalInformation20'
          type: array
      type: object
    inquiryresponseSponsoredMerchant1:
      properties:
        id:
          $ref: '#/components/schemas/msginquiryresponsePartyIdentification197'
        adr:
          $ref: '#/components/schemas/inquiryresponseAddress1'
      type: object
      description: Sponsored Merchant
    inquiryresponseTransactionIdentification11:
      properties:
        lclDtTm:
          type: string
        trnsmssnDtTm:
          type: string
        sysTracAudtNb:
          type: string
        rtrvlRefNb:
          type: string
        lifeCyclSpprtInd:
          type: string
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msginquiryresponseTransactionLifeCycleIdentification1'
        acqrrRefData:
          type: string
        cardIssrRefData:
          type: string
      type: object
    inquiryresponseTypeOfAmount17Code:
      default: TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
      enum:
        - TYPE_OF_AMOUNT17_CODE_UNSPECIFIED
        - TYPE_OF_AMOUNT17_CODE_ANTA
        - TYPE_OF_AMOUNT17_CODE_ISCF
        - TYPE_OF_AMOUNT17_CODE_OTHP
      type: string
      description: "- TYPE_OF_AMOUNT17_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationAccountDetails2:
      properties:
        acctTp:
          type: string
          description: The code identifying the kind of account to/from which funds
            were sent.
          example: DFLT
        acctId:
          type: string
          description: An identifier of the account to/from which funds were transferred.
          example: 10105556
      type: object
      description: Account To/From
    msgauthorisationinitiationAdditionalAmounts1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount12Code'
        othrTp:
          type: string
          description: "The code identifying the type of an Additional Amount when\
            \ the Additional Amount Type is \"OTHN\" or \"OTHP,\" which indicate a\
            \ national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount14'
      type: object
      description: Additional Amounts
    msgauthorisationinitiationAdditionalData1:
      properties:
        tp:
          type: string
          description: A free text field for labeling the Transaction Additional Data
            given in the Transaction Additional Data Value.
          example: additionaldatatype
        val:
          type: string
          description: A free text field the Transaction Additional Data that is labeled
            by the Transaction Additional Data Name.
          example: additionaldatavalue
      type: object
      description: Transaction Additional Data
    msgauthorisationinitiationAdditionalFee1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTypeOfAmount10Code'
        othrTp:
          type: string
          description: The code identifying the type of additional fee.
          example: othertype
        feePrgm:
          type: string
          description: ""
          example: feeprogrammename
        feeDscrptr:
          type: string
          description: ""
          example: feedescriptor
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationFeeAmount2'
        labl:
          type: string
          description: ""
          example: feelabel
      type: object
      description: Additional Fees
    msgauthorisationinitiationAdditionalRiskData1:
      properties:
        tp:
          type: string
          description: A free text field for labeling the Additional Risk Assessment
            Data given in the Additional Risk Assessment Data Value.
          example: pos_transaction_security
        val:
          type: string
          description: A free text field for the Risk Assessment Additionalthat is
            labeled by the Additional Risk Assessment Data Name.
          example: 0
      type: object
      description: Additional Risk Assessment Data
    msgauthorisationinitiationAdditionalService1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationAdditionalServiceType1Code'
        othrTp:
          type: string
          description: "A label identifying an additional service applied to the transaction\
            \ when the Additional Service Type Code is \"OTHN\" or \"OTHP,\" which\
            \ indicate a national, network, or customer specific value."
          example: othertype
      type: object
      description: Additional Service Information
    msgauthorisationinitiationAdditionalServiceType1Code:
      default: ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
      enum:
        - ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED
        - ADDITIONAL_SERVICE_TYPE1_CODE_CACT
        - ADDITIONAL_SERVICE_TYPE1_CODE_CSHB
        - ADDITIONAL_SERVICE_TYPE1_CODE_DCCV
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTP
        - ADDITIONAL_SERVICE_TYPE1_CODE_INTT
        - ADDITIONAL_SERVICE_TYPE1_CODE_LOYT
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHN
        - ADDITIONAL_SERVICE_TYPE1_CODE_OTHP
        - ADDITIONAL_SERVICE_TYPE1_CODE_PRST
      type: string
      description: "- ADDITIONAL_SERVICE_TYPE1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationAddress1:
      properties:
        adrLine1:
          type: string
          description: The street address in the Cardholder's billing address.
          example: '#437 Suncity ABC Street'
        pstlCd:
          type: string
          description: The postal code in the Cardholder's billing address.
          example: 6453728543976254
        twnNm:
          type: string
          description: The city name in the Cardholder's billing address.
          example: ABCD
        ctrySubDvsnMjr:
          type: string
          description: "The code identifying the state, province or other country\
            \ subdivision in the Cardholder's billing address."
          example: MO
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code associated with the Cardholder's
            billing address.
          example: USA
      type: object
      description: Cardholder Address
    msgauthorisationinitiationAmount4:
      properties:
        amt:
          type: string
          description: The amount that will be posted to the Cardholder's account.
            This is present when the Cardholder billing currency differs from the
            transaction currency expressed in the amount of the transaction.
          example: 1134
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency used for settlement.
          example: 840
        xchgRate:
          type: string
          description: The exchange rate used to convert the Transaction Amount to
            the settlement Amount.
          example: 1
        qtnDt:
          description: The date of the quote for the conversion Exchange Rate.
          type: string
      type: object
      description: Cardholder Billing Amount Information
    msgauthorisationinitiationAmount5:
      properties:
        amt:
          type: string
          description: "An amount that is a portion of the Transaction Amount, such\
            \ as a fee or cashback, expressed in the Transaction Currency."
          example: 2000.00
        sgn:
          type: boolean
          description: The code identifying whether the Breakdown Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Breakdown Amount Details
    msgauthorisationinitiationAmount14:
      properties:
        amt:
          type: string
          description: An amount that is not part of the Transaction Amount.
          example: 5000.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Amount.
          example: 840
        sgn:
          type: boolean
          description: The code identifying whether an Additional Amount is a credit
            or debit.
          example: PLUS
      type: object
      description: Additional Amount Details
    msgauthorisationinitiationApprovalData1:
      properties:
        apprvlNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalEntity1'
        apprvlCd:
          type: string
          description: The code sent by the Issuer indicating that the authorization
            was approved or that the message was successfully processed.
          example: 564643
      type: object
      description: Approval Information
    msgauthorisationinitiationApprovalEntity1:
      properties:
        id:
          type: string
          description: ""
          example: 543453
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType26Code'
      type: object
      description: Authorizing Entity
    msgauthorisationinitiationCapabilities1:
      properties:
        cardRdngCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
          type: array
          description: "The code(s) identifying the method the Terminal supports for\
            \ entering Card data, such as via a magnetic stripe or a chip.  If this\
            \ field specifies a national or network-specific value (\"OTHN\" or \"\
            OTHP\"), a more specific value may be required in Terminal Card Data Input\
            \ Capability (Other)."
          example: UNSP
        othrCardRdngCpblties:
          items:
            type: string
          type: array
          description: "A free text field for identifying a method the Terminal can\
            \ use to write to a Card when the Card Writing Capability Code is \"OTHN\"\
            \ or \"OTHP,\" which indicate a national, network, or customer specific\
            \ value."
          example: othercardreadingcapabilities
        cardWrtgCpblties:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardDataWriting1Code'
          type: array
          description: "The code(s) identifying the method the Terminal can use to\
            \ write to a Card, such as a magnetic stripe or a chip.  If this field\
            \ specifies a national or network-specific value (\"OTHN\" or \"OTHP\"\
            ), a more specific value may be required in Terminal Card Writing Capability\
            \ (Other)."
          example: MGST
        othrCardWrtgCpblties:
          items:
            type: string
          type: array
          description: "A free text field for identifying a method the Terminal can\
            \ use to write to a Card when the Card Writing Capability Code is \"OTHN\"\
            \ or \"OTHP,\" which indicate a national, network, or customer specific\
            \ value."
          example: othercardwritingcapabilities
        pinLngthCpblties:
          type: string
          description: The maximum number of digits the Terminal can accept when a
            Cardholder enters their PIN.
          example: 119354446
        pinPadInprtv:
          type: boolean
          description: The indicator that the Terminal has a PIN pad that is not working.
          example: "TRUE"
        cardCaptrCpbl:
          type: boolean
          description: The indicator that the Terminal can retain a Card if instructed
            to do so in an Authorization Response.
          example: "TRUE"
        crdhldrVrfctnCpblty:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapabilities1'
          type: array
      type: object
      description: Terminal Capabilities
    msgauthorisationinitiationCardData1:
      properties:
        pan:
          type: string
          description: "The unique sequence of numbers assigned by the Issuer to the\
            \ Cardholder account that identifies the Issuer and type of Card, or a\
            \ surrogate of the PAN such as a payment token."
          example: 5460126XXXX22775
        cardSeqNb:
          type: string
          description: The number that distinguishes the Card from another with the
            same PAN.
          example: '00'
        xpryDt:
          type: string
          description: The year and month after which the Card is no longer valid.
            It is designated by the Issuer and is embossed and encoded on the Card.
          example: 2302
        trck1:
          type: string
          description: The information encoded on Track 1 of the Card's magnetic stripe
            according to the the ISO 7813 specification.
          example: XXXX723476766296421245789651012XXXXX
        trck2:
          $ref: '#/components/schemas/msgauthorisationinitiationTrack2Data1Choice'
        pmtAcctRef:
          type: string
          description: The identifier assigned to the PAN and used to link payment
            tokens associated with that PAN.
          example: paymentaccountreference
        cardCtryCd:
          description: The ISO 3166-1 numeric country code of the Card's Issuer.
          type: string
        cardPdctTp:
          type: string
          description: The code identifying the product associated with the Card.
          example: CIR
        addtlCardData:
          type: string
          description: "The code identifying the kind of special processing the Card\
            \ qualifies for, which is defined at the individual account level and\
            \ may be associated with a benefit offered by the issuer."
          example: additionalcarddata
      type: object
      description: Card
    msgauthorisationinitiationCardDataReading7Code:
      default: CARD_DATA_READING7_CODE_UNSPECIFIED
      enum:
        - CARD_DATA_READING7_CODE_UNSPECIFIED
        - CARD_DATA_READING7_CODE_CDFL
        - CARD_DATA_READING7_CODE_ICCY
        - CARD_DATA_READING7_CODE_ICPY
        - CARD_DATA_READING7_CODE_KEEN
        - CARD_DATA_READING7_CODE_MGST
        - CARD_DATA_READING7_CODE_MICR
        - CARD_DATA_READING7_CODE_MLEY
        - CARD_DATA_READING7_CODE_MSIP
        - CARD_DATA_READING7_CODE_OCRR
        - CARD_DATA_READING7_CODE_OPTC
        - CARD_DATA_READING7_CODE_OTHN
        - CARD_DATA_READING7_CODE_OTHP
        - CARD_DATA_READING7_CODE_RFID
        - CARD_DATA_READING7_CODE_UNSP
      type: string
      description: "- CARD_DATA_READING7_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationCardDataWriting1Code:
      default: CARD_DATA_WRITING1_CODE_UNSPECIFIED
      enum:
        - CARD_DATA_WRITING1_CODE_UNSPECIFIED
        - CARD_DATA_WRITING1_CODE_ICCY
        - CARD_DATA_WRITING1_CODE_ICPY
        - CARD_DATA_WRITING1_CODE_MGST
        - CARD_DATA_WRITING1_CODE_MSIP
        - CARD_DATA_WRITING1_CODE_OTHN
        - CARD_DATA_WRITING1_CODE_OTHP
        - CARD_DATA_WRITING1_CODE_UNSP
      type: string
      description: "- CARD_DATA_WRITING1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationCardProgramme1:
      properties:
        cardPrgrmmApld:
          $ref: '#/components/schemas/msgauthorisationinitiationCardProgrammeMode1'
      type: object
      description: Card Processing Program
    msgauthorisationinitiationCardProgrammeMode1:
      properties:
        id:
          type: string
          description: The code identifying the Card Processing Program used for the
            transaction.
          example: CRI
      type: object
      description: Card Processing Program (Applied)
    msgauthorisationinitiationCardholder15:
      properties:
        crdhldrNm:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderName1'
        id:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        ctctInf:
          $ref: '#/components/schemas/msgauthorisationinitiationContact1'
      type: object
      description: Cardholder
    msgauthorisationinitiationCardholderName1:
      properties:
        gvnNm:
          type: string
          description: The given name of the Cardholder.
          example: Robert
        mddlInitls:
          type: string
          description: The initial of the Cardholder's middle name.
          example: J
        lastNm:
          type: string
          description: The family name of the Cardholder.
          example: Williams
      type: object
    msgauthorisationinitiationCardholderVerificationCapabilities1:
      properties:
        cpblty:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholderVerificationCapability5Code'
        othrCpblty:
          type: string
          description: "A free text field for identifying a method the Terminal can\
            \ use for Cardholder verification when the Terminal Cardholder Verification\
            \ Capability Code is \"OTHN\" or \"OTHP,\" which indicate a national,\
            \ network, or customer specific value."
          example: otherverificationcapabilities
      type: object
      description: Terminal Cardholder Verification Capability
    msgauthorisationinitiationCardholderVerificationCapability5Code:
      default: CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
      enum:
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NOPN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_NPIN
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_OTHP
        - CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSP
      type: string
      description: "- CARDHOLDER_VERIFICATION_CAPABILITY5_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationContact1:
      properties:
        homePhneNb:
          type: string
          description: A home phone number of the Cardholder.
          example: 6352417439
        bizPhneNb:
          type: string
          description: A business phone number of the Cardholder.
          example: 8743629199
        mobPhneNb:
          type: string
          description: A mobile phone number of the Cardholder.
          example: 7632910623
        prsnlEmailAdr:
          type: string
          description: A personal email address of the Cardholder.
          example: username@domain.com
        bizEmailAdr:
          type: string
          description: A business email address of the Cardholder.
          example: username@domain.com
      type: object
      description: Cardholder Contact Information
    msgauthorisationinitiationContext1:
      properties:
        ptOfSvcCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationPointOfServiceContext1'
        txCntxt:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionContext1'
        vrfctn:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationVerification1'
          type: array
        rskCntxt:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskContext1'
          type: array
        saleCntxt:
          $ref: '#/components/schemas/initiationSaleContext7'
      type: object
      description: Context
    msgauthorisationinitiationCredentials1:
      properties:
        idCd:
          $ref: '#/components/schemas/msgauthorisationinitiationIdentification2Code'
        othrIdCd:
          type: string
          description: "A free text field for identifying a classification of the\
            \ Cardholder ID when the Cardholder ID Type Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: otheridentificationcode
        idVal:
          type: string
          description: "An identifier of the Cardholder, where the kind of ID, such\
            \ as a passport or driver's license number, is specified by the Cardholder\
            \ ID Type Code."
          example: '00'
      type: object
      description: Cardholder Identification
    msgauthorisationinitiationCustomer3:
      properties:
        cstmrId:
          type: string
          description: ""
          example: 78344XXX
        nm:
          type: string
          description: The full name of the Payee.
          example: Robert Williams
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        crdntls:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationCredentials1'
          type: array
        dtOfBirth:
          type: string
          description: The birth date of the Payee.
          example: 1997-08-22
      type: object
    msgauthorisationinitiationCustomerDevice2:
      properties:
        dvc:
          $ref: '#/components/schemas/msgauthorisationinitiationDevice1'
      type: object
      description: Cardholder Device Information
    msgauthorisationinitiationCustomerDeviceType1Code:
      default: CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
      enum:
        - CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED
        - CUSTOMER_DEVICE_TYPE1_CODE_MOBL
        - CUSTOMER_DEVICE_TYPE1_CODE_NSCR
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHN
        - CUSTOMER_DEVICE_TYPE1_CODE_OTHP
        - CUSTOMER_DEVICE_TYPE1_CODE_PECR
        - CUSTOMER_DEVICE_TYPE1_CODE_SECR
        - CUSTOMER_DEVICE_TYPE1_CODE_TBLT
      type: string
      description: "- CUSTOMER_DEVICE_TYPE1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationDetailAmount1Code:
      default: DETAIL_AMOUNT1_CODE_UNSPECIFIED
      enum:
        - DETAIL_AMOUNT1_CODE_UNSPECIFIED
        - DETAIL_AMOUNT1_CODE_DCCF
        - DETAIL_AMOUNT1_CODE_SRCH
      type: string
      description: "- DETAIL_AMOUNT1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationDetailedAmount19:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationDetailAmount1Code'
        othrTp:
          type: string
          description: "The code identifying the classification of the Breakdown Amount\
            \ when the Breakdown Amount Type is \"OTHN\" or \"OTHP,\" which indicate\
            \ a national, network, or customer specific value."
          example: othertype
        amt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
        crdhldrBllgAmt:
          $ref: '#/components/schemas/msgauthorisationinitiationAmount5'
      type: object
      description: Breakdown Amount
    msgauthorisationinitiationDevice1:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDeviceType1Code'
        othrTp:
          type: string
      type: object
    msgauthorisationinitiationEnvironment1:
      properties:
        acqrr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        sndr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        rcvr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        accptr:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification203'
        pyer:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        pyee:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification211'
        termnl:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminal1'
        card:
          $ref: '#/components/schemas/msgauthorisationinitiationCardData1'
        cstmrDvc:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomerDevice2'
        wllt:
          $ref: '#/components/schemas/msgauthorisationinitiationWallet1'
        tkn:
          $ref: '#/components/schemas/msgauthorisationinitiationToken1'
        crdhldr:
          $ref: '#/components/schemas/msgauthorisationinitiationCardholder15'
      type: object
      description: Transaction Parties
    msgauthorisationinitiationFeeAmount2:
      properties:
        amt:
          type: string
          description: The amount of the Additional Fee.
          example: 50.00
        ccy:
          type: string
          description: The ISO 4217 numeric code for the currency of the Additional
            Fee Amount.
          example: 840
        xchgRate:
          type: string
          description: ""
          example: 9.975453
        qtnDt:
          type: string
          description: The date of the quote for the Additional Fee Exchange Rate.
          example: 2022-04-12T15:24:16.545z
        sgn:
          type: boolean
          description: ""
          example: PLUS
      type: object
      description: Additional Fee
    msgauthorisationinitiationFundingService1:
      properties:
        fndgSvc:
          $ref: '#/components/schemas/msgauthorisationinitiationTransferService1'
        fndgSrc:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSource2'
      type: object
      description: Funds Transfer
    msgauthorisationinitiationFundingSource2:
      properties:
        srcTp:
          $ref: '#/components/schemas/msgauthorisationinitiationFundingSourceType2Code'
        othrSrcTp:
          type: string
          description: "A free text field for identifying the source of funds for\
            \ the Funds Transfer when the Funds Transfer Source Code is \"OTHN\" or\
            \ \"OTHP,\" which indicate a national, network, or customer specific value."
          example: othersourectype
      type: object
      description: Funds Transfer Source
    msgauthorisationinitiationFundingSourceType2Code:
      default: FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
      enum:
        - FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED
        - FUNDING_SOURCE_TYPE2_CODE_CASH
        - FUNDING_SOURCE_TYPE2_CODE_CDBT
        - FUNDING_SOURCE_TYPE2_CODE_CHQE
        - FUNDING_SOURCE_TYPE2_CODE_CRDT
        - FUNDING_SOURCE_TYPE2_CODE_CURR
        - FUNDING_SOURCE_TYPE2_CODE_DBAC
        - FUNDING_SOURCE_TYPE2_CODE_EPRS
        - FUNDING_SOURCE_TYPE2_CODE_LCDT
        - FUNDING_SOURCE_TYPE2_CODE_LOYL
        - FUNDING_SOURCE_TYPE2_CODE_OTHN
        - FUNDING_SOURCE_TYPE2_CODE_OTHP
        - FUNDING_SOURCE_TYPE2_CODE_PRPD
        - FUNDING_SOURCE_TYPE2_CODE_SVNG
        - FUNDING_SOURCE_TYPE2_CODE_UVRL
      type: string
      description: "- FUNDING_SOURCE_TYPE2_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationGenericIdentification172:
      properties:
        id:
          type: string
          description: ""
          example: 523793
      type: object
    msgauthorisationinitiationHeader42:
      properties:
        msgFctn:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageFunction16Code'
        prtcolVrsn:
          type: string
          description: The version of the Mastercard Switch Platform Specifications.
          example: 0
        xchgId:
          type: string
          description: "The identifier of a set of messages exchanged between two\
            \ parties, usually an Acquirer and an Issuer."
          example: TBD
        creDtTm:
          type: string
          description: The date and time the message was created.
          example: 2022-04-12T15:24:16.545z
        initgPty:
          $ref: '#/components/schemas/msgauthorisationinitiationGenericIdentification172'
        tracData:
          description: "Private-use data defined by the message originator to be returned\
            \ unaltered in any subsequent message.  The data is sent in a name-value\
            \ pair: Trace Data Name and Trace Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
      description: Message Header
    msgauthorisationinitiationIdentification2Code:
      default: IDENTIFICATION2_CODE_UNSPECIFIED
      enum:
        - IDENTIFICATION2_CODE_UNSPECIFIED
        - IDENTIFICATION2_CODE_ARNB
        - IDENTIFICATION2_CODE_DRID
        - IDENTIFICATION2_CODE_EMAL
        - IDENTIFICATION2_CODE_NTID
        - IDENTIFICATION2_CODE_OTHN
        - IDENTIFICATION2_CODE_OTHP
        - IDENTIFICATION2_CODE_PASS
        - IDENTIFICATION2_CODE_PHNB
        - IDENTIFICATION2_CODE_SSYN
      type: string
      description: "- IDENTIFICATION2_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationLifeCycleSupport1Code:
      default: LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
      enum:
        - LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED
        - LIFE_CYCLE_SUPPORT1_CODE_AUTH
        - LIFE_CYCLE_SUPPORT1_CODE_FINC
      type: string
      description: "- LIFE_CYCLE_SUPPORT1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationMessageClass1Code:
      default: MESSAGE_CLASS1_CODE_UNSPECIFIED
      enum:
        - MESSAGE_CLASS1_CODE_UNSPECIFIED
        - MESSAGE_CLASS1_CODE_ADDE
        - MESSAGE_CLASS1_CODE_AMDT
        - MESSAGE_CLASS1_CODE_AUTH
        - MESSAGE_CLASS1_CODE_CBCK
        - MESSAGE_CLASS1_CODE_CMGT
        - MESSAGE_CLASS1_CODE_FEEC
        - MESSAGE_CLASS1_CODE_FINL
        - MESSAGE_CLASS1_CODE_INQY
        - MESSAGE_CLASS1_CODE_VERI
      type: string
      description: "- MESSAGE_CLASS1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationMessageFunction16Code:
      default: MESSAGE_FUNCTION16_CODE_UNSPECIFIED
      enum:
        - MESSAGE_FUNCTION16_CODE_UNSPECIFIED
        - MESSAGE_FUNCTION16_CODE_ADVC
        - MESSAGE_FUNCTION16_CODE_REQU
      type: string
      description: "- MESSAGE_FUNCTION16_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationOriginalDataElements1:
      properties:
        msgClss:
          $ref: '#/components/schemas/msgauthorisationinitiationMessageClass1Code'
        acqrrId:
          type: string
          description: The Acquirer ID sent in the original message.
          example: 523732
        sndrId:
          type: string
          description: The Message Sender ID sent in the original message.
          example: 836322
        lclDtTm:
          description: "The Transaction Date Time (Local) of the original message,\
            \ which is the local date and time at which the transaction took place\
            \ at the point of interaction."
          type: string
        trnsmssnDtTm:
          description: "The date and time that the original message was sent to the\
            \ Mastercard Switch Platform, expressed in Coordinated Universal Time\
            \ (UTC)."
          type: string
        sysTracAudtNb:
          type: string
          description: An identifier of the transaction assigned by the message originator.
          example: 654321
        rtrvlRefNb:
          type: string
          description: "The Retrieval Reference Number of the original message, which\
            \ is an identifier of the transaction source document generated by the\
            \ system retaining it, such as a receipt in an acceptor point-of-sale\
            \ system."
          example: 22200012345
        lifeCyclSpprt:
          $ref: '#/components/schemas/msgauthorisationinitiationLifeCycleSupport1Code'
        lifeCyclTracIdData:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionLifeCycleIdentification1'
      type: object
      description: Original Data Elements
    msgauthorisationinitiationPartyIdentification197:
      properties:
        id:
          type: string
          description: The identifier assigned by Mastercard to the Party.
          example: '001727'
        addtlId:
          type: string
          description: ""
          example: additionalidentification
      type: object
      description: Party
    msgauthorisationinitiationPartyIdentification200:
      properties:
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyType28Code'
      type: object
      description: Risk Assessor
    msgauthorisationinitiationPartyIdentification203:
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acquirer to the Acceptor and\
            \ its location, or to the Payment Facilitator."
          example: '0011011001001'
        addtlId:
          type: string
          description: The identifier assigned by Mastercard to the Acceptor.
          example: additionalidentification
        nmAndLctn:
          type: string
          description: "The name of the Acceptor that should be recognizable by the\
            \ Cardholder and may include other descriptors, such as a store number."
          example: Target Maryland
        adr:
          $ref: '#/components/schemas/msgauthorisationinitiationAddress1'
        email:
          type: string
          description: The email address of the Acceptor that can be used for transaction
            inquiries.
          example: username@domain.com
        urlAdr:
          type: string
          description: The web address of the Acceptor.
          example: http://mastercard.com
        phneNb:
          type: string
          description: "The business phone number of the Acceptor, if different from\
            \ the Acceptor Customer Service Phone Number."
          example: 942243487234
        cstmrSvc:
          type: string
          description: The phone number of the Acceptor that can be used for transaction
            inquiries.
          example: 18006453456
        addtlCtctInf:
          type: string
          description: "Additional information for contacting the Acceptor, such as\
            \ an additional phone number or a contact name."
          example: additionalcontactinformation
        taxRegnId:
          type: string
          description: The identifier of the Acceptor issued by a taxation authority.
          example: ABC53645326
        addtlData:
          description: "Additional data about or related to the Acceptor, such as\
            \ the Payment Facilitator ID.  The data is sent in a name-value pair:\
            \ Acceptor Additional Data Name and Acceptor Additional Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
        spnsrdMrchnt:
          description: A Merchant that uses the services of a Payment Facilitator.  Referred
            to as Submerchant in Mastercard Rules.
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSponsoredMerchant1'
          type: array
      type: object
    msgauthorisationinitiationPartyIdentification211:
      properties:
        cstmr:
          $ref: '#/components/schemas/msgauthorisationinitiationCustomer3'
      type: object
    msgauthorisationinitiationPartyType26Code:
      default: PARTY_TYPE26_CODE_UNSPECIFIED
      enum:
        - PARTY_TYPE26_CODE_UNSPECIFIED
        - PARTY_TYPE26_CODE_AGNT
        - PARTY_TYPE26_CODE_CISS
      type: string
      description: "- PARTY_TYPE26_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationPartyType28Code:
      default: PARTY_TYPE28_CODE_UNSPECIFIED
      enum:
        - PARTY_TYPE28_CODE_UNSPECIFIED
        - PARTY_TYPE28_CODE_ACCP
        - PARTY_TYPE28_CODE_ACQR
        - PARTY_TYPE28_CODE_AGNT
        - PARTY_TYPE28_CODE_ISUR
        - PARTY_TYPE28_CODE_OTHN
        - PARTY_TYPE28_CODE_OTHP
        - PARTY_TYPE28_CODE_WLPR
      type: string
      description: "- PARTY_TYPE28_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationPointOfServiceContext1:
      properties:
        cardPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Card
            physically present at the point of interaction.
          example: "TRUE"
        crdhldrPres:
          type: boolean
          description: The indicator that the transaction was initiated with the Cardholder
            present at the point of interaction.
          example: "TRUE"
        crdhldrActvtd:
          type: boolean
          description: "The indicator that the transaction was initiated on an automated\
            \ device operated solely by the Cardholder, such as an ATM."
          example: "TRUE"
        trnspndrInittd:
          type: boolean
          description: The indicator that the transaction was initiated with a transponder.
          example: "TRUE"
        attnddInd:
          type: boolean
          description: The indicator that the transaction was initiated on a Terminal
            attended by an Acceptor representative.
          example: "TRUE"
        uattnddLvlCtgy:
          type: string
          description: "The code identifying the type of Terminal used by the Cardholder\
            \ to initiate the unattended transaction, such as a self-service Terminal."
          example: 1
        eComrcInd:
          type: boolean
          description: The indicator that the point of interaction was an ecommerce
            one.
          example: 6
        motoInd:
          type: boolean
          description: The indicator that the transaction was imitated by the Cardholder
            via mail or telephone.
          example: 2
        prtlApprvlSpprtd:
          type: boolean
          description: "The indicator that the Terminal supports partial approvals,\
            \ which allows for the authorization of less than the full transaction\
            \ amount so the Cardholder can use multiple forms of payment. code identifying\
            \ the type of Terminal used by the Cardholder to initiate the unattended\
            \ transaction, such as a self-service Terminal."
          example: 1
        cardDataNtryMd:
          $ref: '#/components/schemas/msgauthorisationinitiationCardDataReading7Code'
        othrCardDataNtryMd:
          type: string
          description: "A free text field for identifying the Card data input method\
            \ when the Terminal Card Data Input Method Code is \"OTHN\" or \"OTHP,\"\
            \ which indicate a national, network, or customer specific value."
          example: othercardentrymode
        storgLctn:
          type: string
          description: "The code identifying where the Card data is stored, such as\
            \ on a Wallet or by the Acceptor."
          example: '01'
        spclConds:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialConditions1'
          type: array
      type: object
      description: Point of Interaction Context
    msgauthorisationinitiationPriority3Code:
      default: PRIORITY3_CODE_UNSPECIFIED
      enum:
        - PRIORITY3_CODE_UNSPECIFIED
        - PRIORITY3_CODE_HIGH
        - PRIORITY3_CODE_NORM
        - PRIORITY3_CODE_URGT
      type: string
      description: "- PRIORITY3_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationProcessingResult1:
      properties:
        apprvlData:
          $ref: '#/components/schemas/msgauthorisationinitiationApprovalData1'
        rsltData:
          $ref: '#/components/schemas/msgauthorisationinitiationResultData1'
      type: object
      description: Authorization Result Information
    msgauthorisationinitiationResultData1:
      properties:
        rsltDtls:
          type: string
          description: "The code identifying if the transaction was approved, or if\
            \ it was declined, the reason for the rejection or the action required\
            \ of the Acceptor. The code can also identify the disposition of a previous\
            \ message or an action taken as a result of receipt of a previous message."
          example: '00'
        addtlRsltInf:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalData1'
          type: array
      type: object
      description: Authorization Result (Original)
    msgauthorisationinitiationRiskAssessment1:
      properties:
        rskAssmntNtty:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification200'
        rskAssmntTp:
          type: string
          description: The type of Risk Assessment performed.
          example: MFSD
        rsn:
          items:
            type: string
          type: array
          description: The code(s) indentify the factor(s) that contributed to the
            Risk Score.
          example: riskassessmentreason
        rslt:
          type: string
          description: The score indicating the level of risk for the transaction.
          example: riskassessmentresult
        addtlRskData:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalRiskData1'
          type: array
      type: object
      description: Risk Assessment
    msgauthorisationinitiationRiskContext1:
      properties:
        rskInptData:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskInputData1'
          type: array
        rskAssmnt:
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationRiskAssessment1'
          type: array
      type: object
      description: Risk Context
    msgauthorisationinitiationRiskInputData1:
      properties:
        tp:
          type: string
          description: A free text field for labeling the Risk Assessment Input data
            given in the Risk Data Field Value.
          example: PTXS
        val:
          type: string
          description: A free text field for the Risk Assessment Input data that is
            labeled by the Risk Data Field Name.
          example: riskinputvalue
      type: object
      description: Risk Assessment Input
    msgauthorisationinitiationSettlementService1:
      properties:
        sttlmSvcApld:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceMode1'
        sttlmSvcDts:
          $ref: '#/components/schemas/msgauthorisationinitiationSettlementServiceDate1'
      type: object
      description: Settlement Service
    msgauthorisationinitiationSettlementServiceDate1:
      properties:
        sttlmDt:
          type: string
          description: A date assigned by Mastercard and used for settlement reporting.
            It is not the date of the actual settlement of funds.
          example: 2022-05-31z
        sttlmPrd:
          type: string
          description: The code identifying the time interval over which settlement
            occurs.
          example: XX
      type: object
      description: Settlement Service Dates
    msgauthorisationinitiationSettlementServiceMode1:
      properties:
        tp:
          type: string
          description: The code identifying the type of Settlement Service applied
            for the transaction.
          example: settlementservicetype
        id:
          type: string
          description: The identifier of the Settlement Service applied for the transaction.
          example: settlementservicetype
        shrtNm:
          type: string
          description: The name of the Settlement Service applied for the transaction.
          example: BANCO
        sttlmPrty:
          $ref: '#/components/schemas/msgauthorisationinitiationPriority3Code'
      type: object
      description: Settlement Service (Applied)
    msgauthorisationinitiationSpecialConditions1:
      properties:
        id:
          type: string
          description: A free text field for labeling the Point of Interaction Context
            Additional given in the Point of Interaction Context Additional Value.
          example: identification
        val:
          type: string
          description: A free text field for the Point of Interaction Context Additional
            that is labeled by the Point of Interaction Context Additional.
          example: identificationvalue
      type: object
      description: Point of Interaction Context Additional Data Name
    msgauthorisationinitiationSpecialProgrammeDetails1:
      properties:
        nm:
          type: string
          description: A free text field for the Special Program Data labeled by the
            Special Program Data Name.
          example: combo_card_id
        val:
          type: string
          description: A free text field for the Special Program Data lableled by
            the Special Program Data Name.
          example: specialprogrammequalificationvalue
      type: object
      description: Special Program Data
    msgauthorisationinitiationSpecialProgrammeQualification1:
      properties:
        prgrmm:
          type: string
          description: The name of the Special Program.
          example: combo_card
        dtl:
          description: "Data about the Special Program associated with the transaction.\
            \ The data is sent in a name-value pair: Special Program Data Name and\
            \ Special Program Data Value."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationSpecialProgrammeDetails1'
          type: array
      type: object
      description: Special Program
    msgauthorisationinitiationSponsoredMerchant1:
      properties:
        id:
          $ref: '#/components/schemas/msgauthorisationinitiationPartyIdentification197'
        cmonNm:
          type: string
          description: The name of the Sponsored Merchant that should be recognizable
            by the Cardholder.
          example: Henry
      type: object
      description: Sponsored Merchant
    msgauthorisationinitiationTerminal1:
      properties:
        termnlId:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIdentification1'
        tp:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalType1Code'
        othrTp:
          description: "The code identifying the subtype of the Cardholder activated\
            \ Terminal, such as an automated dispensing machine."
          type: string
        cpblties:
          $ref: '#/components/schemas/msgauthorisationinitiationCapabilities1'
        termnlIntgtn:
          $ref: '#/components/schemas/msgauthorisationinitiationTerminalIntegrationCategory1Code'
        offPrmissInd:
          type: boolean
          description: The indicator that the Terminal is not operated at the Acceptor
            location.
          example: "TRUE"
        onBrdInd:
          type: boolean
          description: "The indicator that the Terminal is operated on a plane, train,\
            \ bus, or ship."
          example: "TRUE"
      type: object
      description: Terminal
    msgauthorisationinitiationTerminalIdentification1:
      properties:
        id:
          type: string
          description: "The identifier assigned by the Acceptor or the Acquirer to\
            \ the Terminal, payment gateway, or other acceptance device used to capture\
            \ account data to effect a transaction at the Acceptor location."
          example: ABC232635
        ctry:
          type: string
          description: The ISO 3166-1 alpha-3 country code of the Terminal.
          example: USA
      type: object
      description: Terminal Identification
    msgauthorisationinitiationTerminalIntegrationCategory1Code:
      default: TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
      enum:
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MPOI
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_MSLE
        - TERMINAL_INTEGRATION_CATEGORY1_CODE_SSLE
      type: string
      description: "- TERMINAL_INTEGRATION_CATEGORY1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationTerminalType1Code:
      default: TERMINAL_TYPE1_CODE_UNSPECIFIED
      enum:
        - TERMINAL_TYPE1_CODE_UNSPECIFIED
        - TERMINAL_TYPE1_CODE_ATMT
        - TERMINAL_TYPE1_CODE_MPOS
        - TERMINAL_TYPE1_CODE_OTHP
        - TERMINAL_TYPE1_CODE_POST
      type: string
      description: "- TERMINAL_TYPE1_CODE_UNSPECIFIED: Default"
    msgauthorisationinitiationToken1:
      properties:
        pmtTkn:
          type: string
          description: The identifier that is mapped to the PAN and used in place
            of the PAN for payment security.
          example: 3234231674564236476
        tknXpryDt:
          type: string
          description: The identifier assigned by the token provider to the party
            that requested a Payment Token.
          example: 2205
        tknRqstrId:
          type: string
          description: Information related to the identifier that is used in place
            of the PAN for payment security.
          example: 12567321211
        tknAssrncMtd:
          type: string
          description: The code identifying a classification of the verification performed
            and the party that performed it.
          example: 10
        tknInittdInd:
          type: boolean
          description: The indicator that the transaction was initiated with a Payment
            Token.
          example: "TRUE"
      type: object
      description: Payment Token Information
    msgauthorisationinitiationTrack2Data1Choice:
      properties:
        txtVal:
          type: string
          description: "The information encoded on Track 2 of the Card's magnetic\
            \ stripe according to the the ISO 7813 specification, expressed in text\
            \ form. information encoded on Track 2 of the Card's magnetic stripe according\
            \ to the the ISO 7813 specification."
          example: XXXX145432556611121245789651012XXXXX
      type: object
      description: Track 2 Data
    msgauthorisationinitiationTransaction77:
      properties:
        txTp:
          type: string
          description: "The code identifying the general type of transaction, such\
            \ as a purchase or a balance inquiry."
          example: '00'
        txSubTp:
          type: string
          description: "The code identifying the subtype of the transaction, such\
            \ as the kind of Funds Transfer or a prepaid card load."
          example: C02
        addtlSvc:
          description: "Information about an additional service applied to the transaction,\
            \ such as cash back."
          items:
            $ref: '#/components/schemas/msgauthorisationinitiationAdditionalService1'
          type: array
        txAttr:
          $ref: '#/components/schemas/msgauthorisationinitiationTransactionAttribute1Code'
        othrTxAttr:
          type: string
          description: "A free text field for providing a classification of the transaction\
[...]
